node-red/Duplicatas.txt
[{"id":"a933680c.406bb8","type":"http in","z":"10900aeb.adaf25","name":"","url":"/fluxo/duplicatas","method":"get","swaggerDoc":"","x":160,"y":560,"wires":[["588dda88.9e2b14"]]},{"id":"588dda88.9e2b14","type":"template","z":"10900aeb.adaf25","name":"duplicatas","field":"payload","fieldType":"msg","format":"html","syntax":"plain","template":"<!DOCTYPE html>\n<html>\n  <head>\n    <meta charset=\"UTF-8\" />\n    <title>Hello React</title>\n    <script src=\"https://npmcdn.com/react@15.3.0/dist/react.js\"></script>\n    <script src=\"https://npmcdn.com/react-dom@15.3.0/dist/react-dom.js\"></script>\n    <script src=\"https://npmcdn.com/babel-core@5.8.38/browser.min.js\"></script>\n  </head>\n  <body>\n    <div id=\"example\"></div>\n    <script type=\"text/babel\">\n\n        var HelloWorld = React.createClass({\n          render: function() {\n            return (\n              <p>\n                Hello, <input type=\"text\" placeholder=\"Your name here\" />!\n                It is {this.props.date.toTimeString()}\n              </p>\n            );\n          }\n        });\n        \n        setInterval(function() {\n          ReactDOM.render(\n            <HelloWorld date={new Date()} />,\n            document.getElementById('example')\n          );\n        }, 500);\n\n    </script>\n  </body>\n</html>","x":630,"y":560,"wires":[["69482972.f59dd8"]]},{"id":"69482972.f59dd8","type":"http response","z":"10900aeb.adaf25","name":"","x":990,"y":560,"wires":[]},{"id":"baca84d2.c9b608","type":"http in","z":"10900aeb.adaf25","name":"","url":"/fluxo/duplicatas/js/script.js","method":"get","swaggerDoc":"","x":189,"y":599,"wires":[["92a6827a.35d39"]]},{"id":"c4fd05f4.44be78","type":"http response","z":"10900aeb.adaf25","name":"","x":989,"y":599,"wires":[]},{"id":"1f702320.b9de7d","type":"http in","z":"10900aeb.adaf25","name":"","url":"/fluxo/duplicatas/css/style.css","method":"get","swaggerDoc":"","x":200,"y":640,"wires":[["521d7d90.83d144"]]},{"id":"521d7d90.83d144","type":"template","z":"10900aeb.adaf25","name":"style.css","field":"payload","fieldType":"msg","format":"html","syntax":"plain","template":"html {\n  font-family: 'Roboto', sans-serif;\n}\n\nbody {\n  font-size: 13px;\n  line-height: 20px;\n}\n","x":620.0000076293945,"y":640.0000104904175,"wires":[["292e7e7.b334a82"]]},{"id":"46a99fa5.20d7","type":"http response","z":"10900aeb.adaf25","name":"","x":990,"y":640,"wires":[]},{"id":"292e7e7.b334a82","type":"function","z":"10900aeb.adaf25","name":"text/css","func":"msg.headers = { \"Content-type\" : \"text/css\" }\n         \nreturn msg;","outputs":1,"noerr":0,"x":820,"y":640,"wires":[["46a99fa5.20d7"]]},{"id":"ac24a566.f2c798","type":"http in","z":"10900aeb.adaf25","name":"","url":"/api/fluxo/duplicatas","method":"get","swaggerDoc":"","x":170,"y":80,"wires":[["752a4ce4.e09f74"]]},{"id":"9dcbb00f.cb404","type":"http response","z":"10900aeb.adaf25","name":"","x":990,"y":80,"wires":[]},{"id":"752a4ce4.e09f74","type":"function","z":"10900aeb.adaf25","name":"params","func":"msg.limit = parseInt(msg.payload.per_page) || 10;\nmsg.skip = ((msg.payload.page || 1) - 1) * (msg.payload.per_page || 1);\nmsg.payload = {}\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":80,"wires":[["788339b1.be43a8"]]},{"id":"b56b9a39.3b2338","type":"http in","z":"10900aeb.adaf25","name":"","url":"/api/fluxo/duplicata/:numero","method":"get","swaggerDoc":"","x":190,"y":120,"wires":[["18549efd.200de1"]]},{"id":"8839ff46.db76d","type":"http in","z":"10900aeb.adaf25","name":"","url":"/api/fluxo/duplicata","method":"post","swaggerDoc":"","x":170,"y":160,"wires":[["e5167c27.87618","95ffc085.b2639"]]},{"id":"e5167c27.87618","type":"http response","z":"10900aeb.adaf25","name":"","x":990,"y":160,"wires":[]},{"id":"788339b1.be43a8","type":"mongodb in","z":"10900aeb.adaf25","service":"_ext_","mongodb":"258dcda0.cc5e32","name":"list","collection":"duplicatas","operation":"find","x":610,"y":80,"wires":[["9dcbb00f.cb404","b2d5d5e7.d23bf8"]]},{"id":"68ee7a35.e67664","type":"comment","z":"10900aeb.adaf25","name":"API usando MongoDB","info":"","x":160,"y":40,"wires":[]},{"id":"a5e1c.293e91e5","type":"mongodb out","z":"10900aeb.adaf25","service":"_ext_","mongodb":"258dcda0.cc5e32","name":"save","collection":"duplicatas","payonly":true,"upsert":true,"multi":false,"operation":"store","x":610,"y":180,"wires":[]},{"id":"18549efd.200de1","type":"function","z":"10900aeb.adaf25","name":"existe ?","func":"msg.payload = { numero: msg.req.params.numero };\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":120,"wires":[["b4af9648.b2f508","b2d5d5e7.d23bf8"]]},{"id":"b4af9648.b2f508","type":"mongodb in","z":"10900aeb.adaf25","service":"_ext_","mongodb":"258dcda0.cc5e32","name":"get","collection":"duplicatas","operation":"find","x":610,"y":120,"wires":[["f2e91d21.2c6f5","b2d5d5e7.d23bf8"]]},{"id":"198994f6.76ac7b","type":"http response","z":"10900aeb.adaf25","name":"","x":990,"y":120,"wires":[]},{"id":"f2e91d21.2c6f5","type":"function","z":"10900aeb.adaf25","name":"split","func":"if (msg.payload.length > 1) {\n    node.error('Registros duplicado, deveria retornar apenas 1 registro, mas retornou ' + msg.payload.length + ' !');\n} else {\n    msg.payload = msg.payload[0];\n}\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":120,"wires":[["198994f6.76ac7b"]]},{"id":"95ffc085.b2639","type":"function","z":"10900aeb.adaf25","name":"calculo","func":"\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":180,"wires":[["a5e1c.293e91e5"]]},{"id":"6ff31631.0e85e8","type":"http in","z":"10900aeb.adaf25","name":"","url":"/fluxo/duplicatas/js/dialog.js","method":"get","swaggerDoc":"","x":190,"y":740,"wires":[["ba322841.b9f818"]]},{"id":"ba322841.b9f818","type":"template","z":"10900aeb.adaf25","name":"dialog.js","field":"payload","fieldType":"msg","format":"javascript","syntax":"plain","template":"/*\n * @author https://twitter.com/blurspline / https://github.com/zz85\n * See post @ http://www.lab4games.net/zz85/blog/2014/11/15/resizing-moving-snapping-windows-with-js-css/\n */\n\n\"use strict\";\n\n// Minimum resizable area\nvar minWidth = 60;\nvar minHeight = 40;\n\n// Thresholds\nvar FULLSCREEN_MARGINS = -10;\nvar MARGINS = 4;\n\n// End of what's configurable.\nvar clicked = null;\nvar onRightEdge, onBottomEdge, onLeftEdge, onTopEdge;\n\nvar rightScreenEdge, bottomScreenEdge;\n\nvar preSnapped;\n\nvar b, x, y;\n\nvar redraw = false;\n\nvar pane = document.getElementById('pane');\nvar ghostpane = document.getElementById('ghostpane');\n\nfunction setBounds(element, x, y, w, h) {\n\telement.style.left = x + 'px';\n\telement.style.top = y + 'px';\n\telement.style.width = w + 'px';\n\telement.style.height = h + 'px';\n}\n\nfunction hintHide() {\n  setBounds(ghostpane, b.left, b.top, b.width, b.height);\n  ghostpane.style.opacity = 0;\n\n  // var b = ghostpane.getBoundingClientRect();\n  // ghostpane.style.top = b.top + b.height / 2;\n  // ghostpane.style.left = b.left + b.width / 2;\n  // ghostpane.style.width = 0;\n  // ghostpane.style.height = 0;\n}\n\n\n// Mouse events\npane.addEventListener('mousedown', onMouseDown);\ndocument.addEventListener('mousemove', onMove);\ndocument.addEventListener('mouseup', onUp);\n\n// Touch events\t\npane.addEventListener('touchstart', onTouchDown);\ndocument.addEventListener('touchmove', onTouchMove);\ndocument.addEventListener('touchend', onTouchEnd);\n\n\nfunction onTouchDown(e) {\n  onDown(e.touches[0]);\n  e.preventDefault();\n}\n\nfunction onTouchMove(e) {\n  onMove(e.touches[0]);\t\t\n}\n\nfunction onTouchEnd(e) {\n  if (e.touches.length ==0) onUp(e.changedTouches[0]);\n}\n\nfunction onMouseDown(e) {\n  onDown(e);\n  e.preventDefault();\n}\n\nfunction onDown(e) {\n  calc(e);\n\n  var isResizing = onRightEdge || onBottomEdge || onTopEdge || onLeftEdge;\n\n  clicked = {\n    x: x,\n    y: y,\n    cx: e.clientX,\n    cy: e.clientY,\n    w: b.width,\n    h: b.height,\n    isResizing: isResizing,\n    isMoving: !isResizing && canMove(),\n    onTopEdge: onTopEdge,\n    onLeftEdge: onLeftEdge,\n    onRightEdge: onRightEdge,\n    onBottomEdge: onBottomEdge\n  };\n}\n\nfunction canMove() {\n  return x > 0 && x < b.width && y > 0 && y < b.height\n  && y < 30;\n}\n\nfunction calc(e) {\n  b = pane.getBoundingClientRect();\n  x = e.clientX - b.left;\n  y = e.clientY - b.top;\n\n  onTopEdge = y < MARGINS;\n  onLeftEdge = x < MARGINS;\n  onRightEdge = x >= b.width - MARGINS;\n  onBottomEdge = y >= b.height - MARGINS;\n\n  rightScreenEdge = window.innerWidth - MARGINS;\n  bottomScreenEdge = window.innerHeight - MARGINS;\n}\n\nvar e;\n\nfunction onMove(ee) {\n  calc(ee);\n\n  e = ee;\n\n  redraw = true;\n\n}\n\nfunction animate() {\n\n  requestAnimationFrame(animate);\n\n  if (!redraw) return;\n\n  redraw = false;\n\n  if (clicked && clicked.isResizing) {\n\n    if (clicked.onRightEdge) pane.style.width = Math.max(x, minWidth) + 'px';\n    if (clicked.onBottomEdge) pane.style.height = Math.max(y, minHeight) + 'px';\n\n    if (clicked.onLeftEdge) {\n      var currentWidth = Math.max(clicked.cx - e.clientX  + clicked.w, minWidth);\n      if (currentWidth > minWidth) {\n        pane.style.width = currentWidth + 'px';\n        pane.style.left = e.clientX + 'px';\t\n      }\n    }\n\n    if (clicked.onTopEdge) {\n      var currentHeight = Math.max(clicked.cy - e.clientY  + clicked.h, minHeight);\n      if (currentHeight > minHeight) {\n        pane.style.height = currentHeight + 'px';\n        pane.style.top = e.clientY + 'px';\t\n      }\n    }\n\n    hintHide();\n\n    return;\n  }\n\n  if (clicked && clicked.isMoving) {\n\n    if (b.top < FULLSCREEN_MARGINS || b.left < FULLSCREEN_MARGINS || b.right > window.innerWidth - FULLSCREEN_MARGINS || b.bottom > window.innerHeight - FULLSCREEN_MARGINS) {\n      // hintFull();\n      setBounds(ghostpane, 0, 0, window.innerWidth, window.innerHeight);\n      ghostpane.style.opacity = 0.2;\n    } else if (b.top < MARGINS) {\n      // hintTop();\n      setBounds(ghostpane, 0, 0, window.innerWidth, window.innerHeight / 2);\n      ghostpane.style.opacity = 0.2;\n    } else if (b.left < MARGINS) {\n      // hintLeft();\n      setBounds(ghostpane, 0, 0, window.innerWidth / 2, window.innerHeight);\n      ghostpane.style.opacity = 0.2;\n    } else if (b.right > rightScreenEdge) {\n      // hintRight();\n      setBounds(ghostpane, window.innerWidth / 2, 0, window.innerWidth / 2, window.innerHeight);\n      ghostpane.style.opacity = 0.2;\n    } else if (b.bottom > bottomScreenEdge) {\n      // hintBottom();\n      setBounds(ghostpane, 0, window.innerHeight / 2, window.innerWidth, window.innerWidth / 2);\n      ghostpane.style.opacity = 0.2;\n    } else {\n      hintHide();\n    }\n\n    if (preSnapped) {\n      setBounds(pane,\n      \te.clientX - preSnapped.width / 2,\n      \te.clientY - Math.min(clicked.y, preSnapped.height),\n      \tpreSnapped.width,\n      \tpreSnapped.height\n      );\n      return;\n    }\n\n    // moving\n    pane.style.top = (e.clientY - clicked.y) + 'px';\n    pane.style.left = (e.clientX - clicked.x) + 'px';\n\n    return;\n  }\n\n  // This code executes when mouse moves without clicking\n\n  // style cursor\n  if (onRightEdge && onBottomEdge || onLeftEdge && onTopEdge) {\n    pane.style.cursor = 'nwse-resize';\n  } else if (onRightEdge && onTopEdge || onBottomEdge && onLeftEdge) {\n    pane.style.cursor = 'nesw-resize';\n  } else if (onRightEdge || onLeftEdge) {\n    pane.style.cursor = 'ew-resize';\n  } else if (onBottomEdge || onTopEdge) {\n    pane.style.cursor = 'ns-resize';\n  } else if (canMove()) {\n    pane.style.cursor = 'move';\n  } else {\n    pane.style.cursor = 'default';\n  }\n}\n\nanimate();\n\nfunction onUp(e) {\n  calc(e);\n\n  if (clicked && clicked.isMoving) {\n    // Snap\n    var snapped = {\n      width: b.width,\n      height: b.height\n    };\n\n    if (b.top < FULLSCREEN_MARGINS || b.left < FULLSCREEN_MARGINS || b.right > window.innerWidth - FULLSCREEN_MARGINS || b.bottom > window.innerHeight - FULLSCREEN_MARGINS) {\n      // hintFull();\n      setBounds(pane, 0, 0, window.innerWidth, window.innerHeight);\n      preSnapped = snapped;\n    } else if (b.top < MARGINS) {\n      // hintTop();\n      setBounds(pane, 0, 0, window.innerWidth, window.innerHeight / 2);\n      preSnapped = snapped;\n    } else if (b.left < MARGINS) {\n      // hintLeft();\n      setBounds(pane, 0, 0, window.innerWidth / 2, window.innerHeight);\n      preSnapped = snapped;\n    } else if (b.right > rightScreenEdge) {\n      // hintRight();\n      setBounds(pane, window.innerWidth / 2, 0, window.innerWidth / 2, window.innerHeight);\n      preSnapped = snapped;\n    } else if (b.bottom > bottomScreenEdge) {\n      // hintBottom();\n      setBounds(pane, 0, window.innerHeight / 2, window.innerWidth, window.innerWidth / 2);\n      preSnapped = snapped;\n    } else {\n      preSnapped = null;\n    }\n\n    hintHide();\n\n  }\n\n  clicked = null;\n\n}\n","x":620,"y":739,"wires":[["65ac1cd0.94a904"]]},{"id":"65ac1cd0.94a904","type":"http response","z":"10900aeb.adaf25","name":"","x":990,"y":740,"wires":[]},{"id":"20ffb6f0.8f4b0a","type":"http in","z":"10900aeb.adaf25","name":"","url":"/fluxo/duplicatas/css/dialog.css","method":"get","swaggerDoc":"","x":200,"y":780,"wires":[["a843ff97.6b85c"]]},{"id":"a843ff97.6b85c","type":"template","z":"10900aeb.adaf25","name":"dialog.css","field":"payload","fieldType":"msg","format":"html","syntax":"plain","template":"\n/*body {\n\toverflow: auto;\n}*/\n\n#pane {\n\tposition: absolute;\n\twidth: 45%;\n\theight: 45%;\n\ttop: 20%;\n\tleft: 20%;\n\tvisibility: none;\n\t\n\tmargin: 0;\n\tpadding: 0;\n\tz-index: 99;\n\tborder: 2px solid purple;\n\tbackground: #fefefe;\n}\n\n#title {\n\tfont-family: monospace;\n\tbackground: purple;\n\tcolor: white;\n\tfont-size: 24px;\n\theight: 30px;\n\ttext-align: center;\n}\n\n#ghostpane {\n\tbackground: #999;\n\topacity: 0.2;\n\n\twidth: 45%;\n\theight: 45%;\n\ttop: 20%;\n\tleft: 20%;\n\t\n\tposition: absolute;\n\tmargin: 0;\n\tpadding: 0;\n\tz-index: 98;\n\n\t-webkit-transition: all 0.25s ease-in-out;\n\t-moz-transition: all 0.25s ease-in-out;\n\t-ms-transition: all 0.25s ease-in-out;\n\t-o-transition: all 0.25s ease-in-out;\n\ttransition: all 0.25s ease-in-out;\n}\n\n.content {\n    padding-left: 15px;\n    padding-right: 15px;\n}\n","x":620.0000076293945,"y":780.0000104904175,"wires":[["dc2eb479.5de028"]]},{"id":"3d362f6d.de882","type":"http response","z":"10900aeb.adaf25","name":"","x":990,"y":780,"wires":[]},{"id":"dc2eb479.5de028","type":"function","z":"10900aeb.adaf25","name":"text/css","func":"msg.headers = { \"Content-type\" : \"text/css\" }\n         \nreturn msg;","outputs":1,"noerr":0,"x":820,"y":780,"wires":[["3d362f6d.de882"]]},{"id":"b2d5d5e7.d23bf8","type":"debug","z":"10900aeb.adaf25","name":"","active":true,"console":"false","complete":"false","x":830,"y":180,"wires":[]},{"id":"92a6827a.35d39","type":"file in","z":"10900aeb.adaf25","name":"app.js","filename":"C:\\Users\\Administrator\\Documents\\duplicatas\\app.js","format":"utf8","x":610,"y":600,"wires":[["c4fd05f4.44be78","46bcc7e0.6e4f18"]]},{"id":"46bcc7e0.6e4f18","type":"debug","z":"10900aeb.adaf25","name":"","active":true,"console":"false","complete":"payload.length","x":840,"y":580,"wires":[]},{"id":"b01357d9.8e32f8","type":"mqtt in","z":"10900aeb.adaf25","name":"","topic":"financeiro/duplicata/alterar/#","qos":"0","broker":"673dc57b.0c3b2c","x":700,"y":1000,"wires":[["da3a4ae8.ed2278"]]},{"id":"ff7ece03.861f6","type":"debug","z":"10900aeb.adaf25","name":"","active":true,"console":"false","complete":"payload","x":1150,"y":1040,"wires":[]},{"id":"f35260a9.3b4e6","type":"mqtt in","z":"10900aeb.adaf25","name":"","topic":"financeiro/duplicata/inserir","qos":"0","broker":"673dc57b.0c3b2c","x":710,"y":1160,"wires":[["f489ca14.807a78"]]},{"id":"46da0969.7c1b78","type":"debug","z":"10900aeb.adaf25","name":"","active":true,"console":"false","complete":"payload","x":1130,"y":1160,"wires":[]},{"id":"6cba88bf.428848","type":"mqtt in","z":"10900aeb.adaf25","name":"","topic":"financeiro/duplicata/excluir","qos":"0","broker":"673dc57b.0c3b2c","x":710,"y":1260,"wires":[["b482c984.a7a4c8"]]},{"id":"7682c3b3.c1fe1c","type":"debug","z":"10900aeb.adaf25","name":"","active":true,"console":"false","complete":"payload","x":1130,"y":1260,"wires":[]},{"id":"f82c0e0d.e9358","type":"mqtt in","z":"10900aeb.adaf25","name":"","topic":"financeiro/duplicata/imprimir","qos":"0","broker":"673dc57b.0c3b2c","x":720,"y":1360,"wires":[["c05a1ab.96bf3e8"]]},{"id":"d72d9964.6e5908","type":"debug","z":"10900aeb.adaf25","name":"","active":true,"console":"false","complete":"payload","x":1130,"y":1360,"wires":[]},{"id":"e0a073b2.98fca","type":"mqtt in","z":"10900aeb.adaf25","name":"","topic":"financeiro/duplicata/listar","qos":"0","broker":"673dc57b.0c3b2c","x":710,"y":1460,"wires":[["2e907298.e15b1e"]]},{"id":"25de084d.06cf28","type":"debug","z":"10900aeb.adaf25","name":"","active":true,"console":"false","complete":"payload","x":1130,"y":1460,"wires":[]},{"id":"8b7d8878.881248","type":"mqtt in","z":"10900aeb.adaf25","name":"","topic":"financeiro/duplicata/busca","qos":"0","broker":"673dc57b.0c3b2c","x":710,"y":1560,"wires":[["dc3d9e14.d5ac5"]]},{"id":"7bf2762d.0f98a8","type":"debug","z":"10900aeb.adaf25","name":"","active":true,"console":"false","complete":"payload","x":1130,"y":1560,"wires":[]},{"id":"2609576c.c9bb18","type":"mqtt in","z":"10900aeb.adaf25","name":"","topic":"financeiro/duplicata/calcular","qos":"0","broker":"673dc57b.0c3b2c","x":720,"y":1660,"wires":[["f950d58b.6acce8"]]},{"id":"a15903ed.f926d","type":"debug","z":"10900aeb.adaf25","name":"","active":true,"console":"false","complete":"payload","x":1130,"y":1660,"wires":[]},{"id":"437e2893.bde318","type":"inject","z":"10900aeb.adaf25","name":"","topic":"","payload":"{ \"_id\": \"asdfsd45sdfs09ssdfsdfs\" }","payloadType":"json","repeat":"","crontab":"","once":false,"x":90,"y":1000,"wires":[["83815d4d.264c1"]]},{"id":"83815d4d.264c1","type":"mqtt out","z":"10900aeb.adaf25","name":"","topic":"financeiro/duplicata/gravar/mg09xe054","qos":"0","retain":"false","broker":"673dc57b.0c3b2c","x":340,"y":1000,"wires":[]},{"id":"11bec429.b3b43c","type":"inject","z":"10900aeb.adaf25","name":"","topic":"","payload":"inserir","payloadType":"str","repeat":"","crontab":"","once":false,"x":110,"y":1160,"wires":[["325b9e0e.fb0d32"]]},{"id":"325b9e0e.fb0d32","type":"mqtt out","z":"10900aeb.adaf25","name":"","topic":"financeiro/duplicata/inserir","qos":"0","retain":"false","broker":"673dc57b.0c3b2c","x":380,"y":1160,"wires":[]},{"id":"16de55f5.7729ea","type":"inject","z":"10900aeb.adaf25","name":"","topic":"","payload":"excluir","payloadType":"str","repeat":"","crontab":"","once":false,"x":110,"y":1260,"wires":[["4b2a3f12.29c4"]]},{"id":"4b2a3f12.29c4","type":"mqtt out","z":"10900aeb.adaf25","name":"","topic":"financeiro/duplicata/excluir","qos":"0","retain":"false","broker":"673dc57b.0c3b2c","x":380,"y":1260,"wires":[]},{"id":"a4f190e5.7a346","type":"inject","z":"10900aeb.adaf25","name":"","topic":"","payload":"imprimir","payloadType":"str","repeat":"","crontab":"","once":false,"x":120,"y":1360,"wires":[["feab4145.229df"]]},{"id":"feab4145.229df","type":"mqtt out","z":"10900aeb.adaf25","name":"","topic":"financeiro/duplicata/imprimir","qos":"0","retain":"false","broker":"673dc57b.0c3b2c","x":380,"y":1360,"wires":[]},{"id":"7081c732.841638","type":"inject","z":"10900aeb.adaf25","name":"","topic":"","payload":"listar","payloadType":"str","repeat":"","crontab":"","once":false,"x":110,"y":1460,"wires":[["2c29164c.b68a5a"]]},{"id":"2c29164c.b68a5a","type":"mqtt out","z":"10900aeb.adaf25","name":"","topic":"financeiro/duplicata/listar","qos":"0","retain":"false","broker":"673dc57b.0c3b2c","x":370,"y":1460,"wires":[]},{"id":"5b77cb36.b9cc04","type":"inject","z":"10900aeb.adaf25","name":"","topic":"","payload":"busca","payloadType":"str","repeat":"","crontab":"","once":false,"x":110,"y":1560,"wires":[["f9617e5c.307a4"]]},{"id":"f9617e5c.307a4","type":"mqtt out","z":"10900aeb.adaf25","name":"","topic":"financeiro/duplicata/busca","qos":"0","retain":"false","broker":"673dc57b.0c3b2c","x":380,"y":1560,"wires":[]},{"id":"f94bb145.4d3a8","type":"inject","z":"10900aeb.adaf25","name":"","topic":"","payload":"calcular","payloadType":"str","repeat":"","crontab":"","once":false,"x":110,"y":1660,"wires":[["fafd3c0b.1b661"]]},{"id":"fafd3c0b.1b661","type":"mqtt out","z":"10900aeb.adaf25","name":"","topic":"financeiro/duplicata/calcular","qos":"0","retain":"false","broker":"673dc57b.0c3b2c","x":380,"y":1660,"wires":[]},{"id":"f489ca14.807a78","type":"json","z":"10900aeb.adaf25","name":"","x":930,"y":1160,"wires":[["46da0969.7c1b78","9a8bb18.44c755"]]},{"id":"b482c984.a7a4c8","type":"json","z":"10900aeb.adaf25","name":"","x":930,"y":1260,"wires":[["7682c3b3.c1fe1c"]]},{"id":"c05a1ab.96bf3e8","type":"json","z":"10900aeb.adaf25","name":"","x":930,"y":1360,"wires":[["d72d9964.6e5908"]]},{"id":"2e907298.e15b1e","type":"json","z":"10900aeb.adaf25","name":"","x":930,"y":1460,"wires":[["25de084d.06cf28"]]},{"id":"f950d58b.6acce8","type":"json","z":"10900aeb.adaf25","name":"","x":930,"y":1660,"wires":[["a15903ed.f926d"]]},{"id":"dc3d9e14.d5ac5","type":"json","z":"10900aeb.adaf25","name":"","x":930,"y":1560,"wires":[["7bf2762d.0f98a8"]]},{"id":"57fb9f6a.a6b9b","type":"mongodb out","z":"10900aeb.adaf25","service":"_ext_","mongodb":"258dcda0.cc5e32","name":"","collection":"duplicatas","payonly":true,"upsert":false,"multi":false,"operation":"store","x":1220,"y":1000,"wires":[]},{"id":"9a8bb18.44c755","type":"mongodb out","z":"10900aeb.adaf25","service":"_ext_","mongodb":"258dcda0.cc5e32","name":"","collection":"duplicatas","payonly":true,"upsert":false,"multi":false,"operation":"store","x":1200,"y":1200,"wires":[]},{"id":"bbf5cbe2.3d0248","type":"inject","z":"10900aeb.adaf25","name":"","topic":"financeiro/duplicata/erros/mqtt_aa2f9292.360a1","payload":"{ \"msg\": \"O node-red me avisou de um erro !!!!\" }","payloadType":"json","repeat":"","crontab":"","once":false,"x":110,"y":1800,"wires":[["951d1c2a.b6bca"]]},{"id":"951d1c2a.b6bca","type":"mqtt out","z":"10900aeb.adaf25","name":"","topic":"","qos":"0","retain":"false","broker":"673dc57b.0c3b2c","x":310,"y":1800,"wires":[]},{"id":"a578af9f.e7b65","type":"function","z":"10900aeb.adaf25","name":"","func":"return [\n    {\n        id: msg.id,\n        topic: 'financeiro/duplicata/alterado/' + msg.payload._id,\n        payload: msg.payload\n    }, \n    {\n        id: msg.id,\n        topic: 'financeiro/duplicata/erros/' + msg.topic.split('/')[msg.topic.split('/').length - 1],\n        payload: msg.payload\n    }\n];","outputs":"2","noerr":0,"x":1130,"y":1080,"wires":[["50d0ea81.613f24","a42cd5d0.603078"],[]]},{"id":"50d0ea81.613f24","type":"mqtt out","z":"10900aeb.adaf25","name":"","topic":"","qos":"0","retain":"false","broker":"673dc57b.0c3b2c","x":1390,"y":1060,"wires":[]},{"id":"a42cd5d0.603078","type":"debug","z":"10900aeb.adaf25","name":"","active":true,"console":"false","complete":"true","x":1390,"y":1020,"wires":[]},{"id":"da3a4ae8.ed2278","type":"json","z":"10900aeb.adaf25","name":"","x":950,"y":1000,"wires":[["ff7ece03.861f6","57fb9f6a.a6b9b","a578af9f.e7b65"]]},{"id":"4a56c34e.4651ec","type":"mqtt in","z":"10900aeb.adaf25","name":"","topic":"financeiro/duplicata/erros/#","qos":"0","broker":"673dc57b.0c3b2c","x":720,"y":1800,"wires":[["f577d304.467ee"]]},{"id":"f577d304.467ee","type":"json","z":"10900aeb.adaf25","name":"","x":930,"y":1800,"wires":[["b93e7c27.0b992"]]},{"id":"b93e7c27.0b992","type":"debug","z":"10900aeb.adaf25","name":"","active":true,"console":"false","complete":"payload","x":1130,"y":1800,"wires":[]},{"id":"e05bcd12.72f9f","type":"http in","z":"10900aeb.adaf25","name":"","url":"/financeiro/duplicatas/bordero","method":"get","swaggerDoc":"","x":200,"y":300,"wires":[["85be8374.fdf14"]]},{"id":"85be8374.fdf14","type":"file in","z":"10900aeb.adaf25","name":"","filename":"C:\\temp\\bordero.pdf","format":"","x":480,"y":300,"wires":[["3936049b.012d1c"]]},{"id":"3936049b.012d1c","type":"http response","z":"10900aeb.adaf25","name":"","x":720,"y":320,"wires":[]},{"id":"e59575b6.913938","type":"http in","z":"10900aeb.adaf25","name":"","url":"/financeiro/duplicata/pedido","method":"post","swaggerDoc":"","x":200,"y":420,"wires":[["e500309f.d3e6b"]]},{"id":"c63bdaa6.d7d778","type":"MSSQL","z":"10900aeb.adaf25","mssqlCN":"162ddda.4a21522","name":"","query":"","outField":"payload","x":660,"y":420,"wires":[["1b6f0c7.1d0baf4","80f86fa2.6a4f2","dad2e278.e1dc6"]]},{"id":"1b6f0c7.1d0baf4","type":"http response","z":"10900aeb.adaf25","name":"","x":850,"y":400,"wires":[]},{"id":"e500309f.d3e6b","type":"function","z":"10900aeb.adaf25","name":"query","func":"var sql = \n'SELECT TOP 10 ' +\n'\tCAST(LPV.LPENT AS DATE) AS emissao, ' +\n'\tCAST(LPV.Lp0SaiRed AS DATE) AS entrega, ' +\n'\tCAST(LPV.LPPED AS INT) AS numero, ' +\n'\tLTRIM(RTRIM(CACLI.CCCGC)) AS cnpj, ' +\n'\tLTRIM(RTRIM(CACLI.CCFAN)) AS nome, ' +\n'\tLTRIM(RTRIM(CACLI.CCNOM)) AS razao_social, ' +\n'\tLPV.LPPAG AS condicao_pagto, ' +\n'    LPV.LPVEN AS representante ' +\n'FROM ' +\n'\tGPIMAC_Altamira.dbo.LPV AS LPV INNER JOIN ' +\n'    GPIMAC_Altamira.dbo.CACLI ON LPV.CCCGC = GPIMAC_Altamira.dbo.CACLI.CCCGC '\n\nvar where;\n\n/*var where = msg.payload.nome || msg.payload.numero ? 'WHERE ' : null\n\nwhere += msg.payload.numero ? '   LPV.LPPED = \\'' + msg.payload.numero + '\\' ' : null\nwhere += where ? ' OR ' : null\nwhere += msg.payload.nome ? '   CACLI.CCNOM LIKE \\'%' + msg.payload.nome + '%\\' OR ' : ''\nwhere += where ? ' OR ' : null\nwhere += msg.payload.nome ? '   CACLI.CCFAN LIKE \\'%' + msg.payload.nome + '%\\' ' : ''*/\n\nsql += (where ? where : '') + 'ORDER BY LPV.LPPED DESC'\n\nmsg.payload = sql;\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":420,"wires":[["c63bdaa6.d7d778"]]},{"id":"dad2e278.e1dc6","type":"debug","z":"10900aeb.adaf25","name":"","active":true,"console":"false","complete":"payload","x":870,"y":500,"wires":[]},{"id":"48130ee1.835ba","type":"mqtt in","z":"10900aeb.adaf25","name":"","topic":"/financeiro/duplicata/consulta/pedido/#","qos":"0","broker":"673dc57b.0c3b2c","x":210,"y":360,"wires":[["e500309f.d3e6b"]]},{"id":"80f86fa2.6a4f2","type":"mqtt out","z":"10900aeb.adaf25","name":"","topic":"","qos":"","retain":"","broker":"673dc57b.0c3b2c","x":850,"y":440,"wires":[]},{"id":"3c7c426e.e0a9be","type":"mqtt in","z":"10900aeb.adaf25","name":"","topic":"/pedido","qos":"0","broker":"673dc57b.0c3b2c","x":1410,"y":300,"wires":[["f0d197b4.2475d8","3c7fbd9f.1fd212"]]},{"id":"f0d197b4.2475d8","type":"function","z":"10900aeb.adaf25","name":"query","func":"var sql = \n'SELECT TOP 10 ' +\n'\tCAST(LPV.LPENT AS DATE) AS emissao, ' +\n'\tCAST(LPV.Lp0SaiRed AS DATE) AS entrega, ' +\n'\tCAST(LPV.LPPED AS INT) AS numero, ' +\n'\tLTRIM(RTRIM(CACLI.CCCGC)) AS cnpj, ' +\n'\tLTRIM(RTRIM(CACLI.CCFAN)) AS nome, ' +\n'\tLTRIM(RTRIM(CACLI.CCNOM)) AS razao_social, ' +\n'\tLPV.LPPAG AS condicao_pagto, ' +\n'    LPV.LPVEN AS representante ' +\n'FROM ' +\n'\tGPIMAC_Altamira.dbo.LPV AS LPV INNER JOIN ' +\n'    GPIMAC_Altamira.dbo.CACLI ON LPV.CCCGC = GPIMAC_Altamira.dbo.CACLI.CCCGC '\n\nvar where;\n\n/*var where = msg.payload.nome || msg.payload.numero ? 'WHERE ' : null\n\nwhere += msg.payload.numero ? '   LPV.LPPED = \\'' + msg.payload.numero + '\\' ' : null\nwhere += where ? ' OR ' : null\nwhere += msg.payload.nome ? '   CACLI.CCNOM LIKE \\'%' + msg.payload.nome + '%\\' OR ' : ''\nwhere += where ? ' OR ' : null\nwhere += msg.payload.nome ? '   CACLI.CCFAN LIKE \\'%' + msg.payload.nome + '%\\' ' : ''*/\n\nsql += (where ? where : '') + 'ORDER BY LPV.LPPED DESC'\n\nmsg.payload = sql;\n\nreturn msg;","outputs":1,"noerr":0,"x":1610,"y":320,"wires":[["cba4140.8b6a6f","436a9152.f7caa"]]},{"id":"cba4140.8b6a6f","type":"MSSQL","z":"10900aeb.adaf25","mssqlCN":"162ddda.4a21522","name":"","query":"","outField":"payload","x":1800,"y":300,"wires":[["43f14641.0c1df8","317522ea.4bfd4e"]]},{"id":"43f14641.0c1df8","type":"mqtt out","z":"10900aeb.adaf25","name":"","topic":"","qos":"","retain":"","broker":"673dc57b.0c3b2c","x":1990,"y":280,"wires":[]},{"id":"9c691d72.bbb1e","type":"inject","z":"10900aeb.adaf25","name":"inject","topic":"/pedido","payload":"{\"nome\": \"LM\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":1430,"y":360,"wires":[["f0d197b4.2475d8","e44bce30.1322"]]},{"id":"661847a8.4c66f8","type":"mqtt in","z":"10900aeb.adaf25","name":"","topic":"/pedido","qos":"0","broker":"86aaad3e.7a45","x":1410,"y":420,"wires":[["cd095e08.3cdfd"]]},{"id":"cd095e08.3cdfd","type":"debug","z":"10900aeb.adaf25","name":"OUTRA FILA","active":false,"console":"false","complete":"payload","x":1630,"y":420,"wires":[]},{"id":"317522ea.4bfd4e","type":"debug","z":"10900aeb.adaf25","name":"FILA PEDIDO","active":false,"console":"false","complete":"true","x":2020,"y":320,"wires":[]},{"id":"3c7fbd9f.1fd212","type":"debug","z":"10900aeb.adaf25","name":"ENTRADA FILA PEDIDO","active":true,"console":"false","complete":"true","x":1670,"y":260,"wires":[]},{"id":"e44bce30.1322","type":"debug","z":"10900aeb.adaf25","name":"INJECT FILA PEDIDO","active":false,"console":"false","complete":"true","x":1660,"y":380,"wires":[]},{"id":"436a9152.f7caa","type":"debug","z":"10900aeb.adaf25","name":"QUERY","active":false,"console":"false","complete":"true","x":1800,"y":340,"wires":[]},{"id":"258dcda0.cc5e32","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"node-red","name":"mongodb"},{"id":"673dc57b.0c3b2c","type":"mqtt-broker","z":"10900aeb.adaf25","broker":"192.168.0.1","port":"1883","clientid":"alessandro","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"162ddda.4a21522","type":"MSSQL-CN","z":"","name":"gpimac","server":"127.0.0.1","encyption":true,"database":"GPIMAC_Altamira"},{"id":"86aaad3e.7a45","type":"mqtt-broker","z":"","broker":"192.168.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]