node-red/Export.txt
[{"id":"ed69588c.f23378","type":"debug","z":"f8020f2a.9206f","name":"","active":false,"console":"false","complete":"payload","x":1190,"y":140,"wires":[]},{"id":"c3332887.40bd48","type":"inject","z":"f8020f2a.9206f","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":140,"wires":[["f912bf05.1c8bd"]]},{"id":"f912bf05.1c8bd","type":"MSSQL","z":"f8020f2a.9206f","mssqlCN":"162ddda.4a21522","name":"PEDIDOS","query":"SELECT    \n\t--LTRIM(RTRIM(LPV.LPEMP))\t\t\tAS empresa, \n\t--LPV.LPPED\t\t\t\t\t\t\tAS id,\n\tCAST(LPV.LPPED AS INT)\t\t\t\tAS numero, \n\tLTRIM(RTRIM(LPV.LPORC))\t\t\t\tAS orcamento, \n\tCAST(LPV.LPENT AS DATE)\t\t\t\tAS emissao, \n\tCAST(LPV.Lp0SaiRed AS DATE)\t\t\tAS entrega, \n\tCAST(ROW_NUMBER() OVER(ORDER BY LPV.Lp0SaiRed) AS INT) AS prioridade,\n\t--LTRIM(RTRIM(LPV.CCCGC))\t\t\tAS [CNPJ do Cliente], \n\tLTRIM(RTRIM(CACLI.CCFAN))\t\t\tAS nome,\n\tLTRIM(RTRIM(CACLI.CCNOM))\t\t\tAS razao_social,\n\tLPV.LPPAG\t\t\t\t\t\t\tAS condicao_pagto, \n\tCACLI.CECOD\t\t\t\t\t\t\tAS estado,\n\tLPV.LPVEN\t\t\t\t\t\t\tAS representante, \n\tCAST(LPV.LPEtSitDatRed AS DATE)\t\tAS data_situacao,\n\tLPV.LPEtSitSeqRed\t\t\t\t\tAS codigo_situacao,\n\tCASE WHEN LPV.LPEtSitSeqRed = 0 THEN 'Aguardando liberação' ELSE LTRIM(RTRIM(LPV.LPEtSitRed)) END\t\tAS situacao,\n\t/*LTRIM(RTRIM(LPV.LPOB1))\t\t\t\tAS obs1,\n\tLTRIM(RTRIM(LPV.LPOBS))\t\t\t\tAS obs2,\n\tLTRIM(RTRIM(LPV.LPObsInt))\t\t\tAS obs_interna,\n\tLTRIM(RTRIM(lpv.LPObsNF))\t\t\tAS obs_nf,\n\tLTRIM(RTRIM(LPV.LPObsOP))\t\t\tAS obs_op,\n\tLTRIM(RTRIM(LPV.LpObsPgto))\t\t\tAS obs_pgto,*/\n\tISNULL(LPV1.[Total dos Produtos],0)\tAS total_produtos, \n\tISNULL(LPV1.[Total do IPI],0)\t\tAS total_ipi,\n\tISNULL(LPV1.[Total do Pedido],0)\tAS total_pedido\nFROM         \n\tGPIMAC_Altamira.dbo.LPV AS LPV INNER JOIN GPIMAC_Altamira.dbo.CACLI ON LPV.CCCGC = CACLI.CCCGC\n\tLEFT OUTER JOIN\n\t(SELECT     \n\t\tLPPED, \n\t\tCAST(SUM(LPQUA * LPPRE) AS MONEY) AS [Total dos Produtos], \n\t\tCAST(SUM((LPQUA * LPPRE) * (LPIPI / 100)) AS MONEY) AS [Total do IPI], \n\t\tCAST(SUM(LPQUA * LPPRE + (LPQUA * LPPRE) * (LPIPI / 100)) AS MONEY) AS [Total do Pedido]\n\tFROM          \n\t\tGPIMAC_Altamira.dbo.LPV1 AS LPV1_1\n\tGROUP BY \n\t\tLPPED) AS LPV1 ON LPV.LPPED = LPV1.LPPED\nWHERE\n    (YEAR(LPV.LPENT) >= 2016) \n\t--AND (LPV.LPEtSitSeqRed <> 80) -- ENTREGUE\n\t--AND (LPV.LPEtSitSeqRed <> 110) -- CANCELADO\n\t--AND (LPV.LPPED <> 74011)\n","outField":"payload","x":360,"y":140,"wires":[["7feb698a.09b648"]]},{"id":"7feb698a.09b648","type":"switch","z":"f8020f2a.9206f","name":"","property":"payload.length","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"}],"checkall":"true","outputs":1,"x":610,"y":140,"wires":[["e4556d48.9866e"]]},{"id":"e4556d48.9866e","type":"function","z":"f8020f2a.9206f","name":"pedido","func":"var uuid = global.get('uuid');\nvar aws = global.get('aws');\n\naws.config.update({ \n    region: 'us-east-1',\n    accessKeyId: 'AKIAITORMWJYRXO2X6VQ', \n    secretAccessKey: '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' \n});\n\nvar dynamodb = new aws.DynamoDB.DocumentClient();\n\nmsg.payload.forEach(function(item, key, array) {\n    //item.id = uuid.v1();\n    //item.type = 'pedido';\n    var params = {\n        TableName : 'pedido',\n        Item: item\n    }\n    dynamodb.put(params, function(err, data) {\n        if (err) {\n            node.error(err);\n        } \n    });\n    node.send({payload:item})\n})\n","outputs":1,"noerr":0,"x":870,"y":140,"wires":[["ed69588c.f23378"]]},{"id":"aa0d686f.b85b68","type":"catch","z":"f8020f2a.9206f","name":"","scope":null,"x":940,"y":60,"wires":[["725f0ca4.5bcd54"]]},{"id":"725f0ca4.5bcd54","type":"debug","z":"f8020f2a.9206f","name":"","active":true,"console":"false","complete":"false","x":1190,"y":60,"wires":[]},{"id":"45ad1f0.46e9be","type":"debug","z":"f8020f2a.9206f","name":"","active":false,"console":"false","complete":"payload","x":1190,"y":200,"wires":[]},{"id":"f076c343.0f2a8","type":"inject","z":"f8020f2a.9206f","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":200,"wires":[["f04e6bf6.0af6f8"]]},{"id":"f04e6bf6.0af6f8","type":"MSSQL","z":"f8020f2a.9206f","mssqlCN":"162ddda.4a21522","name":"PARCELA","query":"SELECT \n\tCAST(LPV.LPPED AS INT)\t\t\t\tAS numero, \n\tCPGPAR.[LpCpg1Par]\t\t\t\t\tAS sequencia,\n\tLPV.LPPAG\t\t\t\t\t\t\tAS condicao_pagto,\n\tCPGPAR.[LpCPg1Tip]\t\t\t\t\tAS tipo,\n\tCHAR(ASCII('A') - 1 + CPGPAR.[LpCpg1Par]) AS parcela,\n\tCPGPAR.[LpCPg1Dias]\t\t\t\t\tAS dias,\n\tCPGPAR.[LpCPg1ParIdxRed]\t\t\tAS porcentagem,\n\t--CPGPAR.CCPg1Cod\t\t\t\t\t\tAS descricao,\n\tCAST(LPV1.total_produtos AS money)\tAS total_produtos, \n\tCAST(LPV1.total_ipi AS money)\t\tAS total_ipi,\n\tCAST(LPV1.total_pedido AS money)\tAS total_pedido,\n\tCAST(CPGPAR.[LpCPg1ParVal] AS money) AS valor_parcela,\n\tCAST(CPGPAR.[LpCPg1DtV] AS DATE)\tAS vencto\t\nFROM         \n\tGPIMAC_Altamira.dbo.LPV AS LPV INNER JOIN [GPIMAC_Altamira].[dbo].[LPVCPGPAR] AS CPGPAR ON LPV.LPEMP = CPGPAR.LPEMP AND LPV.LPPED = CPGPAR.LPPED\n\tLEFT OUTER JOIN\n\t(SELECT     \n\t\tLPPED, \n\t\tCAST(SUM(LPQUA * LPPRE) AS MONEY) AS total_produtos, \n\t\tCAST(SUM((LPQUA * LPPRE) * (LPIPI / 100)) AS MONEY) AS total_ipi, \n\t\tCAST(SUM(LPQUA * LPPRE + (LPQUA * LPPRE) * (LPIPI / 100)) AS MONEY) AS total_pedido\n\tFROM          \n\t\tGPIMAC_Altamira.dbo.LPV1 AS LPV1_1\n\tGROUP BY \n\t\tLPPED) AS LPV1 ON LPV.LPPED = LPV1.LPPED\nWHERE\n    (YEAR(LPV.LPENT) >= 2016) \n\t--AND (LPV.LPEtSitSeqRed <> 80) -- ENTREGUE\n\t--AND (LPV.LPEtSitSeqRed <> 110) -- CANCELADO\n\t--AND (LPV.LPPED <> 74011)","outField":"payload","x":360,"y":200,"wires":[["d7101d95.07fb1"]]},{"id":"d7101d95.07fb1","type":"switch","z":"f8020f2a.9206f","name":"","property":"payload.length","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"}],"checkall":"true","outputs":1,"x":610,"y":200,"wires":[["d3588f62.907b7"]]},{"id":"d3588f62.907b7","type":"function","z":"f8020f2a.9206f","name":"pedido-parcela","func":"var uuid = global.get('uuid');\nvar aws = global.get('aws');\n\naws.config.update({ \n    region: 'us-east-1',\n    accessKeyId: 'AKIAITORMWJYRXO2X6VQ', \n    secretAccessKey: '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' \n});\n\nvar dynamodb = new aws.DynamoDB.DocumentClient();\n\nmsg.payload.forEach(function(item, key, array) {\n    //item.id = uuid.v1();\n    //item.type = 'pedido';\n    var params = {\n        TableName : 'pedido-parcela',\n        Item: item\n    }\n    dynamodb.put(params, function(err, data) {\n        if (err) {\n            node.error(err);\n        } \n    });\n    node.send({payload:item})\n})\n","outputs":1,"noerr":0,"x":900,"y":200,"wires":[["45ad1f0.46e9be"]]},{"id":"89e6a319.40698","type":"debug","z":"f8020f2a.9206f","name":"","active":false,"console":"false","complete":"payload","x":1190,"y":260,"wires":[]},{"id":"1affdb28.f09025","type":"inject","z":"f8020f2a.9206f","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":260,"wires":[["417d1316.ccd1dc"]]},{"id":"417d1316.ccd1dc","type":"MSSQL","z":"f8020f2a.9206f","mssqlCN":"162ddda.4a21522","name":"ITEM","query":"/****** Script for SelectTopNRows command from SSMS  ******/\nSELECT --TOP 1000 [LPEMP]\n      LPV.[LPPED]\t\t\tas numero\n      ,[LPSEQ]\t\t\tas sequencia\n      ,[CPROCOD]\t\tas codigo\n      --,[LP1CLI]\n      --,[LPDEC]\n      ,[LPIPI]\t\t\tas ipi\n      --,[LPNCL]\n      ,[LPQUA]\t\t\tas quantidade\n      ,[LPPRE]\t\t\tas preco\n      --,[LPBTO]\t\t\t\n      --,[LPSAI]\n      --,[LPLo1Seq]\n      --,[LP1PrPTip]\n      --,[LPGER]\n      --,[LPGERDES]\n      --,[LPGUIA]\n      --,[LPBAIEXP]\n      --,[LPSalRed]\n      ,[Lp1DesDet]\t\tas descricao\n      ,[CCorCod]\t\tas cor\n      ,[LPWBCCADORCITM]\tas item\n      --,[Lp1OPAprObs]\tas observacao\n      --,[Lp1OPAprUsuDtH]\n      --,[Lp1OPAprUsuDat]\n      --,[Lp1OPAprUsu]\n      --,[LP1OPApr]\n      --,[LPGerNumRed]\n      ,[LPWBCCADGRPCOD]\tas grupo\n      ,[LPWBCCADSGRCOD] as subgrupo\n      --,[Lp1DesTec]\t\tas descricao_tecnica\n      --,[Lp1DatCnf]\nFROM [GPIMAC_Altamira].[dbo].[LPV1] LPV1 INNER JOIN [GPIMAC_Altamira].[dbo].[LPV] LPV ON LPV1.LPEMP = LPV.LPEMP AND LPV1.LPPED = LPV.LPPED\nWHERE\n    (YEAR(LPV.LPENT) >= 2016) \n\t--AND (LPV.LPEtSitSeqRed <> 80) -- ENTREGUE\n\t--AND (LPV.LPEtSitSeqRed <> 110) -- CANCELADO\n\t--AND (LPV.LPPED <> 74011)","outField":"payload","x":350,"y":260,"wires":[["5b350671.4abe48"]]},{"id":"5b350671.4abe48","type":"switch","z":"f8020f2a.9206f","name":"","property":"payload.length","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"}],"checkall":"true","outputs":1,"x":610,"y":260,"wires":[["e4cbdfe1.295ef"]]},{"id":"e4cbdfe1.295ef","type":"function","z":"f8020f2a.9206f","name":"pedido-item","func":"var uuid = global.get('uuid');\nvar aws = global.get('aws');\n\naws.config.update({ \n    region: 'us-east-1',\n    accessKeyId: 'AKIAITORMWJYRXO2X6VQ', \n    secretAccessKey: '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' \n});\n\nvar dynamodb = new aws.DynamoDB.DocumentClient();\n\nmsg.payload.forEach(function(item, key, array) {\n    //item.id = uuid.v1();\n    //item.type = 'pedido';\n    var params = {\n        TableName : 'pedido-item',\n        Item: item\n    }\n    dynamodb.put(params, function(err, data) {\n        if (err) {\n            node.error(err);\n        } \n    });\n    node.send({payload:item})\n})\n","outputs":1,"noerr":0,"x":890,"y":260,"wires":[["89e6a319.40698"]]},{"id":"9c7d5c39.ca30b","type":"debug","z":"f8020f2a.9206f","name":"","active":false,"console":"false","complete":"payload","x":1190,"y":560,"wires":[]},{"id":"aa42d820.525a48","type":"inject","z":"f8020f2a.9206f","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":560,"wires":[["c2e2c56a.e8f9d8"]]},{"id":"c2e2c56a.e8f9d8","type":"MSSQL","z":"f8020f2a.9206f","mssqlCN":"162ddda.4a21522","name":"FUNCIONARIO","query":"/****** Script for SelectTopNRows command from SSMS  ******/\nSELECT --TOP 1000 [LPEMP]\n      LPV.[LPPED]\t\t\tas numero\n      ,[LPSEQ]\t\t\tas sequencia\n      ,[CPROCOD]\t\tas codigo\n      --,[LP1CLI]\n      --,[LPDEC]\n      ,[LPIPI]\t\t\tas ipi\n      --,[LPNCL]\n      ,[LPQUA]\t\t\tas quantidade\n      ,[LPPRE]\t\t\tas preco\n      --,[LPBTO]\t\t\t\n      --,[LPSAI]\n      --,[LPLo1Seq]\n      --,[LP1PrPTip]\n      --,[LPGER]\n      --,[LPGERDES]\n      --,[LPGUIA]\n      --,[LPBAIEXP]\n      --,[LPSalRed]\n      ,[Lp1DesDet]\t\tas descricao\n      ,[CCorCod]\t\tas cor\n      ,[LPWBCCADORCITM]\tas item\n      --,[Lp1OPAprObs]\tas observacao\n      --,[Lp1OPAprUsuDtH]\n      --,[Lp1OPAprUsuDat]\n      --,[Lp1OPAprUsu]\n      --,[LP1OPApr]\n      --,[LPGerNumRed]\n      ,[LPWBCCADGRPCOD]\tas grupo\n      ,[LPWBCCADSGRCOD] as subgrupo\n      --,[Lp1DesTec]\t\tas descricao_tecnica\n      --,[Lp1DatCnf]\nFROM [GPIMAC_Altamira].[dbo].[LPV1] LPV1 INNER JOIN [GPIMAC_Altamira].[dbo].[LPV] LPV ON LPV1.LPEMP = LPV.LPEMP AND LPV1.LPPED = LPV.LPPED\nWHERE\n    (YEAR(LPV.LPENT) >= 2016) \n\t--AND (LPV.LPEtSitSeqRed <> 80) -- ENTREGUE\n\t--AND (LPV.LPEtSitSeqRed <> 110) -- CANCELADO\n\t--AND (LPV.LPPED <> 74011)","outField":"payload","x":380,"y":560,"wires":[["cc7f0785.7bb3d8"]]},{"id":"cc7f0785.7bb3d8","type":"switch","z":"f8020f2a.9206f","name":"","property":"payload.length","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"}],"checkall":"true","outputs":1,"x":610,"y":560,"wires":[["3d37ba54.c264f6"]]},{"id":"3d37ba54.c264f6","type":"function","z":"f8020f2a.9206f","name":"pedido-item","func":"var uuid = global.get('uuid');\nvar aws = global.get('aws');\n\naws.config.update({ \n    region: 'us-east-1',\n    accessKeyId: 'AKIAITORMWJYRXO2X6VQ', \n    secretAccessKey: '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' \n});\n\nvar dynamodb = new aws.DynamoDB.DocumentClient();\n\nmsg.payload.forEach(function(item, key, array) {\n    //item.id = uuid.v1();\n    //item.type = 'pedido';\n    var params = {\n        TableName : 'pedido-item',\n        Item: item\n    }\n    dynamodb.put(params, function(err, data) {\n        if (err) {\n            node.error(err);\n        } \n    });\n    node.send({payload:item})\n})\n","outputs":1,"noerr":0,"x":890,"y":560,"wires":[["9c7d5c39.ca30b"]]},{"id":"162ddda.4a21522","type":"MSSQL-CN","z":"","name":"gpimac","server":"127.0.0.1","encyption":true,"database":"GPIMAC_Altamira"}]