node-red/Financeiro.txt
[{"id":"23378662.4e0b6a","type":"http in","z":"e6097cee.8df04","name":"busca","url":"/api/financeiro/duplicata/emissao/busca","method":"get","swaggerDoc":"","x":80.19999694824219,"y":660,"wires":[["de08f6ae.d1d398"]]},{"id":"de08f6ae.d1d398","type":"function","z":"e6097cee.8df04","name":"SQL","func":"msg.payload = \n    \"DECLARE @PEDIDO INT\\n\" +\n    \"DECLARE @CNPJ NVARCHAR(14)\\n\" +\n    \"DECLARE @NOME NVARCHAR(100)\\n\" +\n    \"SET @PEDIDO = \" + (msg.req.query.pedido || 'NULL') + \"\\n\" +\n    \"SET @CNPJ = \" + (\"'\" + msg.req.query.cnpj + \"'\" || 'NULL') + \"\\n\" +\n    \"SET @NOME = \" + (\"'\" + msg.req.query.nome + \"'\" || 'NULL') + \"\\n\" +\n    \"SELECT top 10 \" +\n    \"\tLTRIM(RTRIM(LPV.LPEMP)) AS empresa, \\n\" +\n    \"\tCAST(LPV.LPPED AS INT) AS pedido, \\n\" +\n    \"\tCAST(LPV.LPENT AS DATE) AS emissao, \\n\" +\n    \"\tLPV.Lp0SaiRed AS entrega, \\n\" +\n    \"\tLTRIM(RTRIM(CACLI.CCCGC)) AS cnpj, \\n\" +\n    \"\tLTRIM(RTRIM(CACLI.CCFAN)) AS fantasia, \\n\" +\n    \"\tLTRIM(RTRIM(CACLI.CCNOM)) AS nome \\n\" +\n    \"FROM \\n\" +\n    \"\tGPIMAC_Altamira.dbo.LPV AS LPV INNER JOIN \\n\" +\n    \"   GPIMAC_Altamira.dbo.CACLI ON LPV.CCCGC = GPIMAC_Altamira.dbo.CACLI.CCCGC \\n\" +\n    \"WHERE \\n\" +\n    \"   (@PEDIDO IS NULL OR LPV.LPPED LIKE '%' + CAST(@PEDIDO AS NVARCHAR(10)) + '%') AND \\n\" +\n    \"   (@CNPJ IS NULL OR CACLI.CCCGC LIKE '%' + @CNPJ + '%') AND \\n\" +\n    \"   (@NOME IS NULL OR CACLI.CCFAN LIKE '%' + @NOME + '%') AND \\n\" +\n    \"   (@NOME IS NULL OR CACLI.CCNOM LIKE '%' + @NOME + '%') \\n\" +\n    \"ORDER BY \\n\" +\n    \"   LPV.LPPED DESC\"\n\nreturn msg;","outputs":1,"noerr":0,"x":320.1999969482422,"y":660,"wires":[["d5736383.a825c"]]},{"id":"734fb195.ca1e8","type":"http response","z":"e6097cee.8df04","name":"","x":880.1999969482422,"y":660,"wires":[]},{"id":"d5736383.a825c","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"1bb61597.983fca","name":"","query":"","outField":"payload","x":730.1999969482422,"y":660,"wires":[["734fb195.ca1e8"]]},{"id":"6162a803.01e5b8","type":"http in","z":"e6097cee.8df04","name":"lancamento","url":"/api/financeiro/recebiveis/lancamento/tarefa/:tarefa","method":"post","swaggerDoc":"","x":100.19999694824219,"y":860,"wires":[["47147e81.52843"]]},{"id":"47147e81.52843","type":"function","z":"e6097cee.8df04","name":"SQL","func":"var tarefa_cobranca = \n{\n    nome: 'Cobrança Bancária',\n    titulo: 'Gerar Remessa de Cobrança',\n    descricao: 'Saldo R$ ' + msg.payload.documento.parcelas.reduce( (total, parcela) => total + parcela.valor, 0), \n    documento: JSON.stringify(\n        {\n            nosso_numero: msg.payload.documento.nosso_numero,\n            pedido: msg.payload.documento.numero,\n            cliente: msg.payload.documento.cliente,\n            parcelas: msg.payload.documento.parcelas\n        }),\n    atribuir: 'financeiro',\n    form: '/recebiveis/cobranca/'\n}\n\nmsg.payload = \n    \"SET NOCOUNT ON\" + '\\n' + '\\n' +\n    \n    \"------------------------------------- DECLARACAO DE VARIAVEIS ----------------------------------------------\" + '\\n' +\n    \"DECLARE @NOSSO_NUMERO INT\" + '\\n' +\n    \"DECLARE @CONTA_CONTABIL VARCHAR(20)\" + '\\n' +\n    \"DECLARE @CNPJ VARCHAR(20)\" + '\\n' +\n    \"DECLARE @INSCRICAO VARCHAR(12)\" + '\\n' +\n    \"DECLARE @FANTASIA VARCHAR(30)\" + '\\n' +\n    \"DECLARE @NOME VARCHAR(100)\" + '\\n' +\n    \"DECLARE @LOGRADOURO VARCHAR(5)\" + '\\n' +\n    \"DECLARE @ENDERECO VARCHAR(50)\" + '\\n' +\n    \"DECLARE @NUMERO VARCHAR(10)\" + '\\n' +\n    \"DECLARE @COMPLEMENTO VARCHAR(20)\" + '\\n' +\n    \"DECLARE @BAIRRO VARCHAR(30)\" + '\\n' +\n    \"DECLARE @MUNICIPIO INT\" + '\\n' +\n    \"DECLARE @CIDADE VARCHAR(20)\" + '\\n' +\n    \"DECLARE @CEP CHAR(9)\" + '\\n' +\n    \"DECLARE @UF CHAR(2)\" + '\\n' +\n    \"DECLARE @DDD VARCHAR(3)\" + '\\n' +\n    \"DECLARE @TELEFONE VARCHAR(15)\" + '\\n' +\n    \"DECLARE @CONTATO VARCHAR(20)\" + '\\n' +\n    \n    \"DECLARE @PARCELA INT\" + '\\n' +\n    \"DECLARE @FORMA_PAGTO VARCHAR(10)\" + '\\n' +\n    \"DECLARE @TIPO_VENCTO VARCHAR(3)\" + '\\n' +\n    \"DECLARE @VENCTO DATE\" + '\\n' +\n    \"DECLARE @PRAZO INT\" + '\\n' +\n    \"DECLARE @PORCENTAGEM DECIMAL(18, 3)\" + '\\n' +\n    \"DECLARE @VALOR MONEY\" + '\\n' +\n    \"DECLARE @DESCRICAO VARCHAR(50)\" + '\\n' +\n    \"DECLARE @ORIGEM VARCHAR(10)\" + '\\n' +\n\n    \"DECLARE @TAREFA_ATUAL INT\" + '\\n' +\n    \"DECLARE @VERSAO INT\" + '\\n' + '\\n' +\n\n    \"DECLARE @ULTIMA_VERSAO INT\" + '\\n' +\n    \"DECLARE @CONCLUIDO DATETIME\" + '\\n' + '\\n' +\n\n    \"DECLARE @PROX_TAREFA INT\" + '\\n' +\n    \"DECLARE @PROX_TAREFA_VERSAO INT\" + '\\n' + '\\n' +\n    \n    \"DECLARE @NOVA_NAV INT\" + '\\n' + '\\n' +\n    \n    \"DECLARE @tarefas TABLE (\" + '\\n' +\n\t\"\t[id] [int] NOT NULL,\" + '\\n' +\n\t\"\t[nome] [nvarchar](100) NOT NULL,\" + '\\n' +\n\t\"\t[titulo] [nvarchar](50) NULL,\" + '\\n' +\n\t\"\t[descricao] [nvarchar](50) NULL,\" + '\\n' +\n\t\"\t[atribuir] [nvarchar](50) NULL,\" + '\\n' +\n\t\"\t[form] [nvarchar](100) NOT NULL,\" + '\\n' +\n\t\"\t[parametros] [nvarchar](max) NULL,\" + '\\n' +\n\t\"\t[prazo] [datetime] NULL,\" + '\\n' +\n\t\"\t[criado] [datetime] NOT NULL,\" + '\\n' +\n\t\"\t[concluido] [datetime] NULL,\" + '\\n' +\n\t\"\t[versao] [int],\" + '\\n' +\n\t\"\t[topico] [nvarchar](100) NOT NULL)\" + '\\n' + '\\n' +\n\n    \"BEGIN TRY\" + '\\n' +\n    \"   BEGIN TRANSACTION\" + '\\n' + '\\n' +\n\n    \"   -------------------------------------- ATUALIZACAO DAS TAREFAS ----------------------------------------------\" + '\\n' +\n    \"   SET @TAREFA_ATUAL = \" + (parseInt(msg.req.params.tarefa) || 'NULL') + \"\" + '\\n' +\n    \"   SET @VERSAO = CAST('\" + (msg.payload.versao || 'NULL') + \"' AS INT)\" + '\\n' + '\\n' +\n\n    \"   UPDATE tarefas SET\" + '\\n' +\n    \"\t    concluido = GETDATE()\" + '\\n' +\n    \"   WHERE\" + '\\n' +\n    \"       id = @TAREFA_ATUAL\" + '\\n' +\n    \"       AND concluido IS NULL\" + '\\n' + '\\n' +\n    \"       AND versao = @VERSAO\" + '\\n' + '\\n' +\n    \n    \"   IF @@ROWCOUNT != 1\" + '\\n' +\n    \"   BEGIN\" + '\\n' +\n    \n    \"       SELECT TOP 1 @ULTIMA_VERSAO = versao, @CONCLUIDO = concluido FROM tarefas WHERE id = @TAREFA_ATUAL\" + '\\n' + '\\n' +\n    \n    \"       IF (NOT @CONCLUIDO IS NULL)\" + '\\n' +\n    \"           SELECT * FROM ERR WHERE erro = 7010\" + '\\n' +\n    \"       ELSE IF (@ULTIMA_VERSAO <> @VERSAO)\" + '\\n' +\n    \"           SELECT * FROM ERR WHERE erro = 7450\" + '\\n' + '\\n' +\n    \n    \"       ROLLBACK TRANSACTION\" + '\\n' + '\\n' +\n    \n    \"       RETURN\" + '\\n' +\n    \"   END\" + '\\n' + '\\n' +\n    \n    \"   INSERT INTO @tarefas SELECT id, nome, titulo, descricao, atribuir, form, parametros, prazo, criado, concluido, versao, '/tarefas/concluida/' + LTRIM(RTRIM(atribuir)) AS topico FROM tarefas WHERE id = @TAREFA_ATUAL\" + '\\n' + '\\n' +\n\n    (msg.payload.documento.parcelas.find( p => p.forma_pagto === 'COBRANCA') ?\n\n    \"   SELECT TOP 1 @PROX_TAREFA = id, @PROX_TAREFA_VERSAO = versao FROM tarefas WHERE nome = '\" + tarefa_cobranca.nome + \"' AND concluido IS NULL\" + '\\n' + '\\n' +\n   \n    \"   IF @PROX_TAREFA IS NULL\" + '\\n' +\n    \"   BEGIN\" + '\\n' + '\\n' +\n    \n    \"       SET @PROX_TAREFA = NEXT VALUE FOR tarefa_seq\" + '\\n' + '\\n' +\n    \n    \"       INSERT INTO tarefas\" + '\\n' +\n    \"           (id,\" + '\\n' +\n    \"           nome,\" + '\\n' +\n    \"           titulo,\" + '\\n' +\n    \"           descricao,\" + '\\n' +\n    \"           documento,\" + '\\n' +\n    \"           atribuir,\" + '\\n' +\n    \"           form,\" + '\\n' +\n    \"           parametros,\" + '\\n' +\n    \"           prazo,\" + '\\n' +\n    \"           criado,\" + '\\n' +\n    \"           concluido)\" + '\\n' +\n    \"       VALUES\" + '\\n' +\n    \"           (@PROX_TAREFA,\" + '\\n' +\n    \"           '\" + tarefa_cobranca.nome + \"',\" + '\\n' +\n    \"           '\" + tarefa_cobranca.titulo + \"',\" + '\\n' +\n    \"           '\" + tarefa_cobranca.descricao + \"',\" + '\\n' +\n    \"           '[\" + tarefa_cobranca.documento + \"]', \" +  '\\n' +\n    \"           '\" + tarefa_cobranca.atribuir + \"',\" + '\\n' +\n    \"           '\" + tarefa_cobranca.form + \"',\" + '\\n' +\n    \"           NULL,\" + '\\n' +\n    \"           NULL,\" + '\\n' +\n    \"           GETDATE(),\" + '\\n' +\n    \"           NULL)\" + '\\n' + '\\n' +\n    \n    \"       INSERT INTO @tarefas SELECT id, nome, titulo, descricao, atribuir, form, parametros, prazo, criado, concluido, versao, '/tarefas/nova/' + LTRIM(RTRIM(atribuir)) AS topico FROM tarefas WHERE id = @PROX_TAREFA\" + '\\n' + '\\n' +\n\n    \"       SET @NOVA_NAV = NEXT VALUE FOR tarefa_nav_seq\" + '\\n' + '\\n' +\n    \n    \"       INSERT TAREFA_NAV (transacao, tarefa_origem, tarefa_destino) VALUES (NEXT VALUE FOR tarefa_nav_seq, @TAREFA_ATUAL, @PROX_TAREFA)\" + '\\n' + '\\n' +\n\n    \"   END\" + '\\n' +\n    \"   ELSE\" + '\\n' +\n    \"   BEGIN\" + '\\n' + '\\n' +\n    \n    \"       DECLARE @SALDO MONEY\" + '\\n' + '\\n' +\n    \n    \"       SET @SALDO = 0 --(SELECT ISNULL(SUM(VALOR), 0) FROM RCBD WHERE NOT EXISTS (SELECT * FROM COB WHERE RCBD.nosso_numero = COB.nosso_numero AND COB.parcela = REMD.parcela))\" + '\\n' + '\\n' +\n    \n    \"       UPDATE tarefas SET\" + '\\n' +\n    \"           descricao = 'Saldo R$ ' + CAST(@SALDO + \" + msg.payload.documento.parcelas.reduce( (total, parcela) => total + parcela.valor, 0) + \" AS NVARCHAR(20)), \"  + '\\n' +\n    \"           documento = STUFF(documento, LEN(documento), 1, ',\" + tarefa_cobranca.documento + \"' + ']')\" + '\\n' +\n    \"       WHERE\" + '\\n' +\n    \"          id = @PROX_TAREFA\" + '\\n' +\n    \"          AND versao = @PROX_TAREFA_VERSAO\" +  '\\n' + '\\n' +\n\n    \"       IF @@ROWCOUNT != 1\" + '\\n' +\n    \"       BEGIN\" + '\\n' +\n\n    \"           SELECT TOP 1 @ULTIMA_VERSAO = versao, @CONCLUIDO = concluido FROM tarefas WHERE id = @TAREFA_ATUAL\" + '\\n' + '\\n' +\n    \n    \"           IF (NOT @CONCLUIDO IS NULL)\" + '\\n' +\n    \"               SELECT * FROM ERR WHERE erro = 7010\" + '\\n' +\n    \"           ELSE IF (@ULTIMA_VERSAO <> @VERSAO)\" + '\\n' +\n    \"               SELECT * FROM ERR WHERE erro = 7450\" + '\\n' + '\\n' +\n    \n    \"           ROLLBACK TRANSACTION\" + '\\n' + '\\n' +\n    \n    \"           RETURN\" + '\\n' +\n    \"       END\" + '\\n' + '\\n' +\n    \n    \"       INSERT INTO @tarefas SELECT id, nome, titulo, descricao, atribuir, form, parametros, prazo, criado, concluido, versao, '/tarefas/atualizada/' + LTRIM(RTRIM(atribuir)) AS topico FROM tarefas WHERE id = @PROX_TAREFA\" + '\\n' + '\\n' +\n\n    \"   END\" + '\\n' + '\\n'\n    \n    :\n    \n    \"   --- nenhuma tarefa nova será criada porque em nenhuma parcela a forma de pagto é COBRANCA.\" + '\\n'\n    \n    ) + '\\n' +\n    \n    \"   ------------------------------------ VALIDACAO DE DADOS ----------------------------------------------\" + '\\n' +\n\n    \"   SET @NOSSO_NUMERO = CAST(\" +   (\"'\" + msg.payload.documento.nosso_numero + \"'\"   || \"NULL\") + \" AS INT)\" + '\\n' + '\\n' +\n    \n    \"   IF EXISTS(SELECT NOSSO_NUMERO FROM RCB WHERE nosso_numero = @NOSSO_NUMERO)\" + '\\n' +\n    \"   BEGIN\" + '\\n' + '\\n' +\n    \n    \"       SELECT * FROM ERR WHERE erro = 1234\" + '\\n' + '\\n' +\n    \n    \"       ROLLBACK TRANSACTION\" + '\\n' + '\\n' +\n    \n    \"       RETURN\" + '\\n' + '\\n' +\n    \"   END\" + '\\n' + '\\n' +\n\n    \"   ----------------------------------------- ATRIBUICAO DE VALORES DE PARAMETROS --------------------------------------------\" + '\\n' +\n    \"   SET @CONTA_CONTABIL = CAST('\" + msg.payload.documento.cliente.conta_contabil + \"' AS VARCHAR(20))\" + '\\n' +\n    \"   SET @CNPJ = CAST(\" +           (\"'\" + msg.payload.documento.cliente.cnpj + \"'\"            || \"NULL\") + \" AS VARCHAR(20))\" + '\\n' +\n    \"   SET @INSCRICAO = CAST(\" +      (\"'\" + msg.payload.documento.cliente.inscricao + \"'\"       || \"NULL\") + \" AS VARCHAR(14))\" + '\\n' +\n    \"   SET @FANTASIA = CAST(\" +       (\"'\" + msg.payload.documento.cliente.fantasia + \"'\"        || \"NULL\") + \" AS VARCHAR(30))\" + '\\n' +\n    \"   SET @NOME = CAST(\" +           (\"'\" + msg.payload.documento.cliente.nome + \"'\"            || \"NULL\") + \" AS VARCHAR(100))\" + '\\n' +\n    \"   SET @LOGRADOURO = CAST(\" +     (\"'\" + msg.payload.documento.cliente.logradouro + \"'\"      || \"NULL\") + \" AS VARCHAR(5))\" + '\\n' +\n    \"   SET @ENDERECO = CAST(\" +       (\"'\" + msg.payload.documento.cliente.endereco + \"'\"        || \"NULL\") + \" AS VARCHAR(50))\" + '\\n' +\n    \"   SET @NUMERO = CAST(\" +         (\"'\" + msg.payload.documento.cliente.numero + \"'\"          || \"NULL\") + \" AS VARCHAR(10))\" + '\\n' +\n    \"   SET @COMPLEMENTO = CAST(\" +    (\"'\" + msg.payload.documento.cliente.complemento + \"'\"     || \"NULL\") + \" AS VARCHAR(20))\" + '\\n' +\n    \"   SET @BAIRRO = CAST(\" +         (\"'\" + msg.payload.documento.cliente.bairro + \"'\"          || \"NULL\") + \" AS VARCHAR(30))\" + '\\n' +\n    \"   SET @MUNICIPIO = CAST(\" +      (msg.payload.documento.cliente.municipio                   || \"NULL\") + \" AS INT)\" + '\\n' +\n    \"   SET @CIDADE = CAST(\" +         (\"'\" + msg.payload.documento.cliente.cidade + \"'\"          || \"NULL\") + \" AS VARCHAR(20))\" + '\\n' +\n    \"   SET @CEP = CAST(\" +            (\"'\" + msg.payload.documento.cliente.CEP + \"'\"             || \"NULL\") + \" AS CHAR(9))\" + '\\n' +\n    \"   SET @UF = CAST(\" +             (\"'\" + msg.payload.documento.cliente.UF + \"'\"              || \"NULL\") + \" AS CHAR(2))\" + '\\n' +\n    \"   SET @DDD = CAST(\" +            (\"'\" + msg.payload.documento.cliente.ddd + \"'\"             || \"NULL\") + \" AS VARCHAR(3))\" + '\\n' +\n    \"   SET @TELEFONE = CAST(\" +       (\"'\" + msg.payload.documento.cliente.telefone + \"'\"        || \"NULL\") + \" AS VARCHAR(15))\" + '\\n' +\n    \"   SET @CONTATO = CAST(\" +        (\"'\" + msg.payload.documento.cliente.contato + \"'\"         || \"NULL\") + \" AS VARCHAR(20))\" + '\\n' + '\\n' +\n\n\n    \"   INSERT INTO RCB (nosso_numero, conta_contabil, cnpj, inscricao, fantasia, nome, logradouro, endereco, numero, complemento, bairro, municipio, cidade, cep, uf, ddd, telefone, contato)\" + '\\n' +\n    \"   VALUES (@NOSSO_NUMERO, @CONTA_CONTABIL, @CNPJ, @INSCRICAO, @FANTASIA, @NOME, @LOGRADOURO, @ENDERECO, @NUMERO, @COMPLEMENTO, @BAIRRO, @MUNICIPIO, @CIDADE, @CEP, @UF, @DDD, @TELEFONE, @CONTATO)\" + '\\n' + '\\n' +\n\n    \"   DECLARE @PEDIDO_NUMERO INT\" + '\\n' + '\\n' +\n    \n    \"   SET @PEDIDO_NUMERO = CAST(\" +   (\"'\" + msg.payload.documento.numero + \"'\"   || \"NULL\") + \" AS INT)\" + '\\n' + '\\n' +\n    \n    \"   INSERT INTO RCB_PED (nosso_numero, numero) VALUES (@NOSSO_NUMERO, @PEDIDO_NUMERO)\" + '\\n' + '\\n' +\n    \n    msg.payload.documento.parcelas.reduce ( (sql, parcela) =>\n        \n        sql + \n        \"   SET @PARCELA = CAST(\" +        (\"'\" + parcela.parcela + \"'\"        || \"NULL\") + \" AS INT)\" + '\\n' +\n        \"   SET @FORMA_PAGTO = CAST(\" +    (\"'\" + parcela.forma_pagto + \"'\"    || \"NULL\") + \" AS VARCHAR(10))\" + '\\n' +\n        \"   SET @TIPO_VENCTO = CAST(\" +    (\"'\" + parcela.tipo_vencto + \"'\"    || \"NULL\") + \" AS VARCHAR(3))\" + '\\n' +\n        \"   SET @VENCTO = CAST(\" +         (\"'\" + parcela.vencto + \"'\"         || \"NULL\") + \" AS DATE)\" + '\\n' +\n        \"   SET @PRAZO = CAST(\" +          (\"'\" + parcela.prazo + \"'\"          || \"NULL\") + \" AS INT)\" + '\\n' +\n        \"   SET @VALOR = CAST(\" +          (\"'\" + parcela.valor + \"'\"          || \"NULL\") + \" AS MONEY)\" + '\\n' +\n        \"   SET @ORIGEM = CAST(\" +         (\"'\" + parcela.origem + \"'\"          || \"NULL\") + \" AS VARCHAR(10))\" + '\\n' + '\\n' +\n        \n        \"   INSERT INTO RCBD (NOSSO_NUMERO, PARCELA, FORMA_PAGTO, TIPO_VENCTO, VENCTO, PRAZO, VALOR, ORIGEM)\" + '\\n' +\n        \"   VALUES (@NOSSO_NUMERO, @PARCELA, @FORMA_PAGTO, @TIPO_VENCTO, @VENCTO, @PRAZO, @VALOR, @ORIGEM)\" + '\\n', '') + '\\n' +\n\n    \"   COMMIT TRANSACTION\" + '\\n' + '\\n' +\n\n    \"END TRY\" + '\\n' +\n    \"BEGIN CATCH\" + '\\n' + '\\n' +\n    \n    \"   DECLARE @ERR_ID INT\" + '\\n' + '\\n' +\n    \n    \"   SET @ERR_ID = NEXT VALUE FOR err_log_seq\" + '\\n' + '\\n' +\n    \n    \"   INSERT INTO err_log SELECT @ERR_ID AS id, ERROR_NUMBER() AS erro, ERROR_SEVERITY() AS nivel, ERROR_STATE() AS situacao, ERROR_PROCEDURE() AS procedimento, ERROR_LINE() AS linha, ERROR_MESSAGE() AS mensagem\" + '\\n' + '\\n' +\n    \n    \"   SELECT * FROM err_log WHERE id = @ERR_ID\" + '\\n' + '\\n' +\n    \n    \"   IF @@TRANCOUNT > 0\" + '\\n' +\n    \"       ROLLBACK TRANSACTION\" + '\\n' + '\\n' +\n    \n    \"   RETURN\" + '\\n' +\n    \"END CATCH\" + '\\n' + '\\n' +\n\n    \"SELECT * FROM @tarefas\" + '\\n'\n\nreturn msg;","outputs":"1","noerr":0,"x":320.1999969482422,"y":860,"wires":[["c28042af.5e156","55b008e0.0e0ac8"]]},{"id":"55b008e0.0e0ac8","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"f8b8e580.ff6178","name":"MSSQL","query":"","outField":"payload","x":550.1999969482422,"y":860,"wires":[["b1d4e852.23ad08"]]},{"id":"634c6c63.88f1d4","type":"http in","z":"e6097cee.8df04","name":"","url":"/api/financeiro/duplicata/cobranca/concluir/:tarefa","method":"post","swaggerDoc":"","x":270.1999969482422,"y":2860,"wires":[["321a93ef.14c0cc","79868802.caa688"]]},{"id":"97643ce3.27fa3","type":"function","z":"e6097cee.8df04","name":"TAREFA","func":"msg.payload = \n\"DECLARE @ID INT \" +\n\"SET @ID = \" + (parseInt(msg.req.params.tarefa) || 'NULL') + \" \" +\n\"UPDATE tarefas SET \" +\n\"\tconcluido = GETDATE() \" +\n\"WHERE \" +\n\"   id = @ID; \" +\n\"SELECT * FROM tarefas WHERE id = @ID;\"\n\nvar remessas = msg.pedido.cobrancas.filter( cobranca => !cobranca.carteira && cobranca.selected ).map( cobranca => {\n    cobranca.carteira = msg.pedido.carteira;\n    cobranca.envio = new Date().toISOString();\n    return cobranca;\n}); // deep clone\n\nmsg.pedido.remessas = JSON.parse(JSON.stringify(remessas)).map( remessa => {\n    remessa.envio = null;\n    remessa.selected = false;\n    return remessa;\n});\n\nif (msg.pedido.cobrancas.find( cob => !cob.selected)) {\n\n    msg.retryTask = \n            \"DECLARE @ID INT \" +\n            \"SET @ID = NEXT VALUE FOR tarefa_sequencia \" +\n            \"INSERT INTO BPM.dbo.tarefas \" +\n            \"   (id, \" +\n            \"   nome, \" +\n            \"   titulo, \" +\n            \"   descricao, \" +\n            \"   conteudo, \" +\n            \"   atribuir, \" +\n            \"   form, \" +\n            \"   parametros, \" +\n            \"   prazo, \" +\n            \"   criado, \" +\n            \"   concluido) \" +\n            \"VALUES \" +\n            \"   (@ID, \" +\n            \"   'Envio de Cobrança', \" +\n            \"   'Pedido \" + msg.pedido.numero + \"', \" +\n            \"   '\" + msg.pedido.cliente.nome + \"', \" +\n            \"   '\" + JSON.stringify(msg.pedido) + \"', \" + \n            \"   'rita', \" +\n            \"   '/duplicata/cobranca/' + CAST(@ID AS NVARCHAR(10)), \" +\n            \"   NULL, \" +\n            \"   NULL, \" +\n            \"   GETDATE(), \" +\n            \"   NULL); \" +\n            \"SELECT * FROM tarefas WHERE id = @ID;\"\n\n}\n\nmsg.nextTask = \n    \"DECLARE @ID INT \" +\n    \"SET @ID = NEXT VALUE FOR tarefa_sequencia \" +\n    \"INSERT INTO BPM.dbo.tarefas \" +\n    \"   (id, \" +\n    \"   nome, \" +\n    \"   titulo, \" +\n    \"   descricao, \" +\n    \"   conteudo, \" +\n    \"   atribuir, \" +\n    \"   form, \" +\n    \"   parametros, \" +\n    \"   prazo, \" +\n    \"   criado, \" +\n    \"   concluido) \" +\n    \"VALUES \" +\n    \"   (@ID, \" +\n    \"   'Remessa de Cobrança', \" +\n    \"   'Pedido \" + msg.pedido.numero + \"', \" +\n    \"   '\" + msg.pedido.cliente.nome + \"', \" +\n    \"   '\" + JSON.stringify(msg.pedido) + \"', \" + \n    \"   'marisa', \" +\n    \"   '/duplicata/remessa/' + CAST(@ID AS NVARCHAR(10)), \" +\n    \"   NULL, \" +\n    \"   NULL, \" +\n    \"   GETDATE(), \" +\n    \"   NULL); \" +\n    \"SELECT * FROM tarefas WHERE id = @ID;\"  \n\nreturn msg;","outputs":"1","noerr":0,"x":180.1999969482422,"y":3400,"wires":[["6cf4e98.34aef18"]]},{"id":"4d8f4bac.49a3f4","type":"http response","z":"e6097cee.8df04","name":"","x":490.1999969482422,"y":3400,"wires":[]},{"id":"6cf4e98.34aef18","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"d8c4c000.9104f","name":"","query":"","outField":"payload","x":320.1999969482422,"y":3400,"wires":[["4d8f4bac.49a3f4","84795b1e.88cb78","2c6d9d0.65ab464"]]},{"id":"d8f5ddc0.356b8","type":"mqtt out","z":"e6097cee.8df04","name":"","topic":"","qos":"","retain":"","broker":"282ac891.392698","x":590.1999969482422,"y":3500,"wires":[]},{"id":"84795b1e.88cb78","type":"function","z":"e6097cee.8df04","name":"CONCLUIDA","func":"msg.payload = msg.payload[0]\nmsg.topic = '/tarefas/concluida/' + msg.payload.atribuir\nreturn msg;","outputs":1,"noerr":0,"x":450.1999969482422,"y":3460,"wires":[["d8f5ddc0.356b8","bb8dbbda.f73018"]]},{"id":"bb8dbbda.f73018","type":"debug","z":"e6097cee.8df04","name":"","active":false,"console":"false","complete":"topic","x":600.1999969482422,"y":3460,"wires":[]},{"id":"321a93ef.14c0cc","type":"debug","z":"e6097cee.8df04","name":"","active":true,"console":"false","complete":"payload","x":180.1999969482422,"y":2900,"wires":[]},{"id":"79868802.caa688","type":"function","z":"e6097cee.8df04","name":"PEDIDO","func":"msg.pedido = msg.payload;\nmsg.payload = \n//\"DECLARE @EMPRESA INT \" +\n\"DECLARE @NUMERO INT \" +\n\"DECLARE @EMISSAO DATE \" +\n\"DECLARE @ENTREGA DATE \" +\n\"DECLARE @CONDICAO VARCHAR(3) \" +\n\"DECLARE @COMISSAO DECIMAL(18, 3) \" +\n\n//\"SET @EMPRESA = CAST(\" + (msg.pedido.empresa || 'NULL') + \" AS INT) \" +\n\"SET @NUMERO = CAST(\" + (msg.pedido.numero || 'NULL') + \" AS INT) \" +\n\"SET @EMISSAO = CAST('\" + (msg.pedido.emissao || 'NULL') + \"' AS DATE) \" +\n\"SET @ENTREGA = CAST('\" + (msg.pedido.entrega || 'NULL') + \"' AS DATE) \" +\n\"SET @CONDICAO = CAST('\" + (msg.pedido.condicao || 'NULL') + \"' AS VARCHAR(3)) \" +\n\"SET @COMISSAO = CAST(\" + (msg.pedido.comissao || 'NULL') + \" AS DECIMAL(18, 3)) \" +\n\n\"MERGE [FINANCEIRO].[dbo].[PED] AS target \" +\n\"    USING (SELECT @NUMERO, @EMISSAO, @ENTREGA, @CONDICAO, @COMISSAO) AS source (NUMERO, EMISSAO, ENTREGA, CONDICAO, COMISSAO) \" +\n\"    ON (target.NUMERO = source.NUMERO) \" +\n\"WHEN MATCHED THEN \" +\n\"    UPDATE SET EMISSAO = source.EMISSAO, ENTREGA = source.ENTREGA, CONDICAO = source.CONDICAO, COMISSAO = source.COMISSAO \" +\n\"WHEN NOT MATCHED THEN \" +\n\"\tINSERT (NUMERO, EMISSAO, ENTREGA, CONDICAO, COMISSAO) \" +\n\"\tVALUES (source.NUMERO, source.EMISSAO, source.ENTREGA, source.CONDICAO, source.COMISSAO); \"\n\nreturn msg;","outputs":1,"noerr":0,"x":180.1999969482422,"y":2960,"wires":[["95bdbb61.23a2a8","ee4fb8cc.2f3868"]]},{"id":"95bdbb61.23a2a8","type":"debug","z":"e6097cee.8df04","name":"","active":false,"console":"false","complete":"payload","x":350.1999969482422,"y":2960,"wires":[]},{"id":"e6eafb51.a950b8","type":"function","z":"e6097cee.8df04","name":"DUPL","func":"msg.payload = \n\"DECLARE @NOSSO_NUMERO INT \" +\n\"DECLARE @PARCELA INT \" +\n\"DECLARE @TIPO VARCHAR(3) \" +\n\"DECLARE @VENCTO DATE \" +\n\"DECLARE @PRAZO INT \" +\n\"DECLARE @PORCENTAGEM DECIMAL(18, 3) \" +\n\"DECLARE @VALOR MONEY \" +\n\"DECLARE @DESCRICAO VARCHAR(50) \" +\n\"DECLARE @ORIGEM VARCHAR(10) \" +\n\n\"SET @NOSSO_NUMERO = CAST(\" +   (\"'\" + (msg.payload.nosso_numero || msg.pedido.numero) + \"'\"   || \"NULL\") + \" AS INT) \" +\n\"SET @PARCELA = CAST(\" +        (\"'\" + msg.payload.parcela + \"'\"        || \"NULL\") + \" AS INT) \" +\n\"SET @TIPO = CAST(\" +           (\"'\" + msg.payload.tipo + \"'\"           || \"NULL\") + \" AS VARCHAR(3)) \" +\n\"SET @VENCTO = CAST(\" +         (\"'\" + msg.payload.vencto + \"'\"         || \"NULL\") + \" AS DATE) \" +\n\"SET @PRAZO = CAST(\" +          (\"'\" + msg.payload.prazo + \"'\"          || \"NULL\") + \" AS INT) \" +\n\"SET @PORCENTAGEM = CAST(\" +    (\"'\" + msg.payload.porcentagem + \"'\"    || \"NULL\") + \" AS DECIMAL(18, 3)) \" +\n\"SET @VALOR = CAST(\" +          (\"'\" + msg.payload.valor + \"'\"          || \"NULL\") + \" AS MONEY) \" +\n\"SET @DESCRICAO = CAST(\" +      (\"'\" + msg.payload.descricao + \"'\"      || \"NULL\") + \" AS VARCHAR(50)) \" +\n\"SET @ORIGEM = 'PEDIDO' \" +\n\n\"MERGE [FINANCEIRO].[dbo].[DUP] AS target \" +\n\"   USING (SELECT @NOSSO_NUMERO, @PARCELA, @TIPO, @VENCTO, @PRAZO, @PORCENTAGEM, @VALOR, @DESCRICAO, @ORIGEM) AS source \" +\n\"   (NOSSO_NUMERO, PARCELA, TIPO, VENCTO, PRAZO, PORCENTAGEM, VALOR, DESCRICAO, ORIGEM) \" +\n\"   ON (target.NOSSO_NUMERO = source.NOSSO_NUMERO AND target.PARCELA = source.PARCELA) \" +\n\"WHEN MATCHED THEN \" +\n\"   UPDATE SET NOSSO_NUMERO = source.NOSSO_NUMERO, PARCELA = source.PARCELA, TIPO = source.TIPO, VENCTO = source.VENCTO, PRAZO = source.PRAZO, PORCENTAGEM = source.PORCENTAGEM, VALOR = source.VALOR, DESCRICAO = source.DESCRICAO, ORIGEM = source.ORIGEM \" +\n\"WHEN NOT MATCHED THEN \" +\n\"\tINSERT (NOSSO_NUMERO, PARCELA, TIPO, VENCTO, PRAZO, PORCENTAGEM, VALOR, DESCRICAO, ORIGEM) \" +\n\"\tVALUES (source.NOSSO_NUMERO, source.PARCELA, source.TIPO, source.VENCTO, source.PRAZO, source.PORCENTAGEM, source.VALOR, source.DESCRICAO, source.ORIGEM); \" +\n\n\"DECLARE @PEDIDO INT \" +\n\"SET @PEDIDO = CAST(\" +         (\"'\" + msg.pedido.numero + \"'\"         || \"NULL\") + \" AS INT) \" +\n\n\"MERGE [FINANCEIRO].[dbo].[PED_DUP] AS target \" +\n\"   USING (SELECT @PEDIDO, @NOSSO_NUMERO, @PARCELA) AS source \" +\n\"   (PED_NUMERO, DUP_NOSSO_NUMERO, DUP_PARCELA) \" +\n\"   ON (target.PED_NUMERO = source.PED_NUMERO AND target.DUP_NOSSO_NUMERO = source.DUP_NOSSO_NUMERO AND target.DUP_PARCELA = source.DUP_PARCELA) \" +\n\"WHEN MATCHED THEN \" +\n\"   UPDATE SET DUP_NOSSO_NUMERO = source.DUP_NOSSO_NUMERO, DUP_PARCELA = source.DUP_PARCELA \" +\n\"WHEN NOT MATCHED THEN \" +\n\"\tINSERT (PED_NUMERO, DUP_NOSSO_NUMERO, DUP_PARCELA) \" +\n\"\tVALUES (source.PED_NUMERO, source.DUP_NOSSO_NUMERO, source.DUP_PARCELA); \"\n\nreturn msg;","outputs":1,"noerr":0,"x":330.1999969482422,"y":3300,"wires":[["8ec6d36c.3e0ee","dc8adb70.3aad68"]]},{"id":"8ec6d36c.3e0ee","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"f8b8e580.ff6178","name":"","query":"","outField":"payload","x":480.1999969482422,"y":3360,"wires":[["94fad658.08cba8"]]},{"id":"dc8adb70.3aad68","type":"debug","z":"e6097cee.8df04","name":"","active":false,"console":"false","complete":"payload","x":490.1999969482422,"y":3300,"wires":[]},{"id":"94fad658.08cba8","type":"function","z":"e6097cee.8df04","name":"LOOP","func":"if (msg.parcela === undefined) {\n    msg.parcela = 0;\n    msg.payload = msg.pedido.parcelas[0]\n    return [msg, null];\n} else {\n    msg.parcela++\n    if (msg.parcela < msg.pedido.parcelas.length) {\n        msg.payload = msg.pedido.parcelas[msg.parcela];\n        return [msg, null];\n    } else {\n        return [null, msg];\n    }\n}","outputs":"2","noerr":0,"x":170.1999969482422,"y":3340,"wires":[["e6eafb51.a950b8"],["97643ce3.27fa3"]]},{"id":"4341c8d0.fca3d8","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"d8c4c000.9104f","name":"","query":"","outField":"payload","x":320.1999969482422,"y":3620,"wires":[["bcfca464.ca86f8","331cc834.c05288"]]},{"id":"efc1387d.110288","type":"mqtt out","z":"e6097cee.8df04","name":"","topic":"","qos":"","retain":"","broker":"282ac891.392698","x":550.1999969482422,"y":3680,"wires":[]},{"id":"2c6d9d0.65ab464","type":"function","z":"e6097cee.8df04","name":"NOVA","func":"msg.payload = msg.nextTask;\nreturn msg;\n","outputs":1,"noerr":0,"x":290.1999969482422,"y":3560,"wires":[["4341c8d0.fca3d8"]]},{"id":"1220b001.13c5","type":"debug","z":"e6097cee.8df04","name":"","active":true,"console":"false","complete":"topic","x":540.1999969482422,"y":3620,"wires":[]},{"id":"bcfca464.ca86f8","type":"function","z":"e6097cee.8df04","name":"NOTIFY","func":"msg.payload = msg.payload[0]\nmsg.topic = '/tarefas/nova/' + msg.payload.atribuir\nreturn msg;","outputs":1,"noerr":0,"x":400.1999969482422,"y":3680,"wires":[["1220b001.13c5","efc1387d.110288"]]},{"id":"75cb837a.66218c","type":"http in","z":"e6097cee.8df04","name":"carteira","url":"/api/financeiro/carteira","method":"get","swaggerDoc":"","x":80.19999694824219,"y":260,"wires":[["ca3c0f19.e128d"]]},{"id":"54b2c8ed.8dee28","type":"http response","z":"e6097cee.8df04","name":"","x":880.1999969482422,"y":260,"wires":[]},{"id":"adbff192.41758","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"f8b8e580.ff6178","name":"","query":"","outField":"payload","x":730.1999969482422,"y":260,"wires":[["54b2c8ed.8dee28"]]},{"id":"ca3c0f19.e128d","type":"function","z":"e6097cee.8df04","name":"SQL","func":"\nmsg.payload = \"SELECT * FROM CRT\"; \n\nreturn msg;","outputs":1,"noerr":0,"x":320.1999969482422,"y":260,"wires":[["2b43b5cc.08b26a"]]},{"id":"126f2429.51433c","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"d8c4c000.9104f","name":"","query":"","outField":"payload","x":290.1999969482422,"y":3900,"wires":[["7fbfd37.c2cc32c"]]},{"id":"6c4f1a4a.8f3d44","type":"mqtt out","z":"e6097cee.8df04","name":"","topic":"","qos":"","retain":"","broker":"282ac891.392698","x":520.1999969482422,"y":3960,"wires":[]},{"id":"331cc834.c05288","type":"function","z":"e6097cee.8df04","name":"NOVA","func":"if (msg.retryTask) {\n    msg.payload = msg.retryTask;\n    return msg;\n}","outputs":1,"noerr":0,"x":280.1999969482422,"y":3840,"wires":[["126f2429.51433c"]]},{"id":"99b3c41d.862688","type":"debug","z":"e6097cee.8df04","name":"","active":true,"console":"false","complete":"topic","x":510.1999969482422,"y":3900,"wires":[]},{"id":"7fbfd37.c2cc32c","type":"function","z":"e6097cee.8df04","name":"NOTIFY","func":"msg.payload = msg.payload[0]\nmsg.topic = '/tarefas/nova/' + msg.payload.atribuir\nreturn msg;","outputs":1,"noerr":0,"x":370.1999969482422,"y":3960,"wires":[["99b3c41d.862688","6c4f1a4a.8f3d44"]]},{"id":"8b6415bb.9ae668","type":"http in","z":"e6097cee.8df04","name":"","url":"/api/financeiro/duplicata/remessa/concluir/:tarefa","method":"post","swaggerDoc":"","x":910.1999969482422,"y":2860,"wires":[["175ac042.71d19","f3be30e3.4e0e4"]]},{"id":"2186b0c5.7988c","type":"function","z":"e6097cee.8df04","name":"TAREFA","func":"msg.payload = \n\"DECLARE @ID INT \" +\n\"SET @ID = \" + (parseInt(msg.req.params.tarefa) || 'NULL') + \" \" +\n\"UPDATE tarefas SET \" +\n\"\tconcluido = GETDATE() \" +\n\"WHERE \" +\n\"   id = @ID; \" +\n\"SELECT * FROM tarefas WHERE id = @ID;\"\n\nvar retornos = JSON.parse(JSON.stringify(msg.pedido.remessas.filter( remessa => !remessa.carteira && remessa.selected ).map( remessa => {\n    remessa.envio = new Date().toISOString();\n}))); // deep clone\n\nmsg.pedido.retornos = retornos.map( ret => {\n    ret.retorno = null;\n    ret.selected = false;\n    return ret;\n})\n\nif (msg.pedido.remessas.find( r => !r.selected)) {\n\n    msg.retryTask = \n            \"DECLARE @ID INT \" +\n            \"SET @ID = NEXT VALUE FOR tarefa_sequencia \" +\n            \"INSERT INTO BPM.dbo.tarefas \" +\n            \"   (id, \" +\n            \"   nome, \" +\n            \"   titulo, \" +\n            \"   descricao, \" +\n            \"   conteudo, \" +\n            \"   atribuir, \" +\n            \"   form, \" +\n            \"   parametros, \" +\n            \"   prazo, \" +\n            \"   criado, \" +\n            \"   concluido) \" +\n            \"VALUES \" +\n            \"   (@ID, \" +\n            \"   'Remessa de Cobrança', \" +\n            \"   'Pedido \" + msg.pedido.numero + \"', \" +\n            \"   '\" + msg.pedido.cliente.nome + \"', \" +\n            \"   '\" + JSON.stringify(msg.pedido) + \"', \" + \n            \"   'marisa', \" +\n            \"   '/duplicata/remessa/' + CAST(@ID AS NVARCHAR(10)), \" +\n            \"   NULL, \" +\n            \"   NULL, \" +\n            \"   GETDATE(), \" +\n            \"   NULL); \" +\n            \"SELECT * FROM tarefas WHERE id = @ID;\"\n\n}\n\nmsg.nextTask = \n    \"DECLARE @ID INT \" +\n    \"SET @ID = NEXT VALUE FOR tarefa_sequencia \" +\n    \"INSERT INTO BPM.dbo.tarefas \" +\n    \"   (id, \" +\n    \"   nome, \" +\n    \"   titulo, \" +\n    \"   descricao, \" +\n    \"   conteudo, \" +\n    \"   atribuir, \" +\n    \"   form, \" +\n    \"   parametros, \" +\n    \"   prazo, \" +\n    \"   criado, \" +\n    \"   concluido) \" +\n    \"VALUES \" +\n    \"   (@ID, \" +\n    \"   'Retorno de Cobrança', \" +\n    \"   'Pedido \" + msg.pedido.numero + \"', \" +\n    \"   '\" + msg.pedido.cliente.nome + \"', \" +\n    \"   '\" + JSON.stringify(msg.pedido) + \"', \" + \n    \"   'marisa', \" +\n    \"   '/duplicata/retorno/' + CAST(@ID AS NVARCHAR(10)), \" +\n    \"   NULL, \" +\n    \"   NULL, \" +\n    \"   GETDATE(), \" +\n    \"   NULL); \" +\n    \"SELECT * FROM tarefas WHERE ID = @ID;\"\n\n\nreturn msg;","outputs":"1","noerr":0,"x":820.1999969482422,"y":3400,"wires":[["d9f40abd.a71c68"]]},{"id":"a5f6ae2b.58117","type":"http response","z":"e6097cee.8df04","name":"","x":1130.1999969482422,"y":3400,"wires":[]},{"id":"d9f40abd.a71c68","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"d8c4c000.9104f","name":"","query":"","outField":"payload","x":980.1999969482422,"y":3400,"wires":[["a5f6ae2b.58117","1604fb11.086585","b87c71cc.16e14"]]},{"id":"691ecd7e.e6a6b4","type":"mqtt out","z":"e6097cee.8df04","name":"","topic":"","qos":"","retain":"","broker":"282ac891.392698","x":1230.1999969482422,"y":3500,"wires":[]},{"id":"1604fb11.086585","type":"function","z":"e6097cee.8df04","name":"CONCLUIDA","func":"msg.payload = msg.payload[0]\nmsg.topic = '/tarefas/concluida/' + msg.payload.atribuir\nreturn msg;","outputs":1,"noerr":0,"x":1090.1999969482422,"y":3460,"wires":[["691ecd7e.e6a6b4","ca19d32f.7e91a"]]},{"id":"ca19d32f.7e91a","type":"debug","z":"e6097cee.8df04","name":"","active":false,"console":"false","complete":"topic","x":1240.1999969482422,"y":3460,"wires":[]},{"id":"175ac042.71d19","type":"debug","z":"e6097cee.8df04","name":"","active":true,"console":"false","complete":"payload.conta","x":850.1999969482422,"y":2900,"wires":[]},{"id":"f3be30e3.4e0e4","type":"function","z":"e6097cee.8df04","name":"PEDIDO","func":"msg.pedido = msg.payload;\nmsg.payload = \n//\"DECLARE @EMPRESA INT \" +\n\"DECLARE @NUMERO INT \" +\n\"DECLARE @EMISSAO DATE \" +\n\"DECLARE @ENTREGA DATE \" +\n\"DECLARE @CONDICAO VARCHAR(3) \" +\n\"DECLARE @COMISSAO DECIMAL(18, 3) \" +\n\n//\"SET @EMPRESA = CAST(\" + (msg.pedido.empresa || 'NULL') + \" AS INT) \" +\n\"SET @NUMERO = CAST(\" + (msg.pedido.numero || 'NULL') + \" AS INT) \" +\n\"SET @EMISSAO = CAST('\" + (msg.pedido.emissao || 'NULL') + \"' AS DATE) \" +\n\"SET @ENTREGA = CAST('\" + (msg.pedido.entrega || 'NULL') + \"' AS DATE) \" +\n\"SET @CONDICAO = CAST('\" + (msg.pedido.condicao || 'NULL') + \"' AS VARCHAR(3)) \" +\n\"SET @COMISSAO = CAST(\" + (msg.pedido.comissao || 'NULL') + \" AS DECIMAL(18, 3)) \" +\n\n\"MERGE [FINANCEIRO].[dbo].[PED] AS target \" +\n\"    USING (SELECT @NUMERO, @EMISSAO, @ENTREGA, @CONDICAO, @COMISSAO) AS source (NUMERO, EMISSAO, ENTREGA, CONDICAO, COMISSAO) \" +\n\"    ON (target.NUMERO = source.NUMERO) \" +\n\"WHEN MATCHED THEN \" +\n\"    UPDATE SET EMISSAO = source.EMISSAO, ENTREGA = source.ENTREGA, CONDICAO = source.CONDICAO, COMISSAO = source.COMISSAO \" +\n\"WHEN NOT MATCHED THEN \" +\n\"\tINSERT (NUMERO, EMISSAO, ENTREGA, CONDICAO, COMISSAO) \" +\n\"\tVALUES (source.NUMERO, source.EMISSAO, source.ENTREGA, source.CONDICAO, source.COMISSAO); \"\n\nreturn msg;","outputs":1,"noerr":0,"x":820.1999969482422,"y":2960,"wires":[["54caa706.398ec8","7660d3c.55f0e2c"]]},{"id":"54caa706.398ec8","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"f8b8e580.ff6178","name":"","query":"","outField":"payload","x":820.1999969482422,"y":3020,"wires":[["dbd7fb3.58c7008"]]},{"id":"7660d3c.55f0e2c","type":"debug","z":"e6097cee.8df04","name":"","active":false,"console":"false","complete":"payload","x":990.1999969482422,"y":2960,"wires":[]},{"id":"dbd7fb3.58c7008","type":"function","z":"e6097cee.8df04","name":"CLIENTE","func":"msg.payload = \n\"DECLARE @CNPJ VARCHAR(20) \" +\n\"DECLARE @INSCRICAO VARCHAR(12) \" +\n\"DECLARE @FANTASIA VARCHAR(30) \" +\n\"DECLARE @NOME VARCHAR(100) \" +\n\"DECLARE @LOGRADOURO VARCHAR(5) \" +\n\"DECLARE @ENDERECO VARCHAR(50) \" +\n\"DECLARE @NUMERO VARCHAR(10) \" +\n\"DECLARE @COMPLEMENTO VARCHAR(20) \" +\n\"DECLARE @BAIRRO VARCHAR(30) \" +\n\"DECLARE @MUNICIPIO INT \" +\n\"DECLARE @CIDADE VARCHAR(20) \" +\n\"DECLARE @CEP CHAR(9) \" +\n\"DECLARE @UF CHAR(2)\" +\n\"DECLARE @DDD VARCHAR(3) \" +\n\"DECLARE @TELEFONE VARCHAR(15) \" +\n\"DECLARE @CONTATO VARCHAR(20) \" +\n\"DECLARE @DESCONTO BIT \" +\n\n\"SET @CNPJ = CAST(\" +           (\"'\" + msg.pedido.cliente.cnpj + \"'\"            || \"NULL\") + \" AS VARCHAR(20)) \" +\n\"SET @INSCRICAO = CAST(\" +      (\"'\" + msg.pedido.cliente.inscricao + \"'\"       || \"NULL\") + \" AS VARCHAR(14)) \" +\n\"SET @FANTASIA = CAST(\" +       (\"'\" + msg.pedido.cliente.fantasia + \"'\"        || \"NULL\") + \" AS VARCHAR(30)) \" +\n\"SET @NOME = CAST(\" +           (\"'\" + msg.pedido.cliente.nome + \"'\"            || \"NULL\") + \" AS VARCHAR(100)) \" +\n\"SET @LOGRADOURO = CAST(\" +     (\"'\" + msg.pedido.cliente.logradouro + \"'\"      || \"NULL\") + \" AS VARCHAR(5)) \" +\n\"SET @ENDERECO = CAST(\" +       (\"'\" + msg.pedido.cliente.endereco + \"'\"        || \"NULL\") + \" AS VARCHAR(50)) \" +\n\"SET @NUMERO = CAST(\" +         (\"'\" + msg.pedido.cliente.numero + \"'\"          || \"NULL\") + \" AS VARCHAR(10)) \" +\n\"SET @COMPLEMENTO = CAST(\" +    (\"'\" + msg.pedido.cliente.complemento + \"'\"     || \"NULL\") + \" AS VARCHAR(20)) \" +\n\"SET @BAIRRO = CAST(\" +         (\"'\" + msg.pedido.cliente.bairro + \"'\"          || \"NULL\") + \" AS VARCHAR(30)) \" +\n\"SET @MUNICIPIO = CAST(\" +      (msg.pedido.cliente.municipio                   || \"NULL\") + \" AS INT) \" +\n\"SET @CIDADE = CAST(\" +         (\"'\" + msg.pedido.cliente.cidade + \"'\"          || \"NULL\") + \" AS VARCHAR(20)) \" +\n\"SET @CEP = CAST(\" +            (\"'\" + msg.pedido.cliente.CEP + \"'\"             || \"NULL\") + \" AS CHAR(9)) \" +\n\"SET @UF = CAST(\" +             (\"'\" + msg.pedido.cliente.UF + \"'\"              || \"NULL\") + \" AS CHAR(2)) \" +\n\"SET @DDD = CAST(\" +            (\"'\" + msg.pedido.cliente.ddd + \"'\"             || \"NULL\") + \" AS VARCHAR(3)) \" +\n\"SET @TELEFONE = CAST(\" +       (\"'\" + msg.pedido.cliente.telefone + \"'\"        || \"NULL\") + \" AS VARCHAR(15)) \" +\n\"SET @CONTATO = CAST(\" +        (\"'\" + msg.pedido.cliente.contato + \"'\"         || \"NULL\") + \" AS VARCHAR(20)) \" +\n\"SET @DESCONTO = CAST(\" +        (\"'\" + msg.pedido.cliente.desconto + \"'\"         || \"NULL\") + \" AS BIT) \" +\n\n\"MERGE [FINANCEIRO].[dbo].[CLI] AS target \" +\n\"   USING (SELECT @CNPJ, @INSCRICAO, @FANTASIA, @NOME, @LOGRADOURO, @ENDERECO, @NUMERO, @COMPLEMENTO, @BAIRRO, @MUNICIPIO, @CIDADE, @CEP, @UF, @DDD, @TELEFONE, @CONTATO, @DESCONTO) AS source \" +\n\"   (CNPJ, INSCRICAO, FANTASIA, NOME, LOGRADOURO, ENDERECO, NUMERO, COMPLEMENTO, BAIRRO, MUNICIPIO, CIDADE, CEP, UF, DDD, TELEFONE, CONTATO, DESCONTO) \" +\n\"   ON (target.CNPJ = source.CNPJ) \" +\n\"WHEN MATCHED THEN \" +\n\"   UPDATE SET INSCRICAO = source.INSCRICAO, FANTASIA = source.FANTASIA, NOME = source.NOME, \" +\n\"   LOGRADOURO = source.LOGRADOURO, ENDERECO = source.ENDERECO, NUMERO = source.NUMERO, COMPLEMENTO = source.COMPLEMENTO, \" +\n\"   BAIRRO = source.BAIRRO, MUNICIPIO = source.MUNICIPIO, CIDADE = source.CIDADE, CEP = source.CEP, UF = source.UF, DDD = source.DDD, TELEFONE = source.TELEFONE, CONTATO = source.CONTATO, DESCONTO = source.DESCONTO \" +\n\"WHEN NOT MATCHED THEN \" +\n\"\tINSERT (CNPJ, INSCRICAO, FANTASIA, NOME, LOGRADOURO, ENDERECO, NUMERO, COMPLEMENTO, BAIRRO, MUNICIPIO, CIDADE, CEP, UF, DDD, TELEFONE, CONTATO, DESCONTO) \" +\n\"\tVALUES (source.CNPJ, source.INSCRICAO, source.FANTASIA, source.NOME, source.LOGRADOURO, source.ENDERECO, source.NUMERO, source.COMPLEMENTO, source.BAIRRO, source.MUNICIPIO, source.CIDADE, source.CEP, source.UF, source.DDD, source.TELEFONE, source.CONTATO, source.DESCONTO); \" +\n\n\"DECLARE @PEDIDO INT \" +\n\"SET @PEDIDO = CAST(\" +         (\"'\" + msg.pedido.numero + \"'\"         || \"NULL\") + \" AS INT) \" +\n\n\"MERGE [FINANCEIRO].[dbo].[PED_CLI] AS target \" +\n\"   USING (SELECT @PEDIDO, @CNPJ) AS source \" +\n\"   (PED_NUMERO, CLI_CNPJ) \" +\n\"   ON (target.PED_NUMERO = source.PED_NUMERO AND target.CLI_CNPJ = source.CLI_CNPJ) \" +\n\"WHEN MATCHED THEN \" +\n\"   UPDATE SET CLI_CNPJ = source.CLI_CNPJ \" +\n\"WHEN NOT MATCHED THEN \" +\n\"\tINSERT (PED_NUMERO, CLI_CNPJ) \" +\n\"\tVALUES (source.PED_NUMERO, source.CLI_CNPJ); \"\n\nreturn msg;","outputs":1,"noerr":0,"x":820.1999969482422,"y":3080,"wires":[["4b4a0f9a.246f8","6d4fe06c.aaf3b"]]},{"id":"4b4a0f9a.246f8","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"f8b8e580.ff6178","name":"","query":"","outField":"payload","x":820.1999969482422,"y":3140,"wires":[["976f9eec.bf557"]]},{"id":"6d4fe06c.aaf3b","type":"debug","z":"e6097cee.8df04","name":"","active":false,"console":"false","complete":"payload","x":990.1999969482422,"y":3080,"wires":[]},{"id":"976f9eec.bf557","type":"function","z":"e6097cee.8df04","name":"REPR.","func":"msg.payload = \n\"DECLARE @CODIGO VARCHAR(3) \" +\n\"DECLARE @NOME VARCHAR(50) \" +\n\n\"SET @CODIGO = CAST(\" +           (\"'\" + msg.pedido.representante.codigo + \"'\"            || \"NULL\") + \" AS VARCHAR(3)) \" +\n\"SET @NOME = CAST(\" +      (\"'\" + msg.pedido.representante.nome + \"'\"       || \"NULL\") + \" AS VARCHAR(50)) \" +\n\n\"MERGE [FINANCEIRO].[dbo].[REP] AS target \" +\n\"   USING (SELECT @CODIGO, @NOME) AS source \" +\n\"   (CODIGO, NOME) \" +\n\"   ON (target.CODIGO = source.CODIGO) \" +\n\"WHEN MATCHED THEN \" +\n\"   UPDATE SET NOME = source.NOME \" +\n\"WHEN NOT MATCHED THEN \" +\n\"\tINSERT (CODIGO, NOME) \" +\n\"\tVALUES (source.CODIGO, source.NOME); \" +\n\n\"DECLARE @PEDIDO INT \" +\n\"SET @PEDIDO = CAST(\" +         (\"'\" + msg.pedido.numero + \"'\"         || \"NULL\") + \" AS INT) \" +\n\n\"MERGE [FINANCEIRO].[dbo].[PED_REP] AS target \" +\n\"   USING (SELECT @PEDIDO, @CODIGO) AS source \" +\n\"   (PED_NUMERO, REP_CODIGO) \" +\n\"   ON (target.PED_NUMERO = source.PED_NUMERO AND target.REP_CODIGO = source.REP_CODIGO) \" +\n\"WHEN MATCHED THEN \" +\n\"   UPDATE SET REP_CODIGO = source.REP_CODIGO \" +\n\"WHEN NOT MATCHED THEN \" +\n\"\tINSERT (PED_NUMERO, REP_CODIGO) \" +\n\"\tVALUES (source.PED_NUMERO, source.REP_CODIGO); \"\n\nreturn msg;","outputs":1,"noerr":0,"x":810.1999969482422,"y":3200,"wires":[["1bdb6f56.f789d1","23eed7f0.ca9198"]]},{"id":"23eed7f0.ca9198","type":"debug","z":"e6097cee.8df04","name":"","active":false,"console":"false","complete":"payload","x":990.1999969482422,"y":3200,"wires":[]},{"id":"1bdb6f56.f789d1","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"f8b8e580.ff6178","name":"","query":"","outField":"payload","x":820.1999969482422,"y":3260,"wires":[["3e38c436.ff3a9c"]]},{"id":"9a935735.ee55a8","type":"function","z":"e6097cee.8df04","name":"DUPL","func":"msg.payload = \n\"DECLARE @NOSSO_NUMERO INT \" +\n\"DECLARE @PARCELA INT \" +\n\"DECLARE @TIPO VARCHAR(3) \" +\n\"DECLARE @VENCTO DATE \" +\n\"DECLARE @PRAZO INT \" +\n\"DECLARE @PORCENTAGEM DECIMAL(18, 3) \" +\n\"DECLARE @VALOR MONEY \" +\n\"DECLARE @DESCRICAO VARCHAR(50) \" +\n\"DECLARE @ORIGEM VARCHAR(10) \" +\n\n\"SET @NOSSO_NUMERO = CAST(\" +   (\"'\" + (msg.payload.nosso_numero || msg.pedido.numero) + \"'\"   || \"NULL\") + \" AS INT) \" +\n\"SET @PARCELA = CAST(\" +        (\"'\" + msg.payload.parcela + \"'\"        || \"NULL\") + \" AS INT) \" +\n\"SET @TIPO = CAST(\" +           (\"'\" + msg.payload.tipo + \"'\"           || \"NULL\") + \" AS VARCHAR(3)) \" +\n\"SET @VENCTO = CAST(\" +         (\"'\" + msg.payload.vencto + \"'\"         || \"NULL\") + \" AS DATE) \" +\n\"SET @PRAZO = CAST(\" +          (\"'\" + msg.payload.prazo + \"'\"          || \"NULL\") + \" AS INT) \" +\n\"SET @PORCENTAGEM = CAST(\" +    (\"'\" + msg.payload.porcentagem + \"'\"    || \"NULL\") + \" AS DECIMAL(18, 3)) \" +\n\"SET @VALOR = CAST(\" +          (\"'\" + msg.payload.valor + \"'\"          || \"NULL\") + \" AS MONEY) \" +\n\"SET @DESCRICAO = CAST(\" +      (\"'\" + msg.payload.descricao + \"'\"      || \"NULL\") + \" AS VARCHAR(50)) \" +\n\"SET @ORIGEM = 'PEDIDO' \" +\n\n\"MERGE [FINANCEIRO].[dbo].[DUP] AS target \" +\n\"   USING (SELECT @NOSSO_NUMERO, @PARCELA, @TIPO, @VENCTO, @PRAZO, @PORCENTAGEM, @VALOR, @DESCRICAO, @ORIGEM) AS source \" +\n\"   (NOSSO_NUMERO, PARCELA, TIPO, VENCTO, PRAZO, PORCENTAGEM, VALOR, DESCRICAO, ORIGEM) \" +\n\"   ON (target.NOSSO_NUMERO = source.NOSSO_NUMERO AND target.PARCELA = source.PARCELA) \" +\n\"WHEN MATCHED THEN \" +\n\"   UPDATE SET NOSSO_NUMERO = source.NOSSO_NUMERO, PARCELA = source.PARCELA, TIPO = source.TIPO, VENCTO = source.VENCTO, PRAZO = source.PRAZO, PORCENTAGEM = source.PORCENTAGEM, VALOR = source.VALOR, DESCRICAO = source.DESCRICAO, ORIGEM = source.ORIGEM \" +\n\"WHEN NOT MATCHED THEN \" +\n\"\tINSERT (NOSSO_NUMERO, PARCELA, TIPO, VENCTO, PRAZO, PORCENTAGEM, VALOR, DESCRICAO, ORIGEM) \" +\n\"\tVALUES (source.NOSSO_NUMERO, source.PARCELA, source.TIPO, source.VENCTO, source.PRAZO, source.PORCENTAGEM, source.VALOR, source.DESCRICAO, source.ORIGEM); \" +\n\n\"DECLARE @PEDIDO INT \" +\n\"SET @PEDIDO = CAST(\" +         (\"'\" + msg.pedido.numero + \"'\"         || \"NULL\") + \" AS INT) \" +\n\n\"MERGE [FINANCEIRO].[dbo].[PED_DUP] AS target \" +\n\"   USING (SELECT @PEDIDO, @NOSSO_NUMERO, @PARCELA) AS source \" +\n\"   (PED_NUMERO, DUP_NOSSO_NUMERO, DUP_PARCELA) \" +\n\"   ON (target.PED_NUMERO = source.PED_NUMERO AND target.DUP_NOSSO_NUMERO = source.DUP_NOSSO_NUMERO AND target.DUP_PARCELA = source.DUP_PARCELA) \" +\n\"WHEN MATCHED THEN \" +\n\"   UPDATE SET DUP_NOSSO_NUMERO = source.DUP_NOSSO_NUMERO, DUP_PARCELA = source.DUP_PARCELA \" +\n\"WHEN NOT MATCHED THEN \" +\n\"\tINSERT (PED_NUMERO, DUP_NOSSO_NUMERO, DUP_PARCELA) \" +\n\"\tVALUES (source.PED_NUMERO, source.DUP_NOSSO_NUMERO, source.DUP_PARCELA); \"\n\nreturn msg;","outputs":1,"noerr":0,"x":970.1999969482422,"y":3300,"wires":[["9651c225.fa4cc","5186c81f.6a6568"]]},{"id":"9651c225.fa4cc","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"f8b8e580.ff6178","name":"","query":"","outField":"payload","x":1120.1999969482422,"y":3360,"wires":[["3e38c436.ff3a9c"]]},{"id":"5186c81f.6a6568","type":"debug","z":"e6097cee.8df04","name":"","active":false,"console":"false","complete":"payload","x":1130.1999969482422,"y":3300,"wires":[]},{"id":"3e38c436.ff3a9c","type":"function","z":"e6097cee.8df04","name":"LOOP","func":"if (msg.parcela === undefined) {\n    msg.parcela = 0;\n    msg.payload = msg.pedido.parcelas[0]\n    return [msg, null];\n} else {\n    msg.parcela++\n    if (msg.parcela < msg.pedido.parcelas.length) {\n        msg.payload = msg.pedido.parcelas[msg.parcela];\n        return [msg, null];\n    } else {\n        return [null, msg];\n    }\n}","outputs":"2","noerr":0,"x":810.1999969482422,"y":3340,"wires":[["9a935735.ee55a8"],["2186b0c5.7988c"]]},{"id":"3ccfd260.41e80e","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"d8c4c000.9104f","name":"","query":"","outField":"payload","x":960.1999969482422,"y":3620,"wires":[["b6f37794.3a4388","3b12c5d9.5dffba"]]},{"id":"1db85bc6.40bbc4","type":"mqtt out","z":"e6097cee.8df04","name":"","topic":"","qos":"","retain":"","broker":"282ac891.392698","x":1190.1999969482422,"y":3680,"wires":[]},{"id":"b87c71cc.16e14","type":"function","z":"e6097cee.8df04","name":"NOVA","func":"msg.payload = msg.nextTask;\nreturn msg;\n","outputs":1,"noerr":0,"x":950.1999969482422,"y":3560,"wires":[["3ccfd260.41e80e"]]},{"id":"a38b35e4.8e3b18","type":"debug","z":"e6097cee.8df04","name":"","active":true,"console":"false","complete":"topic","x":1180.1999969482422,"y":3620,"wires":[]},{"id":"b6f37794.3a4388","type":"function","z":"e6097cee.8df04","name":"NOTIFY","func":"msg.payload = msg.payload[0]\nmsg.topic = '/tarefas/nova/' + msg.payload.atribuir\nreturn msg;","outputs":1,"noerr":0,"x":1040.1999969482422,"y":3680,"wires":[["a38b35e4.8e3b18","1db85bc6.40bbc4"]]},{"id":"d08adb84.249448","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"d8c4c000.9104f","name":"","query":"","outField":"payload","x":960.1999969482422,"y":3800,"wires":[["94994a6.4957eb8"]]},{"id":"2eb3f7dc.cc4198","type":"mqtt out","z":"e6097cee.8df04","name":"","topic":"","qos":"","retain":"","broker":"282ac891.392698","x":1190.1999969482422,"y":3860,"wires":[]},{"id":"3b12c5d9.5dffba","type":"function","z":"e6097cee.8df04","name":"NOVA","func":"if (msg.retryTask) {\n    msg.payload = msg.retryTask;\n    return msg;\n}","outputs":1,"noerr":0,"x":950.1999969482422,"y":3740,"wires":[["d08adb84.249448"]]},{"id":"72cc5059.d097d","type":"debug","z":"e6097cee.8df04","name":"","active":true,"console":"false","complete":"topic","x":1180.1999969482422,"y":3800,"wires":[]},{"id":"94994a6.4957eb8","type":"function","z":"e6097cee.8df04","name":"NOTIFY","func":"msg.payload = msg.payload[0]\nmsg.topic = '/tarefas/nova/' + msg.payload.atribuir\nreturn msg;","outputs":1,"noerr":0,"x":1040.1999969482422,"y":3860,"wires":[["72cc5059.d097d","2eb3f7dc.cc4198"]]},{"id":"f1bdc728.8576f8","type":"http in","z":"e6097cee.8df04","name":"","url":"/api/financeiro/duplicata/retorno/concluir/:tarefa","method":"post","swaggerDoc":"","x":1550.1999969482422,"y":2860,"wires":[["1bd47090.276b7f","e33327d6.a98098"]]},{"id":"44907bc1.252124","type":"function","z":"e6097cee.8df04","name":"TAREFA","func":"msg.payload = \n\"DECLARE @ID INT \" +\n\"SET @ID = \" + (parseInt(msg.req.params.tarefa) || 'NULL') + \" \" +\n\"UPDATE tarefas SET \" +\n\"\tconcluido = GETDATE() \" +\n\"WHERE \" +\n\"   id = @ID; \" +\n\"SELECT * FROM tarefas WHERE id = @ID;\"\n\nreturn msg;","outputs":"1","noerr":0,"x":1460.1999969482422,"y":3400,"wires":[["324bed26.ee0f52"]]},{"id":"e3ecd92d.7afe98","type":"http response","z":"e6097cee.8df04","name":"","x":1770.1999969482422,"y":3400,"wires":[]},{"id":"324bed26.ee0f52","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"d8c4c000.9104f","name":"","query":"","outField":"payload","x":1620.1999969482422,"y":3400,"wires":[["e3ecd92d.7afe98","42ebd18e.798b"]]},{"id":"32d07ef6.611e02","type":"mqtt out","z":"e6097cee.8df04","name":"","topic":"","qos":"","retain":"","broker":"282ac891.392698","x":1870.1999969482422,"y":3500,"wires":[]},{"id":"42ebd18e.798b","type":"function","z":"e6097cee.8df04","name":"CONCLUIDA","func":"msg.payload = msg.payload[0]\nmsg.topic = '/tarefas/concluida/' + msg.payload.atribuir\nreturn msg;","outputs":1,"noerr":0,"x":1730.1999969482422,"y":3460,"wires":[["32d07ef6.611e02","22fe61e3.84d65e"]]},{"id":"22fe61e3.84d65e","type":"debug","z":"e6097cee.8df04","name":"","active":true,"console":"false","complete":"topic","x":1880.1999969482422,"y":3460,"wires":[]},{"id":"1bd47090.276b7f","type":"debug","z":"e6097cee.8df04","name":"","active":true,"console":"false","complete":"payload.conta","x":1490.1999969482422,"y":2920,"wires":[]},{"id":"e33327d6.a98098","type":"function","z":"e6097cee.8df04","name":"PEDIDO","func":"msg.pedido = msg.payload;\nmsg.payload = \n//\"DECLARE @EMPRESA INT \" +\n\"DECLARE @NUMERO INT \" +\n\"DECLARE @EMISSAO DATE \" +\n\"DECLARE @ENTREGA DATE \" +\n\"DECLARE @CONDICAO VARCHAR(3) \" +\n\"DECLARE @COMISSAO DECIMAL(18, 3) \" +\n\n//\"SET @EMPRESA = CAST(\" + (msg.pedido.empresa || 'NULL') + \" AS INT) \" +\n\"SET @NUMERO = CAST(\" + (msg.pedido.numero || 'NULL') + \" AS INT) \" +\n\"SET @EMISSAO = CAST('\" + (msg.pedido.emissao || 'NULL') + \"' AS DATE) \" +\n\"SET @ENTREGA = CAST('\" + (msg.pedido.entrega || 'NULL') + \"' AS DATE) \" +\n\"SET @CONDICAO = CAST('\" + (msg.pedido.condicao || 'NULL') + \"' AS VARCHAR(3)) \" +\n\"SET @COMISSAO = CAST(\" + (msg.pedido.comissao || 'NULL') + \" AS DECIMAL(18, 3)) \" +\n\n\"MERGE [FINANCEIRO].[dbo].[PED] AS target \" +\n\"    USING (SELECT @NUMERO, @EMISSAO, @ENTREGA, @CONDICAO, @COMISSAO) AS source (NUMERO, EMISSAO, ENTREGA, CONDICAO, COMISSAO) \" +\n\"    ON (target.NUMERO = source.NUMERO) \" +\n\"WHEN MATCHED THEN \" +\n\"    UPDATE SET EMISSAO = source.EMISSAO, ENTREGA = source.ENTREGA, CONDICAO = source.CONDICAO, COMISSAO = source.COMISSAO \" +\n\"WHEN NOT MATCHED THEN \" +\n\"\tINSERT (NUMERO, EMISSAO, ENTREGA, CONDICAO, COMISSAO) \" +\n\"\tVALUES (source.NUMERO, source.EMISSAO, source.ENTREGA, source.CONDICAO, source.COMISSAO); \"\n\nreturn msg;","outputs":1,"noerr":0,"x":1460.1999969482422,"y":2960,"wires":[["50f20cf9.cd35a4","2f259189.25da9e"]]},{"id":"50f20cf9.cd35a4","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"f8b8e580.ff6178","name":"","query":"","outField":"payload","x":1460.1999969482422,"y":3020,"wires":[["912eb45b.ef4988"]]},{"id":"2f259189.25da9e","type":"debug","z":"e6097cee.8df04","name":"","active":true,"console":"false","complete":"payload","x":1630.1999969482422,"y":2960,"wires":[]},{"id":"912eb45b.ef4988","type":"function","z":"e6097cee.8df04","name":"CLIENTE","func":"msg.payload = \n\"DECLARE @CNPJ VARCHAR(20) \" +\n\"DECLARE @INSCRICAO VARCHAR(12) \" +\n\"DECLARE @FANTASIA VARCHAR(30) \" +\n\"DECLARE @NOME VARCHAR(100) \" +\n\"DECLARE @LOGRADOURO VARCHAR(5) \" +\n\"DECLARE @ENDERECO VARCHAR(50) \" +\n\"DECLARE @NUMERO VARCHAR(10) \" +\n\"DECLARE @COMPLEMENTO VARCHAR(20) \" +\n\"DECLARE @BAIRRO VARCHAR(30) \" +\n\"DECLARE @MUNICIPIO INT \" +\n\"DECLARE @CIDADE VARCHAR(20) \" +\n\"DECLARE @CEP CHAR(9) \" +\n\"DECLARE @UF CHAR(2)\" +\n\"DECLARE @DDD VARCHAR(3) \" +\n\"DECLARE @TELEFONE VARCHAR(15) \" +\n\"DECLARE @CONTATO VARCHAR(20) \" +\n\"DECLARE @DESCONTO BIT \" +\n\n\"SET @CNPJ = CAST(\" +           (\"'\" + msg.pedido.cliente.cnpj + \"'\"            || \"NULL\") + \" AS VARCHAR(20)) \" +\n\"SET @INSCRICAO = CAST(\" +      (\"'\" + msg.pedido.cliente.inscricao + \"'\"       || \"NULL\") + \" AS VARCHAR(14)) \" +\n\"SET @FANTASIA = CAST(\" +       (\"'\" + msg.pedido.cliente.fantasia + \"'\"        || \"NULL\") + \" AS VARCHAR(30)) \" +\n\"SET @NOME = CAST(\" +           (\"'\" + msg.pedido.cliente.nome + \"'\"            || \"NULL\") + \" AS VARCHAR(100)) \" +\n\"SET @LOGRADOURO = CAST(\" +     (\"'\" + msg.pedido.cliente.logradouro + \"'\"      || \"NULL\") + \" AS VARCHAR(5)) \" +\n\"SET @ENDERECO = CAST(\" +       (\"'\" + msg.pedido.cliente.endereco + \"'\"        || \"NULL\") + \" AS VARCHAR(50)) \" +\n\"SET @NUMERO = CAST(\" +         (\"'\" + msg.pedido.cliente.numero + \"'\"          || \"NULL\") + \" AS VARCHAR(10)) \" +\n\"SET @COMPLEMENTO = CAST(\" +    (\"'\" + msg.pedido.cliente.complemento + \"'\"     || \"NULL\") + \" AS VARCHAR(20)) \" +\n\"SET @BAIRRO = CAST(\" +         (\"'\" + msg.pedido.cliente.bairro + \"'\"          || \"NULL\") + \" AS VARCHAR(30)) \" +\n\"SET @MUNICIPIO = CAST(\" +      (msg.pedido.cliente.municipio                   || \"NULL\") + \" AS INT) \" +\n\"SET @CIDADE = CAST(\" +         (\"'\" + msg.pedido.cliente.cidade + \"'\"          || \"NULL\") + \" AS VARCHAR(20)) \" +\n\"SET @CEP = CAST(\" +            (\"'\" + msg.pedido.cliente.CEP + \"'\"             || \"NULL\") + \" AS CHAR(9)) \" +\n\"SET @UF = CAST(\" +             (\"'\" + msg.pedido.cliente.UF + \"'\"              || \"NULL\") + \" AS CHAR(2)) \" +\n\"SET @DDD = CAST(\" +            (\"'\" + msg.pedido.cliente.ddd + \"'\"             || \"NULL\") + \" AS VARCHAR(3)) \" +\n\"SET @TELEFONE = CAST(\" +       (\"'\" + msg.pedido.cliente.telefone + \"'\"        || \"NULL\") + \" AS VARCHAR(15)) \" +\n\"SET @CONTATO = CAST(\" +        (\"'\" + msg.pedido.cliente.contato + \"'\"         || \"NULL\") + \" AS VARCHAR(20)) \" +\n\"SET @DESCONTO = CAST(\" +        (\"'\" + msg.pedido.cliente.desconto + \"'\"         || \"NULL\") + \" AS BIT) \" +\n\n\"MERGE [FINANCEIRO].[dbo].[CLI] AS target \" +\n\"   USING (SELECT @CNPJ, @INSCRICAO, @FANTASIA, @NOME, @LOGRADOURO, @ENDERECO, @NUMERO, @COMPLEMENTO, @BAIRRO, @MUNICIPIO, @CIDADE, @CEP, @UF, @DDD, @TELEFONE, @CONTATO, @DESCONTO) AS source \" +\n\"   (CNPJ, INSCRICAO, FANTASIA, NOME, LOGRADOURO, ENDERECO, NUMERO, COMPLEMENTO, BAIRRO, MUNICIPIO, CIDADE, CEP, UF, DDD, TELEFONE, CONTATO, DESCONTO) \" +\n\"   ON (target.CNPJ = source.CNPJ) \" +\n\"WHEN MATCHED THEN \" +\n\"   UPDATE SET INSCRICAO = source.INSCRICAO, FANTASIA = source.FANTASIA, NOME = source.NOME, \" +\n\"   LOGRADOURO = source.LOGRADOURO, ENDERECO = source.ENDERECO, NUMERO = source.NUMERO, COMPLEMENTO = source.COMPLEMENTO, \" +\n\"   BAIRRO = source.BAIRRO, MUNICIPIO = source.MUNICIPIO, CIDADE = source.CIDADE, CEP = source.CEP, UF = source.UF, DDD = source.DDD, TELEFONE = source.TELEFONE, CONTATO = source.CONTATO, DESCONTO = source.DESCONTO \" +\n\"WHEN NOT MATCHED THEN \" +\n\"\tINSERT (CNPJ, INSCRICAO, FANTASIA, NOME, LOGRADOURO, ENDERECO, NUMERO, COMPLEMENTO, BAIRRO, MUNICIPIO, CIDADE, CEP, UF, DDD, TELEFONE, CONTATO, DESCONTO) \" +\n\"\tVALUES (source.CNPJ, source.INSCRICAO, source.FANTASIA, source.NOME, source.LOGRADOURO, source.ENDERECO, source.NUMERO, source.COMPLEMENTO, source.BAIRRO, source.MUNICIPIO, source.CIDADE, source.CEP, source.UF, source.DDD, source.TELEFONE, source.CONTATO, source.DESCONTO); \" +\n\n\"DECLARE @PEDIDO INT \" +\n\"SET @PEDIDO = CAST(\" +         (\"'\" + msg.pedido.numero + \"'\"         || \"NULL\") + \" AS INT) \" +\n\n\"MERGE [FINANCEIRO].[dbo].[PED_CLI] AS target \" +\n\"   USING (SELECT @PEDIDO, @CNPJ) AS source \" +\n\"   (PED_NUMERO, CLI_CNPJ) \" +\n\"   ON (target.PED_NUMERO = source.PED_NUMERO AND target.CLI_CNPJ = source.CLI_CNPJ) \" +\n\"WHEN MATCHED THEN \" +\n\"   UPDATE SET CLI_CNPJ = source.CLI_CNPJ \" +\n\"WHEN NOT MATCHED THEN \" +\n\"\tINSERT (PED_NUMERO, CLI_CNPJ) \" +\n\"\tVALUES (source.PED_NUMERO, source.CLI_CNPJ); \"\n\nreturn msg;","outputs":1,"noerr":0,"x":1460.1999969482422,"y":3080,"wires":[["d0468f60.b2aa","3f1fa803.3b96d8"]]},{"id":"d0468f60.b2aa","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"f8b8e580.ff6178","name":"","query":"","outField":"payload","x":1460.1999969482422,"y":3140,"wires":[["1ad771b1.d7732e"]]},{"id":"3f1fa803.3b96d8","type":"debug","z":"e6097cee.8df04","name":"","active":true,"console":"false","complete":"payload","x":1630.1999969482422,"y":3080,"wires":[]},{"id":"1ad771b1.d7732e","type":"function","z":"e6097cee.8df04","name":"REPR.","func":"msg.payload = \n\"DECLARE @CODIGO VARCHAR(3) \" +\n\"DECLARE @NOME VARCHAR(50) \" +\n\n\"SET @CODIGO = CAST(\" +           (\"'\" + msg.pedido.representante.codigo + \"'\"            || \"NULL\") + \" AS VARCHAR(3)) \" +\n\"SET @NOME = CAST(\" +      (\"'\" + msg.pedido.representante.nome + \"'\"       || \"NULL\") + \" AS VARCHAR(50)) \" +\n\n\"MERGE [FINANCEIRO].[dbo].[REP] AS target \" +\n\"   USING (SELECT @CODIGO, @NOME) AS source \" +\n\"   (CODIGO, NOME) \" +\n\"   ON (target.CODIGO = source.CODIGO) \" +\n\"WHEN MATCHED THEN \" +\n\"   UPDATE SET NOME = source.NOME \" +\n\"WHEN NOT MATCHED THEN \" +\n\"\tINSERT (CODIGO, NOME) \" +\n\"\tVALUES (source.CODIGO, source.NOME); \" +\n\n\"DECLARE @PEDIDO INT \" +\n\"SET @PEDIDO = CAST(\" +         (\"'\" + msg.pedido.numero + \"'\"         || \"NULL\") + \" AS INT) \" +\n\n\"MERGE [FINANCEIRO].[dbo].[PED_REP] AS target \" +\n\"   USING (SELECT @PEDIDO, @CODIGO) AS source \" +\n\"   (PED_NUMERO, REP_CODIGO) \" +\n\"   ON (target.PED_NUMERO = source.PED_NUMERO AND target.REP_CODIGO = source.REP_CODIGO) \" +\n\"WHEN MATCHED THEN \" +\n\"   UPDATE SET REP_CODIGO = source.REP_CODIGO \" +\n\"WHEN NOT MATCHED THEN \" +\n\"\tINSERT (PED_NUMERO, REP_CODIGO) \" +\n\"\tVALUES (source.PED_NUMERO, source.REP_CODIGO); \"\n\nreturn msg;","outputs":1,"noerr":0,"x":1450.1999969482422,"y":3200,"wires":[["1f742159.78e9cf","a49ff794.c593a8"]]},{"id":"a49ff794.c593a8","type":"debug","z":"e6097cee.8df04","name":"","active":true,"console":"false","complete":"payload","x":1630.1999969482422,"y":3200,"wires":[]},{"id":"1f742159.78e9cf","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"f8b8e580.ff6178","name":"","query":"","outField":"payload","x":1460.1999969482422,"y":3260,"wires":[["98ff7c4c.0402d"]]},{"id":"4d2f2f93.24ed9","type":"function","z":"e6097cee.8df04","name":"DUPL","func":"msg.payload = \n\"DECLARE @NOSSO_NUMERO INT \" +\n\"DECLARE @PARCELA INT \" +\n\"DECLARE @TIPO VARCHAR(3) \" +\n\"DECLARE @VENCTO DATE \" +\n\"DECLARE @PRAZO INT \" +\n\"DECLARE @PORCENTAGEM DECIMAL(18, 3) \" +\n\"DECLARE @VALOR MONEY \" +\n\"DECLARE @DESCRICAO VARCHAR(50) \" +\n\"DECLARE @ORIGEM VARCHAR(10) \" +\n\n\"SET @NOSSO_NUMERO = CAST(\" +   (\"'\" + msg.payload.nosso_numero + \"'\"   || \"NULL\") + \" AS INT) \" +\n\"SET @PARCELA = CAST(\" +        (\"'\" + msg.payload.parcela + \"'\"        || \"NULL\") + \" AS INT) \" +\n\"SET @TIPO = CAST(\" +           (\"'\" + msg.payload.tipo + \"'\"           || \"NULL\") + \" AS VARCHAR(3)) \" +\n\"SET @VENCTO = CAST(\" +         (\"'\" + msg.payload.vencto + \"'\"         || \"NULL\") + \" AS DATE) \" +\n\"SET @PRAZO = CAST(\" +          (\"'\" + msg.payload.prazo + \"'\"          || \"NULL\") + \" AS INT) \" +\n\"SET @PORCENTAGEM = CAST(\" +    (\"'\" + msg.payload.porcentagem + \"'\"    || \"NULL\") + \" AS DECIMAL(18, 3)) \" +\n\"SET @VALOR = CAST(\" +          (\"'\" + msg.payload.valor + \"'\"          || \"NULL\") + \" AS MONEY) \" +\n\"SET @DESCRICAO = CAST(\" +      (\"'\" + msg.payload.descricao + \"'\"      || \"NULL\") + \" AS VARCHAR(50)) \" +\n\"SET @ORIGEM = 'PEDIDO' \" +\n\n\"MERGE [FINANCEIRO].[dbo].[DUP] AS target \" +\n\"   USING (SELECT @NOSSO_NUMERO, @PARCELA, @TIPO, @VENCTO, @PRAZO, @PORCENTAGEM, @VALOR, @DESCRICAO, @ORIGEM) AS source \" +\n\"   (NOSSO_NUMERO, PARCELA, TIPO, VENCTO, PRAZO, PORCENTAGEM, VALOR, DESCRICAO, ORIGEM) \" +\n\"   ON (target.NOSSO_NUMERO = source.NOSSO_NUMERO AND target.PARCELA = source.PARCELA) \" +\n\"WHEN MATCHED THEN \" +\n\"   UPDATE SET NOSSO_NUMERO = source.NOSSO_NUMERO, PARCELA = source.PARCELA, TIPO = source.TIPO, VENCTO = source.VENCTO, PRAZO = source.PRAZO, PORCENTAGEM = source.PORCENTAGEM, VALOR = source.VALOR, DESCRICAO = source.DESCRICAO, ORIGEM = source.ORIGEM \" +\n\"WHEN NOT MATCHED THEN \" +\n\"\tINSERT (NOSSO_NUMERO, PARCELA, TIPO, VENCTO, PRAZO, PORCENTAGEM, VALOR, DESCRICAO, ORIGEM) \" +\n\"\tVALUES (source.NOSSO_NUMERO, source.PARCELA, source.TIPO, source.VENCTO, source.PRAZO, source.PORCENTAGEM, source.VALOR, source.DESCRICAO, source.ORIGEM); \" +\n\n\"DECLARE @PEDIDO INT \" +\n\"SET @PEDIDO = CAST(\" +         (\"'\" + msg.pedido.numero + \"'\"         || \"NULL\") + \" AS INT) \" +\n\n\"MERGE [FINANCEIRO].[dbo].[PED_DUP] AS target \" +\n\"   USING (SELECT @PEDIDO, @NOSSO_NUMERO, @PARCELA) AS source \" +\n\"   (PED_NUMERO, DUP_NOSSO_NUMERO, DUP_PARCELA) \" +\n\"   ON (target.PED_NUMERO = source.PED_NUMERO AND target.DUP_NOSSO_NUMERO = source.DUP_NOSSO_NUMERO AND target.DUP_PARCELA = source.DUP_PARCELA) \" +\n\"WHEN MATCHED THEN \" +\n\"   UPDATE SET DUP_NOSSO_NUMERO = source.DUP_NOSSO_NUMERO, DUP_PARCELA = source.DUP_PARCELA \" +\n\"WHEN NOT MATCHED THEN \" +\n\"\tINSERT (PED_NUMERO, DUP_NOSSO_NUMERO, DUP_PARCELA) \" +\n\"\tVALUES (source.PED_NUMERO, source.DUP_NOSSO_NUMERO, source.DUP_PARCELA); \"\n\nreturn msg;","outputs":1,"noerr":0,"x":1610.1999969482422,"y":3300,"wires":[["54e3260.4d220dc","3987d90e.95b7c6"]]},{"id":"54e3260.4d220dc","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"f8b8e580.ff6178","name":"","query":"","outField":"payload","x":1760.1999969482422,"y":3360,"wires":[["98ff7c4c.0402d"]]},{"id":"3987d90e.95b7c6","type":"debug","z":"e6097cee.8df04","name":"","active":true,"console":"false","complete":"payload","x":1770.1999969482422,"y":3300,"wires":[]},{"id":"98ff7c4c.0402d","type":"function","z":"e6097cee.8df04","name":"LOOP","func":"if (msg.parcela === undefined) {\n    msg.parcela = 0;\n    msg.payload = msg.pedido.parcelas[0]\n    return [msg, null];\n} else {\n    msg.parcela++\n    if (msg.parcela < msg.pedido.parcelas.length) {\n        msg.payload = msg.pedido.parcelas[msg.parcela];\n        return [msg, null];\n    } else {\n        return [null, msg];\n    }\n}","outputs":"2","noerr":0,"x":1450.1999969482422,"y":3340,"wires":[["4d2f2f93.24ed9"],["44907bc1.252124"]]},{"id":"f0cd5062.df4bb","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"f8b8e580.ff6178","name":"","query":"","outField":"payload","x":180.1999969482422,"y":3260,"wires":[["94fad658.08cba8"]]},{"id":"5f77ae2e.3a53b","type":"debug","z":"e6097cee.8df04","name":"","active":false,"console":"false","complete":"payload","x":350.1999969482422,"y":3200,"wires":[]},{"id":"1b6848a9.3b6bb7","type":"function","z":"e6097cee.8df04","name":"REPR.","func":"msg.payload = \n\"DECLARE @CODIGO VARCHAR(3) \" +\n\"DECLARE @NOME VARCHAR(50) \" +\n\n\"SET @CODIGO = CAST(\" +           (\"'\" + msg.pedido.representante.codigo + \"'\"            || \"NULL\") + \" AS VARCHAR(3)) \" +\n\"SET @NOME = CAST(\" +      (\"'\" + msg.pedido.representante.nome + \"'\"       || \"NULL\") + \" AS VARCHAR(50)) \" +\n\n\"MERGE [FINANCEIRO].[dbo].[REP] AS target \" +\n\"   USING (SELECT @CODIGO, @NOME) AS source \" +\n\"   (CODIGO, NOME) \" +\n\"   ON (target.CODIGO = source.CODIGO) \" +\n\"WHEN MATCHED THEN \" +\n\"   UPDATE SET NOME = source.NOME \" +\n\"WHEN NOT MATCHED THEN \" +\n\"\tINSERT (CODIGO, NOME) \" +\n\"\tVALUES (source.CODIGO, source.NOME); \" +\n\n\"DECLARE @PEDIDO INT \" +\n\"SET @PEDIDO = CAST(\" +         (\"'\" + msg.pedido.numero + \"'\"         || \"NULL\") + \" AS INT) \" +\n\n\"MERGE [FINANCEIRO].[dbo].[PED_REP] AS target \" +\n\"   USING (SELECT @PEDIDO, @CODIGO) AS source \" +\n\"   (PED_NUMERO, REP_CODIGO) \" +\n\"   ON (target.PED_NUMERO = source.PED_NUMERO AND target.REP_CODIGO = source.REP_CODIGO) \" +\n\"WHEN MATCHED THEN \" +\n\"   UPDATE SET REP_CODIGO = source.REP_CODIGO \" +\n\"WHEN NOT MATCHED THEN \" +\n\"\tINSERT (PED_NUMERO, REP_CODIGO) \" +\n\"\tVALUES (source.PED_NUMERO, source.REP_CODIGO); \"\n\nreturn msg;","outputs":1,"noerr":0,"x":170.1999969482422,"y":3200,"wires":[["f0cd5062.df4bb","5f77ae2e.3a53b"]]},{"id":"76d9c975.dec558","type":"debug","z":"e6097cee.8df04","name":"","active":false,"console":"false","complete":"payload","x":350.1999969482422,"y":3080,"wires":[]},{"id":"6fd933e4.1b538c","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"f8b8e580.ff6178","name":"","query":"","outField":"payload","x":180.1999969482422,"y":3140,"wires":[["1b6848a9.3b6bb7"]]},{"id":"f912b807.e87018","type":"function","z":"e6097cee.8df04","name":"CLIENTE","func":"msg.payload = \n\"DECLARE @CNPJ VARCHAR(20) \" +\n\"DECLARE @INSCRICAO VARCHAR(12) \" +\n\"DECLARE @FANTASIA VARCHAR(30) \" +\n\"DECLARE @NOME VARCHAR(100) \" +\n\"DECLARE @LOGRADOURO VARCHAR(5) \" +\n\"DECLARE @ENDERECO VARCHAR(50) \" +\n\"DECLARE @NUMERO VARCHAR(10) \" +\n\"DECLARE @COMPLEMENTO VARCHAR(20) \" +\n\"DECLARE @BAIRRO VARCHAR(30) \" +\n\"DECLARE @MUNICIPIO INT \" +\n\"DECLARE @CIDADE VARCHAR(20) \" +\n\"DECLARE @CEP CHAR(9) \" +\n\"DECLARE @UF CHAR(2)\" +\n\"DECLARE @DDD VARCHAR(3) \" +\n\"DECLARE @TELEFONE VARCHAR(15) \" +\n\"DECLARE @CONTATO VARCHAR(20) \" +\n\"DECLARE @DESCONTO BIT \" +\n\n\"SET @CNPJ = CAST(\" +           (\"'\" + msg.pedido.cliente.cnpj + \"'\"            || \"NULL\") + \" AS VARCHAR(20)) \" +\n\"SET @INSCRICAO = CAST(\" +      (\"'\" + msg.pedido.cliente.inscricao + \"'\"       || \"NULL\") + \" AS VARCHAR(14)) \" +\n\"SET @FANTASIA = CAST(\" +       (\"'\" + msg.pedido.cliente.fantasia + \"'\"        || \"NULL\") + \" AS VARCHAR(30)) \" +\n\"SET @NOME = CAST(\" +           (\"'\" + msg.pedido.cliente.nome + \"'\"            || \"NULL\") + \" AS VARCHAR(100)) \" +\n\"SET @LOGRADOURO = CAST(\" +     (\"'\" + msg.pedido.cliente.logradouro + \"'\"      || \"NULL\") + \" AS VARCHAR(5)) \" +\n\"SET @ENDERECO = CAST(\" +       (\"'\" + msg.pedido.cliente.endereco + \"'\"        || \"NULL\") + \" AS VARCHAR(50)) \" +\n\"SET @NUMERO = CAST(\" +         (\"'\" + msg.pedido.cliente.numero + \"'\"          || \"NULL\") + \" AS VARCHAR(10)) \" +\n\"SET @COMPLEMENTO = CAST(\" +    (\"'\" + msg.pedido.cliente.complemento + \"'\"     || \"NULL\") + \" AS VARCHAR(20)) \" +\n\"SET @BAIRRO = CAST(\" +         (\"'\" + msg.pedido.cliente.bairro + \"'\"          || \"NULL\") + \" AS VARCHAR(30)) \" +\n\"SET @MUNICIPIO = CAST(\" +      (msg.pedido.cliente.municipio                   || \"NULL\") + \" AS INT) \" +\n\"SET @CIDADE = CAST(\" +         (\"'\" + msg.pedido.cliente.cidade + \"'\"          || \"NULL\") + \" AS VARCHAR(20)) \" +\n\"SET @CEP = CAST(\" +            (\"'\" + msg.pedido.cliente.CEP + \"'\"             || \"NULL\") + \" AS CHAR(9)) \" +\n\"SET @UF = CAST(\" +             (\"'\" + msg.pedido.cliente.UF + \"'\"              || \"NULL\") + \" AS CHAR(2)) \" +\n\"SET @DDD = CAST(\" +            (\"'\" + msg.pedido.cliente.ddd + \"'\"             || \"NULL\") + \" AS VARCHAR(3)) \" +\n\"SET @TELEFONE = CAST(\" +       (\"'\" + msg.pedido.cliente.telefone + \"'\"        || \"NULL\") + \" AS VARCHAR(15)) \" +\n\"SET @CONTATO = CAST(\" +        (\"'\" + msg.pedido.cliente.contato + \"'\"         || \"NULL\") + \" AS VARCHAR(20)) \" +\n\"SET @DESCONTO = CAST(\" +        (\"'\" + msg.pedido.cliente.desconto + \"'\"         || \"NULL\") + \" AS BIT) \" +\n\n\"MERGE [FINANCEIRO].[dbo].[CLI] AS target \" +\n\"   USING (SELECT @CNPJ, @INSCRICAO, @FANTASIA, @NOME, @LOGRADOURO, @ENDERECO, @NUMERO, @COMPLEMENTO, @BAIRRO, @MUNICIPIO, @CIDADE, @CEP, @UF, @DDD, @TELEFONE, @CONTATO, @DESCONTO) AS source \" +\n\"   (CNPJ, INSCRICAO, FANTASIA, NOME, LOGRADOURO, ENDERECO, NUMERO, COMPLEMENTO, BAIRRO, MUNICIPIO, CIDADE, CEP, UF, DDD, TELEFONE, CONTATO, DESCONTO) \" +\n\"   ON (target.CNPJ = source.CNPJ) \" +\n\"WHEN MATCHED THEN \" +\n\"   UPDATE SET INSCRICAO = source.INSCRICAO, FANTASIA = source.FANTASIA, NOME = source.NOME, \" +\n\"   LOGRADOURO = source.LOGRADOURO, ENDERECO = source.ENDERECO, NUMERO = source.NUMERO, COMPLEMENTO = source.COMPLEMENTO, \" +\n\"   BAIRRO = source.BAIRRO, MUNICIPIO = source.MUNICIPIO, CIDADE = source.CIDADE, CEP = source.CEP, UF = source.UF, DDD = source.DDD, TELEFONE = source.TELEFONE, CONTATO = source.CONTATO, DESCONTO = source.DESCONTO \" +\n\"WHEN NOT MATCHED THEN \" +\n\"\tINSERT (CNPJ, INSCRICAO, FANTASIA, NOME, LOGRADOURO, ENDERECO, NUMERO, COMPLEMENTO, BAIRRO, MUNICIPIO, CIDADE, CEP, UF, DDD, TELEFONE, CONTATO, DESCONTO) \" +\n\"\tVALUES (source.CNPJ, source.INSCRICAO, source.FANTASIA, source.NOME, source.LOGRADOURO, source.ENDERECO, source.NUMERO, source.COMPLEMENTO, source.BAIRRO, source.MUNICIPIO, source.CIDADE, source.CEP, source.UF, source.DDD, source.TELEFONE, source.CONTATO, source.DESCONTO); \" +\n\n\"DECLARE @PEDIDO INT \" +\n\"SET @PEDIDO = CAST(\" +         (\"'\" + msg.pedido.numero + \"'\"         || \"NULL\") + \" AS INT) \" +\n\n\"MERGE [FINANCEIRO].[dbo].[PED_CLI] AS target \" +\n\"   USING (SELECT @PEDIDO, @CNPJ) AS source \" +\n\"   (PED_NUMERO, CLI_CNPJ) \" +\n\"   ON (target.PED_NUMERO = source.PED_NUMERO AND target.CLI_CNPJ = source.CLI_CNPJ) \" +\n\"WHEN MATCHED THEN \" +\n\"   UPDATE SET CLI_CNPJ = source.CLI_CNPJ \" +\n\"WHEN NOT MATCHED THEN \" +\n\"\tINSERT (PED_NUMERO, CLI_CNPJ) \" +\n\"\tVALUES (source.PED_NUMERO, source.CLI_CNPJ); \"\n\nreturn msg;","outputs":1,"noerr":0,"x":180.1999969482422,"y":3080,"wires":[["6fd933e4.1b538c","76d9c975.dec558"]]},{"id":"ee4fb8cc.2f3868","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"f8b8e580.ff6178","name":"","query":"","outField":"payload","x":180.1999969482422,"y":3020,"wires":[["f912b807.e87018"]]},{"id":"71022ac5.91e654","type":"http response","z":"e6097cee.8df04","name":"","x":900.1999969482422,"y":900,"wires":[]},{"id":"b1d4e852.23ad08","type":"function","z":"e6097cee.8df04","name":"NOTIFY","func":"if (Array.isArray(msg.payload) && msg.payload.length > 0 && !msg.payload[0].erro) {\n    return [msg, msg, null];\n} else {\n    return [null, null, msg];\n}\n","outputs":"3","noerr":0,"x":750.1999969482422,"y":940,"wires":[["71022ac5.91e654","11707df.8835982"],["12ed8947.9a34a7"],["660d62ca.1dba7c"]]},{"id":"b6b4f301.38da4","type":"mqtt out","z":"e6097cee.8df04","name":"","topic":"","qos":"","retain":"","broker":"282ac891.392698","x":1220.1999969482422,"y":940,"wires":[]},{"id":"fb308725.a2cc08","type":"http in","z":"e6097cee.8df04","name":"nosso_numero 1","url":"/api/financeiro/recebiveis/lancamento/nosso_numero1","method":"get","swaggerDoc":"","x":110.19999694824219,"y":720,"wires":[["cd20eaea.1cb5f8"]]},{"id":"cd20eaea.1cb5f8","type":"function","z":"e6097cee.8df04","name":"SQL","func":"msg.payload = \n    \"BEGIN TRY\" + '\\n' + '\\n' +\n    \n    \"   SELECT ISNULL(MAX(RCB.nosso_numero), 0) AS nosso_numero FROM RCB INNER JOIN RCB_PED ON RCB.nosso_numero = RCB_PED.nosso_numero;\" + '\\n' + '\\n' +\n    \n    \"END TRY\" + '\\n' +\n    \"BEGIN CATCH\" + '\\n' + '\\n' +\n    \n    \"   DECLARE @ERR_ID INT\" + '\\n' +\n    \"   SET @ERR_ID = NEXT VALUE FOR err_log_seq\" + '\\n' +\n    \"   INSERT INTO err_log SELECT @ERR_ID AS id, ERROR_NUMBER() AS erro, ERROR_SEVERITY() AS nivel, ERROR_STATE() AS situacao, ERROR_PROCEDURE() AS procedimento, ERROR_LINE() AS linha, ERROR_MESSAGE() AS mensagem\" + '\\n' + '\\n' +\n    \n    \"   IF @@TRANCOUNT > 0\" + '\\n' +\n    \"       ROLLBACK TRANSACTION\" + '\\n' + '\\n' +\n    \n    \"END CATCH\" + '\\n'\n\nreturn msg;","outputs":"1","noerr":0,"x":320.1999969482422,"y":720,"wires":[["fbcbdc6e.45837"]]},{"id":"fbcbdc6e.45837","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"f8b8e580.ff6178","name":"MSSQL","query":"","outField":"payload","x":550.1999969482422,"y":720,"wires":[["e9c8247a.23edd8"]]},{"id":"e9c8247a.23edd8","type":"function","z":"e6097cee.8df04","name":"NOTIFY","func":"if (Array.isArray(msg.payload) && msg.payload.length > 0 && msg.payload[0].erro === undefined) {\n    \n    msg.payload = msg.payload[0];\n    return msg;\n    \n} else {\n    msg.statusCode = 500;\n    msg.payload = msg.payload[0];\n    return msg\n}\n","outputs":"1","noerr":0,"x":730.1999969482422,"y":720,"wires":[["a490ee68.ea545"]]},{"id":"a490ee68.ea545","type":"http response","z":"e6097cee.8df04","name":"","x":880.1999969482422,"y":720,"wires":[]},{"id":"32263ce5.879ea4","type":"http in","z":"e6097cee.8df04","name":"nosso_numero 2","url":"/api/financeiro/recebiveis/lancamento/nosso_numero2","method":"get","swaggerDoc":"","x":110.19999694824219,"y":760,"wires":[["2be537c4.71a8b8"]]},{"id":"2be537c4.71a8b8","type":"function","z":"e6097cee.8df04","name":"SQL","func":"msg.payload = \n    \"BEGIN TRY\" + '\\n' + '\\n' +\n\n    \"   SELECT ISNULL(MAX(RCB.nosso_numero), 0) AS nosso_numero FROM RCB WHERE NOT EXISTS(SELECT * FROM RCB_PED WHERE RCB.nosso_numero = RCB_PED.nosso_numero); \" + '\\n' + '\\n' +\n\n    \"END TRY\" + '\\n' +\n    \"BEGIN CATCH\" + '\\n' + '\\n' +\n    \n    \"   DECLARE @ERR_ID INT\" + '\\n' +\n    \"   SET @ERR_ID = NEXT VALUE FOR err_log_seq\" + '\\n' +\n    \"   INSERT INTO err_log SELECT @ERR_ID AS id, ERROR_NUMBER() AS erro, ERROR_SEVERITY() AS nivel, ERROR_STATE() AS situacao, ERROR_PROCEDURE() AS procedimento, ERROR_LINE() AS linha, ERROR_MESSAGE() AS mensagem\" + '\\n' + '\\n' +\n    \n    \"   IF @@TRANCOUNT > 0\" + '\\n' +\n    \"       ROLLBACK TRANSACTION\" + '\\n' + '\\n' +\n    \n    \"END CATCH\"\n\nreturn msg;","outputs":"1","noerr":0,"x":320.1999969482422,"y":760,"wires":[["1c1a0647.8b685a"]]},{"id":"1c1a0647.8b685a","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"f8b8e580.ff6178","name":"MSSQL","query":"","outField":"payload","x":550.1999969482422,"y":760,"wires":[["43afcd29.84e244"]]},{"id":"43afcd29.84e244","type":"function","z":"e6097cee.8df04","name":"NOTIFY","func":"if (Array.isArray(msg.payload) && msg.payload.length > 0 && msg.payload[0].erro === undefined) {\n    \n    msg.payload = msg.payload[0];\n    return msg;\n    \n} else {\n    msg.statusCode = 500;\n    msg.payload = msg.payload[0];\n    return msg\n}\n","outputs":"1","noerr":0,"x":730.1999969482422,"y":760,"wires":[["a0a59f11.aba6d"]]},{"id":"a0a59f11.aba6d","type":"http response","z":"e6097cee.8df04","name":"","x":880.1999969482422,"y":760,"wires":[]},{"id":"38c09d4c.7c3332","type":"comment","z":"e6097cee.8df04","name":"IMPORTAR PEDIDOS LIBERADOS","info":"GERA TAREFAS DE TESTE PARA CONFERIR DUPLICATA","x":210.1999969482422,"y":2800,"wires":[]},{"id":"2ade3124.052ade","type":"inject","z":"e6097cee.8df04","name":"","topic":"","payload":"","payloadType":"num","repeat":"","crontab":"","once":false,"x":120.19999694824219,"y":3020,"wires":[[]]},{"id":"177dbc52.066cb4","type":"function","z":"e6097cee.8df04","name":"EVENTO","func":"msg.message = 'Importar Pedidos Liberados começou.'\nmsg.payload = \n\"SELECT * \" +\n\"FROM \" +\n\"\tGPIMAC_Altamira.dbo.INTEGRACAO_EVENTO WITH (NOLOCK) \" +\n\"WHERE \" +\n\"   evento = 'PEDIDO_LIBERADO' AND reconhecido = 0 AND antes = 'N' AND depois = 'S'\"\n\nreturn msg;","outputs":1,"noerr":0,"x":290.1999969482422,"y":3020,"wires":[[]]},{"id":"ababa972.14c9c8","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"1bb61597.983fca","name":"","query":"","outField":"payload","x":130.1999969482422,"y":3080,"wires":[[]]},{"id":"63d9c614.891d58","type":"function","z":"e6097cee.8df04","name":"LOOP","func":"if (msg.evento === undefined) {\n    msg.evento = 0;\n    msg.eventos = msg.payload\n    msg.payload = msg.payload[0].id\n    return [null, msg];\n} else {\n    msg.evento++\n    if (msg.evento < msg.eventos.length) {\n        msg.payload = msg.eventos[msg.evento].id;\n        return [null, msg];\n    } else {\n        msg.payload = 'Importar Pedidos Liberados terminou. ' + msg.evento + ' Pedidos encontrados.';\n        return [msg, null];\n    }\n}\n","outputs":"2","noerr":0,"x":300.1999969482422,"y":3140,"wires":[[],[]]},{"id":"bb649805.df8f98","type":"function","z":"e6097cee.8df04","name":"EXISTE ?","func":"if (Array.isArray(msg.payload) && msg.payload.length > 0) {\n    return [null, msg];\n} else {\n    msg.payload = 'Importar Pedidos Liberados terminou.';\n    return [msg, null];\n}","outputs":"2","noerr":0,"x":310.1999969482422,"y":3080,"wires":[[],[]]},{"id":"14f9ef7a.1d9e41","type":"function","z":"e6097cee.8df04","name":"EVENTO","func":"\nmsg.payload = \n\"DECLARE @ID INT \" +\n\"SET @ID = \" + (msg.eventos[msg.evento].sequencial || 'NULL') + \" \" +\n\"UPDATE GPIMAC_Altamira.dbo.INTEGRACAO_EVENTO \" +\n\"   SET reconhecido = 1 \" +\n\"WHERE sequencial = @ID\"\nreturn msg;","outputs":1,"noerr":0,"x":310.1999969482422,"y":3380,"wires":[[]]},{"id":"3e8623d0.2395ec","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"1bb61597.983fca","name":"","query":"","outField":"payload","x":310.1999969482422,"y":3440,"wires":[[]]},{"id":"20b0f717.7bef88","type":"comment","z":"e6097cee.8df04","name":"IMPORTAR PEDIDOS LIBERADOS","info":"GERA TAREFAS DE TESTE PARA CONFERIR DUPLICATA","x":1150.1999969482422,"y":40,"wires":[]},{"id":"a76c70f.cd5039","type":"inject","z":"e6097cee.8df04","name":"","topic":"","payload":"","payloadType":"num","repeat":"","crontab":"","once":false,"x":1120.1999969482422,"y":100,"wires":[["3a4f4083.6e9b7"]]},{"id":"3a4f4083.6e9b7","type":"function","z":"e6097cee.8df04","name":"EVENTO","func":"msg.message = 'Importar Pedidos Liberados começou.'\nmsg.payload = \n\"SELECT * \" +\n\"FROM \" +\n\"\tGPIMAC_Altamira.dbo.INTEGRACAO_EVENTO WITH (NOLOCK) \" +\n\"WHERE \" +\n\"   evento = 'PEDIDO_LIBERADO' AND reconhecido = 0 AND antes = 'N' AND depois = 'S'\"\n\nreturn msg;","outputs":1,"noerr":0,"x":1290.1999969482422,"y":100,"wires":[["642454ee.d33bbc"]]},{"id":"642454ee.d33bbc","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"1bb61597.983fca","name":"","query":"","outField":"payload","x":1470.1999969482422,"y":100,"wires":[["ab2e4aaf.d37ea8"]]},{"id":"a78bd915.3a2268","type":"function","z":"e6097cee.8df04","name":"LOOP","func":"if (msg.evento === undefined) {\n    msg.evento = 0;\n    msg.eventos = msg.payload\n    msg.payload = msg.payload[0].id\n    return [null, msg];\n} else {\n    msg.evento++\n    if (msg.evento < msg.eventos.length) {\n        msg.payload = msg.eventos[msg.evento].id;\n        return [null, msg];\n    } else {\n        msg.payload = 'Importar Pedidos Liberados terminou. ' + msg.evento + ' Pedidos encontrados.';\n        return [msg, null];\n    }\n}\n","outputs":"2","noerr":0,"x":1840.1999969482422,"y":100,"wires":[["85203fdf.45404"],["bb3c55e0.9f1ef8"]]},{"id":"ab2e4aaf.d37ea8","type":"function","z":"e6097cee.8df04","name":"EXISTE ?","func":"if (Array.isArray(msg.payload) && msg.payload.length > 0) {\n    return [null, msg];\n} else {\n    msg.payload = 'Importar Pedidos Liberados terminou.';\n    return [msg, null];\n}","outputs":"2","noerr":0,"x":1650.1999969482422,"y":100,"wires":[["85203fdf.45404"],["a78bd915.3a2268"]]},{"id":"e7d1f7bf.80d998","type":"function","z":"e6097cee.8df04","name":"EVENTO","func":"\nmsg.payload = \n\"DECLARE @ID INT \" +\n\"SET @ID = \" + (msg.eventos[msg.evento].sequencial || 'NULL') + \" \" +\n\"UPDATE GPIMAC_Altamira.dbo.INTEGRACAO_EVENTO \" +\n\"   SET reconhecido = 1 \" +\n\"WHERE sequencial = @ID\"\nreturn msg;","outputs":1,"noerr":0,"x":2030.1999969482422,"y":1020,"wires":[["a9dc3acf.099d68"]]},{"id":"a9dc3acf.099d68","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"1bb61597.983fca","name":"","query":"","outField":"payload","x":1670.1999969482422,"y":820,"wires":[["a78bd915.3a2268"]]},{"id":"8b6728f.78dbed8","type":"function","z":"e6097cee.8df04","name":"TAREFA++","func":"msg.payload = {\n    nome: 'Lançamentos a Receber',\n    titulo: 'Pedido ' + msg.payload.numero,\n    descricao: msg.payload.cliente.nome,\n    documento: JSON.stringify(msg.payload),\n    atribuir: 'faturamento',\n    form: '/recebiveis/lancamento/',\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":2040.1999969482422,"y":820,"wires":[["67350a17.1013d4"]]},{"id":"7783e5f4.ef845c","type":"http in","z":"e6097cee.8df04","name":"tarefas","url":"/api/tarefas/","method":"get","swaggerDoc":"","x":80.19999694824219,"y":40,"wires":[["2adbc963.c1c256"]]},{"id":"c3e495a2.dc17a8","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"f8b8e580.ff6178","name":"","query":"","outField":"payload","x":550.1999969482422,"y":40,"wires":[["a4eec645.bea6e8"]]},{"id":"a4eec645.bea6e8","type":"http response","z":"e6097cee.8df04","name":"","x":880.1999969482422,"y":40,"wires":[]},{"id":"2adbc963.c1c256","type":"function","z":"e6097cee.8df04","name":"SQL","func":"msg.payload = \n    \"DECLARE @PERFIL NVARCHAR(50)\" + '\\n' +\n    \n    \"SET @PERFIL = \" + (msg.req.query.perfil ? \"'\" + msg.req.query.perfil + \"'\" : 'NULL') + '\\n' + '\\n' +\n    \n    \"SELECT\" + '\\n' +\n    \"   id,\" + '\\n' +\n    \"   nome,\" + '\\n' +\n    \"   titulo,\" + '\\n' +\n    \"   descricao,\" + '\\n' +\n    \"   atribuir,\" + '\\n' +\n    \"   form,\" + '\\n' +\n    \"   parametros,\" + '\\n' +\n    \"   prazo,\" + '\\n' +\n    \"   criado,\" + '\\n' +\n    \"   CAST(versao AS INT) AS versao\" + '\\n' +\n    \"FROM\" + '\\n' +\n    \"\ttarefas\" + '\\n' +\n    \"WHERE\" + '\\n' +\n    \"   concluido IS NULL AND\" + '\\n' +\n    \"   (atribuir IS NULL OR atribuir IN (@PERFIL))\" + '\\n' +\n    \"ORDER BY\" + '\\n' +\n    \"   criado\"\n\nreturn msg;","outputs":1,"noerr":0,"x":320.1999969482422,"y":40,"wires":[["c3e495a2.dc17a8"]]},{"id":"cd28f17e.70a7a","type":"http in","z":"e6097cee.8df04","name":"tarefa/:id","url":"/api/tarefa/:id","method":"get","swaggerDoc":"","x":90.19999694824219,"y":80,"wires":[["22180040.20385"]]},{"id":"9fffb000.48d9b","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"f8b8e580.ff6178","name":"","query":"","outField":"payload","x":550.1999969482422,"y":80,"wires":[["9d1f6a46.605198"]]},{"id":"9cbe7972.748fc8","type":"http response","z":"e6097cee.8df04","name":"","x":880.1999969482422,"y":80,"wires":[]},{"id":"22180040.20385","type":"function","z":"e6097cee.8df04","name":"SQL","func":"msg.payload = \n    \"DECLARE @ID INT\" + '\\n' + '\\n' +\n    \n    \"SET @ID = \" + (msg.req.params.id || 'NULL') + '\\n' + '\\n' +\n    \n    \"SELECT\" + '\\n' +\n    \"   id,\" + '\\n' +\n    \"   nome,\" + '\\n' +\n    \"   titulo,\" + '\\n' +\n    \"   descricao,\" + '\\n' +\n    \"   documento,\" + '\\n' +\n    \"   atribuir,\" + '\\n' +\n    \"   form,\" + '\\n' +\n    \"   parametros,\" + '\\n' +\n    \"   prazo,\" + '\\n' +\n    \"   criado,\" + '\\n' +\n    \"   concluido,\" + '\\n' +\n    \"   CAST(versao AS INT) AS versao\" + '\\n' +  \n    \"FROM\" + '\\n' +\n    \"\ttarefas\" + '\\n' +\n    \"WHERE\" + '\\n' +\n    \"   id = @ID;\" + '\\n'\n\nreturn msg;","outputs":1,"noerr":0,"x":320.1999969482422,"y":80,"wires":[["9fffb000.48d9b"]]},{"id":"9d1f6a46.605198","type":"function","z":"e6097cee.8df04","name":"PARSE","func":"if (Array.isArray(msg.payload) && msg.payload.length > 0) {\n    msg.payload = msg.payload[0]\n    msg.payload.documento = JSON.parse(msg.payload.documento);\n} else {\n    msg.payload = '';\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":730.1999969482422,"y":80,"wires":[["9cbe7972.748fc8"]]},{"id":"ba4e2e7b.1fad5","type":"http in","z":"e6097cee.8df04","name":"login","url":"/api/usuario/login","method":"post","swaggerDoc":"","x":80.19999694824219,"y":200,"wires":[["355bace.27dd754"]]},{"id":"a70350cf.d06d6","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"f8b8e580.ff6178","name":"","query":"","outField":"payload","x":550.1999969482422,"y":200,"wires":[["7c6e04ed.f4e0dc"]]},{"id":"114ebd40.26dfe3","type":"http response","z":"e6097cee.8df04","name":"","x":880.1999969482422,"y":200,"wires":[]},{"id":"355bace.27dd754","type":"function","z":"e6097cee.8df04","name":"SQL","func":"msg.payload = \n    \"DECLARE @LOGIN NVARCHAR(50)\" + '\\n' +\n    \"DECLARE @SENHA NVARCHAR(50)\" + '\\n' + '\\n' +\n\n    \"SET @LOGIN = \" + (msg.payload.login ? \"'\" + msg.payload.login + \"'\" : 'NULL') + \"\" + '\\n' +\n    \"SET @SENHA = \" + (msg.payload.senha ? \"'\" + msg.payload.senha + \"'\" : 'NULL') + \"\" + '\\n' + '\\n' +\n    \n    \"SELECT * \" +\n    \"FROM\" + '\\n' +\n    \"\tusuarios\" + '\\n' +\n    \"WHERE\" + '\\n' +\n    \"   LOGIN = @LOGIN AND\" + '\\n' +\n    \"   SENHA = @SENHA\" \n\nreturn msg;","outputs":1,"noerr":0,"x":320.1999969482422,"y":200,"wires":[["a70350cf.d06d6"]]},{"id":"7c6e04ed.f4e0dc","type":"function","z":"e6097cee.8df04","name":"PARSE","func":"if (Array.isArray(msg.payload) && msg.payload.length > 0) {\n    msg.payload = msg.payload[0];\n} else {\n    msg.payload = {};\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":730.1999969482422,"y":200,"wires":[["114ebd40.26dfe3"]]},{"id":"e562af5.5fb565","type":"debug","z":"e6097cee.8df04","name":"NAO ENCONTROU","active":true,"console":"false","complete":"payload","x":2280.199996948242,"y":220,"wires":[]},{"id":"85203fdf.45404","type":"debug","z":"e6097cee.8df04","name":"TERMINOU","active":true,"console":"false","complete":"payload","x":1860.1999969482422,"y":40,"wires":[]},{"id":"c97ef956.21a3b8","type":"http in","z":"e6097cee.8df04","name":"cobranca","url":"/api/financeiro/cobranca","method":"get","swaggerDoc":"","x":90.19999694824219,"y":320,"wires":[["8e29dbfd.4a43b8"]]},{"id":"aa466c4a.fa70f","type":"http response","z":"e6097cee.8df04","name":"","x":1060.1999969482422,"y":360,"wires":[]},{"id":"30691ee5.2478e2","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"f8b8e580.ff6178","name":"","query":"","outField":"payload","x":550.1999969482422,"y":320,"wires":[["5f781345.13af3c"]]},{"id":"8e29dbfd.4a43b8","type":"function","z":"e6097cee.8df04","name":"SQL","func":"\nmsg.payload = \"SELECT RCB.*, RCB_PED.numero AS pedido FROM RCB LEFT OUTER JOIN RCB_PED ON RCB.nosso_numero = RCB_PED.nosso_numero\"; \n\nreturn msg;","outputs":1,"noerr":0,"x":320.1999969482422,"y":320,"wires":[["30691ee5.2478e2"]]},{"id":"732e5c21.401f04","type":"function","z":"e6097cee.8df04","name":"SQL","func":"\nmsg.payload = \n\n\"SELECT * FROM RCBD WHERE nosso_numero = \" + msg.payload.nosso_numero; \n\nreturn msg;","outputs":1,"noerr":0,"x":1060.1999969482422,"y":320,"wires":[["7129309b.3be96"]]},{"id":"7129309b.3be96","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"f8b8e580.ff6178","name":"","query":"","outField":"payload","x":1230.1999969482422,"y":320,"wires":[["418c836d.b7c4ac"]]},{"id":"5f781345.13af3c","type":"function","z":"e6097cee.8df04","name":"PARSE","func":"msg.cobranca = msg.payload\n\nreturn msg;","outputs":1,"noerr":0,"x":730.1999969482422,"y":320,"wires":[["68a15f17.89966"]]},{"id":"68a15f17.89966","type":"function","z":"e6097cee.8df04","name":"SQL","func":"if (Array.isArray(msg.payload) && msg.payload.length > 0) {\n    if (msg.index === undefined) {\n        msg.index = 0;\n        msg.payload = msg.cobranca[msg.index];\n        return [msg, null];\n    } else {\n        msg.index++;\n        if (msg.index < msg.cobranca.length) {\n            msg.payload = msg.cobranca[msg.index];    \n            return [msg, null]\n        }\n        msg.payload = msg.cobranca;\n        return [null, msg];\n    }\n} else {\n    return [null, msg];\n}","outputs":"2","noerr":0,"x":880.1999969482422,"y":320,"wires":[["732e5c21.401f04"],["aa466c4a.fa70f"]]},{"id":"418c836d.b7c4ac","type":"function","z":"e6097cee.8df04","name":"SQL","func":"msg.cobranca[msg.index].parcelas = msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":1060.1999969482422,"y":440,"wires":[["68a15f17.89966"]]},{"id":"ac68e35a.0f13f","type":"http in","z":"e6097cee.8df04","name":"tarefa/:id","url":"/api/tarefa/:id","method":"post","swaggerDoc":"","x":90.19999694824219,"y":120,"wires":[["d66f7fb9.ccb7d"]]},{"id":"9defff68.7164e","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"f8b8e580.ff6178","name":"","query":"","outField":"payload","x":550.1999969482422,"y":120,"wires":[["affd5bd8.293dc8"]]},{"id":"c5e664c.4449698","type":"http response","z":"e6097cee.8df04","name":"","x":880.1999969482422,"y":120,"wires":[]},{"id":"d66f7fb9.ccb7d","type":"function","z":"e6097cee.8df04","name":"SQL","func":"msg.payload = \n    \"BEGIN TRY\" + '\\n' +\n    \"   BEGIN TRANSACTION\" + '\\n' + '\\n' +\n    \n    \"   DECLARE @TAREFA INT\" + '\\n' +\n    \"   DECLARE @VERSAO INT\" + '\\n' + '\\n' +\n\n    \"   -------------------------------------- ATUALIZACAO DAS TAREFAS ----------------------------------------------\" + '\\n' +\n    \"   SET @TAREFA = \" + (msg.req.params.id || 'NULL') + '\\n' +\n    \"   SET @VERSAO = CAST('\" + (msg.payload.versao || 'NULL') + \"' AS INT)\" + '\\n' + '\\n' +\n\n    \"   UPDATE tarefas SET\" + '\\n' +\n    \"       documento = '\" + JSON.stringify(msg.payload.documento) + \"'\" + '\\n' +\n    \"   WHERE\" + '\\n' +\n    \"       id = @TAREFA\" + '\\n' +\n    \"       AND concluido IS NULL\" + '\\n' +\n    \"       AND versao = @VERSAO\" + '\\n' + '\\n' +\n    \n    \"   IF @@ROWCOUNT != 1\" + '\\n' +\n    \"   BEGIN\" + '\\n' + '\\n' +\n    \n    \"       DECLARE @ULTIMA_VERSAO INT\" + '\\n' +\n    \"       DECLARE @CONCLUIDO DATETIME\" + '\\n' + '\\n' +\n    \n    \"       SELECT TOP 1 @ULTIMA_VERSAO = versao, @CONCLUIDO = concluido FROM tarefas WHERE id = @TAREFA\" + '\\n' + '\\n' +\n    \n    \"       IF (NOT @CONCLUIDO IS NULL)\" + '\\n' +\n    \"           SELECT * FROM ERR WHERE erro = 7010\" + '\\n' +\n    \"       ELSE IF (@ULTIMA_VERSAO <> @VERSAO)\" + '\\n' +\n    \"           SELECT * FROM ERR WHERE erro = 7451\" + '\\n' + '\\n' +\n    \n    \"       ROLLBACK TRANSACTION\" + '\\n' + '\\n' +\n    \n    \"       RETURN;\" + '\\n' +\n    \"   END\" + '\\n' + '\\n' +\n\n    \"   SELECT\" + '\\n' +\n    \"       id,\" + '\\n' +\n    \"       nome,\" + '\\n' +\n    \"       titulo,\" + '\\n' +\n    \"       descricao,\" + '\\n' +\n    //\"     documento,\" + '\\n' +\n    \"       atribuir,\" + '\\n' +\n    \"       form,\" + '\\n' +\n    \"       parametros,\" + '\\n' +\n    \"       prazo,\" + '\\n' +\n    \"       criado,\" + '\\n' +\n    \"       CAST(versao AS INT) AS versao\" + '\\n' +  \n    \"   FROM\" + '\\n' +\n    \"\t    tarefas\" + '\\n' +\n    \"   WHERE\" + '\\n' +\n    \"       id = @TAREFA;\" + '\\n' + '\\n' +\n    \n    \"   COMMIT TRANSACTION;\" + '\\n' + '\\n' +\n\n    \"END TRY\" + '\\n' +\n    \"BEGIN CATCH\" + '\\n' + '\\n' +\n    \n    \"   DECLARE @ERR_ID INT\" + '\\n' +\n    \"   SET @ERR_ID = NEXT VALUE FOR err_log_seq\" + '\\n' +\n    \"   INSERT INTO err_log SELECT @ERR_ID AS id, ERROR_NUMBER() AS erro, ERROR_SEVERITY() AS nivel, ERROR_STATE() AS situacao, ERROR_PROCEDURE() AS procedimento, ERROR_LINE() AS linha, ERROR_MESSAGE() AS mensagem\" + '\\n' + '\\n' +\n    \n    \"   IF @@TRANCOUNT > 0\" + '\\n' +\n    \"       ROLLBACK TRANSACTION\" + '\\n' + '\\n' +\n    \n    \"END CATCH\" + '\\n'\n\nreturn msg;","outputs":1,"noerr":0,"x":320.1999969482422,"y":120,"wires":[["9defff68.7164e"]]},{"id":"affd5bd8.293dc8","type":"function","z":"e6097cee.8df04","name":"PARSE","func":"if (Array.isArray(msg.payload) && msg.payload.length > 0) {\n    msg.payload = msg.payload[0];    \n} else {\n    msg.payload = {erro: 9999, mensagem: 'Ocorreu um erro ao executar a sua solicitação.'}\n}\n\nif (msg.payload.erro) {\n    msg.statusCode = 500;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":730.1999969482422,"y":120,"wires":[["c5e664c.4449698"]]},{"id":"9a3b5f7d.60ca7","type":"http in","z":"e6097cee.8df04","name":"cobranca","url":"/api/financeiro/recebiveis/cobranca/tarefa/:tarefa","method":"post","swaggerDoc":"","x":90.19999694824219,"y":920,"wires":[["b209b589.8cf558"]]},{"id":"b209b589.8cf558","type":"function","z":"e6097cee.8df04","name":"SQL","func":"var tarefa_atual = \n{\n    nome: 'Cobrança Bancária',\n    titulo: 'Gerar Remessa de Cobrança',\n    descricao: 'Saldo R$ ' + msg.payload.documento.cobranca.reduce( (total, c) => total + c.parcelas.filter( (p) => !p.selected && !p.carteira).reduce( (soma, p) => soma + p.valor, 0), 0), \n    documento: JSON.stringify(\n        msg.payload.documento.cobranca.map( c => {\n            \n            var cobranca = {\n                nosso_numero: c.nosso_numero,\n                pedido: c.pedido,\n                cliente: c.cliente,\n                parcelas: c.parcelas.map( (p) => {\n                \n                    var parcela = {\n                        vencto: p.vencto,\n                        origem: p.origem,\n                        forma_pagto: p.forma_pagto,\n                        tipo_vencto: p.tipo_vencto,\n                        parcela: p.parcela,\n                        prazo: p.prazo,\n                        valor: p.valor\n                    }\n                    \n                    if (p.carteira) {\n                        parcela.carteira = p.carteira;\n                        parcela.remessa = p.remessa;\n                    } else if (p.selected) {\n                        parcela.carteira = msg.payload.documento.carteira.nome;\n                        parcela.remessa = new Date().toISOString();\n                    }\n                    \n                    return parcela;\n                    \n                })\n            };\n            \n            return cobranca;\n        })\n    ),\n    atribuir: 'financeiro',\n    form: '/recebiveis/cobranca/'\n}\n\nvar tarefa_remessa = \n{\n    nome: 'Remessa de Cobrança',\n    titulo: msg.payload.documento.carteira.nome,\n    descricao: 'Total R$ ' + msg.payload.documento.cobranca.reduce( (total, c) => total + c.parcelas.filter( (p) => p.selected && !p.carteira).reduce( (soma, p) => soma + p.valor, 0), 0), \n    documento: JSON.stringify({ \n        \n        carteira: msg.payload.documento.carteira,\n        data: new Date().toISOString(),\n        \n        remessa: msg.payload.documento.cobranca.filter( c => c.parcelas.find( p => p.selected)).map( c => {\n            var cobranca = {\n                nosso_numero: c.nosso_numero,\n                pedido: c.pedido,\n                cliente: c.cliente,\n                parcelas: c.parcelas.filter( p => p.selected).map( (p) => {\n                \n                    var parcela = {\n                        vencto: p.vencto,\n                        origem: p.origem,\n                        forma_pagto: p.forma_pagto,\n                        tipo_vencto: p.tipo_vencto,\n                        parcela: p.parcela,\n                        prazo: p.prazo,\n                        valor: p.valor\n                    }\n                    \n                    parcela.carteira = msg.payload.documento.carteira.nome;\n                    parcela.remessa = new Date().toISOString();\n\n                    return parcela;\n                    \n                })\n            };\n            \n            return cobranca;\n        })\n        \n    }),\n    atribuir: 'cobranca',\n    form: '/recebiveis/remessa/'\n}\n\nmsg.payload = \n    \"SET NOCOUNT ON\" + '\\n' + '\\n' +\n    \n    \"DECLARE @NOSSO_NUMERO INT\" + '\\n' +\n    \"DECLARE @PARCELA INT\" + '\\n' +\n    \"DECLARE @CARTEIRA INT\" + '\\n' + '\\n' +\n\n    \"DECLARE @CONTA_CONTABIL VARCHAR(20)\" + '\\n' +\n    \"DECLARE @CNPJ VARCHAR(20)\" + '\\n' +\n    \"DECLARE @INSCRICAO VARCHAR(12)\" + '\\n' +\n    \"DECLARE @FANTASIA VARCHAR(30)\" + '\\n' +\n    \"DECLARE @NOME VARCHAR(100)\" + '\\n' +\n    \"DECLARE @LOGRADOURO VARCHAR(5)\" + '\\n' +\n    \"DECLARE @ENDERECO VARCHAR(50)\" + '\\n' +\n    \"DECLARE @NUMERO VARCHAR(10)\" + '\\n' +\n    \"DECLARE @COMPLEMENTO VARCHAR(20)\" + '\\n' +\n    \"DECLARE @BAIRRO VARCHAR(30)\" + '\\n' +\n    \"DECLARE @MUNICIPIO INT\" + '\\n' +\n    \"DECLARE @CIDADE VARCHAR(20)\" + '\\n' +\n    \"DECLARE @CEP CHAR(9)\" + '\\n' +\n    \"DECLARE @UF CHAR(2)\" + '\\n' +\n    \"DECLARE @DDD VARCHAR(3)\" + '\\n' +\n    \"DECLARE @TELEFONE VARCHAR(15)\" + '\\n' +\n    \"DECLARE @CONTATO VARCHAR(20)\" + '\\n' + '\\n' +\n\n    \"DECLARE @FORMA_PAGTO VARCHAR(10)\" + '\\n' +\n    \"DECLARE @TIPO_VENCTO VARCHAR(3)\" + '\\n' +\n    \"DECLARE @VENCTO DATE\" + '\\n' +\n    \"DECLARE @PRAZO INT\" + '\\n' +\n    \"DECLARE @PORCENTAGEM DECIMAL(18, 3)\" + '\\n' +\n    \"DECLARE @VALOR MONEY\" + '\\n' +\n    \"DECLARE @DESCRICAO VARCHAR(50)\" + '\\n' +\n    \"DECLARE @ORIGEM VARCHAR(10)\" + '\\n' + '\\n' +\n\n    \"DECLARE @TAREFA_ATUAL INT\" + '\\n' +\n    \"DECLARE @VERSAO INT\" + '\\n' + '\\n' +\n\n    \"DECLARE @NOVA_TAREFA INT\" + '\\n' +\n\n    \"DECLARE @ULTIMA_VERSAO INT\" + '\\n' +\n    \"DECLARE @CONCLUIDO DATETIME\" + '\\n' + '\\n' +\n\n    \"DECLARE @PROX_TAREFA INT\" + '\\n' +\n    \"DECLARE @PROX_TAREFA_VERSAO INT\" + '\\n' + '\\n' +\n\n    \"DECLARE @NOVA_NAV INT\" + '\\n' + '\\n' +\n    \n    \"DECLARE @tarefas TABLE (\" + '\\n' +\n\t\"\t[id] [int] NOT NULL,\" + '\\n' +\n\t\"\t[nome] [nvarchar](100) NOT NULL,\" + '\\n' +\n\t\"\t[titulo] [nvarchar](50) NULL,\" + '\\n' +\n\t\"\t[descricao] [nvarchar](50) NULL,\" + '\\n' +\n\t\"\t[atribuir] [nvarchar](50) NULL,\" + '\\n' +\n\t\"\t[form] [nvarchar](100) NOT NULL,\" + '\\n' +\n\t\"\t[parametros] [nvarchar](max) NULL,\" + '\\n' +\n\t\"\t[prazo] [datetime] NULL,\" + '\\n' +\n\t\"\t[criado] [datetime] NOT NULL,\" + '\\n' +\n\t\"\t[concluido] [datetime] NULL,\" + '\\n' +\n\t\"\t[versao] [int],\" + '\\n' +\n\t\"\t[topico] [nvarchar](100) NOT NULL)\" + '\\n' + '\\n' +\n\t\t\n    \"BEGIN TRY\" + '\\n' +\n    \"   BEGIN TRANSACTION\" + '\\n' + '\\n' +\n\n    \"   -------------------------------------- ATUALIZACAO DAS TAREFAS ----------------------------------------------\" + '\\n' +\n    \"   SET @TAREFA_ATUAL = \" + (parseInt(msg.req.params.tarefa) || 'NULL') + \"\" + '\\n' +\n    \"   SET @VERSAO = CAST('\" + (msg.payload.versao || 'NULL') + \"' AS INT)\" + '\\n' + '\\n' +\n\n    \"   UPDATE tarefas SET\" + '\\n' +\n    \"\t    concluido = GETDATE()\" + '\\n' +\n    \"   WHERE\" + '\\n' +\n    \"       id = @TAREFA_ATUAL\" + '\\n' +\n    \"       AND concluido IS NULL\" + '\\n' + '\\n' +\n    \"       AND versao = @VERSAO\" + '\\n' + '\\n' +\n    \n    \"   IF @@ROWCOUNT != 1\" + '\\n' +\n    \"   BEGIN\" + '\\n' +\n    \n    \"       SELECT TOP 1 @ULTIMA_VERSAO = versao, @CONCLUIDO = concluido FROM tarefas WHERE id = @TAREFA_ATUAL\" + '\\n' + '\\n' +\n    \n    \"       IF (NOT @CONCLUIDO IS NULL)\" + '\\n' +\n    \"           SELECT * FROM ERR WHERE erro = 7010\" + '\\n' +\n    \"       ELSE IF (@ULTIMA_VERSAO <> @VERSAO)\" + '\\n' +\n    \"           SELECT * FROM ERR WHERE erro = 7450\" + '\\n' + '\\n' +\n    \n    \"       ROLLBACK TRANSACTION\" + '\\n' + '\\n' +\n    \n    \"       RETURN\" + '\\n' +\n    \"   END\" + '\\n' + '\\n' +\n\n    \"   INSERT INTO @tarefas SELECT id, nome, titulo, descricao, atribuir, form, parametros, prazo, criado, concluido, versao, '/tarefas/concluida/' + LTRIM(RTRIM(atribuir)) AS topico FROM tarefas WHERE id = @TAREFA_ATUAL\" + '\\n' + '\\n' +\n\n    //---------------------------------------------------- grava as parcelas ----------------------------------------------------\n    msg.payload.documento.cobranca.reduce( (sql, c) => \n    \n        sql + c.parcelas.filter( p => p.selected).reduce( (sql, p) => \n        \n            sql + \n            \"   ----------------------------------------------------------------------------------------------------------\" + '\\n' +\n            \"   -- insere nova parcela => nosso_numero: \" + c.nosso_numero + ', parcela: ' + p.parcela + ', carteira: ' + msg.payload.documento.carteira.id + '\\n' +\n            \"   ----------------------------------------------------------------------------------------------------------\" + '\\n' +\n            \"   SET @NOSSO_NUMERO = CAST(\" +   (\"'\" + c.nosso_numero + \"'\" || \"NULL\") + \" AS INT)\" + '\\n' +\n            \"   SET @PARCELA = CAST(\" +        (\"'\" + p.parcela + \"'\"      || \"NULL\") + \" AS INT)\" + '\\n' +\n            \"   SET @CARTEIRA = CAST(\" +       (\"'\" + msg.payload.documento.carteira.id + \"'\"        || \"NULL\") + \" AS INT)\" + '\\n' + '\\n' +\n        \n            \"   IF EXISTS(SELECT NOSSO_NUMERO FROM COB WHERE nosso_numero = @NOSSO_NUMERO AND parcela = @PARCELA AND carteira = @CARTEIRA)\" + '\\n' +\n            \"   BEGIN\" + '\\n' + '\\n' +\n            \n            \"       SELECT * FROM ERR WHERE erro = 1123\" + '\\n' + '\\n' +\n            \n            \"       ROLLBACK TRANSACTION\" + '\\n' + '\\n' +\n            \n            \"       RETURN\" + '\\n' +\n            \"   END\" + '\\n' + '\\n' +\n    \n            \"   SET @NOSSO_NUMERO = CAST(\" +   (\"'\" + c.nosso_numero + \"'\" || \"NULL\") + \" AS INT)\" + '\\n' +\n            \"   SET @PARCELA = CAST(\" +        (\"'\" + p.parcela + \"'\"      || \"NULL\") + \" AS INT)\" + '\\n' +\n            \"   SET @CARTEIRA = CAST(\" +       (\"'\" + msg.payload.documento.carteira.id + \"'\"        || \"NULL\") + \" AS INT)\" + '\\n' + '\\n' +\n    \n            \"   SET @CONTA_CONTABIL = CAST('\" + c.cliente.conta_contabil + \"' AS VARCHAR(20))\" + '\\n' + \n            \"   SET @CNPJ = CAST(\" +           (\"'\" + c.cliente.cnpj + \"'\"        || \"NULL\") + \" AS VARCHAR(20))\" + '\\n' +\n            \"   SET @INSCRICAO = CAST(\" +      (\"'\" + c.cliente.inscricao + \"'\"   || \"NULL\") + \" AS VARCHAR(14))\" + '\\n' +\n            \"   SET @FANTASIA = CAST(\" +       (\"'\" + c.cliente.fantasia + \"'\"    || \"NULL\") + \" AS VARCHAR(30))\" + '\\n' +\n            \"   SET @NOME = CAST(\" +           (\"'\" + c.cliente.nome + \"'\"        || \"NULL\") + \" AS VARCHAR(100))\" + '\\n' +\n            \"   SET @LOGRADOURO = CAST(\" +     (\"'\" + c.cliente.logradouro + \"'\"      || \"NULL\") + \" AS VARCHAR(5))\" + '\\n' +\n            \"   SET @ENDERECO = CAST(\" +       (\"'\" + c.cliente.endereco + \"'\"    || \"NULL\") + \" AS VARCHAR(50))\" + '\\n' +\n            \"   SET @NUMERO = CAST(\" +         (\"'\" + c.cliente.numero + \"'\"      || \"NULL\") + \" AS VARCHAR(10))\" + '\\n' +\n            \"   SET @COMPLEMENTO = CAST(\" +    (\"'\" + c.cliente.complemento + \"'\"     || \"NULL\") + \" AS VARCHAR(20))\" + '\\n' +\n            \"   SET @BAIRRO = CAST(\" +         (\"'\" + c.cliente.bairro + \"'\"      || \"NULL\") + \" AS VARCHAR(30))\" + '\\n' +\n            \"   SET @MUNICIPIO = CAST(\" +      (c.cliente.municipio                   || \"NULL\") + \" AS INT)\" + '\\n' +\n            \"   SET @CIDADE = CAST(\" +         (\"'\" + c.cliente.cidade + \"'\"      || \"NULL\") + \" AS VARCHAR(20))\" + '\\n' +\n            \"   SET @CEP = CAST(\" +            (\"'\" + c.cliente.CEP + \"'\"         || \"NULL\") + \" AS CHAR(9))\" + '\\n' +\n            \"   SET @UF = CAST(\" +             (\"'\" + c.cliente.UF + \"'\"          || \"NULL\") + \" AS CHAR(2))\" + '\\n' +\n            \"   SET @DDD = CAST(\" +            (\"'\" + c.cliente.ddd + \"'\"         || \"NULL\") + \" AS VARCHAR(3))\" + '\\n' +\n            \"   SET @TELEFONE = CAST(\" +       (\"'\" + c.cliente.telefone + \"'\"    || \"NULL\") + \" AS VARCHAR(15))\" + '\\n' +\n            \"   SET @CONTATO = CAST(\" +        (\"'\" + c.cliente.contato + \"'\"     || \"NULL\") + \" AS VARCHAR(20))\" + '\\n' + '\\n' +\n        \n            \"   SET @PARCELA = CAST(\" +        (\"'\" + p.parcela + \"'\"        || \"NULL\") + \" AS INT)\" + '\\n' +\n            \"   SET @FORMA_PAGTO = CAST(\" +    (\"'\" + p.forma_pagto + \"'\"    || \"NULL\") + \" AS VARCHAR(10))\" + '\\n' +\n            \"   SET @TIPO_VENCTO = CAST(\" +    (\"'\" + p.tipo_vencto + \"'\"    || \"NULL\") + \" AS VARCHAR(3))\" + '\\n' +\n            \"   SET @VENCTO = CAST(\" +         (\"'\" + p.vencto + \"'\"         || \"NULL\") + \" AS DATE)\" + '\\n' +\n            \"   SET @PRAZO = CAST(\" +          (\"'\" + p.prazo + \"'\"          || \"NULL\") + \" AS INT)\" + '\\n' +\n            \"   SET @VALOR = CAST(\" +          (\"'\" + p.valor + \"'\"          || \"NULL\") + \" AS MONEY)\" + '\\n' +\n            \"   SET @ORIGEM = CAST(\" +         (\"'\" + p.origem + \"'\"          || \"NULL\") + \" AS VARCHAR(10))\" + '\\n' + '\\n' +\n            \n            \"   INSERT INTO COB (nosso_numero, parcela, carteira, remessa, retorno, situacao, conta_contabil, forma_pagto, tipo_vencto, vencto, prazo, valor, origem, cnpj, inscricao, fantasia, nome, logradouro, endereco, numero, complemento, bairro, municipio, cidade, cep, uf, ddd, telefone, contato)\" + '\\n' +\n            \"   VALUES (@NOSSO_NUMERO, @PARCELA, @CARTEIRA, GETDATE(), NULL, NULL, @CONTA_CONTABIL, @FORMA_PAGTO, @TIPO_VENCTO, @VENCTO, @PRAZO, @VALOR, @ORIGEM, @CNPJ, @INSCRICAO, @FANTASIA, @NOME, @LOGRADOURO, @ENDERECO, @NUMERO, @COMPLEMENTO, @BAIRRO, @MUNICIPIO, @CIDADE, @CEP, @UF, @DDD, @TELEFONE, @CONTATO)\" + '\\n' + '\\n'\n        \n        , '')\n    \n    , '') +\n\n    (msg.payload.documento.cobranca.find( (c) => c.parcelas.find( (p) => !p.selected && !p.carteira) ) ?\n\n    \"   ----------------------- TAREFA AINDA PENDENTE, RECRIA A TAREFA -----------------------\" + '\\n' +\n    \"   SELECT TOP 1 @PROX_TAREFA = id, @PROX_TAREFA_VERSAO = versao FROM tarefas WHERE nome = '\" + tarefa_atual.nome + \"' AND concluido IS NULL\" + '\\n' + '\\n' +\n   \n    \"   IF @PROX_TAREFA IS NULL\" + '\\n' +\n    \"   BEGIN\" + '\\n' + '\\n' +\n    \n    \"       SET @PROX_TAREFA = NEXT VALUE FOR tarefa_seq\" + '\\n' + '\\n' +\n    \n    \"       INSERT INTO tarefas\" + '\\n' +\n    \"           (id,\" + '\\n' +\n    \"           nome,\" + '\\n' +\n    \"           titulo,\" + '\\n' +\n    \"           descricao,\" + '\\n' +\n    \"           detalhes,\" + '\\n' +\n    \"           documento,\" + '\\n' +\n    \"           atribuir,\" + '\\n' +\n    \"           form,\" + '\\n' +\n    \"           parametros,\" + '\\n' +\n    \"           prazo,\" + '\\n' +\n    \"           criado,\" + '\\n' +\n    \"           concluido)\" + '\\n' +\n    \"       VALUES\" + '\\n' +\n    \"           (@PROX_TAREFA,\" + '\\n' +\n    \"           '\" + tarefa_atual.nome + \"',\" + '\\n' +\n    \"           '\" + tarefa_atual.titulo + \"',\" + '\\n' +\n    \"           'Saldo R$ \" + msg.payload.documento.cobranca.reduce( (total, c) => total + c.parcelas.filter( (p) => !p.selected && !p.carteira).reduce( (soma, p) => soma + p.valor, 0), 0) + \"',\" + '\\n' +\n    \"           '',\" + '\\n' +\n    \"           '\" + tarefa_atual.documento + \"',\" + '\\n' +\n    \"           '\" + tarefa_atual.atribuir + \"',\" + '\\n' +\n    \"           '\" + tarefa_atual.form + \"',\" + '\\n' +\n    \"           NULL,\" + '\\n' +\n    \"           NULL,\" + '\\n' +\n    \"           GETDATE(),\" + '\\n' +\n    \"           NULL)\" + '\\n' + '\\n' +\n    \n    \"       SET @NOVA_NAV = NEXT VALUE FOR tarefa_nav_seq\" + '\\n' + '\\n' +\n    \n    \"       INSERT TAREFA_NAV (transacao, tarefa_origem, tarefa_destino) VALUES (NEXT VALUE FOR tarefa_nav_seq, @TAREFA_ATUAL, @PROX_TAREFA)\" + '\\n' + '\\n' +\n\n    \"       INSERT INTO @tarefas SELECT id, nome, titulo, descricao, atribuir, form, parametros, prazo, criado, concluido, versao, '/tarefas/nova/' + LTRIM(RTRIM(atribuir)) AS topico FROM tarefas WHERE id = @PROX_TAREFA\" + '\\n' + '\\n' +\n\n    \"   END\" + '\\n' +\n    \"   ELSE\" + '\\n' +\n    \"   BEGIN\" + '\\n' + '\\n' +\n    \n    \"       UPDATE tarefas SET\" + '\\n' +\n    \"           descricao = 'Saldo R$ \" + msg.payload.documento.cobranca.reduce( (total, c) => total + c.parcelas.filter( (p) => !p.selected && !p.carteira).reduce( (soma, p) => soma + p.valor, 0), 0) + \"',\" + '\\n' +\n    \"           documento = '\" + tarefa_atual.documento + \"'\" + '\\n' +\n    \"       WHERE\" + '\\n' +\n    \"          id = @PROX_TAREFA\" + '\\n' +\n    \"          AND versao = @PROX_TAREFA_VERSAO\" +  '\\n' + '\\n' +\n\n    \"       IF @@ROWCOUNT != 1\" + '\\n' +\n    \"       BEGIN\" + '\\n' +\n\n    \"           SELECT TOP 1 @ULTIMA_VERSAO = versao, @CONCLUIDO = concluido FROM tarefas WHERE id = @TAREFA_ATUAL\" + '\\n' + '\\n' +\n    \n    \"           IF (NOT @CONCLUIDO IS NULL)\" + '\\n' +\n    \"               SELECT * FROM ERR WHERE erro = 7010\" + '\\n' +\n    \"           ELSE IF (@ULTIMA_VERSAO <> @VERSAO)\" + '\\n' +\n    \"               SELECT * FROM ERR WHERE erro = 7450\" + '\\n' + '\\n' +\n    \n    \"           ROLLBACK TRANSACTION\" + '\\n' + '\\n' +\n    \n    \"           RETURN\" + '\\n' +\n    \"       END\" + '\\n' + '\\n' +\n    \n    \"       INSERT INTO @tarefas SELECT id, nome, titulo, descricao, atribuir, form, parametros, prazo, criado, concluido, versao, '/tarefas/atualizada/' + LTRIM(RTRIM(atribuir)) AS topico FROM tarefas WHERE id = @PROX_TAREFA\" + '\\n' + '\\n' +\n\n    \"   END\" + '\\n' + '\\n'\n\n    :\n    \n    \"   -- tarefa finalizada e nenhuma tarefa nova criada --\" + '\\n'\n    \n    ) + '\\n' +\n\n    (msg.payload.documento.cobranca.find( (c) => c.parcelas.find( (p) => p.selected && !p.carteira) ) ?\n\n    \"   -------------------------- PROXIMA TAREFA - REMESSA -----------------------\" + '\\n' +\n\n    \"       SET @PROX_TAREFA = NEXT VALUE FOR tarefa_seq\" + '\\n' + '\\n' +\n    \n    \"       INSERT INTO tarefas\" + '\\n' +\n    \"           (id,\" + '\\n' +\n    \"           nome,\" + '\\n' +\n    \"           titulo,\" + '\\n' +\n    \"           descricao,\" + '\\n' +\n    \"           detalhes,\" + '\\n' +\n    \"           documento,\" + '\\n' +\n    \"           atribuir,\" + '\\n' +\n    \"           form,\" + '\\n' +\n    \"           parametros,\" + '\\n' +\n    \"           prazo,\" + '\\n' +\n    \"           criado,\" + '\\n' +\n    \"           concluido)\" + '\\n' +\n    \"       VALUES\" + '\\n' +\n    \"           (@PROX_TAREFA,\" + '\\n' +\n    \"           '\" + tarefa_remessa.nome + \"',\" + '\\n' +\n    \"           '\" + tarefa_remessa.titulo + \"',\" + '\\n' +\n    \"           '\" + tarefa_remessa.descricao + \"',\" + '\\n' +\n    \"           '',\" + '\\n' +\n    \"           '\" + tarefa_remessa.documento + \"',\" + '\\n' +\n    \"           '\" + tarefa_remessa.atribuir + \"',\" + '\\n' +\n    \"           '\" + tarefa_remessa.form + \"',\" + '\\n' +\n    \"           NULL,\" + '\\n' +\n    \"           NULL,\" + '\\n' +\n    \"           GETDATE(),\" + '\\n' +\n    \"           NULL)\" + '\\n' + '\\n' +\n    \n    \"       SET @NOVA_NAV = NEXT VALUE FOR tarefa_nav_seq\" + '\\n' + '\\n' +\n    \n    \"       INSERT TAREFA_NAV (transacao, tarefa_origem, tarefa_destino) VALUES (NEXT VALUE FOR tarefa_nav_seq, @TAREFA_ATUAL, @PROX_TAREFA)\" + '\\n' + '\\n' +\n\n    \"       INSERT INTO @tarefas SELECT id, nome, titulo, descricao, atribuir, form, parametros, prazo, criado, concluido, versao, '/tarefas/nova/' + LTRIM(RTRIM(atribuir)) AS topico FROM tarefas WHERE id = @PROX_TAREFA\" + '\\n' + '\\n'\n\n    :\n    \n    \"-- tarefa finalizada e nenhuma tarefa nova criada --\" + '\\n'\n    \n    ) + '\\n' +\n\n    \"   COMMIT TRANSACTION\" + '\\n' + '\\n' +\n\n    \"END TRY\" + '\\n' +\n    \"BEGIN CATCH\" + '\\n' + '\\n' +\n    \n    \"   DECLARE @ERR_ID INT\" + '\\n' + '\\n' +\n    \n    \"   SET @ERR_ID = NEXT VALUE FOR err_log_seq\" + '\\n' + '\\n' +\n    \n    \"   INSERT INTO err_log SELECT @ERR_ID AS id, ERROR_NUMBER() AS erro, ERROR_SEVERITY() AS nivel, ERROR_STATE() AS situacao, ERROR_PROCEDURE() AS procedimento, ERROR_LINE() AS linha, ERROR_MESSAGE() AS mensagem\" + '\\n' + '\\n' +\n    \n    \"   SELECT * FROM err_log WHERE id = @ERR_ID\" + '\\n' + '\\n' +\n    \n    \"   IF @@TRANCOUNT > 0\" + '\\n' +\n    \"       ROLLBACK TRANSACTION\" + '\\n' + '\\n' +\n    \n    \"   RETURN\" + '\\n' +\n    \"END CATCH\" + '\\n' + '\\n' +\n\n    \"SELECT * FROM @tarefas\" + '\\n'\n    \n\nreturn msg;","outputs":"1","noerr":0,"x":320.1999969482422,"y":920,"wires":[["a9513b20.ba9a58"]]},{"id":"a9513b20.ba9a58","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"f8b8e580.ff6178","name":"MSSQL","query":"","outField":"payload","x":550.1999969482422,"y":920,"wires":[["b1d4e852.23ad08"]]},{"id":"b3a6c16c.e39ea","type":"function","z":"e6097cee.8df04","name":"","func":"msg.payload = [ { \"id\": 1339, \"nome\": \"Lançamentos a Receber\", \"titulo\": \"Pedido 74782\", \"descricao\": \"CERAMICA VELAS DE IGNICAO NGK BRASIL LTDA\", \"atribuir\": \"faturamento\", \"form\": \"/recebiveis/lancamento/\", \"parametros\": null, \"prazo\": null, \"criado\": \"2016-12-09T09:38:59.156Z\", \"concluido\": \"2016-12-09T09:39:21.036Z\" }, { \"id\": 1340, \"nome\": \"Cobrança Bancária\", \"titulo\": \"Gerar Remessa de Cobrança\", \"descricao\": \"\", \"atribuir\": \"financeiro\", \"form\": \"/recebiveis/cobranca/\", \"parametros\": null, \"prazo\": null, \"criado\": \"2016-12-09T09:39:21.036Z\", \"concluido\": null } ]\nif (Array.isArray(msg.payload) && msg.payload.length > 0 && msg.payload[0].erro === undefined) {\n    \n    var payload = msg.payload;\n    msg.payload = {erro: 0, mensagem: 'Tarefa concluida com sucesso !'};\n    \n    var msgs = []\n    \n    msgs.push(msg);\n    \n    msgs.push({\n        topic: '/tarefas/concluida/' + payload[0].atribuir,\n        payload: payload[0]\n    });\n\n    if (msg.payload.length > 1) {\n        msgs.push({\n            topic: '/tarefas/nova/' + payload[1].atribuir,\n            payload: payload[1]\n        })\n    }\n    \n    return msgs;\n    \n} else {\n    msg.statusCode = 500;\n    msg.payload = msg.payload[0];\n    return [msg, null, null]\n}\n","outputs":"3","noerr":0,"x":340.1999969482422,"y":1580,"wires":[["f496d024.b4156"],["2371e531.c61c4a"],["e8c35bf3.0c2378"]]},{"id":"f496d024.b4156","type":"debug","z":"e6097cee.8df04","name":"","active":true,"console":"false","complete":"payload","x":540.1999969482422,"y":1540,"wires":[]},{"id":"38b3d3d3.231fbc","type":"inject","z":"e6097cee.8df04","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":130.1999969482422,"y":1580,"wires":[["b3a6c16c.e39ea"]]},{"id":"2371e531.c61c4a","type":"debug","z":"e6097cee.8df04","name":"","active":true,"console":"false","complete":"payload","x":540.1999969482422,"y":1580,"wires":[]},{"id":"e8c35bf3.0c2378","type":"debug","z":"e6097cee.8df04","name":"","active":true,"console":"false","complete":"payload","x":540.1999969482422,"y":1620,"wires":[]},{"id":"312bbcd6.ef44f4","type":"function","z":"e6097cee.8df04","name":"tarefa","func":"msg.topic = msg.payload.topico;\n\nreturn msg;","outputs":1,"noerr":0,"x":1060.1999969482422,"y":940,"wires":[["b6b4f301.38da4","803a725f.86798"]]},{"id":"12ed8947.9a34a7","type":"split","z":"e6097cee.8df04","name":"","splt":"\\n","x":900.1999969482422,"y":940,"wires":[["312bbcd6.ef44f4"]]},{"id":"660d62ca.1dba7c","type":"function","z":"e6097cee.8df04","name":"erro","func":"msg.statusCode = 500;\n\nif (Array.isArray(msg.payload) && msg.payload.length > 0) {\n    msg.payload = msg.payload[0];    \n} else {\n    msg.payload = {erro: 9999, mensagem: 'Ocorreu um erro ao executar a sua solicitação.'}\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":900.1999969482422,"y":980,"wires":[["9629fc97.d1834","e378b4a7.47eb58"]]},{"id":"9629fc97.d1834","type":"http response","z":"e6097cee.8df04","name":"","x":1060.1999969482422,"y":980,"wires":[]},{"id":"803a725f.86798","type":"debug","z":"e6097cee.8df04","name":"","active":true,"console":"false","complete":"payload","x":1240.1999969482422,"y":1000,"wires":[]},{"id":"2766bb79.795f24","type":"function","z":"e6097cee.8df04","name":"","func":"msg.payload = {\n  \"id\": 1307,\n  \"nome\": \"Lançamentos a Receber\",\n  \"titulo\": \"Pedido 74749\",\n  \"concluido\": null,\n  \"versao\": {\n    \"type\": \"Buffer\",\n    \"data\": [\n      0,\n      0,\n      0,\n      0,\n      0,\n      0,\n      8,\n      10\n    ]\n  }\n}\nvar str = String.fromCharCode.apply(null, msg.payload.versao.data);\n    \nmsg.payload.buffer = str;\n\nreturn msg;\n","outputs":"1","noerr":0,"x":960.1999969482422,"y":1580,"wires":[["f64bd328.79d81"]]},{"id":"667d767d.a60f18","type":"inject","z":"e6097cee.8df04","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":770.1999969482422,"y":1580,"wires":[["2766bb79.795f24"]]},{"id":"f64bd328.79d81","type":"debug","z":"e6097cee.8df04","name":"","active":true,"console":"false","complete":"payload","x":1180.1999969482422,"y":1580,"wires":[]},{"id":"e378b4a7.47eb58","type":"debug","z":"e6097cee.8df04","name":"","active":true,"console":"false","complete":"payload","x":1080.1999969482422,"y":1040,"wires":[]},{"id":"11707df.8835982","type":"debug","z":"e6097cee.8df04","name":"","active":true,"console":"false","complete":"payload","x":920.1999969482422,"y":860,"wires":[]},{"id":"c28042af.5e156","type":"debug","z":"e6097cee.8df04","name":"","active":true,"console":"false","complete":"payload","x":560.1999969482422,"y":820,"wires":[]},{"id":"a7a11529.561238","type":"http response","z":"e6097cee.8df04","name":"","x":620.1999969482422,"y":1380,"wires":[]},{"id":"f524ddde.6ae99","type":"catch","z":"e6097cee.8df04","name":"","scope":null,"x":230.1999969482422,"y":1400,"wires":[["1a66b59c.524eba","2516dbf5.d38344"]]},{"id":"1a66b59c.524eba","type":"debug","z":"e6097cee.8df04","name":"","active":true,"console":"false","complete":"false","x":460.1999969482422,"y":1420,"wires":[]},{"id":"2516dbf5.d38344","type":"function","z":"e6097cee.8df04","name":"erro","func":"msg.statusCode = 500;\n\nreturn msg;","outputs":1,"noerr":0,"x":440.1999969482422,"y":1380,"wires":[["a7a11529.561238"]]},{"id":"2b43b5cc.08b26a","type":"delay","z":"e6097cee.8df04","name":"delay","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":540.1999969482422,"y":260,"wires":[["adbff192.41758"]]},{"id":"a37171a0.703ed","type":"mqtt out","z":"e6097cee.8df04","name":"","topic":"","qos":"","retain":"","broker":"282ac891.392698","x":2780.199996948242,"y":820,"wires":[]},{"id":"6617f8fd.d25678","type":"function","z":"e6097cee.8df04","name":"NOTIFY","func":"msg.payload = msg.payload[0]\nmsg.topic = '/tarefas/nova/' + msg.payload.atribuir\nreturn msg;","outputs":1,"noerr":0,"x":2590.199996948242,"y":820,"wires":[["a37171a0.703ed","e7d1f7bf.80d998"]]},{"id":"c31e4009.0962d","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"f8b8e580.ff6178","name":"","query":"","outField":"payload","x":2410.199996948242,"y":820,"wires":[["6617f8fd.d25678"]]},{"id":"67350a17.1013d4","type":"function","z":"e6097cee.8df04","name":"TAREFA","func":"\nmsg.payload = \n\"DECLARE @ID INT \"+\n\"SET @ID = NEXT VALUE FOR tarefa_seq \" +\n\"INSERT INTO tarefas \" +\n\"   (id, \" +\n\"   nome, \" +\n\"   titulo, \" +\n\"   descricao, \" +\n\"   documento, \" +\n\"   atribuir, \" +\n\"   form, \" +\n\"   parametros, \" +\n\"   prazo, \" +\n\"   criado, \" +\n\"   concluido) \" +\n\"VALUES \" +\n\"   (@ID, \" +\n\"   '\" + msg.payload.nome + \"', \" +\n\"   '\" + msg.payload.titulo + \"', \" +\n\"   '\" + msg.payload.descricao + \"', \" +\n\"   '\" + msg.payload.documento + \"', \" + \n\"   '\" + msg.payload.atribuir + \"', \" +\n\"   '\" + msg.payload.form + \"', \" +\n\"   NULL, \" +\n\"   NULL, \" +\n\"   GETDATE(), \" +\n\"   NULL);\" +\n\n\"SELECT \" +\n\"   id, \" +\n\"   nome, \" +\n\"   titulo, \" +\n\"   descricao, \" +\n//\"   conteudo, \" +\n\"   atribuir, \" +\n\"   form, \" +\n\"   parametros, \" +\n\"   prazo, \" +\n\"   criado, \" +\n\"   concluido \" +\n\"FROM tarefas \" + \n\"WHERE id = @ID;\"\n\nreturn msg;","outputs":1,"noerr":0,"x":2230.199996948242,"y":820,"wires":[["c31e4009.0962d"]]},{"id":"50411360.bea48c","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"1bb61597.983fca","name":"","query":"","outField":"payload","x":2030.1999969482422,"y":700,"wires":[["71615594.ad0fdc"]]},{"id":"22b10488.f2c3bc","type":"function","z":"e6097cee.8df04","name":"PARCELAS","func":"msg.local.representante = msg.payload[0];\nmsg.payload = \n\"SELECT \" +\n//\"   LPV.LPPED AS nosso_numero, \" +\n\"   DATEADD(d, CACPG1.CCPg1Dia, CASE WHEN CACPG1.CCPg1DiaTip = 'DDP' THEN CAST(LPV.LPENT AS DATE) ELSE CAST(LPV.Lp0SaiRed AS DATE) END) AS vencto, \" +\n\"   'VENDA' AS origem, \" +\n\"   'COBRANCA' AS forma_pagto, \" +\n\"   CACPG1.CCPg1DiaTip AS tipo_vencto, \" +\n\"   CACPG1.CCPg1Seq AS parcela, \" +\n\"   CACPG1.CCPg1Dia AS prazo, \" +\n//\"   CACPG1.CCPg1Por AS porcentagem, \" +\n//\"   CACPG1.CCPg1Cod AS descricao, \" +\n\"   CAST(LPV1.total * (CACPG1.CCPg1Por / 100) AS money) AS valor \" +\n\"FROM \" +\n\"   GPIMAC_Altamira.dbo.LPV AS LPV INNER JOIN GPIMAC_Altamira.dbo.CACPG1 ON LPV.LPPAG = GPIMAC_Altamira.dbo.CACPG1.CPCOD \" +\n\"   LEFT OUTER JOIN \" +\n\"   (SELECT \" +\n\"       LPPED,  \" +\n\"       CAST(SUM(LPQUA * LPPRE) AS MONEY) AS total_produtos, \" +\n\"       CAST(SUM((LPQUA * LPPRE) * (LPIPI / 100)) AS MONEY) AS total_ipi, \" +\n\"       CAST(SUM(LPQUA * LPPRE + (LPQUA * LPPRE) * (LPIPI / 100)) AS MONEY) AS total \" +\n\"   FROM \" +\n\"       GPIMAC_Altamira.dbo.LPV1 AS LPV1_1 \" +\n\"   GROUP BY \" +\n\"       LPPED) AS LPV1 ON LPV.LPPED = LPV1.LPPED \" +\n\"WHERE \" +\n\"   LPV.LPPED = \" + msg.local.numero + \" \" +\n\"ORDER BY CACPG1.CCPg1Seq\"\n\nreturn msg;","outputs":1,"noerr":0,"x":2040.1999969482422,"y":640,"wires":[["50411360.bea48c"]]},{"id":"ac5247ca.22d9a8","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"1bb61597.983fca","name":"","query":"","outField":"payload","x":2030.1999969482422,"y":160,"wires":[["a7571242.6865c"]]},{"id":"bb3c55e0.9f1ef8","type":"function","z":"e6097cee.8df04","name":"PEDIDO","func":"msg.params = msg.payload;\nmsg.payload = \n\"DECLARE @PEDIDO INT \" +\n\"SET @PEDIDO = \" + (msg.params || 'NULL') + \" \" +\n\"SELECT \" +\n\"\tLTRIM(RTRIM(LPV.LPEMP))     AS empresa, \" +\n\"\tCAST(LPV.LPPED AS INT)      AS numero, \" +\n\"   LPV.LPENT                   AS emissao, \" +\n\"\tLPV.Lp0SaiRed               AS entrega, \" +\n\"   LTRIM(RTRIM(LPV.CCCGC))\t    AS cliente, \" +\n\"\tLPV.LPPAG\t                AS condicao, \" + \n\"\tLPV.LPVEN\t\t\t\t    AS representante, \" + \n\"\tLPV.LpCom / 100\t\t\t\tAS comissao \" +\n\"FROM \" +\n\"\tGPIMAC_Altamira.dbo.LPV WITH (NOLOCK) \" +\n\"   LEFT OUTER JOIN \" +\n\"   (SELECT \" +\n\"    \tLPPED, \" + \n\"\t\tCAST(SUM(LPQUA * LPPRE) AS MONEY) AS valor_produtos,  \" +\n\"\t\tCAST(SUM((LPQUA * LPPRE) * (LPIPI / 100)) AS MONEY) AS valor_ipi,  \" +\n\"\t\tCAST(SUM(LPQUA * LPPRE + (LPQUA * LPPRE) * (LPIPI / 100)) AS MONEY) AS valor_pedido \" +\n\"\tFROM \" +\n\"\t\tGPIMAC_Altamira.dbo.LPV1 AS LPV1_1 \" +\n\"\tGROUP BY \" +\n\"\t\tLPPED) AS LPV1 ON LPV.LPPED = LPV1.LPPED \" +\n\"WHERE \" +\n\"   LPV.LPPED = @PEDIDO\"\n\nreturn msg;","outputs":1,"noerr":0,"x":2030.1999969482422,"y":100,"wires":[["ac5247ca.22d9a8"]]},{"id":"c97adf70.e8ea","type":"function","z":"e6097cee.8df04","name":"CLIENTE","func":"msg.local.totais = msg.payload[0];\nmsg.payload = \n\"DECLARE @CLIENTE NVARCHAR(20) \" +\n\"SET @CLIENTE = \" + (\"'\" + msg.local.cliente + \"'\" || 'NULL') + \" \" +\n\"SELECT \" +\n\"\tLTRIM(RTRIM(CACLI.CCCGC))                               AS cnpj, \" +\n\"   LTRIM(RTRIM(CACLI.CCINS))                               AS inscricao, \" +\n\"\tREPLACE(LTRIM(RTRIM(CACLI.CCFAN)), '''', '')            AS fantasia, \" +\n\"\tREPLACE(LTRIM(RTRIM(CACLI.CCNOM)), '''', '')            AS nome, \" +\n\"   REPLACE(LTRIM(RTRIM(CACLI.CCLogTip0CodC)), '''', '')    AS logradouro, \" +\n\"   REPLACE(LTRIM(RTRIM(CACLI.CCCEN)), '''', '')            AS endereco, \" +\n\"   LTRIM(RTRIM(CACLI.CCCENNum))                            AS numero, \" +\n\"   REPLACE(LTRIM(RTRIM(CACLI.CCCENCpl)), '''', '')         AS complemento, \" +\n\"   LTRIM(RTRIM(CACLI.CCCBA))                               AS bairro, \" +\n\"   CACLI.CCCCIIBGECOD                                      AS municipio, \" +\n\"   LTRIM(RTRIM(CACLI.CCCCI))                               AS cidade, \" +\n\"   LTRIM(RTRIM(CACLI.CCCcEP))                              AS CEP, \" +\n\"   LTRIM(RTRIM(CACLI.CCCES))                               AS UF, \" +\n\"   LTRIM(RTRIM(CACLI.CCDD5))                               AS ddd, \" +\n\"   LTRIM(RTRIM(CACLI.CCtFO3))                              AS telefone, \" +\n\"   REPLACE(LTRIM(RTRIM(CACLI.CCCO1)), '''', '')            AS contato, \" +\n\"   LTRIM(RTRIM(CACLI.CCCL))                                AS conta_contabil \" +\n\"FROM \" +\n\"   GPIMAC_Altamira.dbo.CACLI WITH (NOLOCK) \" +\n\"WHERE \" +\n\"   CACLI.CCCGC = @CLIENTE;\"\n\nreturn msg;","outputs":1,"noerr":0,"x":2030.1999969482422,"y":400,"wires":[["b6405f1.f63a8a"]]},{"id":"b6405f1.f63a8a","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"1bb61597.983fca","name":"","query":"","outField":"payload","x":2030.1999969482422,"y":460,"wires":[["6cb2b1d5.64ae1"]]},{"id":"6cb2b1d5.64ae1","type":"function","z":"e6097cee.8df04","name":"REPRESENTANTE","func":"msg.local.cliente = msg.payload[0];\nmsg.payload = \n\"DECLARE @REPRESENTANTE NVARCHAR(20) \" +\n\"SET @REPRESENTANTE = \" + (\"'\" + msg.local.representante + \"'\" || 'NULL') + \" \" +\n\"SELECT \" +\n\"   LTRIM(RTRIM(CAREP.CVCOD)) AS codigo, \" +\n\"   LTRIM(RTRIM(CAREP.CVNOM)) AS nome \" +\n\"FROM \" +\n\"   GPIMAC_Altamira.dbo.CAREP WITH (NOLOCK) \" +\n\"WHERE \" +\n\"   CAREP.CVCOD = @REPRESENTANTE\"\n\nreturn msg;","outputs":1,"noerr":0,"x":2060.199996948242,"y":520,"wires":[["84b5183b.63d9d8"]]},{"id":"84b5183b.63d9d8","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"1bb61597.983fca","name":"","query":"","outField":"payload","x":2030.1999969482422,"y":580,"wires":[["22b10488.f2c3bc"]]},{"id":"d2ebd48c.406788","type":"function","z":"e6097cee.8df04","name":"TOTAIS","func":"msg.local = msg.payload;\nmsg.payload = \n\"DECLARE @PEDIDO INT \" +\n\"SET @PEDIDO = \" + (msg.local.numero || 'NULL') + \" \" +\n\"SELECT \" +\n\"\tLPV1.produtos, \" + \n\"\tLPV1.ipi, \" +\n\"\tLPV1.total \" +\n\"FROM \" +\n\"\tGPIMAC_Altamira.dbo.LPV WITH (NOLOCK) \" +\n\"   LEFT OUTER JOIN \" +\n\"   (SELECT \" +\n\"    \tLPPED, \" + \n\"\t\tCAST(SUM(LPQUA * LPPRE) AS MONEY) AS produtos,  \" +\n\"\t\tCAST(SUM((LPQUA * LPPRE) * (LPIPI / 100)) AS MONEY) AS ipi,  \" +\n\"\t\tCAST(SUM(LPQUA * LPPRE + (LPQUA * LPPRE) * (LPIPI / 100)) AS MONEY) AS total \" +\n\"\tFROM \" +\n\"\t\tGPIMAC_Altamira.dbo.LPV1 AS LPV1_1 \" +\n\"\tGROUP BY \" +\n\"\t\tLPPED) AS LPV1 ON LPV.LPPED = LPV1.LPPED \" +\n\"WHERE \" +\n\"   LPV.LPPED = @PEDIDO\"\n\nreturn msg;\n","outputs":1,"noerr":0,"x":2030.1999969482422,"y":280,"wires":[["ac95cfc6.90048"]]},{"id":"ac95cfc6.90048","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"1bb61597.983fca","name":"","query":"","outField":"payload","x":2030.1999969482422,"y":340,"wires":[["c97adf70.e8ea"]]},{"id":"71615594.ad0fdc","type":"function","z":"e6097cee.8df04","name":"RETURN","func":"msg.local.parcelas = msg.payload;\n\nmsg.payload = msg.local;\n\n//delete msg.local;\n\nreturn msg;","outputs":1,"noerr":0,"x":2030.1999969482422,"y":760,"wires":[["8b6728f.78dbed8"]]},{"id":"a7571242.6865c","type":"function","z":"e6097cee.8df04","name":"EXISTE ?","func":"if (!Array.isArray(msg.payload) || msg.payload.length === 0) {\n    msg.payload = 'PEDIDO NÃO ENCONTRADO: ' + msg.params;\n    return [msg, null]; // NAO EXISTE\n} else {\n    msg.payload = msg.payload[0];\n    return [null, msg]; // ENCONTRADO\n} ","outputs":"2","noerr":0,"x":2030.1999969482422,"y":220,"wires":[["e562af5.5fb565"],["d2ebd48c.406788"]]},{"id":"7907fe96.81bab","type":"http in","z":"e6097cee.8df04","name":"remessa","url":"/api/financeiro/recebiveis/remessa/tarefa/:tarefa","method":"post","swaggerDoc":"","x":90.19999694824219,"y":980,"wires":[["f4ff5d58.184a5"]]},{"id":"f4ff5d58.184a5","type":"function","z":"e6097cee.8df04","name":"SQL","func":"var tarefa_retorno = \n{\n    nome: 'Retorno de Cobrança',\n    titulo: msg.payload.documento.carteira.nome,\n    descricao: 'Total R$ ' + msg.payload.documento.remessa.reduce( (total, c) => total + c.parcelas.reduce( (soma, p) => soma + p.valor, 0), 0), \n    documento: JSON.stringify({ \n        \n        carteira: msg.payload.documento.carteira,\n        data: new Date().toISOString(),\n        \n        retorno: msg.payload.documento.remessa.map( c => {\n            var cobranca = {\n                nosso_numero: c.nosso_numero,\n                pedido: c.pedido,\n                cliente: c.cliente,\n                parcelas: c.parcelas.map( (p) => {\n                \n                    var parcela = {\n                        vencto: p.vencto,\n                        origem: p.origem,\n                        forma_pagto: p.forma_pagto,\n                        tipo_vencto: p.tipo_vencto,\n                        parcela: p.parcela,\n                        prazo: p.prazo,\n                        valor: p.valor\n                    }\n                    \n                    parcela.carteira = p.carteira;\n                    parcela.data = p.data;\n\n                    return parcela;\n                    \n                })\n            };\n            \n            return cobranca;\n        })\n        \n    }),\n    atribuir: 'cobranca',\n    form: '/recebiveis/retorno/'\n}\n\nmsg.payload = \n    \"SET NOCOUNT ON\" + '\\n' + '\\n' +\n    \n    \"DECLARE @REMESSA INT\" + '\\n' +\n    \"DECLARE @NOSSO_NUMERO INT\" + '\\n' +\n    \"DECLARE @PARCELA INT\" + '\\n' +\n    \"DECLARE @CARTEIRA INT\" + '\\n' + '\\n' +\n\n    \"DECLARE @VALOR_BRUTO MONEY\" + '\\n' +\n    \"DECLARE @VALOR_LIQUIDO MONEY\" + '\\n' +\n    \"DECLARE @VALOR_OPERACAO MONEY\" + '\\n' +\n    \"DECLARE @VALOR_TARIFA MONEY\" + '\\n' +\n    \"DECLARE @VALOR_JUROS MONEY\" + '\\n' +\n    \"DECLARE @VALOR_IOF MONEY\" + '\\n' +\n    \"DECLARE @TAXA_JUROS DECIMAL(18,2)\" + '\\n' + '\\n' +\n\n    \"DECLARE @FORMA_PAGTO VARCHAR(10)\" + '\\n' +\n    \"DECLARE @TIPO_VENCTO VARCHAR(3)\" + '\\n' +\n    \"DECLARE @VENCTO DATE\" + '\\n' +\n    \"DECLARE @PRAZO INT\" + '\\n' +\n    \"DECLARE @VALOR MONEY\" + '\\n' +\n\n    \"DECLARE @TAREFA_ATUAL INT\" + '\\n' +\n    \"DECLARE @VERSAO INT\" + '\\n' + '\\n' +\n\n    \"DECLARE @NOVA_TAREFA INT\" + '\\n' +\n\n    \"DECLARE @ULTIMA_VERSAO INT\" + '\\n' +\n    \"DECLARE @CONCLUIDO DATETIME\" + '\\n' + '\\n' +\n\n    \"DECLARE @PROX_TAREFA INT\" + '\\n' +\n    \"DECLARE @PROX_TAREFA_VERSAO INT\" + '\\n' + '\\n' +\n\n    \"DECLARE @NOVA_NAV INT\" + '\\n' + '\\n' +\n    \n    \"DECLARE @tarefas TABLE (\" + '\\n' +\n\t\"\t[id] [int] NOT NULL,\" + '\\n' +\n\t\"\t[nome] [nvarchar](100) NOT NULL,\" + '\\n' +\n\t\"\t[titulo] [nvarchar](50) NULL,\" + '\\n' +\n\t\"\t[descricao] [nvarchar](50) NULL,\" + '\\n' +\n\t\"\t[atribuir] [nvarchar](50) NULL,\" + '\\n' +\n\t\"\t[form] [nvarchar](100) NOT NULL,\" + '\\n' +\n\t\"\t[parametros] [nvarchar](max) NULL,\" + '\\n' +\n\t\"\t[prazo] [datetime] NULL,\" + '\\n' +\n\t\"\t[criado] [datetime] NOT NULL,\" + '\\n' +\n\t\"\t[concluido] [datetime] NULL,\" + '\\n' +\n\t\"\t[versao] [int],\" + '\\n' +\n\t\"\t[topico] [nvarchar](100) NOT NULL)\" + '\\n' + '\\n' +\n\t\t\n    \"BEGIN TRY\" + '\\n' +\n    \"   BEGIN TRANSACTION\" + '\\n' + '\\n' +\n\n    \"   -------------------------------------- ATUALIZACAO DAS TAREFAS ----------------------------------------------\" + '\\n' +\n    \"   SET @TAREFA_ATUAL = \" + (parseInt(msg.req.params.tarefa) || 'NULL') + \"\" + '\\n' +\n    \"   SET @VERSAO = CAST('\" + (msg.payload.versao || 'NULL') + \"' AS INT)\" + '\\n' + '\\n' +\n\n    \"   UPDATE tarefas SET\" + '\\n' +\n    \"\t    concluido = GETDATE()\" + '\\n' +\n    \"   WHERE\" + '\\n' +\n    \"       id = @TAREFA_ATUAL\" + '\\n' +\n    \"       AND concluido IS NULL\" + '\\n' + '\\n' +\n    \"       AND versao = @VERSAO\" + '\\n' + '\\n' +\n    \n    \"   IF @@ROWCOUNT != 1\" + '\\n' +\n    \"   BEGIN\" + '\\n' +\n    \n    \"       SELECT TOP 1 @ULTIMA_VERSAO = versao, @CONCLUIDO = concluido FROM tarefas WHERE id = @TAREFA_ATUAL\" + '\\n' + '\\n' +\n    \n    \"       IF (NOT @CONCLUIDO IS NULL)\" + '\\n' +\n    \"           SELECT * FROM ERR WHERE erro = 7010\" + '\\n' +\n    \"       ELSE IF (@ULTIMA_VERSAO <> @VERSAO)\" + '\\n' +\n    \"           SELECT * FROM ERR WHERE erro = 7450\" + '\\n' + '\\n' +\n    \n    \"       ROLLBACK TRANSACTION\" + '\\n' + '\\n' +\n    \n    \"       RETURN\" + '\\n' +\n    \"   END\" + '\\n' + '\\n' +\n\n    \"   INSERT INTO @tarefas SELECT id, nome, titulo, descricao, atribuir, form, parametros, prazo, criado, concluido, versao, '/tarefas/concluida/' + LTRIM(RTRIM(atribuir)) AS topico FROM tarefas WHERE id = @TAREFA_ATUAL\" + '\\n' + '\\n' +\n\n    //---------------------------------------------------- cabecalho da remessa ----------------------------------------------------\n    \"   SET @VALOR_BRUTO = CAST(\" +     (\"'\" + msg.payload.documento.bordero.bruto + \"'\"      || \"NULL\") + \" AS MONEY)\" + '\\n' + \n    \"   SET @VALOR_LIQUIDO = CAST(\" +   (\"'\" + msg.payload.documento.bordero.liquido + \"'\"    || \"NULL\") + \" AS MONEY)\" + '\\n' +\n    \"   SET @VALOR_OPERACAO = CAST(\" +  (\"'\" + msg.payload.documento.bordero.operacao + \"'\"   || \"NULL\") + \" AS MONEY)\" + '\\n' +\n    \"   SET @VALOR_TARIFA = CAST(\" +    (\"'\" + msg.payload.documento.bordero.tarifa + \"'\"     || \"NULL\") + \" AS MONEY)\" + '\\n' +\n    \"   SET @VALOR_JUROS = CAST(\" +     (\"'\" + msg.payload.documento.bordero.juros + \"'\"      || \"NULL\") + \" AS MONEY)\" + '\\n' +\n    \"   SET @VALOR_IOF = CAST(\" +       (\"'\" + msg.payload.documento.bordero.iof + \"'\"        || \"NULL\") + \" AS MONEY)\" + '\\n' +\n    \"   SET @TAXA_JUROS = CAST(\" +      (\"'\" + msg.payload.documento.bordero.taxa + \"'\"       || \"NULL\") + \" AS DECIMAL(18,2))\" + '\\n' + '\\n' +\n    \n    \"   SET @REMESSA = NEXT VALUE FOR remessa_seq\" + '\\n' + '\\n' +\n    \n    \"   INSERT INTO REM (\" + '\\n' +\n    \"       remessa,\" + '\\n' +\n    \"       bruto,\" + '\\n' +\n    \"       liquido,\" + '\\n' +\n    \"       operacao,\" + '\\n' +\n    \"       tarifa,\" + '\\n' +\n    \"       juros,\" + '\\n' +\n    \"       iof,\" + '\\n' +\n    \"       taxa)\" + '\\n' +\n    \"   VALUES (\" + '\\n' +\n    \"       @REMESSA,\" + '\\n' +\n    \"       @VALOR_BRUTO,\" + '\\n' +\n    \"       @VALOR_LIQUIDO,\" + '\\n' +\n    \"       @VALOR_OPERACAO,\" + '\\n' +\n    \"       @VALOR_TARIFA,\" + '\\n' +\n    \"       @VALOR_JUROS,\" + '\\n' +\n    \"       @VALOR_IOF,\" + '\\n' +\n    \"       @TAXA_JUROS)\" + '\\n' + '\\n' +\n\n    //---------------------------------------------------- grava as parcelas ----------------------------------------------------\n    msg.payload.documento.remessa.reduce( (sql, r) => \n    \n        sql + r.parcelas.reduce( (sql, p) => \n        \n            sql + \n            \"   ----------------------------------------------------------------------------------------------------------\" + '\\n' +\n            \"   -- insere nova parcela => nosso_numero: \" + r.nosso_numero + ', parcela: ' + p.parcela + ', carteira: ' + msg.payload.documento.carteira.id + '\\n' +\n            \"   ----------------------------------------------------------------------------------------------------------\" + '\\n' +\n            \"   SET @NOSSO_NUMERO = CAST(\" +   (\"'\" + r.nosso_numero + \"'\" || \"NULL\") + \" AS INT)\" + '\\n' +\n            \"   SET @PARCELA = CAST(\" +        (\"'\" + p.parcela + \"'\"      || \"NULL\") + \" AS INT)\" + '\\n' +\n            \"   SET @CARTEIRA = CAST(\" +       (\"'\" + msg.payload.documento.carteira.id + \"'\"        || \"NULL\") + \" AS INT)\" + '\\n' + '\\n' +\n        \n            \"   IF EXISTS(SELECT NOSSO_NUMERO FROM REMD WHERE nosso_numero = @NOSSO_NUMERO AND parcela = @PARCELA AND carteira = @CARTEIRA)\" + '\\n' +\n            \"   BEGIN\" + '\\n' + '\\n' +\n            \n            \"       SELECT * FROM ERR WHERE erro = 1123\" + '\\n' + '\\n' +\n            \n            \"       ROLLBACK TRANSACTION\" + '\\n' + '\\n' +\n            \n            \"       RETURN\" + '\\n' +\n            \"   END\" + '\\n' + '\\n' +\n    \n            \"   SET @NOSSO_NUMERO = CAST(\" +    (\"'\" + r.nosso_numero + \"'\" || \"NULL\") + \" AS INT)\" + '\\n' +\n            \"   SET @PARCELA = CAST(\" +         (\"'\" + p.parcela + \"'\"      || \"NULL\") + \" AS INT)\" + '\\n' +\n            \"   SET @CARTEIRA = CAST(\" +        (\"'\" + msg.payload.documento.carteira.id + \"'\"        || \"NULL\") + \" AS INT)\" + '\\n' + '\\n' +\n\n            \"   SET @FORMA_PAGTO = CAST(\" +     (\"'\" + p.forma_pagto + \"'\"    || \"NULL\") + \" AS VARCHAR(10))\" + '\\n' +\n            \"   SET @TIPO_VENCTO = CAST(\" +     (\"'\" + p.tipo_vencto + \"'\"    || \"NULL\") + \" AS VARCHAR(3))\" + '\\n' +\n            \"   SET @VENCTO = CAST(\" +          (\"'\" + p.vencto + \"'\"         || \"NULL\") + \" AS DATE)\" + '\\n' +\n            \"   SET @PRAZO = CAST(\" +           (\"'\" + p.prazo + \"'\"          || \"NULL\") + \" AS INT)\" + '\\n' +\n            \"   SET @VALOR = CAST(\" +           (\"'\" + p.valor + \"'\"          || \"NULL\") + \" AS MONEY)\" + '\\n' +\n\n            \"   INSERT INTO REMD (remessa, nosso_numero, parcela, carteira, forma_pagto, tipo_vencto, vencto, prazo, valor)\" + '\\n' +\n            \"   VALUES (@REMESSA, @NOSSO_NUMERO, @PARCELA, @CARTEIRA, @FORMA_PAGTO, @TIPO_VENCTO, @VENCTO, @PRAZO, @VALOR)\" + '\\n' + '\\n'\n        \n        , '')\n    \n    , '') +\n\n\n    \"   -------------------------- PROXIMA TAREFA - RETORNO -----------------------\" + '\\n' +\n\n    \"   SET @PROX_TAREFA = NEXT VALUE FOR tarefa_seq\" + '\\n' + '\\n' +\n    \n    \"   INSERT INTO tarefas\" + '\\n' +\n    \"       (id,\" + '\\n' +\n    \"       nome,\" + '\\n' +\n    \"       titulo,\" + '\\n' +\n    \"       descricao,\" + '\\n' +\n    \"       detalhes,\" + '\\n' +\n    \"       documento,\" + '\\n' +\n    \"       atribuir,\" + '\\n' +\n    \"       form,\" + '\\n' +\n    \"       parametros,\" + '\\n' +\n    \"       prazo,\" + '\\n' +\n    \"       criado,\" + '\\n' +\n    \"       concluido)\" + '\\n' +\n    \"   VALUES\" + '\\n' +\n    \"       (@PROX_TAREFA,\" + '\\n' +\n    \"       '\" + tarefa_retorno.nome + \"',\" + '\\n' +\n    \"       '\" + tarefa_retorno.titulo + \"',\" + '\\n' +\n    \"       '\" + tarefa_retorno.descricao + \"',\" + '\\n' +\n    \"       '',\" + '\\n' +\n    \"       '\" + tarefa_retorno.documento + \"',\" + '\\n' +\n    \"       '\" + tarefa_retorno.atribuir + \"',\" + '\\n' +\n    \"       '\" + tarefa_retorno.form + \"',\" + '\\n' +\n    \"       NULL,\" + '\\n' +\n    \"       NULL,\" + '\\n' +\n    \"       GETDATE(),\" + '\\n' +\n    \"       NULL)\" + '\\n' + '\\n' +\n    \n    \"   SET @NOVA_NAV = NEXT VALUE FOR tarefa_nav_seq\" + '\\n' + '\\n' +\n    \n    \"   INSERT TAREFA_NAV (transacao, tarefa_origem, tarefa_destino) VALUES (NEXT VALUE FOR tarefa_nav_seq, @TAREFA_ATUAL, @PROX_TAREFA)\" + '\\n' + '\\n' +\n\n    \"   INSERT INTO @tarefas SELECT id, nome, titulo, descricao, atribuir, form, parametros, prazo, criado, concluido, versao, '/tarefas/nova/' + LTRIM(RTRIM(atribuir)) AS topico FROM tarefas WHERE id = @PROX_TAREFA\" + '\\n' + '\\n' +\n\n    \"   COMMIT TRANSACTION\" + '\\n' + '\\n' +\n\n    \"END TRY\" + '\\n' +\n    \"BEGIN CATCH\" + '\\n' + '\\n' +\n    \n    \"   DECLARE @ERR_ID INT\" + '\\n' + '\\n' +\n    \n    \"   SET @ERR_ID = NEXT VALUE FOR err_log_seq\" + '\\n' + '\\n' +\n    \n    \"   INSERT INTO err_log SELECT @ERR_ID AS id, ERROR_NUMBER() AS erro, ERROR_SEVERITY() AS nivel, ERROR_STATE() AS situacao, ERROR_PROCEDURE() AS procedimento, ERROR_LINE() AS linha, ERROR_MESSAGE() AS mensagem\" + '\\n' + '\\n' +\n    \n    \"   SELECT * FROM err_log WHERE id = @ERR_ID\" + '\\n' + '\\n' +\n    \n    \"   IF @@TRANCOUNT > 0\" + '\\n' +\n    \"       ROLLBACK TRANSACTION\" + '\\n' + '\\n' +\n    \n    \"   RETURN\" + '\\n' +\n    \"END CATCH\" + '\\n' + '\\n' +\n\n    \"SELECT * FROM @tarefas\" + '\\n'\n    \n\nreturn msg;","outputs":"1","noerr":0,"x":320.1999969482422,"y":980,"wires":[["db4f0ac8.f08fb8"]]},{"id":"db4f0ac8.f08fb8","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"f8b8e580.ff6178","name":"MSSQL","query":"","outField":"payload","x":550.1999969482422,"y":980,"wires":[["b1d4e852.23ad08"]]},{"id":"9af4ea18.0f0458","type":"http in","z":"e6097cee.8df04","name":"retorno","url":"/api/financeiro/recebiveis/retorno/tarefa/:tarefa","method":"post","swaggerDoc":"","x":80.19999694824219,"y":1040,"wires":[["c8b48fee.2a802"]]},{"id":"c8b48fee.2a802","type":"function","z":"e6097cee.8df04","name":"SQL","func":"\nmsg.payload = \n    \"SET NOCOUNT ON\" + '\\n' + '\\n' +\n    \n    \"DECLARE @RETORNO INT\" + '\\n' +\n    \"DECLARE @NOSSO_NUMERO INT\" + '\\n' +\n    \"DECLARE @PARCELA INT\" + '\\n' +\n    \"DECLARE @CARTEIRA INT\" + '\\n' +\n\n    \"DECLARE @DATA AS DATE\" + '\\n' +\n    \"DECLARE @VALOR_BRUTO MONEY\" + '\\n' +\n    \"DECLARE @VALOR_LIQUIDO MONEY\" + '\\n' +\n    \"DECLARE @VALOR_OPERACAO MONEY\" + '\\n' +\n    \"DECLARE @VALOR_TARIFA MONEY\" + '\\n' +\n    \"DECLARE @VALOR_JUROS MONEY\" + '\\n' +\n    \"DECLARE @VALOR_IOF MONEY\" + '\\n' +\n    \"DECLARE @TAXA_JUROS DECIMAL(18,2)\" + '\\n' + '\\n' +\n\n    \"DECLARE @FORMA_PAGTO VARCHAR(10)\" + '\\n' +\n    \"DECLARE @TIPO_VENCTO VARCHAR(3)\" + '\\n' +\n    \"DECLARE @VENCTO DATE\" + '\\n' +\n    \"DECLARE @PRAZO INT\" + '\\n' +\n    \"DECLARE @VALOR MONEY\" + '\\n' +\n    \"DECLARE @ACEITO BIT\" + '\\n' + '\\n' +\n\n    \"DECLARE @TAREFA_ATUAL INT\" + '\\n' +\n    \"DECLARE @VERSAO INT\" + '\\n' + '\\n' +\n\n    \"DECLARE @NOVA_TAREFA INT\" + '\\n' +\n\n    \"DECLARE @ULTIMA_VERSAO INT\" + '\\n' +\n    \"DECLARE @CONCLUIDO DATETIME\" + '\\n' + '\\n' +\n\n    \"DECLARE @PROX_TAREFA INT\" + '\\n' +\n    \"DECLARE @PROX_TAREFA_VERSAO INT\" + '\\n' + '\\n' +\n\n    \"DECLARE @NOVA_NAV INT\" + '\\n' + '\\n' +\n    \n    \"DECLARE @tarefas TABLE (\" + '\\n' +\n\t\"\t[id] [int] NOT NULL,\" + '\\n' +\n\t\"\t[nome] [nvarchar](100) NOT NULL,\" + '\\n' +\n\t\"\t[titulo] [nvarchar](50) NULL,\" + '\\n' +\n\t\"\t[descricao] [nvarchar](50) NULL,\" + '\\n' +\n\t\"\t[atribuir] [nvarchar](50) NULL,\" + '\\n' +\n\t\"\t[form] [nvarchar](100) NOT NULL,\" + '\\n' +\n\t\"\t[parametros] [nvarchar](max) NULL,\" + '\\n' +\n\t\"\t[prazo] [datetime] NULL,\" + '\\n' +\n\t\"\t[criado] [datetime] NOT NULL,\" + '\\n' +\n\t\"\t[concluido] [datetime] NULL,\" + '\\n' +\n\t\"\t[versao] [int],\" + '\\n' +\n\t\"\t[topico] [nvarchar](100) NOT NULL)\" + '\\n' + '\\n' +\n\t\t\n    \"BEGIN TRY\" + '\\n' +\n    \"   BEGIN TRANSACTION\" + '\\n' + '\\n' +\n\n    \"   -------------------------------------- ATUALIZACAO DAS TAREFAS ----------------------------------------------\" + '\\n' +\n    \"   SET @TAREFA_ATUAL = \" + (parseInt(msg.req.params.tarefa) || 'NULL') + \"\" + '\\n' +\n    \"   SET @VERSAO = CAST('\" + (msg.payload.versao || 'NULL') + \"' AS INT)\" + '\\n' + '\\n' +\n\n    \"   UPDATE tarefas SET\" + '\\n' +\n    \"\t    concluido = GETDATE()\" + '\\n' +\n    \"   WHERE\" + '\\n' +\n    \"       id = @TAREFA_ATUAL\" + '\\n' +\n    \"       AND concluido IS NULL\" + '\\n' + '\\n' +\n    \"       AND versao = @VERSAO\" + '\\n' + '\\n' +\n    \n    \"   IF @@ROWCOUNT != 1\" + '\\n' +\n    \"   BEGIN\" + '\\n' +\n    \n    \"       SELECT TOP 1 @ULTIMA_VERSAO = versao, @CONCLUIDO = concluido FROM tarefas WHERE id = @TAREFA_ATUAL\" + '\\n' + '\\n' +\n    \n    \"       IF (NOT @CONCLUIDO IS NULL)\" + '\\n' +\n    \"           SELECT * FROM ERR WHERE erro = 7010\" + '\\n' +\n    \"       ELSE IF (@ULTIMA_VERSAO <> @VERSAO)\" + '\\n' +\n    \"           SELECT * FROM ERR WHERE erro = 7450\" + '\\n' + '\\n' +\n    \n    \"       ROLLBACK TRANSACTION\" + '\\n' + '\\n' +\n    \n    \"       RETURN\" + '\\n' +\n    \"   END\" + '\\n' + '\\n' +\n\n    \"   INSERT INTO @tarefas SELECT id, nome, titulo, descricao, atribuir, form, parametros, prazo, criado, concluido, versao, '/tarefas/concluida/' + LTRIM(RTRIM(atribuir)) AS topico FROM tarefas WHERE id = @TAREFA_ATUAL\" + '\\n' + '\\n' +\n\n    //---------------------------------------------------- cabecalho do retorno ----------------------------------------------------\n    \"   SET @VALOR_BRUTO = CAST(\" +     (\"'\" + msg.payload.documento.bordero.bruto + \"'\"      || \"NULL\") + \" AS MONEY)\" + '\\n' + \n    \"   SET @VALOR_LIQUIDO = CAST(\" +   (\"'\" + msg.payload.documento.bordero.liquido + \"'\"    || \"NULL\") + \" AS MONEY)\" + '\\n' +\n    \"   SET @VALOR_OPERACAO = CAST(\" +  (\"'\" + msg.payload.documento.bordero.operacao + \"'\"   || \"NULL\") + \" AS MONEY)\" + '\\n' +\n    \"   SET @VALOR_TARIFA = CAST(\" +    (\"'\" + msg.payload.documento.bordero.tarifa + \"'\"     || \"NULL\") + \" AS MONEY)\" + '\\n' +\n    \"   SET @VALOR_JUROS = CAST(\" +     (\"'\" + msg.payload.documento.bordero.juros + \"'\"      || \"NULL\") + \" AS MONEY)\" + '\\n' +\n    \"   SET @VALOR_IOF = CAST(\" +       (\"'\" + msg.payload.documento.bordero.iof + \"'\"        || \"NULL\") + \" AS MONEY)\" + '\\n' +\n    \"   SET @TAXA_JUROS = CAST(\" +      (\"'\" + msg.payload.documento.bordero.taxa + \"'\"       || \"NULL\") + \" AS DECIMAL(18,2))\" + '\\n' + '\\n' +\n    \n    \"   SET @RETORNO = NEXT VALUE FOR retorno_seq\" + '\\n' + '\\n' +\n    \n    \"   INSERT INTO RET (\" + '\\n' +\n    \"       retorno,\" + '\\n' +\n    \"       bruto,\" + '\\n' +\n    \"       liquido,\" + '\\n' +\n    \"       operacao,\" + '\\n' +\n    \"       tarifa,\" + '\\n' +\n    \"       juros,\" + '\\n' +\n    \"       iof,\" + '\\n' +\n    \"       taxa)\" + '\\n' +\n    \"   VALUES (\" + '\\n' +\n    \"       @RETORNO,\" + '\\n' +\n    \"       @VALOR_BRUTO,\" + '\\n' +\n    \"       @VALOR_LIQUIDO,\" + '\\n' +\n    \"       @VALOR_OPERACAO,\" + '\\n' +\n    \"       @VALOR_TARIFA,\" + '\\n' +\n    \"       @VALOR_JUROS,\" + '\\n' +\n    \"       @VALOR_IOF,\" + '\\n' +\n    \"       @TAXA_JUROS)\" + '\\n' + '\\n' +\n    \n    \"   SET @CARTEIRA = CAST(\" +       (\"'\" + msg.payload.documento.carteira.id + \"'\"        || \"NULL\") + \" AS INT)\" + '\\n' + '\\n' +\n\n    \"   UPDATE CRT SET\" + '\\n' +\n    \"       utilizado = utilizado - @VALOR_BRUTO, \" + '\\n' +\n    \"       saldo = saldo + @VALOR_BRUTO, \" + '\\n' +\n    \"       defasagem = defasagem - @VALOR_BRUTO, \" + '\\n' +\n    \"       descoberto = descoberto - @VALOR_BRUTO, \" + '\\n' +\n    \"       iof = @VALOR_IOF, \" + '\\n' +\n    \"       juros = @TAXA_JUROS, \" + '\\n' +\n    \"       bordero = @VALOR_TARIFA \" + '\\n' +\n    \"   WHERE id = @CARTEIRA\" + '\\n' + '\\n' +\n\n    //---------------------------------------------------- grava as parcelas ----------------------------------------------------\n    msg.payload.documento.retorno.reduce( (sql, r) => \n    \n        sql + r.parcelas.reduce( (sql, p) => \n        \n            sql + \n            \"   ----------------------------------------------------------------------------------------------------------\" + '\\n' +\n            \"   -- insere nova parcela => nosso_numero: \" + r.nosso_numero + ', parcela: ' + p.parcela + ', carteira: ' + msg.payload.documento.carteira.id + '\\n' +\n            \"   ----------------------------------------------------------------------------------------------------------\" + '\\n' +\n            \"   SET @NOSSO_NUMERO = CAST(\" +   (\"'\" + r.nosso_numero + \"'\" || \"NULL\") + \" AS INT)\" + '\\n' +\n            \"   SET @PARCELA = CAST(\" +        (\"'\" + p.parcela + \"'\"      || \"NULL\") + \" AS INT)\" + '\\n' + '\\n' +\n        \n            \"   IF EXISTS(SELECT NOSSO_NUMERO FROM RETD WHERE nosso_numero = @NOSSO_NUMERO AND parcela = @PARCELA AND carteira = @CARTEIRA)\" + '\\n' +\n            \"   BEGIN\" + '\\n' + '\\n' +\n            \n            \"       SELECT * FROM ERR WHERE erro = 1123\" + '\\n' + '\\n' +\n            \n            \"       ROLLBACK TRANSACTION\" + '\\n' + '\\n' +\n            \n            \"       RETURN\" + '\\n' +\n            \"   END\" + '\\n' + '\\n' +\n    \n            \"   SET @NOSSO_NUMERO = CAST(\" +   (\"'\" + r.nosso_numero + \"'\" || \"NULL\") + \" AS INT)\" + '\\n' +\n            \"   SET @PARCELA = CAST(\" +        (\"'\" + p.parcela + \"'\"      || \"NULL\") + \" AS INT)\" + '\\n' +\n            \"   SET @CARTEIRA = CAST(\" +       (\"'\" + msg.payload.documento.carteira.id + \"'\"        || \"NULL\") + \" AS INT)\" + '\\n' + '\\n' +\n\n            \"   SET @FORMA_PAGTO = CAST(\" +    (\"'\" + p.forma_pagto + \"'\"    || \"NULL\") + \" AS VARCHAR(10))\" + '\\n' +\n            \"   SET @TIPO_VENCTO = CAST(\" +    (\"'\" + p.tipo_vencto + \"'\"    || \"NULL\") + \" AS VARCHAR(3))\" + '\\n' +\n            \"   SET @VENCTO = CAST(\" +         (\"'\" + p.vencto + \"'\"         || \"NULL\") + \" AS DATE)\" + '\\n' +\n            \"   SET @PRAZO = CAST(\" +          (\"'\" + p.prazo + \"'\"          || \"NULL\") + \" AS INT)\" + '\\n' +\n            \"   SET @VALOR = CAST(\" +          (\"'\" + p.valor + \"'\"          || \"NULL\") + \" AS MONEY)\" + '\\n' +\n            \"   SET @ACEITO = CAST(\" +       (\"'\" + p.aceito + \"'\"        || \"NULL\") + \" AS BIT)\" + '\\n' + '\\n' +\n            \n            \"   INSERT INTO RETD (retorno, nosso_numero, parcela, carteira, forma_pagto, tipo_vencto, vencto, prazo, valor, aceito)\" + '\\n' +\n            \"   VALUES (@RETORNO, @NOSSO_NUMERO, @PARCELA, @CARTEIRA, @FORMA_PAGTO, @TIPO_VENCTO, @VENCTO, @PRAZO, @VALOR, @ACEITO)\" + '\\n' + '\\n'\n        \n        , '')\n    \n    , '') +\n    \n/*\n    \"   -------------------------- PROXIMA TAREFA - RETORNO -----------------------\" + '\\n' +\n\n    \"   SET @PROX_TAREFA = NEXT VALUE FOR tarefa_seq\" + '\\n' + '\\n' +\n    \n    \"   INSERT INTO tarefas\" + '\\n' +\n    \"       (id,\" + '\\n' +\n    \"       nome,\" + '\\n' +\n    \"       titulo,\" + '\\n' +\n    \"       descricao,\" + '\\n' +\n    \"       detalhes,\" + '\\n' +\n    \"       documento,\" + '\\n' +\n    \"       atribuir,\" + '\\n' +\n    \"       form,\" + '\\n' +\n    \"       parametros,\" + '\\n' +\n    \"       prazo,\" + '\\n' +\n    \"       criado,\" + '\\n' +\n    \"       concluido)\" + '\\n' +\n    \"   VALUES\" + '\\n' +\n    \"       (@PROX_TAREFA,\" + '\\n' +\n    \"       '\" + tarefa_retorno.nome + \"',\" + '\\n' +\n    \"       '\" + tarefa_retorno.titulo + \"',\" + '\\n' +\n    \"       '\" + tarefa_retorno.descricao + \"',\" + '\\n' +\n    \"       '',\" + '\\n' +\n    \"       '\" + tarefa_retorno.documento + \"',\" + '\\n' +\n    \"       '\" + tarefa_retorno.atribuir + \"',\" + '\\n' +\n    \"       '\" + tarefa_retorno.form + \"',\" + '\\n' +\n    \"       NULL,\" + '\\n' +\n    \"       NULL,\" + '\\n' +\n    \"       GETDATE(),\" + '\\n' +\n    \"       NULL)\" + '\\n' + '\\n' +\n    \n    \"   SET @NOVA_NAV = NEXT VALUE FOR tarefa_nav_seq\" + '\\n' + '\\n' +\n    \n    \"   INSERT TAREFA_NAV (transacao, tarefa_origem, tarefa_destino) VALUES (NEXT VALUE FOR tarefa_nav_seq, @TAREFA_ATUAL, @PROX_TAREFA)\" + '\\n' + '\\n' +\n\n    \"   INSERT INTO @tarefas SELECT id, nome, titulo, descricao, atribuir, form, parametros, prazo, criado, concluido, versao, '/tarefas/nova/' + LTRIM(RTRIM(atribuir)) AS topico FROM tarefas WHERE id = @PROX_TAREFA\" + '\\n' + '\\n' +\n*/\n    \n    \"   COMMIT TRANSACTION\" + '\\n' + '\\n' +\n\n    \"END TRY\" + '\\n' +\n    \"BEGIN CATCH\" + '\\n' + '\\n' +\n    \n    \"   DECLARE @ERR_ID INT\" + '\\n' + '\\n' +\n    \n    \"   SET @ERR_ID = NEXT VALUE FOR err_log_seq\" + '\\n' + '\\n' +\n    \n    \"   INSERT INTO err_log SELECT @ERR_ID AS id, ERROR_NUMBER() AS erro, ERROR_SEVERITY() AS nivel, ERROR_STATE() AS situacao, ERROR_PROCEDURE() AS procedimento, ERROR_LINE() AS linha, ERROR_MESSAGE() AS mensagem\" + '\\n' + '\\n' +\n    \n    \"   SELECT * FROM err_log WHERE id = @ERR_ID\" + '\\n' + '\\n' +\n    \n    \"   IF @@TRANCOUNT > 0\" + '\\n' +\n    \"       ROLLBACK TRANSACTION\" + '\\n' + '\\n' +\n    \n    \"   RETURN\" + '\\n' +\n    \"END CATCH\" + '\\n' + '\\n' +\n\n    \"SELECT * FROM @tarefas\" + '\\n'\n    \n\nreturn msg;","outputs":"1","noerr":0,"x":320.1999969482422,"y":1040,"wires":[["fae0aa5d.a91a78"]]},{"id":"fae0aa5d.a91a78","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"f8b8e580.ff6178","name":"MSSQL","query":"","outField":"payload","x":550.1999969482422,"y":1040,"wires":[["b1d4e852.23ad08"]]},{"id":"db3df2d1.10d06","type":"http in","z":"e6097cee.8df04","name":"remessa","url":"/api/financeiro/remessa","method":"get","swaggerDoc":"","x":90.19999694824219,"y":440,"wires":[["ede5968b.00ca68"]]},{"id":"4e846ee5.a4787","type":"http response","z":"e6097cee.8df04","name":"","x":880.1999969482422,"y":440,"wires":[]},{"id":"70cfd007.8c15c","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"f8b8e580.ff6178","name":"","query":"","outField":"payload","x":730.1999969482422,"y":440,"wires":[["4e846ee5.a4787"]]},{"id":"ede5968b.00ca68","type":"function","z":"e6097cee.8df04","name":"SQL","func":"\nmsg.payload = \"SELECT * FROM REM WHERE NOT EXISTS (SELECT * FROM REMD INNER JOIN RETD ON REMD.nosso_numero = RETD.nosso_numero AND REMD.parcela = RETD.parcela AND REMD.carteira = RETD.carteira WHERE REMD.remessa = REM.remessa) ORDER BY data DESC\"; \n\nreturn msg;","outputs":1,"noerr":0,"x":320.1999969482422,"y":440,"wires":[["1d281b35.b70d05"]]},{"id":"1d281b35.b70d05","type":"delay","z":"e6097cee.8df04","name":"delay","pauseType":"delay","timeout":"750","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":540.1999969482422,"y":440,"wires":[["70cfd007.8c15c"]]},{"id":"7a588398.016ecc","type":"http in","z":"e6097cee.8df04","name":"retorno","url":"/api/financeiro/retorno","method":"get","swaggerDoc":"","x":80.19999694824219,"y":480,"wires":[["f77fc64f.dc4e98"]]},{"id":"d7d223e5.7972d","type":"http response","z":"e6097cee.8df04","name":"","x":880.1999969482422,"y":480,"wires":[]},{"id":"29d9e784.7265f8","type":"MSSQL","z":"e6097cee.8df04","mssqlCN":"f8b8e580.ff6178","name":"","query":"","outField":"payload","x":730.1999969482422,"y":480,"wires":[["d7d223e5.7972d"]]},{"id":"f77fc64f.dc4e98","type":"function","z":"e6097cee.8df04","name":"SQL","func":"\nmsg.payload = \"SELECT TOP 5 * FROM RET ORDER BY data DESC\"; \n\nreturn msg;","outputs":1,"noerr":0,"x":320.1999969482422,"y":480,"wires":[["cfe53002.0d837"]]},{"id":"cfe53002.0d837","type":"delay","z":"e6097cee.8df04","name":"delay","pauseType":"delay","timeout":"1000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":540.1999969482422,"y":480,"wires":[["29d9e784.7265f8"]]},{"id":"1bb61597.983fca","type":"MSSQL-CN","z":"","name":"gpimac","server":"127.0.0.1","encyption":true,"database":"GPIMAC_Altamira"},{"id":"f8b8e580.ff6178","type":"MSSQL-CN","z":"","name":"financeiro","server":"localhost","encyption":false,"database":"FINANCEIRO"},{"id":"d8c4c000.9104f","type":"MSSQL-CN","z":"","name":"BPM","server":"192.168.0.1","encyption":false,"database":"BPM"},{"id":"282ac891.392698","type":"mqtt-broker","z":"","broker":"192.168.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]