node-red/Fluxo de caixa.txt
[{"id":"462ab401.6665cc","type":"inject","z":"8f5b9e91.30945","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":1260,"wires":[["19b2f232.a2f3fe"]]},{"id":"19b2f232.a2f3fe","type":"MSSQL","z":"8f5b9e91.30945","mssqlCN":"162ddda.4a21522","name":"PEDIDOS","query":"SELECT     \n\t--LTRIM(RTRIM(LPV.LPEMP))\t\t\t\tAS empresa, \n\tLPV.LPPED\t\t\t\tAS _id,\n\tCAST(LPV.LPPED AS INT)\t\t\t\tAS numero, \n\tLTRIM(RTRIM(LPV.LPORC))\t\t\t\tAS orcamento, \n\tCAST(LPV.LPENT AS DATE)\t\t\t\tAS emissao, \n\tCAST(LPV.Lp0SaiRed AS DATE)\t\t\tAS entrega, \n\tCAST(ROW_NUMBER() OVER(ORDER BY LPV.Lp0SaiRed) AS INT) AS prioridade,\n\t--LTRIM(RTRIM(LPV.CCCGC))\t\t\tAS [CNPJ do Cliente], \n\tLTRIM(RTRIM(CACLI.CCFAN))\t\t\tAS nome,\n\tLTRIM(RTRIM(CACLI.CCNOM))\t\t\tAS razao_social,\n\tLPV.LPPAG\t\t\t\t\t\t\tAS condicao_pagto, \n\tCACLI.CECOD\t\t\t\t\t\t\tAS estado,\n\tLPV.LPVEN\t\t\t\t\t\t\tAS representante, \n\tCAST(LPV.LPEtSitDatRed AS DATE)\t\tAS data_situacao,\n\tLPV.LPEtSitSeqRed\t\t\t\t\tAS codigo_situacao,\n\tLTRIM(RTRIM(LPV.LPEtSitRed))\t\tAS situacao,\n\tLTRIM(RTRIM(LPV.LPOB1))\t\t\t\tAS obs1,\n\tLTRIM(RTRIM(LPV.LPOBS))\t\t\t\tAS obs2,\n\tLTRIM(RTRIM(LPV.LPObsInt))\t\t\tAS obs_interna,\n\tLTRIM(RTRIM(lpv.LPObsNF))\t\t\tAS obs_nf,\n\tLTRIM(RTRIM(LPV.LPObsOP))\t\t\tAS obs_op,\n\tLTRIM(RTRIM(LPV.LpObsPgto))\t\t\tAS obs_pgto,\n\tISNULL(LPV1.[Total dos Produtos],0)\tAS total_produtos, \n\tISNULL(LPV1.[Total do IPI],0)\t\tAS total_ipi,\n\tISNULL(LPV1.[Total do Pedido],0)\tAS total_pedido\nFROM         \n\tGPIMAC_Altamira.dbo.LPV AS LPV INNER JOIN GPIMAC_Altamira.dbo.CACLI ON LPV.CCCGC = CACLI.CCCGC\n\tLEFT OUTER JOIN\n\t(SELECT     \n\t\tLPPED, \n\t\tCAST(SUM(LPQUA * LPPRE) AS MONEY) AS [Total dos Produtos], \n\t\tCAST(SUM((LPQUA * LPPRE) * (LPIPI / 100)) AS MONEY) AS [Total do IPI], \n\t\tCAST(SUM(LPQUA * LPPRE + (LPQUA * LPPRE) * (LPIPI / 100)) AS MONEY) AS [Total do Pedido]\n\tFROM          \n\t\tGPIMAC_Altamira.dbo.LPV1 AS LPV1_1\n\tGROUP BY \n\t\tLPPED) AS LPV1 ON LPV.LPPED = LPV1.LPPED\nWHERE\n\t((LPV.LPEtSitSeqRed <> 80) OR ((LPV.LPEtSitSeqRed = 80) AND EXISTS(SELECT 1 FROM GPIMAC_Altamira.dbo.LAFLU WHERE LFLUELI = 'N' AND LFLUPED = LPV.LPPED AND LFLUSALRED > 0)))\n\tAND (LPV.LPEtSitSeqRed <> 110) \n\tAND (YEAR(LPV.LPENT) >= 2016)\n\tAND (LPV.LPPED <> 74011)\n","outField":"payload","x":314,"y":1260,"wires":[["dc7b8ba.9d4a878"]]},{"id":"97c03889.6ec768","type":"mongodb out","z":"8f5b9e91.30945","service":"_ext_","mongodb":"258dcda0.cc5e32","name":"pedido","collection":"fluxo","payonly":true,"upsert":false,"multi":false,"operation":"store","x":890,"y":1260,"wires":[]},{"id":"ede90523.38dad8","type":"http in","z":"8f5b9e91.30945","name":"","url":"/pedidos","method":"get","swaggerDoc":"","x":110,"y":240,"wires":[["ac9eb34c.3fa0c"]]},{"id":"ac9eb34c.3fa0c","type":"template","z":"8f5b9e91.30945","name":"pedidos","field":"payload","fieldType":"msg","format":"html","syntax":"plain","template":"<!DOCTYPE html>\n<html>\n    <head>\n        <meta charset=\"utf-8\">\n        <title>Planejamento de Entrega de Pedidos</title>\n        \n        <link href='https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en' rel='stylesheet' type='text/css'>\n        <link href='/pedidos/css/style.css' rel='stylesheet' type='text/css'>\n    \n    </head>\n    <body>\n\n        <script type=\"text/javascript\" src=\"http://momentjs.com/downloads/moment-with-locales.js\"></script>\n        <script type=\"text/javascript\" src=\"/pedidos/js/script.js\"></script>\n    \n    </body>\n</html>\n","x":600,"y":240,"wires":[["ddedc9bf.b49c28"]]},{"id":"ddedc9bf.b49c28","type":"http response","z":"8f5b9e91.30945","name":"","x":970,"y":240,"wires":[]},{"id":"6dc47c7c.bf5774","type":"http in","z":"8f5b9e91.30945","name":"","url":"/pedidos/js/script.js","method":"get","swaggerDoc":"","x":150,"y":280,"wires":[["51f49b73.eaa4c4"]]},{"id":"51f49b73.eaa4c4","type":"template","z":"8f5b9e91.30945","name":"script.js","field":"payload","fieldType":"msg","format":"javascript","syntax":"plain","template":"function getPedidos(callback) {\n    var xmlhttp = new XMLHttpRequest();\n\n    xmlhttp.onreadystatechange = function() {\n        if (xmlhttp.readyState == XMLHttpRequest.DONE ) {\n           if (xmlhttp.status == 200) {\n               callback(JSON.parse(xmlhttp.responseText));\n           }\n           else if (xmlhttp.status == 400) {\n              alert('There was an error 400');\n           }\n           else {\n               alert('something else other than 200 was returned');\n           }\n        }\n    };\n\n    xmlhttp.open(\"GET\", \"/api/pedido/\", true);\n    xmlhttp.send();\n}\n\nfunction getCondPagto(pedido, total, items, item, callback) {\n    var xmlhttp = new XMLHttpRequest();\n\n    xmlhttp.onreadystatechange = function() {\n        if (xmlhttp.readyState == XMLHttpRequest.DONE ) {\n           if (xmlhttp.status == 200) {\n               callback(items, item, total, JSON.parse(xmlhttp.responseText));\n           }\n           else if (xmlhttp.status == 400) {\n              alert('There was an error 400');\n           }\n           else {\n               alert('something else other than 200 was returned');\n           }\n        }\n    };\n\n    xmlhttp.open(\"GET\", \"/api/pedido/\" + pedido + \"/pagto\", true);\n    xmlhttp.send();\n}\n\nfunction list(pedidos) {\n\n    var content = document.createDocumentFragment();\n\n    var list = content.appendChild(document.createElement('div'));\n\n    var header = list.appendChild(document.createElement('div'));\n    header.classList.add('row');\n    \n    header.appendChild(document.createElement('div')).innerHTML = 'Número'; \n    header.appendChild(document.createElement('div')).innerHTML = 'Orcamento'; \n    header.appendChild(document.createElement('div')).innerHTML = 'Emissao'; \n    header.appendChild(document.createElement('div')).innerHTML = 'Entrega'; \n    header.appendChild(document.createElement('div')).innerHTML = 'Prioridade';\n    header.appendChild(document.createElement('div')).innerHTML = 'Nome'; \n    header.appendChild(document.createElement('div')).innerHTML = 'Razao Social'; \n    header.appendChild(document.createElement('div')).innerHTML = 'Situacao';\n    header.appendChild(document.createElement('div')).innerHTML = 'Total Produtos';\n    header.appendChild(document.createElement('div')).innerHTML = 'Total IPI';\n    header.appendChild(document.createElement('div')).innerHTML = 'Total Pedido';\n    header.appendChild(document.createElement('div')).innerHTML = 'Tipo';\n    header.appendChild(document.createElement('div')).innerHTML = 'Prazo';\n    header.appendChild(document.createElement('div')).innerHTML = 'Percentual';\n    header.appendChild(document.createElement('div')).innerHTML = 'Valor Parcela';\n    \n    var total_produtos = 0.00;\n    var total_ipi = 0.00;\n    var total_pedido = 0.00;\n    \n    var minDate = moment();\n    pedidos.forEach(function(data, key, array) {\n        if (moment(data.emissao) > minDate) {\n            minDate = moment(data.emissao);\n        }\n    });\n    \n    var col = header.children.length;\n    \n    pedidos.forEach(function(data, key, array) {\n    \n        var item = list.appendChild(document.createElement('div')); \n        item.classList.add('row');\n        \n        item.appendChild(document.createElement('div')).innerHTML = data.numero; \n        item.appendChild(document.createElement('div')).innerHTML = data.orcamento; \n        item.appendChild(document.createElement('div')).innerHTML = moment(data.emissao).format('L'); \n        item.appendChild(document.createElement('div')).innerHTML = moment(data.entrega).format('L'); \n        var prioridade = item.appendChild(document.createElement('div'));\n        prioridade.innerHTML = data.prioridade; \n        prioridade.classList.add('center');\n        item.appendChild(document.createElement('div')).innerHTML = data.nome; \n        item.appendChild(document.createElement('div')).innerHTML = data.razao_social; \n        item.appendChild(document.createElement('div')).innerHTML = data.situacao; \n        \n        var valor_produtos = item.appendChild(document.createElement('div'))\n        valor_produtos.innerHTML = data.total_produtos.toLocaleString('pt-BR', {style: \"currency\", currency: \"BRL\", minimumFractionDigits: 2});\n        var valor_ipi = item.appendChild(document.createElement('div'))\n        valor_ipi.innerHTML = data.total_ipi.toLocaleString('pt-BR', {style: \"currency\", currency: \"BRL\", minimumFractionDigits: 2});\n        var valor_pedido = item.appendChild(document.createElement('div'))\n        valor_pedido.innerHTML = data.total_pedido.toLocaleString('pt-BR', {style: \"currency\", currency: \"BRL\", minimumFractionDigits: 2});\n      \n        valor_produtos.classList.add('money');\n        valor_ipi.classList.add('money');\n        valor_pedido.classList.add('money');\n\n        if (data.pagto) {\n            data.pagto.forEach(function(pagto, k, a) {\n                item.appendChild(document.createElement('div')).innerHTML = pagto.tipo;\n                item.appendChild(document.createElement('div')).innerHTML = pagto.dias;\n                item.appendChild(document.createElement('div')).innerHTML = pagto.porcentagem + '%';\n                \n                var parcela = item.appendChild(document.createElement('div'));\n                parcela.classList.add('money');\n                parcela.appendChild(document.createElement('div')).innerHTML = (data.total_pedido * (pagto.porcentagem / 100)).toLocaleString('pt-BR', {style: \"currency\", currency: \"BRL\", minimumFractionDigits: 2});\n            });\n        }\n\n        total_produtos += data.total_produtos;\n        total_ipi += data.total_ipi;\n        total_pedido += data.total_pedido;\n    });\n    \n    var summary = list.appendChild(document.createElement('div')); \n    summary.classList.add('row');\n    \n    summary.appendChild(document.createElement('div')).innerHTML = ''; \n    summary.appendChild(document.createElement('div')).innerHTML = ''; \n    summary.appendChild(document.createElement('div')).innerHTML = ''; \n    summary.appendChild(document.createElement('div')).innerHTML = ''; \n    summary.appendChild(document.createElement('div')).innerHTML = '';\n    summary.appendChild(document.createElement('div')).innerHTML = ''; \n    summary.appendChild(document.createElement('div')).innerHTML = ''; \n    summary.appendChild(document.createElement('div')).innerHTML = '';\n    summary.appendChild(document.createElement('div')).innerHTML = total_produtos.toLocaleString('pt-BR', {style: \"currency\", currency: \"BRL\", minimumFractionDigits: 2});\n    summary.appendChild(document.createElement('div')).innerHTML = total_ipi.toLocaleString('pt-BR', {style: \"currency\", currency: \"BRL\", minimumFractionDigits: 2});\n    summary.appendChild(document.createElement('div')).innerHTML = total_pedido.toLocaleString('pt-BR', {style: \"currency\", currency: \"BRL\", minimumFractionDigits: 2});\n    summary.appendChild(document.createElement('div')).innerHTML = '';\n    summary.appendChild(document.createElement('div')).innerHTML = '';\n    summary.appendChild(document.createElement('div')).innerHTML = '';\n    summary.appendChild(document.createElement('div')).innerHTML = '';\n    summary.appendChild(document.createElement('div')).innerHTML = '';\n\n    document.body.appendChild(list);\n\n}\n\nfunction load() {\n  moment.updateLocale((window.navigator.userLanguage || window.navigator.language).toLowerCase(), {\n    weekdaysMin: [\"D\", \"S\", \"T\", \"Q\", \"Q\", \"S\", \"S\"]\n  });\n  moment.locale((window.navigator.userLanguage || window.navigator.language).toLowerCase());\n\n  getPedidos(list);\n  \n};\n\ndocument.addEventListener('DOMContentLoaded', load);","x":600,"y":280,"wires":[["2fd620a0.e5ddc"]]},{"id":"2fd620a0.e5ddc","type":"http response","z":"8f5b9e91.30945","name":"","x":970,"y":280,"wires":[]},{"id":"52296b1d.44b384","type":"http in","z":"8f5b9e91.30945","name":"","url":"/pedidos/css/style.css","method":"get","swaggerDoc":"","x":150,"y":320,"wires":[["3861fffe.4478b"]]},{"id":"3861fffe.4478b","type":"template","z":"8f5b9e91.30945","name":"style.css","field":"payload","fieldType":"msg","format":"html","syntax":"plain","template":"/*\n*,\n*:before,\n*:after {\n  -webkit-box-sizing: border-box;\n  -moz-box-sizing: border-box;\n  box-sizing: border-box;\n}\n*/\n\nhtml {\n  padding-top: 0px;\n  padding-left: 20px;\n  padding-right: 20px;\n  padding-bottom: 0px;\n}\n\nbody {\n  font-family: \"Roboto\", \"Helvetica\", \"Arial\", sans-serif !important;\n  display: table;\n  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);\n}\n\n.row {\n  display: table-row;\n  border: 1px solid gray;\n}\n\n.row > div {\n  padding-left: 5px;\n  padding-right: 5px;\n  display: table-cell;\n  border-bottom: 1px solid gray;\n  white-space: nowrap;\n  text-align: center;\n}\n\n.money,\n.row > div .money {\n  text-align: right;\n}\n\n.center {\n  text-align: center;\n}\n","x":600,"y":320,"wires":[["b3c9b48d.da7108"]]},{"id":"2d710280.06f47e","type":"http response","z":"8f5b9e91.30945","name":"","x":970,"y":320,"wires":[]},{"id":"b3c9b48d.da7108","type":"function","z":"8f5b9e91.30945","name":"text/css","func":"msg.headers = { \"Content-type\" : \"text/css\" }\n         \nreturn msg;","outputs":1,"noerr":0,"x":800,"y":320,"wires":[["2d710280.06f47e"]]},{"id":"f66667e4.30cdb8","type":"inject","z":"8f5b9e91.30945","name":"CUIDADO","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"x":760,"y":1200,"wires":[["46cbbdff.a0fa94"]]},{"id":"46cbbdff.a0fa94","type":"mongodb out","z":"8f5b9e91.30945","service":"_ext_","mongodb":"258dcda0.cc5e32","name":"CLEAR","collection":"fluxo","payonly":false,"upsert":false,"multi":false,"operation":"delete","x":940,"y":1200,"wires":[]},{"id":"ea068cd4.08874","type":"http in","z":"8f5b9e91.30945","name":"","url":"/api/fluxo/:numero/pagto","method":"get","swaggerDoc":"","x":160,"y":140,"wires":[["1760cf9c.357ef"]]},{"id":"1760cf9c.357ef","type":"MSSQL","z":"8f5b9e91.30945","mssqlCN":"162ddda.4a21522","name":"PARCELAS","query":"SELECT \n\t--CAST(LPV.LPPED AS INT)\t\t\t\tAS numero, \n\tLPV.LPPAG\t\t\t\t\t\t\tAS condicao_pagto,\n\tCACPG1.CCPg1DiaTip\t\t\t\t\tAS tipo,\n\tCACPG1.CCPg1Seq\t\t\t\t\t\tAS seq,\n\tCACPG1.CCPg1Dia\t\t\t\t\t\tAS dias,\n\tCACPG1.CCPg1Por\t\t\t\t\t\tAS porcentagem,\n\tCACPG1.CCPg1Cod\t\t\t\t\t\tAS descricao,\n\tLPV1.total_produtos\t\t\t\t\tAS total_produtos, \n\tLPV1.total_ipi\t\t\t\t\t\tAS total_ipi,\n\tLPV1.total_pedido\t\t\t\t\tAS total_pedido,\n\tCAST(LPV1.total_pedido * (CACPG1.CCPg1Por / 100) AS money) AS valor_parcela\nFROM         \n\tGPIMAC_Altamira.dbo.LPV AS LPV INNER JOIN GPIMAC_Altamira.dbo.CACPG1 ON LPV.LPPAG = GPIMAC_Altamira.dbo.CACPG1.CPCOD\n\tLEFT OUTER JOIN\n\t(SELECT     \n\t\tLPPED, \n\t\tCAST(SUM(LPQUA * LPPRE) AS MONEY) AS total_produtos, \n\t\tCAST(SUM((LPQUA * LPPRE) * (LPIPI / 100)) AS MONEY) AS total_ipi, \n\t\tCAST(SUM(LPQUA * LPPRE + (LPQUA * LPPRE) * (LPIPI / 100)) AS MONEY) AS total_pedido\n\tFROM          \n\t\tGPIMAC_Altamira.dbo.LPV1 AS LPV1_1\n\tGROUP BY \n\t\tLPPED) AS LPV1 ON LPV.LPPED = LPV1.LPPED\nWHERE\n\t(LPV.LPEtSitSeqRed <> 80) \n\tAND (LPV.LPEtSitSeqRed <> 110) \n\tAND (YEAR(LPV.LPENT) >= 2016)\n\tAND LPV.LPPED = {{req.params.numero}}","outField":"payload","x":430,"y":140,"wires":[["319aaff5.54d5f"]]},{"id":"319aaff5.54d5f","type":"http response","z":"8f5b9e91.30945","name":"","x":970,"y":140,"wires":[]},{"id":"cfba1a53.aadd28","type":"MSSQL","z":"8f5b9e91.30945","mssqlCN":"162ddda.4a21522","name":"PARCELAS","query":"SELECT \n\t--CAST(LPV.LPPED AS INT)\t\t\t\tAS numero, \n\tLPV.LPPAG\t\t\t\t\t\t\tAS condicao_pagto,\n\tCPGPAR.[LpCPg1Tip]\t\t\t\t\tAS tipo,\n\tCPGPAR.[LpCpg1Par]\t\t\t\t\tAS sequencia,\n\tCHAR(ASCII('A') - 1 + CPGPAR.[LpCpg1Par]) AS parcela,\n\tCPGPAR.[LpCPg1Dias]\t\t\t\t\tAS dias,\n\tCPGPAR.[LpCPg1ParIdxRed]\t\t\tAS porcentagem,\n\t--CPGPAR.CCPg1Cod\t\t\t\t\t\tAS descricao,\n\tCAST(LPV1.total_produtos AS money)\tAS total_produtos, \n\tCAST(LPV1.total_ipi AS money)\t\tAS total_ipi,\n\tCAST(LPV1.total_pedido AS money)\tAS total_pedido,\n\tCAST(CPGPAR.[LpCPg1ParVal] AS money) AS valor_parcela,\n\tCAST(CPGPAR.[LpCPg1DtV] AS DATE)\tAS vencto\t\nFROM         \n\tGPIMAC_Altamira.dbo.LPV AS LPV INNER JOIN [GPIMAC_Altamira].[dbo].[LPVCPGPAR] AS CPGPAR ON LPV.LPEMP = CPGPAR.LPEMP AND LPV.LPPED = CPGPAR.LPPED\n\tLEFT OUTER JOIN\n\t(SELECT     \n\t\tLPPED, \n\t\tCAST(SUM(LPQUA * LPPRE) AS MONEY) AS total_produtos, \n\t\tCAST(SUM((LPQUA * LPPRE) * (LPIPI / 100)) AS MONEY) AS total_ipi, \n\t\tCAST(SUM(LPQUA * LPPRE + (LPQUA * LPPRE) * (LPIPI / 100)) AS MONEY) AS total_pedido\n\tFROM          \n\t\tGPIMAC_Altamira.dbo.LPV1 AS LPV1_1\n\tGROUP BY \n\t\tLPPED) AS LPV1 ON LPV.LPPED = LPV1.LPPED\nWHERE\n\tLPV.LPPED = {{payload.numero}}","outField":"payload","x":1070,"y":1360,"wires":[["65f1b6b7.e85738","206da693.f95e4a"]]},{"id":"85f4637.e77c7a","type":"function","z":"8f5b9e91.30945","name":"query","func":"var m = {\n    query : { numero: msg.pedidos[msg.index].numero },\n    payload :  { $set: {parcela: msg.payload } }\n}\nnode.send(m)\n\nreturn null;","outputs":1,"noerr":0,"x":1462,"y":1360,"wires":[["a4bae90f.2ae7a8","4aba3310.6bda4c"]]},{"id":"a4bae90f.2ae7a8","type":"mongodb out","z":"8f5b9e91.30945","service":"_ext_","mongodb":"258dcda0.cc5e32","name":"pedido","collection":"fluxo","payonly":true,"upsert":false,"multi":true,"operation":"update","x":1622,"y":1360,"wires":[]},{"id":"ea7a3362.51e7f","type":"http in","z":"8f5b9e91.30945","name":"","url":"/api/fluxo","method":"get","swaggerDoc":"","x":110,"y":60,"wires":[["48e2e588.369cdc"]]},{"id":"6a92b041.86812","type":"http response","z":"8f5b9e91.30945","name":"","x":970,"y":60,"wires":[]},{"id":"48e2e588.369cdc","type":"function","z":"8f5b9e91.30945","name":"params","func":"/*msg.limit = parseInt(msg.payload.per_page) || 10;\nmsg.skip = ((msg.payload.page || 1) - 1) * (msg.payload.per_page || 1);\nmsg.payload = {}*/\nmsg.sort = { prioridade: 1 }\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":60,"wires":[["5c4178fa.ea6278"]]},{"id":"5c4178fa.ea6278","type":"mongodb in","z":"8f5b9e91.30945","service":"_ext_","mongodb":"258dcda0.cc5e32","name":"list","collection":"fluxo","operation":"find","x":710,"y":60,"wires":[["6a92b041.86812"]]},{"id":"5f44e574.6a44cc","type":"http in","z":"8f5b9e91.30945","name":"","url":"/api/fluxo/:numero","method":"get","swaggerDoc":"","x":140,"y":100,"wires":[["39d4b79a.b1b458"]]},{"id":"39d4b79a.b1b458","type":"function","z":"8f5b9e91.30945","name":"existe ?","func":"msg.payload = { numero: parseInt(msg.req.params.numero) };\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":100,"wires":[["d1bb0632.788398"]]},{"id":"d1bb0632.788398","type":"mongodb in","z":"8f5b9e91.30945","service":"_ext_","mongodb":"258dcda0.cc5e32","name":"get","collection":"fluxo","operation":"find","x":590,"y":100,"wires":[["d3eff1b.77f021"]]},{"id":"5844a181.0b9c","type":"http response","z":"8f5b9e91.30945","name":"","x":970,"y":100,"wires":[]},{"id":"d3eff1b.77f021","type":"function","z":"8f5b9e91.30945","name":"split","func":"if (msg.payload.length > 1) {\n    node.error('Registros duplicado, deveria retornar apenas 1 registro, mas retornou ' + msg.payload.length + ' !');\n} else {\n    msg.payload = msg.payload[0];\n}\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":100,"wires":[["5844a181.0b9c"]]},{"id":"4aba3310.6bda4c","type":"debug","z":"8f5b9e91.30945","name":"","active":true,"console":"false","complete":"false","x":1642,"y":1420,"wires":[]},{"id":"99ff08b7.2f1f08","type":"function","z":"8f5b9e91.30945","name":"pedidos","func":"msg.payload.forEach(function(i, k, a) {\n    i.numero  = parseInt(i.numero);\n    var m = {\n        query : { numero: i.numero },\n        payload :  i \n    }\n    node.send(m);\n})\nreturn null;","outputs":1,"noerr":0,"x":740,"y":1260,"wires":[["97c03889.6ec768"]]},{"id":"7121cbb2.cbea54","type":"function","z":"8f5b9e91.30945","name":"parcelas","func":"if (msg.index !== undefined) {\n    msg.index = msg.index + 1;\n    \n    if (msg.index < msg.pedidos.length) {\n        msg.payload = { numero: msg.pedidos[msg.index].numero }\n        node.send(msg);\n    } else {\n        return null;\n    }\n} else {\n    msg.index = 0;\n    msg.pedidos = msg.payload;\n    msg.payload = { numero: msg.pedidos[msg.index].numero }\n    node.send(msg);\n}\n\n\nreturn null;","outputs":1,"noerr":0,"x":900,"y":1360,"wires":[["cfba1a53.aadd28","8f52ccb5.e0076"]]},{"id":"8f52ccb5.e0076","type":"debug","z":"8f5b9e91.30945","name":"","active":true,"console":"false","complete":"index","x":1120,"y":1420,"wires":[]},{"id":"574e087b.4ea228","type":"delay","z":"8f5b9e91.30945","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":740,"y":1320,"wires":[["7121cbb2.cbea54"]]},{"id":"42fa6afa.842824","type":"debug","z":"8f5b9e91.30945","name":"","active":true,"console":"false","complete":"false","x":718,"y":1386,"wires":[]},{"id":"dc7b8ba.9d4a878","type":"switch","z":"8f5b9e91.30945","name":"","property":"payload.length","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"}],"checkall":"true","outputs":1,"x":496,"y":1261,"wires":[["42fa6afa.842824","574e087b.4ea228","99ff08b7.2f1f08"]]},{"id":"65f1b6b7.e85738","type":"function","z":"8f5b9e91.30945","name":"delay","func":"setTimeout(function() {\n    node.send(msg);\n}, 150);\nreturn null;","outputs":1,"noerr":0,"x":970,"y":1280,"wires":[["7121cbb2.cbea54"]]},{"id":"206da693.f95e4a","type":"switch","z":"8f5b9e91.30945","name":"","property":"payload.length","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"}],"checkall":"true","outputs":1,"x":1284,"y":1360,"wires":[["85f4637.e77c7a"]]},{"id":"49d8d2e4.83f8ac","type":"http in","z":"8f5b9e91.30945","name":"","url":"/fluxo","method":"get","swaggerDoc":"","x":101,"y":402,"wires":[["4589bac3.7fbe94"]]},{"id":"4589bac3.7fbe94","type":"template","z":"8f5b9e91.30945","name":"fluxo","field":"payload","fieldType":"msg","format":"html","syntax":"plain","template":"<!DOCTYPE html>\n<html>\n    <head>\n        <meta charset=\"utf-8\">\n        <title>Fluxo de Caixa - Contas a Receber</title>\n        \n        <link href='/fluxo/fonts/roboto' rel='stylesheet' type='text/css'>\n        <link href='/fluxo/css/style.css' rel='stylesheet' type='text/css'>\n        <link href='/fluxo/css/font-awesome.min.css' rel='stylesheet' type='text/css'>\n    \n    </head>\n    <body>\n\n        <script type=\"text/javascript\" src=\"/fluxo/js/moment-with-locales.js\"></script>\n        <script type=\"text/javascript\" src=\"/fluxo/js/script.js\"></script>\n    \n    </body>\n</html>\n","x":591,"y":402,"wires":[["85c6671c.1a9428"]]},{"id":"85c6671c.1a9428","type":"http response","z":"8f5b9e91.30945","name":"","x":971,"y":402,"wires":[]},{"id":"6182c7bf.a2d038","type":"http in","z":"8f5b9e91.30945","name":"","url":"/fluxo/js/script.js","method":"get","swaggerDoc":"","x":140,"y":441,"wires":[["809d472a.b0e098"]]},{"id":"809d472a.b0e098","type":"template","z":"8f5b9e91.30945","name":"script.js","field":"payload","fieldType":"msg","format":"javascript","syntax":"plain","template":"/*\ndocument.createElement = function(elementName, attributes) {\n    var element = Document.prototype.createElement.call(document, elementName);\n    \n    if(attributes && !(attributes instanceof Object)) {\n    \tthrow Error('Idk what to put, give feedback');\t\n    } else if(attributes) {\n    \tfor(var attr of Object.keys(attributes)) {\n    \t\tif(element[attr] !== undefined) {\n    \t\t\telement[attr] = attributes[attr];\n    \t\t} else if (!element.hasAttribute(attr)) {\n    \t\t\telement.setAttribute(attr, attributes[attr]);\n    \t\t}\n    \t}\n    }\n    \n    return element;\n}\n*/\n\nfunction popup(element, year, month, day) {\n  alert('Day click: ' + year + ',' + month + ',' + day + ',\\n' + JSON.stringify(element.data, null, 2));\n  \n}\n\nfunction getPedidos(callback) {\n    var xmlhttp = new XMLHttpRequest();\n\n    xmlhttp.onreadystatechange = function() {\n        if (xmlhttp.readyState == XMLHttpRequest.DONE ) {\n           if (xmlhttp.status == 200) {\n               callback(JSON.parse(xmlhttp.responseText));\n           }\n           else if (xmlhttp.status == 400) {\n              alert('There was an error 400');\n           }\n           else {\n               alert('something else other than 200 was returned');\n           }\n        }\n    };\n\n    xmlhttp.open(\"GET\", \"/api/fluxo/\", true);\n    xmlhttp.send();\n}\n\nfunction list(pedidos) {\n\n    var minDate = moment().utc();\n    var maxDate = moment().utc();\n    \n    // calculo das datas mínimas e máximas, valores pagos e saldos dos pedidos\n    pedidos.forEach(function(pedido, key, array) {\n        pedido.total_pago = 0.00;\n        pedido.saldo = 0.00;\n        pedido.parcela && pedido.parcela.forEach(function(parcela, k,a) {\n            parcela.valor_pago = 0.00;    // soma dos valores das duplicatas emitidas por faturamento/deposito recebidas ou não\n            parcela.saldo = 0.00;           // saldo provisionado\n            minDate = moment.min(minDate, moment(parcela.vencto).utc()); \n            maxDate = moment.max(maxDate, moment(parcela.vencto).utc());   \n            parcela.pagto && parcela.pagto.forEach(function(pagto, k, a) {\n                minDate = moment.min(minDate, moment(pagto.vencto).utc());\n                maxDate = moment.max(maxDate, moment(pagto.vencto).utc());\n                parcela.valor_pago += pagto.valor;\n            })\n            parcela.saldo = parcela.valor_parcela - parcela.valor_pago;\n            pedido.total_pago += parcela.valor_pago;\n        })\n        pedido.saldo = pedido.total_pedido - pedido.total_pago;\n    });\n\n    var days = maxDate.diff(minDate, 'days');\n    var months = maxDate.diff(minDate, 'months');\n    var today_left = moment().utc().diff(minDate, 'days');\n    \n    if (days > 365) {\n        alert('O intervalo de datas dos lançamentos é maior que 1 ano !\\nA menor data é ' + minDate.format('L') + ' e a maior data ' + maxDate.format('L') + '.\\nVerifique os lançamentos do fluxo de caixa.');\n        return;\n    }\n\n    var summary = [];\n    for (d = 0; d <= days; d++) {\n        summary.push({\n            receber : 0.00,\n            recebido: 0.00,\n        });\n    }\n\n    var content = document.createDocumentFragment();\n\n    var list = content.appendChild(document.createElement('table'));\n\n    var theader = list.appendChild(document.createElement('thead'));\n    \n    var toolbar = theader.appendChild(document.createElement('tr'));\n    toolbar.classList.add('toolbar');\n    \n    var toolheader = toolbar.appendChild(document.createElement('th'));\n    toolheader.setAttribute('colspan', days + 1);\n    toolheader.innerHTML = 'EM DESENVOLVIMENTO...'\n    \n    var header = theader.appendChild(document.createElement('tr'));\n    \n    //header.appendChild(document.createElement('th')).setAttribute('colspan', 6);\n    header.classList.add('header');\n\n    /*\n    var monthDate = minDate.clone();\n    for (m = 0; m < months; m++) {\n        var h = header.appendChild(document.createElement('th'));\n        h.innerHTML = monthDate.format('MMMM');\n        h.classList.add('month');\n        h.setAttribute('colspan', monthDate.daysInMonth() - (monthDate.date() - 1));\n        monthDate.add(1, 'months').date(1);\n    }   \n    var h = header.appendChild(document.createElement('th'));\n    h.innerHTML = maxDate.format('MMMM');\n    h.setAttribute('colspan', Math.min(maxDate.date(), maxDate.daysInMonth()));\n    h.classList.add('month');\n\n    header = theader.appendChild(document.createElement('tr'));\n\n    var colDate = minDate.clone();\n    var summary = []; //[0.00, 0.00, 0.00];\n    for (d = 0; d <= days; d++) {\n        var h = header.appendChild(document.createElement('th'));\n        h.innerHTML = colDate.format('D');\n        if (colDate.weekday() < 1 || colDate.weekday() > 5) {\n            h.classList.add('weekend');\n        }\n        colDate.add(1, 'days');\n    }\n    */\n    \n    pedidos.forEach(function(pedido, key, array) {\n    \n        //var item = list.appendChild(document.createElement('tr')); \n\n        var coltail = 0;\n        var colDate = minDate.clone();\n        \n        pedido.parcela && pedido.parcela.forEach(function(parcela, k, a) {\n            \n            var vencto = moment(parcela.vencto).utc();\n\n            var col = vencto.diff(minDate, 'days');\n            \n            var cell, i;\n            \n            /*\n            if (coltail <= col) {\n                \n                for (; coltail < col; coltail++) {\n                    i = item.appendChild(document.createElement('td'));\n                    if (colDate.weekday() < 1 || colDate.weekday() > 5) {\n                        i.classList.add('weekend');\n                    } \n                    colDate.add(1, 'days');\n                }\n                \n                cell = item.appendChild(document.createElement('td'));\n                colDate.add(1, 'days');\n                coltail++;\n                \n                for (; coltail <= days; coltail++) {\n                    i = item.appendChild(document.createElement('td'));\n                    if (colDate.weekday() < 1 || colDate.weekday() > 5) {\n                        i.classList.add('weekend');\n                    } \n                    colDate.add(1, 'days');\n                }\n                \n            } else {\n                cell = item.children[col];\n            }\n            \n            cell.data = pedido;\n            cell.classList.add('tooltip');\n            \n            //cell.addEventListener(\"click\", function(){ dayclick(this); });\n            //cell.addEventListener(\"click\", new Function( 'popup(' + 'this,' + colDate.year() + ',' + (colDate.month() + 1) + ',' + colDate.date() + ');' ));\n\n            var pop = cell.appendChild(document.createElement('div'));\n            pop.appendChild(document.createElement('div')).innerHTML = 'Pedido: ' + cell.data.numero;\n            pop.appendChild(document.createElement('div')).innerHTML = cell.data.nome;\n            pop.appendChild(document.createElement('div')).innerHTML = 'Emissão: ' + moment(cell.data.emissao).utc().format('L');\n            pop.appendChild(document.createElement('div')).innerHTML = 'Entrega: ' + moment(cell.data.entrega).utc().format('L');\n            pop.appendChild(document.createElement('div')).innerHTML = 'Situação: ' + cell.data.situacao;\n            \n            pop.appendChild(document.createElement('div')).innerHTML = 'Total Pedido: ' + cell.data.total_pedido.toLocaleString('pt-BR', {style: \"decimal\", maximumFractionDigits: 2, minimumFractionDigits: 2});\n            pop.appendChild(document.createElement('div')).innerHTML = 'Total Pago: ' + cell.data.total_pago.toLocaleString('pt-BR', {style: \"decimal\", maximumFractionDigits: 2, minimumFractionDigits: 2});\n            pop.appendChild(document.createElement('div')).innerHTML = 'Saldo: ' + cell.data.saldo.toLocaleString('pt-BR', {style: \"decimal\", maximumFractionDigits: 2, minimumFractionDigits: 2});\n            \n            var table = pop.appendChild(document.createElement('div')).appendChild(document.createElement('table'));\n            \n            cell.data.parcela.forEach(function(p, k, a) {\n                p.pago = 0.00;\n                \n                p.pagto && p.pagto.forEach(function(b, k, a) {\n                    //if (!moment(b.baixa).isSame(moment('1753-01-01T00:00:00.000Z'), 'day')) {\n                        p.pago += b.valor;\n                    //}\n                });\n                p.saldo = p.valor_parcela - p.pago;\n\n                var th = table.appendChild(document.createElement('tr'));\n                \n                th.appendChild(document.createElement('th')).innerHTML = 'Vencto';\n                th.appendChild(document.createElement('th')).innerHTML = 'Parcela';\n                th.appendChild(document.createElement('th')).innerHTML = 'Tipo';\n                th.appendChild(document.createElement('th')).innerHTML = 'Dias';\n                th.appendChild(document.createElement('th')).innerHTML = '%';\n                th.appendChild(document.createElement('th')).innerHTML = 'Valor';\n                th.appendChild(document.createElement('th')).innerHTML = Math.round(p.pago) > 0 ? Math.round(p.saldo) > 0 ? 'Saldo<i class=\"fa fa-minus-circle\" aria-hidden=\"true\">' : Math.round(p.saldo) < 0 ? 'Credito<i class=\"fa fa-plus-circle\" aria-hidden=\"true\"></i>' : 'Pago' : 'A Pagar';\n\n                var t = table.appendChild(document.createElement('tr'));\n                \n                t.appendChild(document.createElement('td')).innerHTML = p.parcela === parcela.parcela ? '<i class=\"fa fa-arrow-right\" aria-hidden=\"true\"></i>' + moment(p.vencto).utc().format('L') : moment(p.vencto).utc().format('L');\n                t.appendChild(document.createElement('td')).innerHTML = p.parcela;\n                t.appendChild(document.createElement('td')).innerHTML = p.tipo;\n                t.appendChild(document.createElement('td')).innerHTML = p.dias > 0 ? p.dias > 1 ? p.dias + ' dias' : p.dias + ' dia' : 'SINAL';\n                t.appendChild(document.createElement('td')).innerHTML = Math.round(p.porcentagem) + '%';\n                t.appendChild(document.createElement('td')).innerHTML = p.valor_parcela.toLocaleString('pt-BR', {style: \"decimal\", maximumFractionDigits: 2, minimumFractionDigits: 2});\n                t.appendChild(document.createElement('td')).innerHTML = Math.round(p.saldo) > 0 ? p.saldo.toLocaleString('pt-BR', {style: \"decimal\", maximumFractionDigits: 2, minimumFractionDigits: 2}) : Math.round(p.saldo) < 0 ? (p.saldo * -1).toLocaleString('pt-BR', {style: \"decimal\", maximumFractionDigits: 2, minimumFractionDigits: 2}) : '<i class=\"fa fa-check\" aria-hidden=\"true\"></i>';\n                \n                p.pagto && p.pagto.forEach(function(b, k, a) {\n                    var t = table.appendChild(document.createElement('tr'));\n                    \n                    t.appendChild(document.createElement('td'));\n                    t.appendChild(document.createElement('td')).innerHTML = moment(b.vencto_original).utc().format('L');\n                    t.appendChild(document.createElement('td')).innerHTML = moment(b.baixa).utc().isSame(moment('1753-01-01T00:00:00.000Z'), 'day') ? '' : moment(b.baixa).utc().format('L');\n                    //t.appendChild(document.createElement('td')).innerHTML = b.parcela;\n                    var c = t.appendChild(document.createElement('td'));\n                    c.setAttribute('colspan', 2);\n                    c.innerHTML = b.duplicata == 'N' ? 'Deposito' : 'Duplicata';\n                    t.appendChild(document.createElement('td')).innerHTML = b.valor.toLocaleString('pt-BR', {style: \"decimal\", maximumFractionDigits: 2, minimumFractionDigits: 2});\n                    //t.appendChild(document.createElement('td')); /*.innerHTML = b.saldo.toLocaleString('pt-BR', {style: \"decimal\", maximumFractionDigits: 2, minimumFractionDigits: 2});\n                    \n                })\n            });\n            pop.classList.add('tooltiptext');\n            \n            if (colDate.weekday() < 1 || colDate.weekday() > 5) {\n                cell.classList.add('weekend');\n            }\n            \n            var vlr = cell.appendChild(document.createElement('span'));\n            cell.classList.add('money', Math.round(parcela.saldo) > 0 ? moment(parcela.vencto).utc().isBefore(moment().utc()) ? 'atraso' : parcela.tipo === \"DDL\" ? 'ddl' : 'ddp' : 'weekend' );\n            vlr.innerHTML = Math.round(parcela.pago) > 0 ? Math.round(parcela.saldo) > 0 ? parcela.saldo.toLocaleString('pt-BR', {style: \"decimal\", maximumFractionDigits: 2, minimumFractionDigits: 2}) + '<i class=\"fa fa-minus-circle\" aria-hidden=\"true\">' : Math.round(parcela.saldo) < 0 ? (parcela.saldo * -1).toLocaleString('pt-BR', {style: \"decimal\", maximumFractionDigits: 2, minimumFractionDigits: 2}) + '<i class=\"fa fa-plus-circle\" aria-hidden=\"true\">' : parcela.valor_parcela.toLocaleString('pt-BR', {style: \"decimal\", maximumFractionDigits: 2, minimumFractionDigits: 2}) + '<i class=\"fa fa-check\" aria-hidden=\"true\"></i>' : parcela.valor_parcela.toLocaleString('pt-BR', {style: \"decimal\", maximumFractionDigits: 2, minimumFractionDigits: 2});\n            */\n            \n            summary[col].receber += parcela.valor_parcela;\n            summary[col].recebido += parcela.pago;\n\n        });\n\n    });\n\n    var tfooter = list.appendChild(document.createElement('tfoot'));\n\n    var footer = tfooter.appendChild(document.createElement('tr'));\n    \n    var f = footer.appendChild(document.createElement('th'));\n    f.setAttribute('colspan', 6);\n    f.classList.add('header');\n\n    // rodape: meses\n    monthDate = minDate.clone();\n    for (m = 0; m < months; m++) {\n        var f = footer.appendChild(document.createElement('th'));\n        f.innerHTML = monthDate.format('MMMM');\n        f.classList.add('month');\n        f.setAttribute('colspan', monthDate.daysInMonth() - (monthDate.date() - 1));\n        monthDate.add(1, 'months').date(1);\n    }\n    \n    var f = footer.appendChild(document.createElement('th'));\n    f.innerHTML = maxDate.format('MMMM');\n    f.classList.add('month');\n    f.setAttribute('colspan', Math.min(maxDate.date(), maxDate.daysInMonth()));\n    \n    footer = tfooter.appendChild(document.createElement('tr'));\n    \n    footer.appendChild(document.createElement('th')).setAttribute('colspan', 6);\n\n    colDate = minDate.clone();\n    for (d = 0; d <= days; d++) {\n        var f = footer.appendChild(document.createElement('th'));\n        f.innerHTML = colDate.format('D');\n        if (colDate.weekday() < 1 || colDate.weekday() > 5) {\n            f.classList.add('weekend');\n        }\n        colDate.add(1, 'days');\n    }\n    \n    footer = tfooter.appendChild(document.createElement('tr'));    \n\n    //footer.appendChild(document.createElement('th')).setAttribute('colspan', 4);\n    \n    var total_receber = footer.appendChild(document.createElement('th'));\n    total_receber.setAttribute('colspan', 2);\n    total_receber.innerHTML = 'À Receber';\n\n    colDate = minDate.clone();\n    for (i = 0; i <= days; i++) {\n        var f = footer.appendChild(document.createElement('th'));\n        if (colDate.weekday() < 1 || colDate.weekday() > 5) {\n            f.classList.add('weekend');\n        }\n        if (Math.round(summary[i].receber) > 0) {\n            f.innerHTML = summary[i].receber.toLocaleString('pt-BR', {style: \"decimal\", maximumFractionDigits: 2, minimumFractionDigits: 2});     \n            f.classList.add('money');\n        }\n        colDate.add(1, 'days');\n    }\n\n    var footer = tfooter.appendChild(document.createElement('tr'));    \n\n    //footer.appendChild(document.createElement('th')).setAttribute('colspan', 4);\n\n    var total_recebido = footer.appendChild(document.createElement('th'));\n    total_recebido.setAttribute('colspan', 2);\n    total_recebido.innerHTML = 'Recebido';\n\n    colDate = minDate.clone();\n    for (i = 0; i <= days; i++) {\n        var f = footer.appendChild(document.createElement('th'));\n        if (colDate.weekday() < 1 || colDate.weekday() > 5) {\n            f.classList.add('weekend');\n        }\n        if ((i <= today_left) && (Math.round(summary[i].recebido) > 0)) {\n            f.innerHTML = summary[i].recebido.toLocaleString('pt-BR', {style: \"decimal\", maximumFractionDigits: 2, minimumFractionDigits: 2});     \n            f.classList.add('money');\n        }\n        colDate.add(1, 'days');\n    }\n\n    var total = tfooter.appendChild(document.createElement('tr'));    \n\n    //total.appendChild(document.createElement('th')).setAttribute('colspan', 4);\n\n    var total_saldo = total.appendChild(document.createElement('th'));\n    total_saldo.setAttribute('colspan', 2);\n    total_saldo.innerHTML = 'Saldo (Recebido - À Receber)';\n\n    colDate = minDate.clone();\n    for (i = 0; i <= days; i++) {\n        var t = total.appendChild(document.createElement('th'));\n        if (colDate.weekday() < 1 || colDate.weekday() > 5) {\n            t.classList.add('weekend');\n        }\n        var tsaldo = summary[i].recebido - summary[i].receber;\n        if ((i <= today_left) && (summary[i].receber > 0 || summary[i].recebido > 0)) {\n            t.innerHTML = Math.round(tsaldo, 2) < 0 ? (tsaldo * -1).toLocaleString('pt-BR', {style: \"decimal\", maximumFractionDigits: 2, minimumFractionDigits: 2}) + '<i class=\"fa fa-minus-circle\" aria-hidden=\"true\">' : Math.round(tsaldo, 2) > 0 ? (tsaldo).toLocaleString('pt-BR', {style: \"decimal\", maximumFractionDigits: 2, minimumFractionDigits: 2}) + '<i class=\"fa fa-plus-circle\" aria-hidden=\"true\">' : Math.round(tsaldo, 2).toLocaleString('pt-BR', {style: \"decimal\", maximumFractionDigits: 2, minimumFractionDigits: 2}) + '<i class=\"fa fa-check\" aria-hidden=\"true\"></i>';\n            t.classList.add('money', 'total');\n            if (tsaldo < -1000) {\n                t.classList.add('atraso')\n            } else if (tsaldo > 1000) {\n                t.classList.add('receber');\n            }\n        }\n        colDate.add(1, 'days');\n    }\n\n    document.body.appendChild(content);\n\n}\n\nfunction load() {\n  moment.updateLocale((window.navigator.userLanguage || window.navigator.language).toLowerCase(), {\n    weekdaysMin: [\"D\", \"S\", \"T\", \"Q\", \"Q\", \"S\", \"S\"]\n  });\n  moment.locale((window.navigator.userLanguage || window.navigator.language).toLowerCase());\n\n  getPedidos(list);\n  \n};\n\ndocument.addEventListener('DOMContentLoaded', load);","x":600,"y":440,"wires":[["fec941e.80ce0c"]]},{"id":"fec941e.80ce0c","type":"http response","z":"8f5b9e91.30945","name":"","x":970,"y":441,"wires":[]},{"id":"1613d8a6.7c5c67","type":"http in","z":"8f5b9e91.30945","name":"","url":"/fluxo/css/style.css","method":"get","swaggerDoc":"","x":140,"y":481,"wires":[["69f554b4.77d94c"]]},{"id":"69f554b4.77d94c","type":"template","z":"8f5b9e91.30945","name":"style.css","field":"payload","fieldType":"msg","format":"html","syntax":"plain","template":"/*\n*,\n*:before,\n*:after {\n  -webkit-box-sizing: border-box;\n  -moz-box-sizing: border-box;\n  box-sizing: border-box;\n}\n*/\n\nhtml {\n  padding-top: 0px;\n  padding-left: 20px;\n  padding-right: 20px;\n  padding-bottom: 0px;\n}\n\nbody {\n  font-family: \"Roboto\", \"Helvetica\", \"Arial\", sans-serif !important;\n  /*box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);*/\n  overflow-x: scroll; \n}\n\n.toolbar {\n  height: 280px;\n  width: 100%;\n  /*background-color: rgba(211, 211, 211, 0.65);*/\n  background-color: #eeda90;\n  text-align: left;\n  font-size: 4em;\n}\n\ntable {\n  padding: 0px;\n  margin: 0px;\n  border-collapse: separate;\n  border-spacing: 2px;\n  overflow-x: scroll\n}\n\ntable, thead, tfoot, tr, th {\n  border: 1px solid gray;\n  padding: 5px;\n}\n\nth {\n  border-bottom: 1px solid gray;\n  border-radius: 5px;\n  -moz-border-radius: 5px;\n  white-space: nowrap;\n}\n\ntd {\n  white-space: nowrap;\n  margin: 2px;\n  border-bottom: 1px solid gray;\n  border-radius: 5px;\n  -moz-border-radius: 5px;\n  min-width: 20px;\n  padding: 5px;\n}\n\ni { \n  margin-left: 4px;\n  margin-right: 4px;\n}\n\n.header,\n.month {\n  background-color: #eeda90;\n}\n\n.weekend {\n  background-color: rgba(211, 211, 211, 0.65);\n}\n\n.recebido {\n  background-color: #eeda90;\n}\n\n.receber {\n  background-color: lightblue;\n}\n\n.left {\n  text-align: left;\n}\n\n.center {\n  text-align: center;\n}\n\n.money {\n  text-align: right;\n  min-width: 100px;\n}\n\n.total {\n  font-weight: bold;\n  padding-left: 5px;\n  min-width: 100px;\n}\n\n.atraso {\n  background-color: #fc6f6f;\n  color: white;\n}\n\n.today {\n  color: rgba(211, 211, 211, 0.65);\n  text-align: center;\n}\n\n.tooltip {\n    position: relative;\n    display: inline-block;\n    border-bottom: 1px dotted black;\n}\n\n.tooltip .tooltiptext {\n    visibility: hidden;\n    /*width: 460px;*/\n    background-color: #555;\n    color: #fff;\n    text-align: center;\n    border-radius: 6px;\n    padding: 15px 0;\n    position: absolute;\n    z-index: 1;\n    bottom: 125%;\n    left: 50%;\n    margin-left: -50%;\n    opacity: 0;\n    transition: opacity 1s;\n}\n\n.tooltip .tooltiptext::after {\n    content: \"\";\n    position: absolute;\n    top: 100%;\n    left: 10%;\n    margin-left: -5px;\n    border-width: 5px;\n    border-style: solid;\n    border-color: #555 transparent transparent transparent;\n}\n\n.tooltip:hover .tooltiptext {\n    visibility: visible;\n    opacity: 1;\n}\n","x":600.0000076293945,"y":481.0000104904175,"wires":[["56151e8c.2ce37"]]},{"id":"34abee2.e302612","type":"http response","z":"8f5b9e91.30945","name":"","x":970,"y":481,"wires":[]},{"id":"56151e8c.2ce37","type":"function","z":"8f5b9e91.30945","name":"text/css","func":"msg.headers = { \"Content-type\" : \"text/css\" }\n         \nreturn msg;","outputs":1,"noerr":0,"x":800,"y":481,"wires":[["34abee2.e302612"]]},{"id":"6e03a2ae.bacc3c","type":"function","z":"8f5b9e91.30945","name":"parcelas","func":"if (msg.pedidos[msg.index].index !== undefined) {\n    msg.pedidos[msg.index].index = msg.pedidos[msg.index].index + 1;\n    \n    if (msg.pedidos[msg.index].index < msg.pedidos[msg.index].parcela.length) {\n        msg.payload = \"SELECT /*LFLUPED AS numero, */LFLUVEN AS vencto_original, LFLUBAI AS baixa, LTRIM(RTRIM(LFLUDO1)) AS parcela, LFLUDUP AS duplicata, CAST(LFLUVCO AS DATE) AS vencto, LFLUTOTRed AS valor, LFluSalRed AS saldo FROM LAFLU WHERE LFLUELI = 'N' AND LFLUPED = \" + msg.pedidos[msg.index].numero + \" AND LFLUDO1 = '\" + msg.pedidos[msg.index].parcela[msg.pedidos[msg.index].index].parcela + \"'\";        \n        node.send([msg, null, null]);\n    } else {\n        console.log('entrou aqui');\n        if (msg.index === msg.pedidos.length - 1) {\n            console.log('fim');\n            node.send([null, null, msg]);\n        } else {\n            console.log('loop');\n            msg.index = msg.index + 1;\n            node.send([null, msg, null]);\n        }\n    }\n} else {\n    msg.pedidos[msg.index].index = 0;\n    msg.payload = \"SELECT /*LFLUPED AS numero, */LFLUVEN AS vencto_original, LFLUBAI AS baixa, LTRIM(RTRIM(LFLUDO1)) AS parcela, LFLUDUP AS duplicata, CAST(LFLUVCO AS DATE) AS vencto, LFLUTOTRed AS valor, LFluSalRed AS saldo FROM LAFLU WHERE LFLUELI = 'N' AND LFLUPED = \" + msg.pedidos[msg.index].numero + \" AND LFLUDO1 = '\" + msg.pedidos[msg.index].parcela[msg.pedidos[msg.index].index].parcela + \"'\";        \n    node.send([msg, null, null]);\n}\n\n\nreturn null;","outputs":"3","noerr":0,"x":240,"y":1860,"wires":[["779e92a6.9a4adc","415a6176.27728","bcfa43c4.e55dc"],["4500c5a7.a8d57c","c0890d26.d3726"],["d5ac0fb3.e0718","cde88876.bbed88"]]},{"id":"c0890d26.d3726","type":"function","z":"8f5b9e91.30945","name":"delay","func":"setTimeout(function() {\n    node.send(msg);\n}, 150);\nreturn null;","outputs":1,"noerr":0,"x":550,"y":1620,"wires":[["6e03a2ae.bacc3c","fcc8048.09346f8"]]},{"id":"779e92a6.9a4adc","type":"MSSQL","z":"8f5b9e91.30945","mssqlCN":"162ddda.4a21522","name":"LANCTOS FLUXO","query":"","outField":"payload","x":733.9999961853027,"y":1793.0000104904175,"wires":[["a995524a.71225","4b70e762.5b8a58"]]},{"id":"d5ac0fb3.e0718","type":"function","z":"8f5b9e91.30945","name":"pedidos","func":"msg.pedidos.forEach(function(p, k, a) {\n    var m = {\n        _msgid: msg._msgid,\n        payload: p\n    }\n    node.send(m);\n})\n\nreturn null;","outputs":1,"noerr":0,"x":541.7499694824219,"y":2051.25,"wires":[["e27ea60.c02f158","522d4615.006418"]]},{"id":"e27ea60.c02f158","type":"mongodb out","z":"8f5b9e91.30945","service":"_ext_","mongodb":"258dcda0.cc5e32","name":"pedido","collection":"fluxo","payonly":true,"upsert":false,"multi":false,"operation":"store","x":771.7499694824219,"y":2051.25,"wires":[]},{"id":"522d4615.006418","type":"debug","z":"8f5b9e91.30945","name":"","active":true,"console":"false","complete":"payload","x":715.7500305175781,"y":2116.75,"wires":[]},{"id":"8c8b376d.798058","type":"mongodb in","z":"8f5b9e91.30945","service":"_ext_","mongodb":"258dcda0.cc5e32","name":"pedido","collection":"fluxo","operation":"find","x":369,"y":1596.5,"wires":[["9b6f105e.6ba8","14a7b9f2.5c0466"]]},{"id":"1b4ae83c.dc1228","type":"inject","z":"8f5b9e91.30945","name":"","topic":"","payload":"","payloadType":"num","repeat":"","crontab":"","once":false,"x":133.99997329711914,"y":1469.2500009536743,"wires":[["421a2927.dbea78"]]},{"id":"14a7b9f2.5c0466","type":"function","z":"8f5b9e91.30945","name":"pedidos","func":"if (msg.index !== undefined) {\n    msg.index = msg.index + 1;\n    \n    if (msg.index < msg.pedidos.length) {\n        node.send(msg);\n    } else {\n        return null;\n    }\n} else {\n    msg.index = 0;\n    msg.pedidos = msg.payload;\n    node.send(msg);\n}\n\nreturn null;","outputs":1,"noerr":0,"x":242.74996948242188,"y":1721.25,"wires":[["6e03a2ae.bacc3c"]]},{"id":"a995524a.71225","type":"debug","z":"8f5b9e91.30945","name":"","active":true,"console":"false","complete":"payload","x":931.7499694824219,"y":1762.25,"wires":[]},{"id":"a4cea5e5.2f6968","type":"debug","z":"8f5b9e91.30945","name":"","active":false,"console":"false","complete":"payload","x":782.7499694824219,"y":1894.25,"wires":[]},{"id":"415a6176.27728","type":"function","z":"8f5b9e91.30945","name":"debug","func":"msg.payload = { pedido: msg.pedidos[msg.index].numero, parcela: msg.pedidos[msg.index].parcela[msg.pedidos[msg.index].index] };\nreturn msg;","outputs":1,"noerr":0,"x":596.7499694824219,"y":1878.25,"wires":[["a4cea5e5.2f6968"]]},{"id":"bcfa43c4.e55dc","type":"debug","z":"8f5b9e91.30945","name":"","active":false,"console":"false","complete":"false","x":505.7499694824219,"y":1764.25,"wires":[]},{"id":"4b70e762.5b8a58","type":"function","z":"8f5b9e91.30945","name":"pagto","func":"if (msg.payload.length) {\n    msg.pedidos[msg.index].parcela[msg.pedidos[msg.index].index].pagto = msg.payload;\n    var vlr_pago = 0.00;\n    msg.payload.forEach(function(p,k,a) {\n        vlr_pago += p.valor;\n    });\n    msg.pedidos[msg.index].parcela[msg.pedidos[msg.index].index].saldo = Math.round(msg.pedidos[msg.index].parcela[msg.pedidos[msg.index].index].total_parcela - vlr_pago, 2);\n}\nnode.send(msg);\nreturn null;","outputs":1,"noerr":0,"x":975.7499694824219,"y":1831.25,"wires":[["c0890d26.d3726","f5a0ad2f.c9baf"]]},{"id":"f5a0ad2f.c9baf","type":"debug","z":"8f5b9e91.30945","name":"","active":false,"console":"false","complete":"payload","x":1210.7499694824219,"y":1831.25,"wires":[]},{"id":"421a2927.dbea78","type":"function","z":"8f5b9e91.30945","name":"query","func":"if (msg.payload > 0) {\n    msg.payload = { numero: msg.payload };\n}\nreturn msg;","outputs":1,"noerr":0,"x":245.74996948242188,"y":1534.25,"wires":[["8c8b376d.798058","52af1551.a82a1c"]]},{"id":"9b6f105e.6ba8","type":"debug","z":"8f5b9e91.30945","name":"","active":false,"console":"false","complete":"payload.length","x":624.7499694824219,"y":1545.25,"wires":[]},{"id":"4500c5a7.a8d57c","type":"debug","z":"8f5b9e91.30945","name":"","active":false,"console":"false","complete":"false","x":579.7499694824219,"y":1935.25,"wires":[]},{"id":"52af1551.a82a1c","type":"debug","z":"8f5b9e91.30945","name":"","active":false,"console":"false","complete":"payload","x":467.7499694824219,"y":1465.25,"wires":[]},{"id":"cde88876.bbed88","type":"debug","z":"8f5b9e91.30945","name":"","active":true,"console":"false","complete":"pedidos.length","x":461.7499694824219,"y":2125.25,"wires":[]},{"id":"fcc8048.09346f8","type":"function","z":"8f5b9e91.30945","name":"debug","func":"msg.payload = { index: msg.index, length: msg.pedidos.length, parcela: { index: msg.pedidos[msg.index].index, length: msg.pedidos[msg.index].parcela.length } };\nreturn msg;","outputs":1,"noerr":0,"x":848.7499694824219,"y":1630.25,"wires":[["3c87ddfc.b10e32"]]},{"id":"3c87ddfc.b10e32","type":"debug","z":"8f5b9e91.30945","name":"","active":true,"console":"false","complete":"false","x":1038.7499694824219,"y":1629.25,"wires":[]},{"id":"b96b63da.5b575","type":"http in","z":"8f5b9e91.30945","name":"","url":"/fluxo/fonts/roboto","method":"get","swaggerDoc":"","x":140,"y":518,"wires":[["243be5aa.5b44aa"]]},{"id":"243be5aa.5b44aa","type":"template","z":"8f5b9e91.30945","name":"roboto.css","field":"payload","fieldType":"msg","format":"html","syntax":"plain","template":"/* cyrillic-ext */\n@font-face {\n  font-family: 'Roboto';\n  font-style: normal;\n  font-weight: 100;\n  src: local('Roboto Thin'), local('Roboto-Thin'), url(https://fonts.gstatic.com/s/roboto/v15/ty9dfvLAziwdqQ2dHoyjphTbgVql8nDJpwnrE27mub0.woff2) format('woff2');\n  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;\n}\n/* cyrillic */\n@font-face {\n  font-family: 'Roboto';\n  font-style: normal;\n  font-weight: 100;\n  src: local('Roboto Thin'), local('Roboto-Thin'), url(https://fonts.gstatic.com/s/roboto/v15/frNV30OaYdlFRtH2VnZZdhTbgVql8nDJpwnrE27mub0.woff2) format('woff2');\n  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;\n}\n/* greek-ext */\n@font-face {\n  font-family: 'Roboto';\n  font-style: normal;\n  font-weight: 100;\n  src: local('Roboto Thin'), local('Roboto-Thin'), url(https://fonts.gstatic.com/s/roboto/v15/gwVJDERN2Amz39wrSoZ7FxTbgVql8nDJpwnrE27mub0.woff2) format('woff2');\n  unicode-range: U+1F00-1FFF;\n}\n/* greek */\n@font-face {\n  font-family: 'Roboto';\n  font-style: normal;\n  font-weight: 100;\n  src: local('Roboto Thin'), local('Roboto-Thin'), url(https://fonts.gstatic.com/s/roboto/v15/aZMswpodYeVhtRvuABJWvBTbgVql8nDJpwnrE27mub0.woff2) format('woff2');\n  unicode-range: U+0370-03FF;\n}\n/* vietnamese */\n@font-face {\n  font-family: 'Roboto';\n  font-style: normal;\n  font-weight: 100;\n  src: local('Roboto Thin'), local('Roboto-Thin'), url(https://fonts.gstatic.com/s/roboto/v15/VvXUGKZXbHtX_S_VCTLpGhTbgVql8nDJpwnrE27mub0.woff2) format('woff2');\n  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;\n}\n/* latin-ext */\n@font-face {\n  font-family: 'Roboto';\n  font-style: normal;\n  font-weight: 100;\n  src: local('Roboto Thin'), local('Roboto-Thin'), url(https://fonts.gstatic.com/s/roboto/v15/e7MeVAyvogMqFwwl61PKhBTbgVql8nDJpwnrE27mub0.woff2) format('woff2');\n  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;\n}\n/* latin */\n@font-face {\n  font-family: 'Roboto';\n  font-style: normal;\n  font-weight: 100;\n  src: local('Roboto Thin'), local('Roboto-Thin'), url(https://fonts.gstatic.com/s/roboto/v15/2tsd397wLxj96qwHyNIkxPesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');\n  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;\n}\n/* cyrillic-ext */\n@font-face {\n  font-family: 'Roboto';\n  font-style: normal;\n  font-weight: 300;\n  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v15/0eC6fl06luXEYWpBSJvXCBJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');\n  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;\n}\n/* cyrillic */\n@font-face {\n  font-family: 'Roboto';\n  font-style: normal;\n  font-weight: 300;\n  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v15/Fl4y0QdOxyyTHEGMXX8kcRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');\n  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;\n}\n/* greek-ext */\n@font-face {\n  font-family: 'Roboto';\n  font-style: normal;\n  font-weight: 300;\n  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v15/-L14Jk06m6pUHB-5mXQQnRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');\n  unicode-range: U+1F00-1FFF;\n}\n/* greek */\n@font-face {\n  font-family: 'Roboto';\n  font-style: normal;\n  font-weight: 300;\n  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v15/I3S1wsgSg9YCurV6PUkTORJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');\n  unicode-range: U+0370-03FF;\n}\n/* vietnamese */\n@font-face {\n  font-family: 'Roboto';\n  font-style: normal;\n  font-weight: 300;\n  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v15/NYDWBdD4gIq26G5XYbHsFBJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');\n  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;\n}\n/* latin-ext */\n@font-face {\n  font-family: 'Roboto';\n  font-style: normal;\n  font-weight: 300;\n  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v15/Pru33qjShpZSmG3z6VYwnRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');\n  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;\n}\n/* latin */\n@font-face {\n  font-family: 'Roboto';\n  font-style: normal;\n  font-weight: 300;\n  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfVtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');\n  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;\n}\n/* cyrillic-ext */\n@font-face {\n  font-family: 'Roboto';\n  font-style: normal;\n  font-weight: 400;\n  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v15/ek4gzZ-GeXAPcSbHtCeQI_esZW2xOQ-xsNqO47m55DA.woff2) format('woff2');\n  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;\n}\n/* cyrillic */\n@font-face {\n  font-family: 'Roboto';\n  font-style: normal;\n  font-weight: 400;\n  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v15/mErvLBYg_cXG3rLvUsKT_fesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');\n  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;\n}\n/* greek-ext */\n@font-face {\n  font-family: 'Roboto';\n  font-style: normal;\n  font-weight: 400;\n  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v15/-2n2p-_Y08sg57CNWQfKNvesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');\n  unicode-range: U+1F00-1FFF;\n}\n/* greek */\n@font-face {\n  font-family: 'Roboto';\n  font-style: normal;\n  font-weight: 400;\n  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v15/u0TOpm082MNkS5K0Q4rhqvesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');\n  unicode-range: U+0370-03FF;\n}\n/* vietnamese */\n@font-face {\n  font-family: 'Roboto';\n  font-style: normal;\n  font-weight: 400;\n  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v15/NdF9MtnOpLzo-noMoG0miPesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');\n  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;\n}\n/* latin-ext */\n@font-face {\n  font-family: 'Roboto';\n  font-style: normal;\n  font-weight: 400;\n  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v15/Fcx7Wwv8OzT71A3E1XOAjvesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');\n  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;\n}\n/* latin */\n@font-face {\n  font-family: 'Roboto';\n  font-style: normal;\n  font-weight: 400;\n  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v15/CWB0XYA8bzo0kSThX0UTuA.woff2) format('woff2');\n  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;\n}\n/* cyrillic-ext */\n@font-face {\n  font-family: 'Roboto';\n  font-style: normal;\n  font-weight: 500;\n  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v15/ZLqKeelYbATG60EpZBSDyxJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');\n  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;\n}\n/* cyrillic */\n@font-face {\n  font-family: 'Roboto';\n  font-style: normal;\n  font-weight: 500;\n  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v15/oHi30kwQWvpCWqAhzHcCSBJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');\n  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;\n}\n/* greek-ext */\n@font-face {\n  font-family: 'Roboto';\n  font-style: normal;\n  font-weight: 500;\n  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v15/rGvHdJnr2l75qb0YND9NyBJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');\n  unicode-range: U+1F00-1FFF;\n}\n/* greek */\n@font-face {\n  font-family: 'Roboto';\n  font-style: normal;\n  font-weight: 500;\n  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v15/mx9Uck6uB63VIKFYnEMXrRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');\n  unicode-range: U+0370-03FF;\n}\n/* vietnamese */\n@font-face {\n  font-family: 'Roboto';\n  font-style: normal;\n  font-weight: 500;\n  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v15/mbmhprMH69Zi6eEPBYVFhRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');\n  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;\n}\n/* latin-ext */\n@font-face {\n  font-family: 'Roboto';\n  font-style: normal;\n  font-weight: 500;\n  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v15/oOeFwZNlrTefzLYmlVV1UBJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');\n  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;\n}\n/* latin */\n@font-face {\n  font-family: 'Roboto';\n  font-style: normal;\n  font-weight: 500;\n  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v15/RxZJdnzeo3R5zSexge8UUVtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');\n  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;\n}\n/* cyrillic-ext */\n@font-face {\n  font-family: 'Roboto';\n  font-style: normal;\n  font-weight: 700;\n  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v15/77FXFjRbGzN4aCrSFhlh3hJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');\n  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;\n}\n/* cyrillic */\n@font-face {\n  font-family: 'Roboto';\n  font-style: normal;\n  font-weight: 700;\n  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v15/isZ-wbCXNKAbnjo6_TwHThJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');\n  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;\n}\n/* greek-ext */\n@font-face {\n  font-family: 'Roboto';\n  font-style: normal;\n  font-weight: 700;\n  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v15/UX6i4JxQDm3fVTc1CPuwqhJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');\n  unicode-range: U+1F00-1FFF;\n}\n/* greek */\n@font-face {\n  font-family: 'Roboto';\n  font-style: normal;\n  font-weight: 700;\n  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v15/jSN2CGVDbcVyCnfJfjSdfBJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');\n  unicode-range: U+0370-03FF;\n}\n/* vietnamese */\n@font-face {\n  font-family: 'Roboto';\n  font-style: normal;\n  font-weight: 700;\n  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v15/PwZc-YbIL414wB9rB1IAPRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');\n  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;\n}\n/* latin-ext */\n@font-face {\n  font-family: 'Roboto';\n  font-style: normal;\n  font-weight: 700;\n  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v15/97uahxiqZRoncBaCEI3aWxJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');\n  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;\n}\n/* latin */\n@font-face {\n  font-family: 'Roboto';\n  font-style: normal;\n  font-weight: 700;\n  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v15/d-6IYplOFocCacKzxwXSOFtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');\n  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;\n}\n/* cyrillic-ext */\n@font-face {\n  font-family: 'Roboto';\n  font-style: normal;\n  font-weight: 900;\n  src: local('Roboto Black'), local('Roboto-Black'), url(https://fonts.gstatic.com/s/roboto/v15/s7gftie1JANC-QmDJvMWZhJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');\n  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;\n}\n/* cyrillic */\n@font-face {\n  font-family: 'Roboto';\n  font-style: normal;\n  font-weight: 900;\n  src: local('Roboto Black'), local('Roboto-Black'), url(https://fonts.gstatic.com/s/roboto/v15/3Y_xCyt7TNunMGg0Et2pnhJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');\n  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;\n}\n/* greek-ext */\n@font-face {\n  font-family: 'Roboto';\n  font-style: normal;\n  font-weight: 900;\n  src: local('Roboto Black'), local('Roboto-Black'), url(https://fonts.gstatic.com/s/roboto/v15/WeQRRE07FDkIrr29oHQgHBJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');\n  unicode-range: U+1F00-1FFF;\n}\n/* greek */\n@font-face {\n  font-family: 'Roboto';\n  font-style: normal;\n  font-weight: 900;\n  src: local('Roboto Black'), local('Roboto-Black'), url(https://fonts.gstatic.com/s/roboto/v15/jyIYROCkJM3gZ4KV00YXOBJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');\n  unicode-range: U+0370-03FF;\n}\n/* vietnamese */\n@font-face {\n  font-family: 'Roboto';\n  font-style: normal;\n  font-weight: 900;\n  src: local('Roboto Black'), local('Roboto-Black'), url(https://fonts.gstatic.com/s/roboto/v15/phsu-QZXz1JBv0PbFoPmEBJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');\n  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;\n}\n/* latin-ext */\n@font-face {\n  font-family: 'Roboto';\n  font-style: normal;\n  font-weight: 900;\n  src: local('Roboto Black'), local('Roboto-Black'), url(https://fonts.gstatic.com/s/roboto/v15/9_7S_tWeGDh5Pq3u05RVkhJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');\n  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;\n}\n/* latin */\n@font-face {\n  font-family: 'Roboto';\n  font-style: normal;\n  font-weight: 900;\n  src: local('Roboto Black'), local('Roboto-Black'), url(https://fonts.gstatic.com/s/roboto/v15/mnpfi9pxYH-Go5UiibESIltXRa8TVwTICgirnJhmVJw.woff2) format('woff2');\n  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;\n}\n/* cyrillic-ext */\n@font-face {\n  font-family: 'Roboto';\n  font-style: italic;\n  font-weight: 400;\n  src: local('Roboto Italic'), local('Roboto-Italic'), url(https://fonts.gstatic.com/s/roboto/v15/WxrXJa0C3KdtC7lMafG4dRTbgVql8nDJpwnrE27mub0.woff2) format('woff2');\n  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;\n}\n/* cyrillic */\n@font-face {\n  font-family: 'Roboto';\n  font-style: italic;\n  font-weight: 400;\n  src: local('Roboto Italic'), local('Roboto-Italic'), url(https://fonts.gstatic.com/s/roboto/v15/OpXUqTo0UgQQhGj_SFdLWBTbgVql8nDJpwnrE27mub0.woff2) format('woff2');\n  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;\n}\n/* greek-ext */\n@font-face {\n  font-family: 'Roboto';\n  font-style: italic;\n  font-weight: 400;\n  src: local('Roboto Italic'), local('Roboto-Italic'), url(https://fonts.gstatic.com/s/roboto/v15/1hZf02POANh32k2VkgEoUBTbgVql8nDJpwnrE27mub0.woff2) format('woff2');\n  unicode-range: U+1F00-1FFF;\n}\n/* greek */\n@font-face {\n  font-family: 'Roboto';\n  font-style: italic;\n  font-weight: 400;\n  src: local('Roboto Italic'), local('Roboto-Italic'), url(https://fonts.gstatic.com/s/roboto/v15/cDKhRaXnQTOVbaoxwdOr9xTbgVql8nDJpwnrE27mub0.woff2) format('woff2');\n  unicode-range: U+0370-03FF;\n}\n/* vietnamese */\n@font-face {\n  font-family: 'Roboto';\n  font-style: italic;\n  font-weight: 400;\n  src: local('Roboto Italic'), local('Roboto-Italic'), url(https://fonts.gstatic.com/s/roboto/v15/K23cxWVTrIFD6DJsEVi07RTbgVql8nDJpwnrE27mub0.woff2) format('woff2');\n  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;\n}\n/* latin-ext */\n@font-face {\n  font-family: 'Roboto';\n  font-style: italic;\n  font-weight: 400;\n  src: local('Roboto Italic'), local('Roboto-Italic'), url(https://fonts.gstatic.com/s/roboto/v15/vSzulfKSK0LLjjfeaxcREhTbgVql8nDJpwnrE27mub0.woff2) format('woff2');\n  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;\n}\n/* latin */\n@font-face {\n  font-family: 'Roboto';\n  font-style: italic;\n  font-weight: 400;\n  src: local('Roboto Italic'), local('Roboto-Italic'), url(https://fonts.gstatic.com/s/roboto/v15/vPcynSL0qHq_6dX7lKVByfesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');\n  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;\n}\n/* cyrillic-ext */\n@font-face {\n  font-family: 'Roboto';\n  font-style: italic;\n  font-weight: 700;\n  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url(https://fonts.gstatic.com/s/roboto/v15/t6Nd4cfPRhZP44Q5QAjcCzTOQ_MqJVwkKsUn0wKzc2I.woff2) format('woff2');\n  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;\n}\n/* cyrillic */\n@font-face {\n  font-family: 'Roboto';\n  font-style: italic;\n  font-weight: 700;\n  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url(https://fonts.gstatic.com/s/roboto/v15/t6Nd4cfPRhZP44Q5QAjcCzUj_cnvWIuuBMVgbX098Mw.woff2) format('woff2');\n  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;\n}\n/* greek-ext */\n@font-face {\n  font-family: 'Roboto';\n  font-style: italic;\n  font-weight: 700;\n  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url(https://fonts.gstatic.com/s/roboto/v15/t6Nd4cfPRhZP44Q5QAjcC0bcKLIaa1LC45dFaAfauRA.woff2) format('woff2');\n  unicode-range: U+1F00-1FFF;\n}\n/* greek */\n@font-face {\n  font-family: 'Roboto';\n  font-style: italic;\n  font-weight: 700;\n  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url(https://fonts.gstatic.com/s/roboto/v15/t6Nd4cfPRhZP44Q5QAjcC2o_sUJ8uO4YLWRInS22T3Y.woff2) format('woff2');\n  unicode-range: U+0370-03FF;\n}\n/* vietnamese */\n@font-face {\n  font-family: 'Roboto';\n  font-style: italic;\n  font-weight: 700;\n  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url(https://fonts.gstatic.com/s/roboto/v15/t6Nd4cfPRhZP44Q5QAjcC76up8jxqWt8HVA3mDhkV_0.woff2) format('woff2');\n  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;\n}\n/* latin-ext */\n@font-face {\n  font-family: 'Roboto';\n  font-style: italic;\n  font-weight: 700;\n  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url(https://fonts.gstatic.com/s/roboto/v15/t6Nd4cfPRhZP44Q5QAjcCyYE0-AqJ3nfInTTiDXDjU4.woff2) format('woff2');\n  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;\n}\n/* latin */\n@font-face {\n  font-family: 'Roboto';\n  font-style: italic;\n  font-weight: 700;\n  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url(https://fonts.gstatic.com/s/roboto/v15/t6Nd4cfPRhZP44Q5QAjcC44P5ICox8Kq3LLUNMylGO4.woff2) format('woff2');\n  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;\n}","x":610.0000076293945,"y":518.0000104904175,"wires":[["249df976.28df86"]]},{"id":"fce26c8.2c8ef9","type":"http response","z":"8f5b9e91.30945","name":"","x":970,"y":518,"wires":[]},{"id":"249df976.28df86","type":"function","z":"8f5b9e91.30945","name":"text/css","func":"msg.headers = { \"Content-type\" : \"text/css\" }\n         \nreturn msg;","outputs":1,"noerr":0,"x":800,"y":518,"wires":[["fce26c8.2c8ef9"]]},{"id":"309c2a38.a3c136","type":"http in","z":"8f5b9e91.30945","name":"","url":"/fluxo/js/moment-with-locales.js","method":"get","swaggerDoc":"","x":178,"y":553,"wires":[["e514590e.2bc338"]]},{"id":"4234350c.2a554c","type":"http response","z":"8f5b9e91.30945","name":"","x":968,"y":553,"wires":[]},{"id":"f6d2b35d.f88cb","type":"http in","z":"8f5b9e91.30945","name":"","url":"/fluxo/fonts/fontawesome-webfont.woff","method":"get","swaggerDoc":"","x":210,"y":640,"wires":[["9401ff6e.dda4d"]]},{"id":"452160db.7cff7","type":"http response","z":"8f5b9e91.30945","name":"","x":1110,"y":640,"wires":[]},{"id":"9401ff6e.dda4d","type":"file in","z":"8f5b9e91.30945","name":"fontawesome-webfont.woff","filename":"C:\\Users\\Administrator\\AppData\\Roaming\\npm\\fonts\\fontawesome-webfont.woff","format":"","x":660,"y":640,"wires":[["8bf67c56.6c43d"]]},{"id":"f61eb172.556e4","type":"http in","z":"8f5b9e91.30945","name":"","url":"/fluxo/fonts/fontawesome-webfont.ttf","method":"get","swaggerDoc":"","x":200,"y":680,"wires":[["b4c429a.ae9a0d8"]]},{"id":"d215af24.9a2ff","type":"http response","z":"8f5b9e91.30945","name":"","x":1110,"y":680,"wires":[]},{"id":"b4c429a.ae9a0d8","type":"file in","z":"8f5b9e91.30945","name":"fontawesome-webfont.ttf","filename":"C:\\Users\\Administrator\\AppData\\Roaming\\npm\\fonts\\fontawesome-webfont.ttf","format":"","x":650,"y":680,"wires":[["fdee3eea.78c05"]]},{"id":"73075b7b.9f2fe4","type":"http in","z":"8f5b9e91.30945","name":"","url":"/fluxo/fonts/fontawesome-webfont.woff2","method":"get","swaggerDoc":"","x":210,"y":720,"wires":[["f8e74bb.b3809b8"]]},{"id":"269dc47c.a923cc","type":"http response","z":"8f5b9e91.30945","name":"","x":1110,"y":720,"wires":[]},{"id":"f8e74bb.b3809b8","type":"file in","z":"8f5b9e91.30945","name":"fontawesome-webfont.woff2","filename":"C:\\Users\\Administrator\\AppData\\Roaming\\npm\\fonts\\fontawesome-webfont.woff2","format":"","x":660,"y":720,"wires":[["748f8ff9.7eee3"]]},{"id":"cdca962a.3a1fe8","type":"http in","z":"8f5b9e91.30945","name":"","url":"/fluxo/css/font-awesome.min.css","method":"get","swaggerDoc":"","x":190,"y":600,"wires":[["20acc53.019003a"]]},{"id":"4c2da13c.ae3d7","type":"http response","z":"8f5b9e91.30945","name":"","x":1110,"y":600,"wires":[]},{"id":"6b76090.e9917f8","type":"function","z":"8f5b9e91.30945","name":"text/css","func":"msg.headers = { \"Content-type\" : \"text/css\" }\n         \nreturn msg;","outputs":1,"noerr":0,"x":880,"y":600,"wires":[["4c2da13c.ae3d7"]]},{"id":"8bf67c56.6c43d","type":"function","z":"8f5b9e91.30945","name":"application/font-woff","func":"msg.headers = { \"Content-type\" : \"application/font-woff\" }\n         \nreturn msg;","outputs":1,"noerr":0,"x":920,"y":640,"wires":[["452160db.7cff7"]]},{"id":"fdee3eea.78c05","type":"function","z":"8f5b9e91.30945","name":"application/font-sfnt","func":"msg.headers = { \"Content-type\" : \"application/font-sfnt\" }\n         \nreturn msg;","outputs":1,"noerr":0,"x":920,"y":680,"wires":[["d215af24.9a2ff"]]},{"id":"748f8ff9.7eee3","type":"function","z":"8f5b9e91.30945","name":"application/font-woff2","func":"msg.headers = { \"Content-type\" : \"application/font-woff2\" }\n         \nreturn msg;","outputs":1,"noerr":0,"x":920,"y":720,"wires":[["269dc47c.a923cc"]]},{"id":"e514590e.2bc338","type":"file in","z":"8f5b9e91.30945","name":"moment-with-locales.js","filename":"C:\\Users\\Administrator\\AppData\\Roaming\\npm\\js\\moment-with-locales.js","format":"","x":650,"y":554,"wires":[["4234350c.2a554c"]]},{"id":"20acc53.019003a","type":"file in","z":"8f5b9e91.30945","name":"font-awesome.min.css","filename":"C:\\Users\\Administrator\\AppData\\Roaming\\npm\\css\\font-awesome.min.css","format":"","x":640,"y":600,"wires":[["6b76090.e9917f8"]]},{"id":"162ddda.4a21522","type":"MSSQL-CN","z":"","name":"gpimac","server":"127.0.0.1","encyption":true,"database":"GPIMAC_Altamira"},{"id":"258dcda0.cc5e32","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"node-red","name":"mongodb"}]