node-red/Graphs.txt
[{"id":"fbe635cd.340fe8","type":"function","z":"b4ad5e53.10f0c","name":"list","func":"var aws = global.get('aws');\n\naws.config.update({ \n    region: 'us-east-1',\n    accessKeyId: 'AKIAITORMWJYRXO2X6VQ', \n    secretAccessKey: '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' \n});\n\nvar dynamodb = new aws.DynamoDB.DocumentClient();\n\nvar params = {\n    TableName: \"graphdb\",\n    IndexName: \"type-index\",\n    KeyConditions: {\n        type: {\n            AttributeValueList: {\n                S: \"vertex:\" + (msg.type || '')\n            },\n            ComparisonOperator: \"EQ\"\n        }\n\n    },\n    \"Limit\": msg.limit || 10\n}\n\nvar result = function(err, data) {\n    if (err) {\n        node.error(\"Unable to query. Error:\", JSON.stringify(err, null, 2));\n    } else {\n        console.log(\"Query succeeded.\");\n        this.payload = data.Items;\n        this.count = data.Count;\n        node.send(this);\n    }\n}\n\ndynamodb.query(params, result.bind(msg));\n","outputs":1,"noerr":0,"x":710,"y":120,"wires":[["1f177e10.7ddcc2"]]},{"id":"1725e65f.87757a","type":"http in","z":"b4ad5e53.10f0c","name":"","url":"/graph/vertex/:type","method":"get","swaggerDoc":"","x":170,"y":120,"wires":[["37daa04.4563d6"]]},{"id":"1f177e10.7ddcc2","type":"http response","z":"b4ad5e53.10f0c","name":"","x":990,"y":120,"wires":[]},{"id":"37daa04.4563d6","type":"function","z":"b4ad5e53.10f0c","name":"params","func":"msg.type = msg.req.params.type || 'vertex';\nmsg.limit = msg.payload.per_page || 10;\nmsg.skip = ((msg.payload.page || 1) - 1) * (msg.payload.per_page || 1);\nmsg.payload = {}\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":120,"wires":[["fbe635cd.340fe8"]]},{"id":"35a50b62.cf78f4","type":"http in","z":"b4ad5e53.10f0c","name":"","url":"/graph/vertex/:type/:id","method":"get","swaggerDoc":"","x":170,"y":160,"wires":[["2a014339.75a1bc"]]},{"id":"53389ac.c51b064","type":"http in","z":"b4ad5e53.10f0c","name":"","url":"/graph/vertex","method":"post","swaggerDoc":"","x":150,"y":200,"wires":[["bb9119fb.4feb88"]]},{"id":"b5f3ce4a.3efc5","type":"http response","z":"b4ad5e53.10f0c","name":"","x":990,"y":200,"wires":[]},{"id":"2ac560f2.10427","type":"comment","z":"b4ad5e53.10f0c","name":"Graph API usando DynamoDB","info":"","x":190,"y":80,"wires":[]},{"id":"2a014339.75a1bc","type":"function","z":"b4ad5e53.10f0c","name":"params","func":"msg.payload = {\n    id: msg.payload['id'] || msg.req.params.id.toString() || null,\n    type: 'vertex:' + (msg.payload['type'] || msg.req.params.type.toString() || '')\n}\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":160,"wires":[["fa9d7fd1.5862b"]]},{"id":"3b744638.419c9a","type":"http response","z":"b4ad5e53.10f0c","name":"","x":990,"y":160,"wires":[]},{"id":"fa9d7fd1.5862b","type":"function","z":"b4ad5e53.10f0c","name":"find","func":"var aws = global.get('aws');\n\naws.config.update({ \n    region: 'us-east-1',\n    accessKeyId: 'AKIAITORMWJYRXO2X6VQ', \n    secretAccessKey: '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' \n});\n\nvar dynamodb = new aws.DynamoDB.DocumentClient();\n\nvar params = {\n    TableName: 'graphdb',\n    Key: msg.payload\n};\n\nvar result = function(err, data) {\n    if (err) {\n        node.error(\"Unable to query. Error:\", JSON.stringify(err, null, 2));\n    } else {\n        console.log(\"Query succeeded.\");\n        this.payload = data.Item;\n        this.count = data.Count;\n        node.send(this);\n    }\n}\n\ndynamodb.get(params, result.bind(msg));\n","outputs":1,"noerr":0,"x":710,"y":160,"wires":[["3b744638.419c9a"]]},{"id":"bb9119fb.4feb88","type":"function","z":"b4ad5e53.10f0c","name":"save","func":"var moment = global.get('moment');\nvar uuid = global.get('uuid');\nvar aws = global.get('aws');\n\naws.config.update({ \n    region: 'us-east-1',\n    accessKeyId: 'AKIAITORMWJYRXO2X6VQ', \n    secretAccessKey: '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' \n});\n\nvar dynamodb = new aws.DynamoDB.DocumentClient();\n\nmsg.payload.id = msg.payload.id ? msg.payload.id : uuid.v1();\n\nvar params = {\n    TableName : 'graphdb',\n    Item: msg.payload\n}\n\nvar result = function(err, data) {\n    if (err) {\n        node.error(err);\n    } else {\n        node.send(this);\n    }\n}\n\ndynamodb.put(params, result.bind(msg));\n","outputs":1,"noerr":0,"x":710,"y":200,"wires":[["b5f3ce4a.3efc5"]]},{"id":"576f21eb.ea95","type":"function","z":"b4ad5e53.10f0c","name":"list","func":"var aws = global.get('aws');\n\naws.config.update({ \n    region: 'us-east-1',\n    accessKeyId: 'AKIAITORMWJYRXO2X6VQ', \n    secretAccessKey: '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' \n});\n\nvar dynamodb = new aws.DynamoDB.DocumentClient();\n\nvar params = {\n    TableName: \"graphdb\",\n    IndexName: \"type-id-index\",\n    KeyConditions: {\n        type: {\n            AttributeValueList: {\n                S: \"edge:\" + (msg.type || '')\n            },\n            ComparisonOperator: \"EQ\"\n        }\n\n    },\n    \"Limit\": msg.limit || 10\n}\n\nvar result = function(err, data) {\n    if (err) {\n        node.error(\"Unable to query. Error:\", JSON.stringify(err, null, 2));\n    } else {\n        console.log(\"Query succeeded.\");\n        this.payload = data.Items;\n        this.count = data.Count;\n        node.send(this);\n    }\n}\n\ndynamodb.query(params, result.bind(msg));\n","outputs":1,"noerr":0,"x":710,"y":280,"wires":[["1a0065d1.ea270a"]]},{"id":"489fe832.8c4bc8","type":"http in","z":"b4ad5e53.10f0c","name":"","url":"/graph/edge/:type","method":"get","swaggerDoc":"","x":160,"y":280,"wires":[["65b092a8.58715c"]]},{"id":"1a0065d1.ea270a","type":"http response","z":"b4ad5e53.10f0c","name":"","x":990,"y":280,"wires":[]},{"id":"65b092a8.58715c","type":"function","z":"b4ad5e53.10f0c","name":"params","func":"msg.type = msg.req.params.type || 'edge';\nmsg.limit = msg.payload.per_page || 10;\nmsg.skip = ((msg.payload.page || 1) - 1) * (msg.payload.per_page || 1);\nmsg.payload = {}\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":280,"wires":[["576f21eb.ea95"]]},{"id":"f8b65b23.441cd8","type":"http in","z":"b4ad5e53.10f0c","name":"","url":"/graph/edge/:type/:id","method":"get","swaggerDoc":"","x":170,"y":320,"wires":[["749e501a.102fa"]]},{"id":"71053679.741dc8","type":"http in","z":"b4ad5e53.10f0c","name":"","url":"/graph/edge","method":"post","swaggerDoc":"","x":150,"y":360,"wires":[["dc7d5b6d.300628"]]},{"id":"d8c9d7c3.9a3898","type":"http response","z":"b4ad5e53.10f0c","name":"","x":990,"y":360,"wires":[]},{"id":"749e501a.102fa","type":"function","z":"b4ad5e53.10f0c","name":"params","func":"msg.payload = {\n    id: msg.payload['id'] || msg.req.params.id.toString() || null,\n    type: 'edge:' + (msg.payload['type'] || msg.req.params.type.toString() || '')\n}\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":320,"wires":[["15f87cae.ce6f73"]]},{"id":"b2f97433.18a5f8","type":"http response","z":"b4ad5e53.10f0c","name":"","x":990,"y":320,"wires":[]},{"id":"15f87cae.ce6f73","type":"function","z":"b4ad5e53.10f0c","name":"find","func":"var aws = global.get('aws');\n\naws.config.update({ \n    region: 'us-east-1',\n    accessKeyId: 'AKIAITORMWJYRXO2X6VQ', \n    secretAccessKey: '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' \n});\n\nvar dynamodb = new aws.DynamoDB.DocumentClient();\n\nvar params = {\n    TableName: 'graphdb',\n    Key: msg.payload\n};\n\nvar result = function(err, data) {\n    if (err) {\n        node.error(\"Unable to query. Error:\", JSON.stringify(err, null, 2));\n    } else {\n        console.log(\"Query succeeded.\");\n        this.payload = data.Item;\n        this.count = data.Count;\n        node.send(this);\n    }\n}\n\ndynamodb.get(params, result.bind(msg));\n","outputs":1,"noerr":0,"x":710,"y":320,"wires":[["b2f97433.18a5f8"]]},{"id":"dc7d5b6d.300628","type":"function","z":"b4ad5e53.10f0c","name":"save","func":"var moment = global.get('moment');\nvar uuid = global.get('uuid');\nvar aws = global.get('aws');\n\naws.config.update({ \n    region: 'us-east-1',\n    accessKeyId: 'AKIAITORMWJYRXO2X6VQ', \n    secretAccessKey: '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' \n});\n\nvar dynamodb = new aws.DynamoDB.DocumentClient();\n\nmsg.payload.id = msg.payload.id ? msg.payload.id : uuid.v1();\n\nvar params = {\n    TableName : 'graphdb',\n    Item: msg.payload\n}\n\nvar result = function(err, data) {\n    if (err) {\n        node.error(err);\n    } else {\n        node.send(this);\n    }\n}\n\ndynamodb.put(params, result.bind(msg));\n","outputs":1,"noerr":0,"x":710,"y":360,"wires":[["d8c9d7c3.9a3898"]]},{"id":"a4423341.9b027","type":"http in","z":"b4ad5e53.10f0c","name":"","url":"/graph/node/:id","method":"get","swaggerDoc":"","x":150,"y":460,"wires":[["5293f3af.4c821c"]]},{"id":"1d41934f.4a91ed","type":"http in","z":"b4ad5e53.10f0c","name":"","url":"/graph/node","method":"post","swaggerDoc":"","x":150,"y":500,"wires":[["3cfe9188.000ade"]]},{"id":"540d624e.fbd61c","type":"http response","z":"b4ad5e53.10f0c","name":"","x":990,"y":500,"wires":[]},{"id":"5293f3af.4c821c","type":"function","z":"b4ad5e53.10f0c","name":"params","func":"msg.payload = {\n    id: msg.payload['id'] || msg.req.params.id.toString() || null\n}\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":460,"wires":[["c021d6c.32d8b28"]]},{"id":"135cd00e.e81e5","type":"http response","z":"b4ad5e53.10f0c","name":"","x":990,"y":460,"wires":[]},{"id":"c021d6c.32d8b28","type":"function","z":"b4ad5e53.10f0c","name":"find","func":"var aws = global.get('aws');\n\naws.config.update({ \n    region: 'us-east-1',\n    accessKeyId: 'AKIAITORMWJYRXO2X6VQ', \n    secretAccessKey: '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' \n});\n\nvar dynamodb = new aws.DynamoDB.DocumentClient();\n\nvar params = {\n    TableName: \"graphdb\",\n    KeyConditions: {\n        id: {\n            AttributeValueList: {\n                S: msg.payload.id\n            },\n            ComparisonOperator: \"EQ\"\n        }\n\n    },\n    \"Limit\": msg.limit\n}\n\nvar result = function(err, data) {\n    if (err) {\n        node.error(\"Unable to query. Error:\", JSON.stringify(err, null, 2));\n    } else {\n        console.log(\"Query succeeded.\");\n        this.payload = data.Items;\n        this.count = data.Count;\n        node.send(this);\n    }\n}\n\ndynamodb.query(params, result.bind(msg));","outputs":1,"noerr":0,"x":710,"y":460,"wires":[["135cd00e.e81e5"]]},{"id":"3cfe9188.000ade","type":"function","z":"b4ad5e53.10f0c","name":"save","func":"var moment = global.get('moment');\nvar uuid = global.get('uuid');\nvar aws = global.get('aws');\n\naws.config.update({ \n    region: 'us-east-1',\n    accessKeyId: 'AKIAITORMWJYRXO2X6VQ', \n    secretAccessKey: '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' \n});\n\nvar dynamodb = new aws.DynamoDB.DocumentClient();\n\nmsg.payload.id = msg.payload.id ? msg.payload.id : uuid.v1();\n\nvar params = {\n    TableName : 'graphdb',\n    Item: msg.payload\n}\n\nvar result = function(err, data) {\n    if (err) {\n        node.error(err);\n    } else {\n        node.send(this);\n    }\n}\n\ndynamodb.put(params, result.bind(msg));\n","outputs":1,"noerr":0,"x":710,"y":500,"wires":[["540d624e.fbd61c"]]},{"id":"ec42e7b.a376918","type":"function","z":"b4ad5e53.10f0c","name":"","func":"var a = 1;\nvar b = 2;\n\nvar soma = function(a, b) {\n    msg.payload = a + b;\n    node.send(msg);\n}\n\nsoma(a, b);","outputs":1,"noerr":0,"x":700,"y":760,"wires":[["a4a7c714.881528"]]},{"id":"3e588150.1c74ce","type":"inject","z":"b4ad5e53.10f0c","name":"","topic":"","payload":"12345","payloadType":"str","repeat":"","crontab":"","once":false,"x":390,"y":760,"wires":[["ec42e7b.a376918"]]},{"id":"a4a7c714.881528","type":"debug","z":"b4ad5e53.10f0c","name":"","active":true,"console":"false","complete":"false","x":1040,"y":760,"wires":[]}]