node-red/loop.txt
[{"id":"3875da8c.b690b6","type":"http in","z":"27f5d5a5.88650a","name":"lancamentos","url":"/api/lancamentos","method":"get","swaggerDoc":"","x":116.19999694824219,"y":74,"wires":[["f39f8b59.1bf6a8"]]},{"id":"91995cc.4e448a","type":"http response","z":"27f5d5a5.88650a","name":"","x":1216.1999969482422,"y":114,"wires":[]},{"id":"f39f8b59.1bf6a8","type":"function","z":"27f5d5a5.88650a","name":"filtro","func":"\n//msg.payload = \"SELECT RCB.*, RCB_PED.numero AS pedido FROM RCB LEFT OUTER JOIN RCB_PED ON RCB.nosso_numero = RCB_PED.nosso_numero\"; \nmsg.payload = '';\nmsg.limit= 5;\nmsg.skip = 0;\n\nreturn msg;","outputs":1,"noerr":0,"x":296.1999969482422,"y":74,"wires":[["6876df99.6887"]]},{"id":"29094d87.d958f2","type":"function","z":"27f5d5a5.88650a","name":"conta","func":"\nmsg.payload = { \"_id\": msg.payload.conta }\nmsg.limit = 100;\nmsg.skip = 0;\n\nreturn msg;","outputs":1,"noerr":0,"x":1216.1999969482422,"y":74,"wires":[["c04a05b1.99d238"]]},{"id":"d44dcd3a.45828","type":"function","z":"27f5d5a5.88650a","name":"lancamentos","func":"if (Array.isArray(msg.payload) && msg.payload.length > 0) {\n    msg.lancamentos = msg.payload;\n    return [msg, null];\n} else {\n    return [null, msg];\n}","outputs":"2","noerr":0,"x":716.1999969482422,"y":74,"wires":[["51d337cd.a11d58"],["7e9526e7.667d18"]]},{"id":"51d337cd.a11d58","type":"function","z":"27f5d5a5.88650a","name":"loop","func":"if (msg.index === undefined) {\n    msg.index = 0;\n    msg.payload = msg.lancamentos[msg.index];\n    return [msg, null];\n} else {\n    msg.index++;\n    if (msg.index < msg.lancamentos.length) {\n        msg.payload = msg.lancamentos[msg.index];    \n        return [msg, null]\n    }\n    msg.payload = msg.lancamentos;\n    return [null, msg];\n}\n","outputs":"2","noerr":0,"x":1036.1999969482422,"y":74,"wires":[["29094d87.d958f2"],["91995cc.4e448a","ffdf2aaa.e5ca38"]]},{"id":"803c77f5.632aa8","type":"function","z":"27f5d5a5.88650a","name":"result","func":"if (Array.isArray(msg.payload) && msg.payload.length > 0) {\n    msg.lancamentos[msg.index].conta = msg.payload[0];    \n} else {\n    msg.lancamentos[msg.index].conta = {\n        \"_id\": \"00000000-0000-0000-0000-0000000000\",\n        \"selecionada\": false,\n        \"banco\": \"????????\",\n        \"conta\": \"?????\",\n        \"agencia\": \"????????\",\n        \"descricao\": \"???????????????\"\n    }\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1216.1999969482422,"y":194,"wires":[["51d337cd.a11d58"]]},{"id":"6876df99.6887","type":"mongodb in","z":"27f5d5a5.88650a","mongodb":"35ffde4a.ce7f82","name":"lancamentos","collection":"lancamentos","operation":"find","x":496.1999969482422,"y":74,"wires":[["d44dcd3a.45828","2e012033.e795a"]]},{"id":"c04a05b1.99d238","type":"mongodb in","z":"27f5d5a5.88650a","mongodb":"35ffde4a.ce7f82","name":"contas","collection":"contas","operation":"find","x":1376.1999969482422,"y":74,"wires":[["803c77f5.632aa8","6b415fbf.84ecb"]]},{"id":"ffdf2aaa.e5ca38","type":"debug","z":"27f5d5a5.88650a","name":"","active":true,"console":"false","complete":"false","x":1226.1999969482422,"y":254,"wires":[]},{"id":"2e012033.e795a","type":"debug","z":"27f5d5a5.88650a","name":"","active":true,"console":"false","complete":"false","x":716.1999969482422,"y":114,"wires":[]},{"id":"7a49bae4.c0b834","type":"inject","z":"27f5d5a5.88650a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":126.19999694824219,"y":134,"wires":[["f39f8b59.1bf6a8"]]},{"id":"6b415fbf.84ecb","type":"debug","z":"27f5d5a5.88650a","name":"","active":true,"console":"false","complete":"false","x":1456.1999969482422,"y":154,"wires":[]},{"id":"7e9526e7.667d18","type":"http response","z":"27f5d5a5.88650a","name":"","x":916.1999969482422,"y":114,"wires":[]},{"id":"35ffde4a.ce7f82","type":"mongodb","z":"","hostname":"192.168.0.174","port":"27017","db":"db","name":""}]