node-red/Patterns.txt
[{"id":"49d206c4.ac9318","type":"comment","z":"3097ed1b.805e22","name":"Aggregator pattern","info":"","x":130,"y":40,"wires":[]},{"id":"322004db.1bca8c","type":"function","z":"3097ed1b.805e22","name":"payload=451","func":"msg.payload = 451;\n\nreturn msg;","outputs":1,"noerr":0,"x":453.83329010009766,"y":123.50011253356934,"wires":[["acf77591.ba0f98"]]},{"id":"acf77591.ba0f98","type":"function","z":"3097ed1b.805e22","name":"Calculate Sum","func":"// Reduce the number of inputs\ncontext.global.n--;\n\n// Store the data in msg.payload for all operations as they complete\ncontext.global.data[context.global.n] = msg.payload;\n\n// When all operations are complete calculate the sum and return\nif (context.global.n === 0)\n{   // Calculate the total value\n    var sum = 0;\n    for (var i = 0; i < context.global.data.length; i++)\n    {\n        sum += context.global.data[i];\n    }\n    msg.payload = sum;\n\n    return msg;\n}","outputs":1,"noerr":0,"x":648.8333435058594,"y":146.50013542175293,"wires":[["b575a20d.07778"]]},{"id":"5ae8b73b.6bcbe8","type":"function","z":"3097ed1b.805e22","name":"payload=326","func":"msg.payload = 326;\n\nreturn msg;","outputs":1,"noerr":0,"x":452.83331298828125,"y":171.50012493133545,"wires":[["acf77591.ba0f98"]]},{"id":"b575a20d.07778","type":"debug","z":"3097ed1b.805e22","name":"Returns 777","active":true,"console":"false","complete":"payload","x":830.8333206176758,"y":146.50012302398682,"wires":[]},{"id":"5b9c1bfd.9e0394","type":"function","z":"3097ed1b.805e22","name":"Combine 2 Functions","func":"context.global.n = 2;\ncontext.global.data = new Array(2);\n\nreturn msg;","outputs":1,"noerr":0,"x":249.83331298828125,"y":148.5001220703125,"wires":[["322004db.1bca8c","5ae8b73b.6bcbe8"]]},{"id":"8f5f72cf.0b8e9","type":"comment","z":"3097ed1b.805e22","name":"? 1st value","info":"","x":452.5798034667969,"y":85.07418823242188,"wires":[]},{"id":"142a7038.d2fee","type":"inject","z":"3097ed1b.805e22","name":"Calculate the sum of 2 numbers","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":209.8893585205078,"y":84.19322204589844,"wires":[["5b9c1bfd.9e0394"]]},{"id":"ed98a94c.99e278","type":"comment","z":"3097ed1b.805e22","name":"? 2nd value","info":"","x":451.4131546020508,"y":212.07410049438477,"wires":[]},{"id":"8f03d34c.f58f1","type":"comment","z":"3097ed1b.805e22","name":"Define how many parallel operations ?","info":"","x":199.34170532226562,"y":191.62158203125,"wires":[]},{"id":"a02e69fb.9f9008","type":"comment","z":"3097ed1b.805e22","name":"? Once all parallel operations complete, calculate sum","info":"","x":735.9132080078125,"y":188.907470703125,"wires":[]},{"id":"ec5b37ca.aec5a8","type":"inject","z":"3097ed1b.805e22","name":"Start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":150,"y":360,"wires":[["9c296594.f7abe8"]]},{"id":"9c296594.f7abe8","type":"function","z":"3097ed1b.805e22","name":"1st output 451, 2nd output 326","func":"msg.payload = 451;\nvar msg2 = {};\nmsg2.payload = 326;\n\nreturn [msg, msg2];","outputs":"2","noerr":0,"x":344,"y":360,"wires":[["52f8ff38.be8a6"],["2670dce8.5abdc4"]]},{"id":"52f8ff38.be8a6","type":"debug","z":"3097ed1b.805e22","name":"Returns 451","active":true,"console":"false","complete":"payload","x":557,"y":333,"wires":[]},{"id":"2670dce8.5abdc4","type":"debug","z":"3097ed1b.805e22","name":"Returns 326","active":true,"console":"false","complete":"payload","x":555,"y":386,"wires":[]},{"id":"6cb11e4d.5deea","type":"comment","z":"3097ed1b.805e22","name":"Separator pattern","info":"","x":130,"y":300,"wires":[]},{"id":"54189011.d220d","type":"comment","z":"3097ed1b.805e22","name":"? 1 input and 2 outputs","info":"","x":318.91314697265625,"y":404.4258117675781,"wires":[]},{"id":"4bed07c2.3ece78","type":"inject","z":"3097ed1b.805e22","name":"WordCount Start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":200,"y":580,"wires":[["eec00b7f.6e4198"]]},{"id":"58446146.3c77b","type":"function","z":"3097ed1b.805e22","name":"Map","func":"var input = msg.payload.toLowerCase()\n                       .replace( /\\.$/, \"\")\n                       .split(/ |, /);\n// Map\nvar key_value = [];\nfor (var i=0; i<input.length; i++)\n{\n    var key = input[i];\n    if (key in key_value)\n    {\n        key_value[key]++;\n    } else {\n        key_value[key] = 1;\n    }\n}\n\n// Shuffle\nvar key1_value = [];\nvar key2_value = [];\nfor (var key in key_value)\n{\n    if ('a'<=key[0] && key[0]<='m')\n    {\n        key1_value.push([key, key_value[key]]);\n    } else {\n        key2_value.push([key, key_value[key]]);\n    }\n}\n\nmsg.payload = key1_value;\nvar msg2 = {};\nmsg2.payload = key2_value;\nreturn [msg, msg2];","outputs":"2","noerr":0,"x":500,"y":614.9999561309814,"wires":[["b8de49d1.bd9848","910e609a.5ef95"],["d320fd71.5aa3d","910e609a.5ef95"]]},{"id":"b8de49d1.bd9848","type":"function","z":"3097ed1b.805e22","name":"Reduce","func":"context.global.n1--;\n\ncontext.global.data1[context.global.n1] = msg.payload;\n\nif (context.global.n1 === 0)\n{  \n    var tmp = [];\n    for (var i=0; i<context.global.data1.length; i++)\n    {\n        var input = context.global.data1[i];\n        for (var j=0; j<input.length; j++)\n        {\n            var key = input[j][0];\n            var value = input[j][1];\n            if (key in tmp)\n            {\n                tmp[key] += value;\n            } else {\n                tmp[key] = value;\n            }\n        }\n    }\n    \n    var output = [];\n    for (var key in tmp)\n    {\n        output.push([key, tmp[key]]);\n    }\n    msg.payload = output;\n\n    return msg;\n}","outputs":1,"noerr":0,"x":708,"y":629.9999561309814,"wires":[["64d63001.42c49"]]},{"id":"64d63001.42c49","type":"debug","z":"3097ed1b.805e22","name":"Output","active":true,"console":"false","complete":"payload","x":848,"y":629.9999561309814,"wires":[]},{"id":"eec00b7f.6e4198","type":"function","z":"3097ed1b.805e22","name":"Map=3","func":"var map = 3;\n\ncontext.global.n1 = map;\ncontext.global.data1 = new Array(map);\n\ncontext.global.n2 = map;\ncontext.global.data2 = new Array(map);\n\nreturn msg;","outputs":1,"noerr":0,"x":187,"y":660.9999561309814,"wires":[["94edaa09.2f4158","ba10888b.82b798","715e5cb2.57c324"]]},{"id":"94edaa09.2f4158","type":"template","z":"3097ed1b.805e22","name":"This is a pen.","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"This is a pen.","x":356,"y":614.9999561309814,"wires":[["58446146.3c77b"]]},{"id":"d320fd71.5aa3d","type":"function","z":"3097ed1b.805e22","name":"Reduce","func":"context.global.n2--;\n\ncontext.global.data2[context.global.n2] = msg.payload;\n\nif (context.global.n2 === 0)\n{   \n    var tmp = [];\n    for (var i=0; i<context.global.data2.length; i++)\n    {\n        var input = context.global.data2[i];\n        for (var j=0; j<input.length; j++)\n        {\n            var key = input[j][0];\n            var value = input[j][1];\n            if (key in tmp)\n            {\n                tmp[key] += value;\n            } else {\n                tmp[key] = value;\n            }\n        }\n    }\n    \n    var output = [];\n    for (var key in tmp)\n    {\n        output.push([key, tmp[key]]);\n    }\n    msg.payload = output;\n\n    return msg;\n}","outputs":1,"noerr":0,"x":710,"y":681.9999561309814,"wires":[["b7f2170d.f814c8"]]},{"id":"b7f2170d.f814c8","type":"debug","z":"3097ed1b.805e22","name":"Output","active":true,"console":"false","complete":"payload","x":849,"y":681.9999561309814,"wires":[]},{"id":"6a84acf2.dd72a4","type":"function","z":"3097ed1b.805e22","name":"Map","func":"var input = msg.payload.toLowerCase()\n                       .replace( /\\.$/, \"\")\n                       .split(/ |, /);\n// Map\nvar key_value = [];\nfor (var i=0; i<input.length; i++)\n{\n    var key = input[i];\n    if (key in key_value)\n    {\n        key_value[key]++;\n    } else {\n        key_value[key] = 1;\n    }\n}\n\n// Shuffle\nvar key1_value = [];\nvar key2_value = [];\nfor (var key in key_value)\n{\n    if ('a'<=key[0] && key[0]<='m')\n    {\n        key1_value.push([key, key_value[key]]);\n    } else {\n        key2_value.push([key, key_value[key]]);\n    }\n}\n\nmsg.payload = key1_value;\nvar msg2 = {};\nmsg2.payload = key2_value;\nreturn [msg, msg2];","outputs":"2","noerr":0,"x":501,"y":660.9999561309814,"wires":[["b8de49d1.bd9848"],["d320fd71.5aa3d"]]},{"id":"661ef860.a32e38","type":"function","z":"3097ed1b.805e22","name":"Map","func":"var input = msg.payload.toLowerCase()\n                       .replace( /\\.$/, \"\")\n                       .split(/ |, /);\n// Map\nvar key_value = [];\nfor (var i=0; i<input.length; i++)\n{\n    var key = input[i];\n    if (key in key_value)\n    {\n        key_value[key]++;\n    } else {\n        key_value[key] = 1;\n    }\n}\n\n// Shuffle\nvar key1_value = [];\nvar key2_value = [];\nfor (var key in key_value)\n{\n    if ('a'<=key[0] && key[0]<='m')\n    {\n        key1_value.push([key, key_value[key]]);\n    } else {\n        key2_value.push([key, key_value[key]]);\n    }\n}\n\nmsg.payload = key1_value;\nvar msg2 = {};\nmsg2.payload = key2_value;\nreturn [msg, msg2];","outputs":"2","noerr":0,"x":502,"y":706.9999561309814,"wires":[["b8de49d1.bd9848"],["d320fd71.5aa3d"]]},{"id":"ba10888b.82b798","type":"template","z":"3097ed1b.805e22","name":"Give me a pen.","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"Give me a pen.","x":351,"y":660.9999561309814,"wires":[["6a84acf2.dd72a4"]]},{"id":"715e5cb2.57c324","type":"template","z":"3097ed1b.805e22","name":"This pen is small.","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"This pen is small.","x":344,"y":706.9999561309814,"wires":[["661ef860.a32e38"]]},{"id":"eebeeb52.086128","type":"comment","z":"3097ed1b.805e22","name":"MapReduce pattern","info":"","x":130,"y":540,"wires":[]},{"id":"b93b3b5c.821a98","type":"comment","z":"3097ed1b.805e22","name":"Set the map count ?","info":"","x":147.91319274902344,"y":707.4258575439453,"wires":[]},{"id":"e7fd10c8.cb213","type":"comment","z":"3097ed1b.805e22","name":"? input data to be processed","info":"","x":424.079833984375,"y":573.4257764816284,"wires":[]},{"id":"5729be4d.a24ee","type":"comment","z":"3097ed1b.805e22","name":"? seperates the words based on the first letter, a-m is sent to the top function, n-z is sent to the lower","info":"","x":757.4131469726562,"y":746.851640701294,"wires":[]},{"id":"432b5814.3e5398","type":"comment","z":"3097ed1b.805e22","name":"? reduce the arrays and count the total value","info":"","x":818.579833984375,"y":588.518388748169,"wires":[]},{"id":"dd9ec401.f29638","type":"comment","z":"3097ed1b.805e22","name":"After all inputs have returned,","info":"","x":769.5,"y":549.9166278839111,"wires":[]},{"id":"910e609a.5ef95","type":"debug","z":"3097ed1b.805e22","name":"map","active":true,"console":"false","complete":"payload","x":730,"y":460,"wires":[]}]