node-red/Planejamento de entrega.txt
[{"id":"c23e74e1.ad4b8","type":"inject","z":"2e988d1b.6e8f3a","name":"inject","topic":"00073025","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":270,"y":240,"wires":[["59ce88b4.bfcdac"]]},{"id":"59ce88b4.bfcdac","type":"http request","z":"2e988d1b.6e8f3a","name":"export","method":"GET","ret":"txt","url":"http://localhost:8081/wbccad/orccab/{{{topic}}}","tls":"","x":430,"y":200,"wires":[["ce1b90ad.15e98"]]},{"id":"ca473306.d0147","type":"mongodb out","z":"2e988d1b.6e8f3a","service":"_ext_","mongodb":"258dcda0.cc5e32","name":"save","collection":"bom","payonly":true,"upsert":false,"multi":false,"operation":"store","x":870,"y":200,"wires":[]},{"id":"e7a29d4c.7651f","type":"debug","z":"2e988d1b.6e8f3a","name":"","active":true,"console":"false","complete":"payload","x":850,"y":240,"wires":[]},{"id":"e5d8c65d.53e7e8","type":"MSSQL","z":"2e988d1b.6e8f3a","mssqlCN":"819e3e8a.394b6","name":"alteração status no orçamento ?","query":"SET NOCOUNT ON\nSELECT TOP 1 * \nFROM INTEGRACAO_EVENTO \nWHERE ack = 0\nORDER BY DT","outField":"payload","x":350,"y":100,"wires":[["aeeeeac2.345068"]]},{"id":"9928bb7f.824dd","type":"inject","z":"2e988d1b.6e8f3a","name":"pooling","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":110,"y":100,"wires":[["e5d8c65d.53e7e8"]]},{"id":"45db0e12.44875c","type":"MSSQL","z":"2e988d1b.6e8f3a","mssqlCN":"819e3e8a.394b6","name":"ACK","query":"{{#payload}}\nSET NOCOUNT ON\n\nUPDATE INTEGRACAO_EVENTO\nSET ack = 1\nWHERE id = {{id}} AND ack = 0;\n\n{{/payload}}\n","outField":"payload","x":1070,"y":60,"wires":[[]]},{"id":"a75ccd45.abc7a","type":"comment","z":"2e988d1b.6e8f3a","name":"monitora alterações na situação do orçamento","info":"#Alterações na situação do orçamento\n\n###Situações monitoradas\n- 40 - Emissão para o cliente\n- 60 - Orçamento Fechado/Pedido","x":210,"y":60,"wires":[]},{"id":"50f9b416.5398d8","type":"debug","z":"2e988d1b.6e8f3a","name":"WBCCAD: ALTERACOES","active":true,"console":"false","complete":"true","x":1130,"y":100,"wires":[]},{"id":"aeeeeac2.345068","type":"switch","z":"2e988d1b.6e8f3a","name":"sim","property":"payload.length","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"str"}],"checkall":"true","outputs":1,"x":610,"y":100,"wires":[["93b8894c.5cb6a8"]]},{"id":"93b8894c.5cb6a8","type":"function","z":"2e988d1b.6e8f3a","name":"parse mensagem","func":"for (i = 0; i < msg.payload.length; i++) {\n    try {\n        msg.payload[i].msg = JSON.parse(msg.payload[i].msg);\n    } catch(err) {\n        record.payload[i].msg = {};\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":100,"wires":[["50f9b416.5398d8","45db0e12.44875c","abeeb8d6.006ba8"]]},{"id":"6be6cd92.1e15b","type":"function","z":"2e988d1b.6e8f3a","name":"","func":"for (i = 0; i < msg.payload.length; i++) {\n    try {\n        msg.payload[i]._id = msg.payload[i].numeroOrcamento;\n        node.send({\n            _msgid: msg._msgid,\n            topic: msg.payload[i].key,\n            payload: msg.payload[i]\n        })\n    } catch(err) {\n        \n    }\n}\nreturn null;","outputs":1,"noerr":0,"x":270,"y":200,"wires":[["59ce88b4.bfcdac"]]},{"id":"c16d33c1.c29dd8","type":"http in","z":"2e988d1b.6e8f3a","name":"","url":"/api/bom/:numero","method":"get","swaggerDoc":"","x":140,"y":600,"wires":[["4bc637dc.eae638"]]},{"id":"edb48676.229808","type":"mongodb in","z":"2e988d1b.6e8f3a","service":"_ext_","mongodb":"258dcda0.cc5e32","name":"find","collection":"bom","operation":"find","x":530,"y":600,"wires":[["14f21c07.62a258"]]},{"id":"56c4e103.dc6f74","type":"http response","z":"2e988d1b.6e8f3a","name":"","x":870,"y":600,"wires":[]},{"id":"715c5921.85472c","type":"inject","z":"2e988d1b.6e8f3a","name":"CUIDADO","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"x":680,"y":440,"wires":[["30c8d5c0.37e29a"]]},{"id":"30c8d5c0.37e29a","type":"mongodb out","z":"2e988d1b.6e8f3a","service":"_ext_","mongodb":"258dcda0.cc5e32","name":"CLEAR","collection":"bom","payonly":false,"upsert":false,"multi":false,"operation":"delete","x":863.9999847412109,"y":440,"wires":[]},{"id":"ce1b90ad.15e98","type":"function","z":"2e988d1b.6e8f3a","name":"parse","func":"var orc = {};\n\nmsg.payload = JSON.parse(msg.payload);\n\norc._id = msg.payload.orclstNumero;\norc.numero = msg.payload.orclstNumero;\norc.nome = msg.payload.orclstCliNome;\n\norc.status = msg.payload.orclstStatus;\norc.revisao = msg.payload.orclstRevisao | '';\n\norc.items = [];\n\nmsg.payload.orccab.orcItm.forEach(function(itm, key, array) {\n    var item = {\n        item: itm.orcitmItem,\n        grupo: itm.orcitmGrupo,\n        subgrupo: itm.orcitmSubgrupo\n    };\n    var cmp = [];\n    itm.orcMat.forEach(function(mat, k, a) {\n        cmp.push({\n            codigo: mat.orcmatCodigo,\n            descricao: mat.orcmatDescricao,\n            quantidade: mat.orcmatQtde,\n            cor: mat.orcMatCorPesquisa,\n            material: {\n                codigo: mat.prdorc.produto,\n                descricao: mat.prdorc.descricao\n            }\n        })\n    })\n    item.componentes = cmp;\n    orc.items.push(item);\n})\n\nmsg.payload = orc;\n\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":200,"wires":[["ca473306.d0147","e7a29d4c.7651f"]]},{"id":"14f21c07.62a258","type":"function","z":"2e988d1b.6e8f3a","name":"split","func":"if (msg.payload.length > 1) {\n    node.error('Registros duplicado, deveria retornar apenas 1 registro, mas retornou ' + msg.payload.length + ' !');\n} else {\n    msg.payload = msg.payload[0];\n}\n//msg.res.headers['Access-Control-Allow-Origin'] = \"*\";\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":600,"wires":[["56c4e103.dc6f74"]]},{"id":"7908d3aa.9bd274","type":"inject","z":"2e988d1b.6e8f3a","name":"inject","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":110,"y":520,"wires":[["f8ca421c.3682d"]]},{"id":"f8ca421c.3682d","type":"mongodb in","z":"2e988d1b.6e8f3a","service":"_ext_","mongodb":"258dcda0.cc5e32","name":"find","collection":"bom","operation":"find","x":350,"y":520,"wires":[["84267372.2a8df8"]]},{"id":"84267372.2a8df8","type":"debug","z":"2e988d1b.6e8f3a","name":"","active":true,"console":"false","complete":"false","x":850,"y":520,"wires":[]},{"id":"4bc637dc.eae638","type":"function","z":"2e988d1b.6e8f3a","name":"params","func":"msg.payload = { numero: msg.req.params.numero }\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":600,"wires":[["edb48676.229808"]]},{"id":"3937bf29.3d624","type":"http in","z":"2e988d1b.6e8f3a","name":"","url":"/bom/:numero","method":"get","swaggerDoc":"","x":130,"y":700,"wires":[["17ba36a7.b73f39"]]},{"id":"17ba36a7.b73f39","type":"template","z":"2e988d1b.6e8f3a","name":"form","field":"payload","fieldType":"msg","format":"html","syntax":"plain","template":"<head>\n  <link rel=\"stylesheet\" type=\"text/css\" href=\"https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css\">\n  <style>\n/*$decoration: #ff9933;*/\n  \n@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500);\nhtml {}\n\nbody {\n  margin: 40px;\n  padding: 0px;\n  font-family: 'Roboto' !important;\n}\n\na {\n  text-decoration: none;\n}\n\na:visited,\na:hover {\n  color: inherit;\n}\n\nh1 {\n  font-style: light;\n  font-weight: 300;\n  font-size: 48px;\n  border-bottom-color: #999;\n  border-bottom-width: 5px;\n  border-bottom-style: solid;\n  background-color: #ddd;\n  border-color: #ff9933;\n  padding: 10px;\n}\n\n.header {\n  display: inline-flex;\n}\n\n.fieldset {\n  font-family: 'Roboto' !important;\n  font-style: medium;\n  font-weight: 500;\n  margin-right: 10px;\n  border-bottom-width: 2px;\n  border-bottom-style: solid;\n  min-width: 200px;\n}\n\n.fieldset label {\n  font-size: 16px;\n  color: #888;\n}\n\n.fieldset div {\n  font-size: 28px;\n}\n\np {\n  margin-top: 50px;\n  font-size: 26px;\n  color: #666;\n  border-bottom-style: solid;\n  border-bottom-color: #666;\n}\n\nul {\n  list-style-type: none;\n  line-height: 36px;\n  -webkit-margin-before: 1em;\n  -webkit-margin-after: 1em;\n  -webkit-margin-start: 0px;\n  -webkit-margin-end: 0px;\n  -webkit-padding-start: 0px;\n}\n\n.list {\n  padding-left: 50px;\n}\n\n.title {\n  border-bottom-width: 2px;\n  border-bottom-style: solid;\n  border-color: #ff9933;\n}\n\n.product .title label {\n  padding-left: 15px;\n}\n\nbody ul li {\n  color: $decoration;\n  font-weight: normal;\n  font-size: 28px;\n  font-family: 'Roboto' !important;\n  margin-top: 20px;\n}\n\n.product .title span {\n  font-size: 24px;\n  padding: 0px;\n  margin: 0;\n  border-width: 0;\n  color: #fff;\n  background-color: #ff9933;\n  text-align: center;\n  display: inline-block;\n  width: 50px;\n}\n\n.product .list li {\n  border-bottom-width: 1px;\n  border-bottom-style: solid;\n  border-color: #cccccc;\n}\n\n.product .list li:last-child {\n  border-bottom-style: none;  \n}\n\n.component {\n  margin-top: 10px;\n}\n\n.component img {\n  width: 128px;\n  height: 128px;\n  padding: 10px;\n  margin: 0px;\n}\n\n.component .detail  {\n  margin-left: 10px;\n  display: inline-block;\n  vertical-align: top;\n}\n\n.component .detail .code {\n  color: #999;\n  font-size: 18px;\n}\n\n.component .detail .description {\n  display: block;\n  font-size: 36px;\n  color: #000;\n}\n\n\n/*------------------------- number input spinner ----------------------------------- */\n.table {\n  display: inline;\n}\n\n/* ------------------------- end number input spinner ---------------------------*/      \n  </style>\n</head>\n\n<body>\n  <h1>00073027 Lojas Americanas</h1>\n  <div class=\"header\">\n    <div class=\"fieldset\">\n      <label>Data do Cadastro</label>\n      <div class=\"field\"></div>\n    </div>\n    <div class=\"fieldset\">\n      <label>Data da Emissão</label>\n      <div class=\"field\"></div>\n    </div>\n    <div class=\"fieldset\">\n      <label>Situação</label>\n      <div class=\"field\"></div>\n    </div>\n    <div class=\"fieldset\">\n      <label>Revisão</label>\n      <div class=\"field\"></div>\n    </div>\n  </div>\n  <p>Lista de Materiais</p>\n  <ul>\n    <li class=\"product\">\n      <div class=\"title\">\n        <span class=\"item\">1</span><label>Porta Palete</label>\n      </div>\n      <ul class=\"list\">\n        <li>\n          <div class=\"component\">\n            <!--<img src=\"https://s3.amazonaws.com/test-sistema-imgs/Garra+Nova+ISO+128+x+78.png\" alt=\"\" />-->\n            <div class=\"detail\">\n              <div class=\"code\">PPLGAR00000XXXXX</div>\n              <div class=\"description\"><a href=\"\">GARRA PORTA PALETE</a></div>\n              <div class=\"quantity\">\n                <span class=\"\">\n\t\t\t\t\t<button class=\"\"><i class=\"fa fa-plus fa-lg\"></i></button>\n        </span>\n                <input type=\"text\" value=\"1\" min=\"-10\" max=\"40\">\n                <span class=\"\">\n\t\t\t\t\t<button class=\"\"><i class=\"fa fa-minus fa-lg\"></i></button>\n        </span>\n              </div>\n            </div>\n          </div>\n        </li>\n        <!--<li>\n          <div class=\"component\">\n            <img src=\"https://s3.amazonaws.com/test-sistema-imgs/Coluna+Porta+Paletes+Pesado+120+chapa+2mm+ISO+128+x+75.png\" alt=\"\" />\n            <div class=\"detail\">\n              <div class=\"code\">PPLGAR00000XXXXX</div>\n              <div class=\"description\"><a href=\"\">COLUNA PORTA PALETE 2550MM</a></div>\n              <div class=\"table\">\n                <span class=\"\">\n\t\t\t\t\t<button class=\"\"><i class=\"fa fa-plus fa-lg\"></i></button>\n        </span>\n                <input type=\"text\" value=\"1\" min=\"-10\" max=\"40\">\n                <span class=\"\">\n\t\t\t\t\t<button class=\"\"><i class=\"fa fa-minus fa-lg\"></i></button>\n        </span>\n              </div>\n            </div>\n          </div>\n\n        </li>\n        <li>\n          <div class=\"component\">\n            <img src=\"https://s3.amazonaws.com/test-sistema-imgs/Piso+Grelhado+ISO+128+x+74.png\" alt=\"\" />\n            <div class=\"detail\">\n              <div class=\"code\">PPLGAR00000XXXXX</div>\n              <div class=\"description\"><a href=\"\">PISO GRELHADO</a></div>\n            </div>\n          </div>\n        </li>\n        <li>\n          <div class=\"component\">\n            <img src=\"https://s3.amazonaws.com/test-sistema-imgs/Sapata+PPL+Normal+ISO+128+x+79.png\" alt=\"\" />\n            <div class=\"detail\">\n              <div class=\"code\">PPL0000000XXXXXXX</div>\n              <div class=\"description\"><a href=\"\">SAPATA PORTA PALETE</a></div>\n            </div>\n          </div>\n        </li>-->\n      </ul>\n    </li>\n  </ul>\n  \n<script>\n  \n/*var data = {\"_id\":\"00073025\",\"numero\":\"00073025\",\"nome\":\"STYROPLAST ESPUMAS INDUSTRIAIS LTDA\",\"status\":40,\"revisao\":0,\"items\":[{\"item\":\"1\",\"grupo\":2,\"subgrupo\":\"01\",\"componentes\":[{\"codigo\":\"CHUQUIBARRA1/2000004\",\"descricao\":\"CHUMB QUI BAR ROSC 1/2 WW X 4  GALV ELET\",\"quantidade\":70,\"cor\":\"SEM COR\",\"material\":{\"codigo\":\"CHUQUIBARRA1/2000004\",\"descricao\":\"CHUMB QUI BAR ROSC 1/2 WW X 4  GALV ELET\"}},{\"codigo\":\"DRIBRADASUP000000000\",\"descricao\":\"BRACO DUPLO AMARR SUPERIOR\",\"quantidade\":14,\"cor\":\"CINZA PAD.\",\"material\":{\"codigo\":\"DRIBRADASUP000000000\",\"descricao\":\"BRACO DUPLO AMARR SUPERIOR\"}},{\"codigo\":\"DRIBRADUPLOPLC000000\",\"descricao\":\"BRACO DUPLO PL CARGA - 250MM\",\"quantidade\":56,\"cor\":\"CINZA PAD.\",\"material\":{\"codigo\":\"DRIBRADUPLOPLC000000\",\"descricao\":\"BRACO DUPLO PL CARGA - 250MM\"}},{\"codigo\":\"DRIBRAFSESQS/I000000\",\"descricao\":\"BRACO FUNDO SIMPLES ESQ SUP/INF\",\"quantidade\":1,\"cor\":\"CINZA PAD.\",\"material\":{\"codigo\":\"DRIBRAFSESQS/I000000\",\"descricao\":\"BRACO FUNDO SIMPLES ESQ SUP/INF\"}},{\"codigo\":\"DRIBRAFUDUPS/I000000\",\"descricao\":\"BRACO FUNDO DUPLO SUP/INF\",\"quantidade\":3,\"cor\":\"CINZA PAD.\",\"material\":{\"codigo\":\"DRIBRAFUDUPS/I000000\",\"descricao\":\"BRACO FUNDO DUPLO SUP/INF\"}},{\"codigo\":\"DRIBRASASUPDIR000000\",\"descricao\":\"BRACO SIMPL AMARR SUPERIOR DIR\",\"quantidade\":7,\"cor\":\"CINZA PAD.\",\"material\":{\"codigo\":\"DRIBRASASUPDIR000000\",\"descricao\":\"BRACO SIMPL AMARR SUPERIOR DIR\"}},{\"codigo\":\"DRIBRASASUPESQ000000\",\"descricao\":\"BRACO SIMPL AMARR SUPERIOR ESQ\",\"quantidade\":7,\"cor\":\"CINZA PAD.\",\"material\":{\"codigo\":\"DRIBRASASUPESQ000000\",\"descricao\":\"BRACO SIMPL AMARR SUPERIOR ESQ\"}},{\"codigo\":\"DRIBRASIDIRPLC000000\",\"descricao\":\"BRACO SIMPLES DIR PL CARGA - 250MM\",\"quantidade\":28,\"cor\":\"CINZA PAD.\",\"material\":{\"codigo\":\"DRIBRASIDIRPLC000000\",\"descricao\":\"BRACO SIMPLES DIR PL CARGA - 250MM\"}},{\"codigo\":\"DRIBRASIESQPLC000000\",\"descricao\":\"BRACO SIMPLES ESQ PL CARGA - 250MM\",\"quantidade\":28,\"cor\":\"CINZA PAD.\",\"material\":{\"codigo\":\"DRIBRASIESQPLC000000\",\"descricao\":\"BRACO SIMPLES ESQ PL CARGA - 250MM\"}},{\"codigo\":\"DRITRZ08714000000000#6360#0#0\",\"descricao\":\"TRILHO DRIVE-IN Z87 CH 14 MED. 6360 MM\",\"quantidade\":24,\"cor\":\"CINZA PAD.\",\"material\":{\"codigo\":\"DRITRZ08714000000000\",\"descricao\":\"TRILHO DRIVE-IN Z87 CH 14 MED. #C# MM\"}},{\"codigo\":\"PPLCOL00080200000000#6320#0#0\",\"descricao\":\"COLUNA NORMAL CH14 6320MM\",\"quantidade\":35,\"cor\":\"CINZA PAD.\",\"material\":{\"codigo\":\"PPLCOL00080200000000\",\"descricao\":\"COLUNA NORMAL CH14 #D#MM\"}},{\"codigo\":\"PPLCOL00080200000160#160#0#0\",\"descricao\":\"COLUNINHA PPL CH14 C/ PARAF. 160MM\",\"quantidade\":30,\"cor\":\"CINZA PAD.\",\"material\":{\"codigo\":\"PPLCOL00080200000160\",\"descricao\":\"COLUNINHA PPL CH14 C/ PARAF. #D#MM\"}},{\"codigo\":\"PPLDCJ00001050000000\",\"descricao\":\"DISTANCIADOR PPL 1050MM C/ PARAF.\",\"quantidade\":20,\"cor\":\"CINZA PAD.\",\"material\":{\"codigo\":\"PPLDCJ00001050000000\",\"descricao\":\"DISTANCIADOR PPL 1050MM C/ PARAF.\"}},{\"codigo\":\"PPLDIA00000180000000#1261#0#0\",\"descricao\":\"DIAGONAL NOVA ESP 1,80 MMC/ PARAF 0MM\",\"quantidade\":9,\"cor\":\"CINZA PAD.\",\"material\":{\"codigo\":\"PPLDIA00000180000000\",\"descricao\":\"DIAGONAL NOVA ESP 1,80 MMC/ PARAF #C#MM\"}},{\"codigo\":\"PPLDIA00000180000000#1267#0#0\",\"descricao\":\"DIAGONAL NOVA ESP 1,80 MMC/ PARAF 1267MM\",\"quantidade\":40,\"cor\":\"CINZA PAD.\",\"material\":{\"codigo\":\"PPLDIA00000180000000\",\"descricao\":\"DIAGONAL NOVA ESP 1,80 MMC/ PARAF #C#MM\"}},{\"codigo\":\"PPLDIA00000180000000#1298#0#0\",\"descricao\":\"DIAGONAL NOVA ESP 1,80 MMC/ PARAF 0MM\",\"quantidade\":4,\"cor\":\"CINZA PAD.\",\"material\":{\"codigo\":\"PPLDIA00000180000000\",\"descricao\":\"DIAGONAL NOVA ESP 1,80 MMC/ PARAF #C#MM\"}},{\"codigo\":\"PPLDIA00000180000000#1400#0#0\",\"descricao\":\"DIAGONAL NOVA ESP 1,80 MMC/ PARAF 0MM\",\"quantidade\":14,\"cor\":\"CINZA PAD.\",\"material\":{\"codigo\":\"PPLDIA00000180000000\",\"descricao\":\"DIAGONAL NOVA ESP 1,80 MMC/ PARAF #C#MM\"}},{\"codigo\":\"PPLDIA00000180000000#1458#0#0\",\"descricao\":\"DIAGONAL NOVA ESP 1,80 MMC/ PARAF 0MM\",\"quantidade\":12,\"cor\":\"CINZA PAD.\",\"material\":{\"codigo\":\"PPLDIA00000180000000\",\"descricao\":\"DIAGONAL NOVA ESP 1,80 MMC/ PARAF #C#MM\"}},{\"codigo\":\"PPLDIA00000180000000#1557#0#0\",\"descricao\":\"DIAGONAL NOVA ESP 1,80 MMC/ PARAF 1557MM\",\"quantidade\":60,\"cor\":\"CINZA PAD.\",\"material\":{\"codigo\":\"PPLDIA00000180000000\",\"descricao\":\"DIAGONAL NOVA ESP 1,80 MMC/ PARAF #C#MM\"}},{\"codigo\":\"PPLDIA00000180000000#1600#0#0\",\"descricao\":\"DIAGONAL NOVA ESP 1,80 MMC/ PARAF 0MM\",\"quantidade\":56,\"cor\":\"CINZA PAD.\",\"material\":{\"codigo\":\"PPLDIA00000180000000\",\"descricao\":\"DIAGONAL NOVA ESP 1,80 MMC/ PARAF #C#MM\"}},{\"codigo\":\"PPLDIA00000180000000#1661#0#0\",\"descricao\":\"DIAGONAL NOVA ESP 1,80 MMC/ PARAF 0MM\",\"quantidade\":24,\"cor\":\"CINZA PAD.\",\"material\":{\"codigo\":\"PPLDIA00000180000000\",\"descricao\":\"DIAGONAL NOVA ESP 1,80 MMC/ PARAF #C#MM\"}},{\"codigo\":\"PPLLOZCJ087000140000#1400#0#0\",\"descricao\":\"LONGARINA Z87 CH14 0MM\",\"quantidade\":6,\"cor\":\"CINZA PAD.\",\"material\":{\"codigo\":\"PPLLOZCJ087000140000\",\"descricao\":\"LONGARINA Z87 CH14 #C#MM\"}},{\"codigo\":\"PPLLOZCJ087000140000#800#0#0\",\"descricao\":\"LONGARINA Z87 CH14 0MM\",\"quantidade\":35,\"cor\":\"CINZA PAD.\",\"material\":{\"codigo\":\"PPLLOZCJ087000140000\",\"descricao\":\"LONGARINA Z87 CH14 #C#MM\"}},{\"codigo\":\"PPLSAP01CHU000000000\",\"descricao\":\"SAPATA PPL NORMAL COM 01 CHUMBADOR\",\"quantidade\":35,\"cor\":\"CINZA PAD.\",\"material\":{\"codigo\":\"PPLSAP01CHU000000000\",\"descricao\":\"SAPATA PPL NORMAL COM 01 CHUMBADOR\"}},{\"codigo\":\"PPLTRA00000180000000#1120#0#0\",\"descricao\":\"TRAVESSA PPL ESP 1,80 MM C/PARAF 0MM\",\"quantidade\":16,\"cor\":\"CINZA PAD.\",\"material\":{\"codigo\":\"PPLTRA00000180000000\",\"descricao\":\"TRAVESSA PPL ESP 1,80 MM C/PARAF #C#MM\"}},{\"codigo\":\"PPLTRA00000180000000#955#0#0\",\"descricao\":\"TRAVESSA PPL ESP 1,80 MM C/PARAF 0MM\",\"quantidade\":160,\"cor\":\"CINZA PAD.\",\"material\":{\"codigo\":\"PPLTRA00000180000000\",\"descricao\":\"TRAVESSA PPL ESP 1,80 MM C/PARAF #C#MM\"}},{\"codigo\":\"PPPLOZPER87000140000#5440#0#0\",\"descricao\":\"PERFIL LONG PERFURADA Z87 CH14 MED. 5440MM\",\"quantidade\":7,\"cor\":\"CINZA PAD.\",\"material\":{\"codigo\":\"PPPLOZPER87000140000\",\"descricao\":\"PERFIL LONG PERFURADA Z87 CH14 MED. #C#MM\"}}]}]};*/\n\nfunction get(numero, callback) {\n    var xmlhttp = new XMLHttpRequest();\n\n    xmlhttp.onreadystatechange = function() {\n        if (xmlhttp.readyState == XMLHttpRequest.DONE ) {\n           if (xmlhttp.status == 200) {\n               callback(JSON.parse(xmlhttp.responseText));\n           }\n           else if (xmlhttp.status == 400) {\n              alert('There was an error 400');\n           }\n           else {\n               alert('something else other than 200 was returned');\n           }\n        }\n    };\n\n    xmlhttp.open(\"GET\", \"http://sistema/api/bom/\" + numero, true);\n    xmlhttp.send();\n}\n\nfunction load(data) {\n  for (i = 0; i < data.items.length; i++) {\n    \n    var page_title = document.getElementByTagName('h1')[0];\n    \n    page_title.innerHTML = data.numero + ' ' + data.nome;\n    \n    var header = document.getElementsByClassName('header')[0];\n    \n    header.children[0].children[1].innerHTML = data.cadastro || '01/01/2016';\n    header.children[1].children[1].innerHTML = data.emissao || '05/01/2016';\n    header.children[2].children[1].innerHTML = data.situacao || 'Fechado / Pedido';\n    header.children[3].children[1].innerHTML = data.revisao || '';\n    \n    var product = document.getElementsByClassName('product')[0];\n\n    var title = product.getElementsByClassName('title')[0];\n\n    title.children[0].innerHTML = data.items[i].item;\n    title.children[1].innerHTML = data.items[i].descricao || \"???\"; \n    \n    var list = product.getElementsByClassName('list')[0];\n    var item = list.children[0]; // <li>\n    \n    for (c = 0; c < data.items[i].componentes.length; c++) {\n      var new_item = item.cloneNode(true);\n      var component = new_item.getElementsByClassName('component')[0];\n      var detail = component.getElementsByClassName('detail')[0];\n      var code = detail.getElementsByClassName('code')[0];\n      var description = detail.getElementsByClassName('description')[0];\n      code.innerHTML = data.items[i].componentes[c].codigo;\n      description.innerHTML = data.items[i].componentes[c].descricao;\n      if (c > 0) {\n        list.appendChild(new_item);\n      } else {\n        list.replaceChild(new_item, item);\n      }\n    }\n  }\n\n}\n\nvar params = window.location.href.split('/');\n\ndocument.addEventListener(\"DOMContentLoaded\", get(params[params.length-1], load));    \n</script>\n</body>\n","x":350,"y":700,"wires":[["109777df.f60e58"]]},{"id":"109777df.f60e58","type":"http response","z":"2e988d1b.6e8f3a","name":"","x":870,"y":700,"wires":[]},{"id":"abeeb8d6.006ba8","type":"link out","z":"2e988d1b.6e8f3a","name":"","links":["391d2a41.49bbf6"],"x":1035,"y":140,"wires":[]},{"id":"391d2a41.49bbf6","type":"link in","z":"2e988d1b.6e8f3a","name":"","links":["abeeb8d6.006ba8"],"x":55,"y":200,"wires":[["6be6cd92.1e15b"]]},{"id":"258dcda0.cc5e32","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"node-red","name":"mongodb"},{"id":"819e3e8a.394b6","type":"MSSQL-CN","z":"","name":"wbccad","server":"192.168.0.1","encyption":true,"database":"wbccad"}]