node-red/RH CONTROLE de FERIAS.txt
[{"id":"6a2fb197.d3c1fc","type":"http in","z":"c887d9a.5ebdb28","name":"","url":"/rh/ferias/antigo/:id","method":"get","swaggerDoc":"","x":140,"y":960,"wires":[["a9cfc89b.299278"]]},{"id":"9ed2bd9.d3607","type":"http response","z":"c887d9a.5ebdb28","name":"","x":970,"y":960,"wires":[]},{"id":"5c8cfe81.2d075c","type":"http in","z":"c887d9a.5ebdb28","name":"","url":"/api/sql/rh/ferias","method":"post","swaggerDoc":"","x":140,"y":100,"wires":[["f2059b4d.2ca1b8"]]},{"id":"28b14346.f50b94","type":"http response","z":"c887d9a.5ebdb28","name":"","x":970,"y":100,"wires":[]},{"id":"b6ac279.aa08d98","type":"http in","z":"c887d9a.5ebdb28","name":"","url":"/rh/ferias/antigo/lista","method":"get","swaggerDoc":"","x":150,"y":920,"wires":[["616e3a3.72a1284"]]},{"id":"616e3a3.72a1284","type":"template","z":"c887d9a.5ebdb28","name":"form list","field":"payload","fieldType":"msg","format":"html","syntax":"plain","template":" \n<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"utf-8\">\n  <title>Funcionarios</title>\n    <link rel=\"stylesheet\" href=\"http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css\">\n    <link rel=\"stylesheet\" href=\"https://raw.githubusercontent.com/esvit/ng-table/master/dist/ng-table.min.css\">\n    <!--[if lt IE 9]>\n    <script src=\"http://code.jquery.com/jquery-1.10.2.min.js\"></script>\n    <![endif]-->\n    <script src=\"http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.js\"></script>\n    <script src=\"http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular-sanitize.js\"></script>\n    <script src=\"http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular-resource.js\"></script>\n    <script src=\"http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular-route.js\"></script>   \n    <script src=\"http://ng-table.com/js/ng-table.min.js\"></script>\n</head>\n<body ng-app=\"myApp\">\n\n    <div ng-controller=\"listController as list\">\n        <div class=\"row\">\n            <div class=\"col-sm-1\"></div>\n            <div class=\"col-sm-10\" loading-container=\"list.tableParams.settings().$loading\">\n                <h2 class=\"page-header\">Funcionarios</h2>\n                <div class=\"bs-callout bs-callout-info\">\n                  <h4>Lista de Funcionarios</h4>\n                  <!--<p>Example of fetching data from the github api.</p>\n                  <p>\n                    Demonstrates <em>one</em> of the ways data can be loaded into the table asynchronously by supplying <code>NgTableParams</code> a custom <code>getData</code> function.\n                  </p>-->\n                </div>\n                <table ng-table=\"list.tableParams\" class=\"table table-condensed table-bordered table-striped\" show-filter=\"false\">\n                    <tr ng-repeat-start=\"func in $data\" ng-if=\"!func.data_demissao\">\n                        <td data-title=\"'PIS'\" class=\"text-center\">\n                            <a target=\"_blank\" ng-href=\"/rh/ferias/{{func._id}}\">{{func.pis}}</a>\n                        </td>\n                        <td data-title=\"'Empresa'\" class=\"text-center\">{{func.empresa | empresa}}</td>\n                        <!--<td data-title=\"'Empresa'\" filter=\"{ fun_empresa: 'select'}\" filter-data=\"list.empresas\">{{func.fun_empresa}}</td>-->\n                        <td data-title=\"'Matricula'\" class=\"text-center\">{{func.codigo}}</td>\n                        <td data-title=\"'Nome'\" filter=\"{ nome: 'text'}\" >\n                            <a target=\"_blank\" ng-href=\"/rh/ferias/{{func._id}}\">\n                            <nobr> {{func.nome}}\n                            </nobr>\n                            </a>\n                        </td>\n                        <td data-title=\"'Data admissão'\" class=\"text-center\">\n                            <nobr>{{func.data_admissao | date:'dd/MM/yyyy'}}</nobr>\n                        </td>\n                        <td data-title=\"'Período aquisitivo'\" class=\"text-center\">\n                            <nobr>{{func.ferias[0].aquisicao_inicial | date:'dd/MM/yyyy'}}&nbsp-&nbsp{{func.ferias[0].aquisicao_final | date:'dd/MM/yyyy'}}</nobr>\n                        </td>\n                        <td data-title=\"'Dias de direito'\" class=\"text-center\">\n                            <nobr>{{func.ferias[0].dias_direito - func.ferias[0].dias_descontado}}</nobr>\n                        </td>\n                        <td data-title=\"'Dias descansado'\" class=\"text-center\">\n                            <nobr>{{func.ferias[0].dias_adquirido_total}}</nobr>\n                        </td>\n                        <td data-title=\"'Saldo'\" class=\"text-center\">\n                            <nobr><b>{{func.ferias[0].dias_saldo}}</b></nobr>\n                        </td>\n                        <td data-title=\"'Data limite'\" class=\"text-center\">\n                            <nobr><b>{{func.ferias[0].data_limite | date:'dd/MM/yyyy'}}</b></nobr>\n                        </td>\n                    </tr>\n                    <tr ng-repeat=\"ferias in func.ferias\" ng-if=\"$index > 0\" ng-repeat-end>\n                        <td colspan=\"5\"></td>\n                        <td data-title=\"'Período aquisitivo'\" class=\"text-center\">\n                            <nobr>{{ferias.aquisicao_inicial | date:'dd/MM/yyyy'}}&nbsp-&nbsp{{ferias.aquisicao_final | date:'dd/MM/yyyy'}}</nobr>\n                        </td>\n                        <td data-title=\"'Dias de direito'\" class=\"text-center\">\n                            <nobr>{{ferias.dias_direito - ferias.dias_descontado}}</nobr>\n                        </td>\n                        <td data-title=\"'Dias descansado'\" class=\"text-center\">\n                            <nobr>{{ferias.dias_adquirido_total}}</nobr>\n                        </td>\n                        <td data-title=\"'Saldo'\" class=\"text-center\">\n                            <nobr><b>{{ferias.dias_saldo}}</b></nobr>\n                        </td>\n                        <td data-title=\"'Data limite'\" class=\"text-center\">\n                            <nobr><b>{{ferias.data_limite | date:'dd/MM/yyyy'}}</b></nobr>\n                            <!--<img width=\"16\" height=\"16\" ng-src=\"{{issue.user.avatar_url}}\" />-->\n                        </td>\n                    </tr>\n                </table>\n            </div>\n            <div class=\"col-sm-1\"></div>\n        </div>\n    </div>\n\n    <script type=\"text/javascript\">\n    angular.module(\"myApp\", [\"ngTable\", \"ngResource\"]);\n    (function() {\n      \"use strict\";\n    \n      angular.module(\"myApp\").controller(\"listController\", listController);\n      listController.$inject = [\"NgTableParams\", \"listService\"];\n    \n      function listController(NgTableParams, listService) {\n        this.empresas = [{ \"nome\": \"Altamira\" }, { \"nome\": \"Tecnequip\" }, { \"nome\": \"Maxmira\" }];\n        this.tableParams = new NgTableParams({}, {\n          counts:  [10, 25, 50, 100, 200, 500],\n          getData: function(params) {\n            return listService.query({\n              page: params.page(),\n              per_page: params.count()\n            }, function(data) {\n              return data;\n            }).$promise;\n          }\n        });\n        this.nestedTableParams = new NgTableParams({}, {\n          \n        });\n      }\n    })();\n    \n    (function() {\n      \"use strict\";\n    \n      angular.module(\"myApp\").factory(\"listService\", [\"$resource\", function($resource) {\n        return $resource(\"/api/rh/funcionarios\", {\n          state: \"open\"\n        }, {\n          query: {\n            method: \"GET\",\n            isArray: true\n          }\n        });\n      }]);\n    })();\n    \n    (function() {\n      \"use strict\";\n    \n      angular.module(\"myApp\").filter('empresa', function() {\n\n        return function(val, startIndex, endIndex) {\n            switch(val) {\n                case 1:\n                    return \"Altamira\";\n                case 2:\n                    return \"Tecnequip\";\n                case 3:\n                    return \"Maxmira\";\n                default:\n                    return \"?\";\n            }\n        };\n      });\n    })();\n    \n    </script>\n\n</body>\n</html>\n","x":600,"y":920,"wires":[["54b85de7.be48f8"]]},{"id":"54b85de7.be48f8","type":"http response","z":"c887d9a.5ebdb28","name":"","x":970,"y":920,"wires":[]},{"id":"f2059b4d.2ca1b8","type":"function","z":"c887d9a.5ebdb28","name":"params","func":"msg.limit = msg.payload.per_page || 10;\nmsg.skip = ((msg.payload.page || 1) - 1) * (msg.payload.per_page || 1);\nmsg.payload = {}\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":100,"wires":[["8ede0227.03fb1"]]},{"id":"8ede0227.03fb1","type":"MSSQL","z":"c887d9a.5ebdb28","mssqlCN":"2461fe59.631282","name":"flextime","query":"select \tcadfun.fun_empresa,\n\t\tcadfun.fun_codigo,\n\t\tcadfun.fun_pis_numero,\n\t\tcadfun.fun_descricao, \n\t\tcadfun.fun_data_de_admissao,\n\t\tcadferias.fer_periodo_inicial,\n\t\tcadferias.fer_periodo_final,\n\t\tcadferias.fer_data_limite,\n\t\tISNULL(cadferias.fer_dias_direito, 30) as fer_dias_direito,\n\t\tISNULL((select \n\t\t\t\tSUM(DATEDIFF(day, cadferiasdesc.fer_periodo_inicial, dateadd(day, 1, cadferiasdesc.fer_periodo_final))) \n\t\t\t\tfrom cadferiasdesc \n\t\t\t\twhere cadferiasdesc.fun_pis_numero = cadfun.fun_pis_numero\n\t\t\t\tand cadferiasdesc.fer_periodo_inicial >= ISNULL(cadferias.fer_periodo_inicial, cadfun.fun_data_de_admissao)\n\t\t\t\tand cadferiasdesc.fer_periodo_final >= ISNULL(cadferias.fer_periodo_final, DATEADD(DAY, -1, DATEADD(YEAR, 1, cadfun.fun_data_de_admissao)))), 0) as fer_dias_descansado\nfrom cadfun left \n\tjoin cadferias on cadfun.fun_pis_numero = cadferias.fun_pis_numero\nWHERE \n\t--DATEDIFF(d, GETDATE(), cadferias.fer_data_limite) < 31 AND \n\tand not cadfun.fun_data_de_admissao is null\n\t(cadferias.fer_realizado = 0 or cadferias.fer_realizado is null)\nORDER BY /*cadferias.fer_data_limite,*/ cadfun.fun_descricao\nOFFSET {{skip}} ROWS\nFETCH NEXT {{limit}} ROWS ONLY;","outField":"payload","x":600,"y":100,"wires":[["28b14346.f50b94"]]},{"id":"a9cfc89b.299278","type":"template","z":"c887d9a.5ebdb28","name":"form edit","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"\n<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"utf-8\">\n  <title>Cadastro de Férias</title>\n  <link rel=\"stylesheet\" href=\"//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css\">\n  <link rel=\"stylesheet\" href=\"//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css\">\n  <link rel=\"stylesheet\" href=\"http://schemaform.io/bower_components/pickadate/lib/themes/classic.css\">\n  <link rel=\"stylesheet\" href=\"http://schemaform.io/bower_components/pickadate/lib/themes/classic.date.css\">\n  <link rel=\"stylesheet\" href=\"http://schemaform.io/bower_components/bootstrap-vertical-tabs/bootstrap.vertical-tabs.min.css\">\n  <link rel=\"stylesheet\" href=\"http://schemaform.io/bower_components/spectrum/spectrum.css\">\n\n  <style type=\"text/css\">\n  .spinner {\n    width: 35px;\n    height: 35px;\n    background-color: #333;\n\n    border-radius: 100%;\n    -webkit-animation: scaleout 1.0s infinite ease-in-out;\n    animation: scaleout 1.0s infinite ease-in-out;\n  }\n\n  @-webkit-keyframes scaleout {\n    0% { -webkit-transform: scale(0.0) }\n    100% {\n      -webkit-transform: scale(1.0);\n      opacity: 0;\n    }\n  }\n\n  @keyframes scaleout {\n    0% {\n      transform: scale(0.0);\n      -webkit-transform: scale(0.0);\n    } 100% {\n      transform: scale(1.0);\n      -webkit-transform: scale(1.0);\n      opacity: 0;\n    }\n  }\n\n  body,html {\n    min-height: 1400px;\n  }\n\n  .alert .form-group {\n    margin-bottom: 0px;\n  }\n\n  .red {\n    border: 1px solid red;\n    background: #fee;\n  }\n\n  .ace_editor { font-size: 20px !important;}\n  .form {  height: 400px;  }\n  .schema {  height: 800px;  }\n\n  .btw { color: #777; font-size: 90%; padding-left: 6px;}\n\n  [ng\\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {\n    display: none !important;\n  }\n\n  .navbar-form > .form-group > .input-group {\n    margin-left: 20px;\n  }\n\n  .btn:active,\n  .btn:focus,\n  .btn.active {\n    background-image: none;\n    outline: 0;\n    -webkit-box-shadow: none;\n            box-shadow: none;\n  }\n\n  .error {\n    color: red;\n  }\n\n  .input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle) {\n    border-top-right-radius: 4px;\n    border-bottom-right-radius: 4px;\n  }\n\n</style>\n</head>\n<body ng-app=\"myModule\" ng-cloak>\n\n<div ng-controller=\"FormController\">\n    <div class=\"row\">\n        <div class=\"col-sm-1\"></div>\n        <div class=\"col-sm-10\">\n            <h2 class=\"page-header\">Cadastro de Férias</h2>\n            <div class=\"bs-callout bs-callout-info\">\n              <h4>Cadastro de férias</h4>\n              <!--<p>Example of fetching data from the github api.</p>\n              <p>\n                Demonstrates <em>one</em> of the ways data can be loaded into the table asynchronously by supplying <code>NgTableParams</code> a custom <code>getData</code> function.\n              </p>-->\n            </div>\n            <form name=\"myForm\" sf-schema=\"schema\" sf-form=\"form\" sf-model=\"model\" ng-submit=\"onSubmit(myForm)\"></form>\n        </div>\n        <div class=\"col-sm-1\"></div>\n    </div>\n    \n</div>\n\n<script type=\"text/javascript\" src=\"//code.jquery.com/jquery-2.1.1.min.js\"></script>\n<script type=\"text/javascript\" src=\"//cdn.jsdelivr.net/g/jquery.ui@1.10\"></script>\n<script type=\"text/javascript\" src=\"http://schemaform.io/bower_components/tv4/tv4.js\"></script>\n<script type=\"text/javascript\" src=\"http://schemaform.io/bower_components/ace-builds/src-min-noconflict/ace.js\"></script>\n<script type=\"text/javascript\" src=\"http://schemaform.io/bower_components/angular/angular.min.js\"></script>\n<script type=\"text/javascript\" src=\"http://schemaform.io/bower_components/angular-sanitize/angular-sanitize.min.js\"></script>\n<script type=\"text/javascript\" src=\"//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js\"></script>\n<script type=\"text/javascript\" src=\"//cdnjs.cloudflare.com/ajax/libs/zeroclipboard/2.2.0/ZeroClipboard.min.js\"></script>\n<script type=\"text/javascript\" src=\"//cdnjs.cloudflare.com/ajax/libs/ng-clip/0.2.6/ng-clip.min.js\"></script>\n<script type=\"text/javascript\" src=\"//cdnjs.cloudflare.com/ajax/libs/swfobject/2.2/swfobject.js\"></script>\n<script type=\"text/javascript\" src=\"//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.1/ui-bootstrap.min.js\"></script>\n<!-- <script type=\"text/javascript\" src=\"https://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js\"></script> -->\n<!-- <script type=\"text/javascript\" src=\"https://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular-sanitize.min.js\"></script> -->\n\n\n<script type=\"text/javascript\" src=\"http://schemaform.io/bower_components/angular-ui-sortable/sortable.js\"></script>\n<script type=\"text/javascript\" src=\"http://schemaform.io/bower_components/angular-ui-ace/ui-ace.js\"></script>\n<script type=\"text/javascript\" src=\"http://schemaform.io/bower_components/objectpath/lib/ObjectPath.js\"></script>\n<script type=\"text/javascript\" src=\"http://schemaform.io/bower_components/pickadate/lib/picker.js\"></script>\n<script type=\"text/javascript\" src=\"http://schemaform.io/bower_components/pickadate/lib/picker.date.js\"></script>\n<!--<script type=\"text/javascript\" src=\"http://schemaform.io/bower_components/pickadate/lib/translations/pt_BR.js\"></script>-->\n\n<script type=\"text/javascript\" src=\"//tinymce.cachefly.net/4.0/tinymce.min.js\"></script>\n<script type=\"text/javascript\" src=\"http://schemaform.io/bower_components/tx-tinymce/tx-tinymce.js\"></script>\n\n<script type=\"text/javascript\" src=\"http://schemaform.io/bower_components/spectrum/spectrum.js\"></script>\n<script type=\"text/javascript\" src=\"http://schemaform.io/bower_components/spectrum/i18n/jquery.spectrum-sv.js\"></script>\n<script type=\"text/javascript\" src=\"http://schemaform.io/bower_components/angular-spectrum-colorpicker/dist/angular-spectrum-colorpicker.min.js\"></script>\n\n\n<script type=\"text/javascript\" src=\"http://schemaform.io/dist/schema-form.js\"></script>\n<script type=\"text/javascript\" src=\"http://schemaform.io/dist/bootstrap-decorator.min.js\"></script>\n<script type=\"text/javascript\" src=\"http://schemaform.io/bower_components/angular-schema-form-datepicker/bootstrap-datepicker.min.js\"></script>\n<script type=\"text/javascript\" src=\"http://schemaform.io/bower_components/angular-schema-form-colorpicker/bootstrap-colorpicker.min.js\"></script>\n<script type=\"text/javascript\" src=\"http://schemaform.io/bower_components/angular-schema-form-tinymce/bootstrap-tinymce.js\"></script>\n\n<script type=\"text/javascript\">\nangular.module('myModule', ['schemaForm'])\n.controller('FormController', function($scope, $http) {\n    $scope.schema = {\n       \"$schema\":\"http://json-schema.org/draft-04/schema#\",\n       \"type\":\"object\",\n       \"properties\":{\n          \"_id\":{\n             \"type\":\"string\"\n          },\n          \"empresa\":{\n             \"type\":\"integer\",\n             \"title\":\"Empresa\",\n             \"enum\":[\n                1,\n                2,\n                3\n             ]\n          },\n          \"matricula\":{\n             \"type\":\"integer\",\n             \"title\":\"Matricula\"\n          },\n          \"pis\":{\n             \"type\":\"string\",\n             \"title\":\"PIS\"\n          },\n          \"nome\":{\n             \"type\":\"string\",\n             \"title\":\"Nome\"\n          },\n          \"data_admissao\":{\n             \"type\":\"string\",\n             \"title\":\"Data de Admissão\",\n             \"format\": \"date\"\n          },\n          \"data_demissao\":{\n             \"type\": \"string\",\n             \"title\":\"Data de Demissão\",\n             \"format\": \"date\"\n          },\n          \"ferias\":{\n             \"type\":\"array\",\n             \"items\":{\n                \"type\":\"object\",\n                \"properties\":{\n                   \"aquisicao_inicial\":{\n                      \"type\":\"string\",\n                      \"title\":\"Período Inicial de Aquisição\",\n                      \"format\": \"date\"\n                   },\n                   \"aquisicao_final\":{\n                      \"type\":\"string\",\n                      \"title\":\"Período Final de Aquisição\",\n                      \"format\": \"date\"\n                   },\n                   \"data_limite\":{\n                      \"type\":\"string\",\n                      \"title\":\"Data Limite para Aquisição\",\n                      \"format\": \"date\"\n                   },\n                   \"data_aquisicao\":{\n                      \"type\":\"string\",\n                      \"title\":\"Data da Aquisição\",\n                      \"format\": \"date\"\n                   },\n                   \"dias_direito\":{\n                      \"type\":\"integer\",\n                      \"title\": \"Dias por Direito\",\n                      \"default\": 30\n                   },\n                   \"dias_adquirido_total\": {\n                     \"type\": \"integer\",\n                     \"title\": \"Total de Dias já Adquiridos\"\n                   },\n                   \"dias_saldo\": {\n                     \"type\": \"integer\",\n                     \"title\": \"Saldo de Dias Haver\"\n                   },\n                   \"dias_adquirido\": {\n                      \"type\":\"array\",\n                      \"title\": \"Dias já adquirido durante o período\",\n                      \"items\":{\n                         \"type\":\"object\",\n                         \"properties\":{\n                            \"data_aquisicao\":{\n                               \"type\":\"string\",\n                               \"title\":\"Data de Aquisição\",\n                               \"format\": \"date\"\n                            },\n                            \"historico\":{\n                               \"type\":\"string\",\n                               \"title\":\"Histórico\"\n                            }\n                         },\n                         \"required\":[\n                            \"data_aquisicao\",\n                            \"historico\"\n                         ]\n                      }\n                   }\n                },\n                \"required\":[\n                   \"aquisicao_inicial\",\n                   \"aquisicao_final\",\n                   \"dias_direito\",\n                   \"data_limite\"\n                ]\n             }\n          },\n          \"required\":[\n             \"empresa\",\n             \"codigo\",\n             \"pis\",\n             \"nome\",\n             \"data_admissao\"\n          ]\n       }\n    };\n\n    $scope.form = [\n       {\n          \"key\":\"empresa\",\n          \"type\":\"select\",\n          \"titleMap\":[\n             {\n                \"value\":1,\n                \"name\":\"ALTAMIRA\"\n             },\n             {\n                \"value\":2,\n                \"name\":\"TECNEQUIP\"\n             },\n             {\n                \"value\":3,\n                \"name\":\"MAXMIRA\"\n             }\n          ],\n          \"readonly\":true\n       },\n       {\n          \"type\":\"section\",\n          \"htmlClass\":\"row\",\n          \"items\":[\n             {\n                \"type\":\"section\",\n                \"htmlClass\":\"col-xs-4\",\n                \"items\":[\n                   {\n                      \"key\":\"pis\",\n                      \"readonly\":true\n                   }\n                ]\n             },\n             {\n                \"type\":\"section\",\n                \"htmlClass\":\"col-xs-4\",\n                \"items\":[\n                   {\n                      \"key\":\"data_admissao\",\n                      \"readonly\":true\n                   }\n                ]\n             },\n             {\n                \"type\":\"section\",\n                \"htmlClass\":\"col-xs-4\",\n                \"items\":[\n                   {\n                      \"key\":\"data_demissao\",\n                      \"default\": \"\",\n                      \"readonly\":false\n                   }\n                ]\n             }\n          ]\n       },\n       {\n          \"type\":\"section\",\n          \"htmlClass\":\"row\",\n          \"items\":[\n             {\n                \"type\":\"section\",\n                \"htmlClass\":\"col-xs-4\",\n                \"items\":[\n                   {\n                      \"key\":\"matricula\",\n                      \"readonly\":true\n                   }\n                ]\n             },\n             {\n                \"type\":\"section\",\n                \"htmlClass\":\"col-xs-8\",\n                \"items\":[\n                   {\n                      \"key\":\"nome\",\n                      \"readonly\":true\n                   }\n                ]\n             }\n          ]\n       },\n       {\n          \"key\":\"ferias\",\n          \"add\":\"Incluir Férias\",\n          \"style\":{\n             \"add\":\"btn-success\"\n          },\n          \"items\":[\n             {\n                \"type\":\"section\",\n                \"htmlClass\":\"row\",\n                \"items\":[\n                   {\n                      \"type\":\"section\",\n                      \"htmlClass\":\"col-xs-2\",\n                      \"items\":[\n                         {\n                            \"key\":\"ferias[].aquisicao_inicial\",\n                            \"readonly\":false\n                         }\n                      ]\n                   },\n                   {\n                      \"type\":\"section\",\n                      \"htmlClass\":\"col-xs-2\",\n                      \"items\":[\n                         {\n                            \"key\":\"ferias[].aquisicao_final\",\n                            \"readonly\":false\n                         }\n                      ]\n                   },\n                   {\n                      \"type\":\"section\",\n                      \"htmlClass\":\"col-xs-2\",\n                      \"items\":[\n                         {\n                            \"key\":\"ferias[].data_limite\",\n                            \"readonly\":false\n                         }\n                      ]\n                   },\n                   {\n                      \"type\":\"section\",\n                      \"htmlClass\":\"col-xs-2\",\n                      \"items\":[\n                         {\n                            \"key\":\"ferias[].data_aquisicao\",\n                            \"readonly\":false\n                         }\n                      ]\n                   }\n                ]\n             },\n             {\n                \"type\":\"section\",\n                \"htmlClass\":\"row\",\n                \"items\":[\n                   {\n                      \"type\":\"section\",\n                      \"htmlClass\":\"col-xs-2\",\n                      \"items\":[\n                         {\n                            \"key\":\"ferias[].dias_direito\",\n                            \"readonly\":true\n                         }\n                      ]\n                   },\n                   {\n                      \"type\":\"section\",\n                      \"htmlClass\":\"col-xs-2\",\n                      \"items\":[\n                         {\n                            \"key\":\"ferias[].dias_adquirido_total\",\n                            \"readonly\":true\n                         }\n                      ]\n                   },\n                   {\n                      \"type\":\"section\",\n                      \"htmlClass\":\"col-xs-2\",\n                      \"items\":[\n                         {\n                            \"key\":\"ferias[].dias_saldo\",\n                            \"readonly\":true\n                         }\n                      ]\n                   }\n                ]\n             },\n             {\n                \"key\":\"ferias[].dias_adquirido\",\n                \"add\":\"Incluir Dias Aquiridos\",\n                \"style\":{\n                   \"add\":\"btn-success\"\n                },\n                \"items\":[\n                   {\n                      \"type\":\"section\",\n                      \"htmlClass\":\"row\",\n                      \"items\":[\n                         {\n                            \"type\":\"section\",\n                            \"htmlClass\":\"col-xs-4\",\n                            \"items\":[\n                               {\n                                  \"key\":\"ferias[].dias_adquirido[].data_aquisicao\",\n                                  \"readonly\":false\n                               }\n                            ]\n                         },\n                         {\n                            \"type\":\"section\",\n                            \"htmlClass\":\"col-xs-7\",\n                            \"items\":[\n                               {\n                                  \"key\":\"ferias[].dias_adquirido[].historico\",\n                                  \"readonly\":false\n                               }\n                            ]\n                         }\n                      ]\n                   }\n                ]\n             }\n          ]\n       },\n       {\n          \"type\":\"submit\",\n          \"title\":\"Gravar\"\n       }\n    ];\n    \n    $http.get('/api/rh/ferias/item/{{req.params.id}}').success(function(res) {\n        $scope.model = res;\n    }).error(function() {\n        $scope.model = {};\n    });\n    \n    $scope.onSubmit = function(form) {\n        // First we broadcast an event so all fields validate themselves\n        $scope.$broadcast('schemaFormValidate');\n    \n        // Then we check if the form is valid\n        if (form.$valid) {\n          // ... do whatever you need to do with your data.\n          //alert(JSON.stringify($scope.model, null, 2));\n          \n          $http.post('/api/rh/ferias/item', $scope.model).success(function(res) {\n              \n              alert('Registro atualizado com sucesso !');\n              window.close();\n          }).error(function(err) {\n              alert('Erro ao atualizar o registro: ' + err);\n              window.close();\n          })\n        }\n     }    \n     \n    // Brazilian Portuguese\n    \n    jQuery.extend( jQuery.fn.pickadate.defaults, {\n        monthsFull: [ 'janeiro', 'fevereiro', 'março', 'abril', 'maio', 'junho', 'julho', 'agosto', 'setembro', 'outubro', 'novembro', 'dezembro' ],\n        monthsShort: [ 'jan', 'fev', 'mar', 'abr', 'mai', 'jun', 'jul', 'ago', 'set', 'out', 'nov', 'dez' ],\n        weekdaysFull: [ 'domingo', 'segunda-feira', 'terça-feira', 'quarta-feira', 'quinta-feira', 'sexta-feira', 'sábado' ],\n        weekdaysShort: [ 'dom', 'seg', 'ter', 'qua', 'qui', 'sex', 'sab' ],\n        today: 'hoje',\n        clear: 'limpar',\n        close: 'fechar',\n        format: 'dddd, d !de mmmm !de yyyy',\n        formatSubmit: 'yyyy/mm/dd'\n    });\n   \n});\n</script>\n\n</body>\n</html>\n","x":600,"y":960,"wires":[["9ed2bd9.d3607"]]},{"id":"5baae9bb.c1777","type":"http in","z":"c887d9a.5ebdb28","name":"","url":"/api/sql/rh/ferias/:id","method":"get","swaggerDoc":"","x":150,"y":180,"wires":[["cd6813e7.c58c1"]]},{"id":"2da417fb.88d444","type":"http response","z":"c887d9a.5ebdb28","name":"","x":970,"y":180,"wires":[]},{"id":"cd6813e7.c58c1","type":"MSSQL","z":"c887d9a.5ebdb28","mssqlCN":"2461fe59.631282","name":"flextime","query":"SELECT \tcadfun.fun_empresa,\n\t\tcadfun.fun_codigo,\n\t\tcadfun.fun_pis_numero,\n\t\tcadfun.fun_descricao, \n\t\tCAST(cadfun.fun_data_de_admissao as date) as fun_data_de_admissao,\n\t\tISNULL(cadferias.fer_periodo_inicial, fun_data_de_admissao) as fer_periodo_inicial,\n\t\tISNULL(cadferias.fer_periodo_final, DATEADD(DAY, -1, DATEADD(YEAR, 1, cadfun.fun_data_de_admissao))) as fer_periodo_final,\n\t\tISNULL(cadferias.fer_data_limite, DATEADD(MONTH, -1, ISNULL(cadferias.fer_periodo_final, DATEADD(DAY, -1, DATEADD(YEAR, 1, cadfun.fun_data_de_admissao))))) as fer_data_limite,\n\t\tISNULL(cadferias.fer_dias_direito, 30) as fer_dias_direito,\n\t\tISNULL((select SUM(DATEDIFF(day, cadferiasdesc.fer_periodo_inicial, dateadd(day, 1, cadferiasdesc.fer_periodo_final))) from cadferiasdesc where cadferiasdesc.fun_pis_numero = cadfun.fun_pis_numero), 0) as fer_dias_descansado,\n\t\tISNULL(cadferias.fer_dias_direito, 30) - ISNULL((select SUM(DATEDIFF(day, cadferiasdesc.fer_periodo_inicial, dateadd(day, 1, cadferiasdesc.fer_periodo_final))) from cadferiasdesc where cadferiasdesc.fun_pis_numero = cadfun.fun_pis_numero), 0) as fer_dias_saldo\nfrom cadfun left \n\tjoin cadferias on cadfun.fun_pis_numero = cadferias.fun_pis_numero\nWHERE \n\tcadfun.fun_pis_numero = {{req.params.id}}\n\t--DATEDIFF(d, GETDATE(), cadferias.fer_data_limite) < 31 AND \n\tand (cadferias.fer_realizado = 0 or cadferias.fer_realizado is null)\t","outField":"payload","x":600,"y":180,"wires":[["eaf002bc.2640c"]]},{"id":"7a754324.26e11c","type":"http in","z":"c887d9a.5ebdb28","name":"","url":"/api/sql/rh/ferias","method":"post","swaggerDoc":"","x":140,"y":140,"wires":[["c53aeb86.6a45f8"]]},{"id":"8e45ff.1a9bda","type":"http response","z":"c887d9a.5ebdb28","name":"","x":970,"y":140,"wires":[]},{"id":"c53aeb86.6a45f8","type":"MSSQL","z":"c887d9a.5ebdb28","mssqlCN":"2461fe59.631282","name":"flextime","query":"INSERT INTO cadferias \n\t(\n\t\tfun_pis_numero, \n\t\tfer_periodo_inicial, \n\t\tfer_periodo_final, \n\t\tfer_data_limite, \n\t\tfer_dias_direito\n\t)\nVALUES \n\t(\n\t\t'{{payload.fun_pis_numero}}', \n\t\t'{{payload.fer_periodo_inicial}}', \n\t\t'{{payload.fer_periodo_final}}', \n\t\t'{{payload.fer_data_limite}}', \n\t\t'{{payload.fer_dias_direito}}'\n\t)\n\nSELECT @@rowcount as result","outField":"payload","x":600,"y":140,"wires":[["8e45ff.1a9bda"]]},{"id":"eaf002bc.2640c","type":"split","z":"c887d9a.5ebdb28","name":"","splt":"","x":790,"y":180,"wires":[["2da417fb.88d444"]]},{"id":"c6d86b83.360a78","type":"MSSQL","z":"c887d9a.5ebdb28","mssqlCN":"2461fe59.631282","name":"funcionario","query":"select \tdistinct top 1\n\t\t--cadfun.fun_empresa as 'org.com.br.empresa',\n\t\tcadfun.fun_pis_numero as 'id.gov.br.pis',\n\t\tcadfun.fun_codigo as 'id.cod.matricula',\n\t\tcadfun.fun_descricao as 'id.nom.nome', \n\t\tcadfun.fun_data_de_admissao as 'tm.dt.admissao'\nfrom cadfun\n{{#payload}}\nwhere cadfun.fun_empresa = {{payload}}\n{{/payload}}","outField":"payload","x":130,"y":1900,"wires":[["1f83f188.d2758e"]]},{"id":"1f83f188.d2758e","type":"split","z":"c887d9a.5ebdb28","name":"","splt":"","x":290,"y":1900,"wires":[["61f0f129.e6fa4"]]},{"id":"f92cdf0.3bb4d2","type":"function","z":"c887d9a.5ebdb28","name":"vertex.add('rh.funcionario')","func":"var moment = global.get('moment');\nvar uuid = global.get('uuid');\nvar aws = global.get('aws');\n\naws.config.update(flow.get('config').credentials);\n\nvar dynamodb = new aws.DynamoDB.DocumentClient();\n\nvar result = function(err, data) {\n    if (err) {\n        node.error(err);\n    } else {\n        node.send(this);\n    }\n}\n\nvar funcionario = {\n    id: uuid.v4(),\n    type: 'v:r.hm.funcionario'\n}\n\nvar params = {\n    TableName : 'graphdb',\n    Item: funcionario\n}\n\ndynamodb.put(params, result.bind({payload: funcionario}));\n\nObject.map = function(o, f, ctx) {\n    ctx = ctx || this;\n    var result = {};\n    Object.keys(o).forEach(function(k) {\n        result[k] = f.call(ctx, o[k], k, o); \n    });\n    return result;\n}\n\nr = Object.map(msg.payload, function(attr, k, o) {\n    \n    attr.id = funcionario.id;\n    attr.type = 'a:' + k;\n    \n    var params = {\n        TableName : 'graphdb',\n        Item: attr\n    }\n    \n    dynamodb.put(params, result.bind({payload: attr}));\n     node.send({payload: attr})\n  });\n\n\n\n","outputs":1,"noerr":0,"x":1300,"y":1940,"wires":[["1e661af4.7a3d65"]]},{"id":"b15b2531.433338","type":"comment","z":"c887d9a.5ebdb28","name":"Inicialização dos Dados","info":"Inicializa collection ```ferias``` com dados importados do cadastro de funcionários do Flextime","x":140,"y":1560,"wires":[]},{"id":"b238be71.e979f","type":"inject","z":"c887d9a.5ebdb28","name":"CUIDADO","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"x":780,"y":1340,"wires":[["f24221a.b7999e"]]},{"id":"f24221a.b7999e","type":"mongodb out","z":"c887d9a.5ebdb28","service":"_ext_","mongodb":"258dcda0.cc5e32","name":"CLEAR","collection":"ferias","payonly":false,"upsert":false,"multi":false,"operation":"delete","x":960,"y":1340,"wires":[]},{"id":"bf6f9cad.59142","type":"http in","z":"c887d9a.5ebdb28","name":"","url":"/api/rh/ferias/list","method":"post","swaggerDoc":"","x":140,"y":340,"wires":[["9dc79714.744e48"]]},{"id":"17882311.03c5dd","type":"http response","z":"c887d9a.5ebdb28","name":"","x":970,"y":340,"wires":[]},{"id":"9dc79714.744e48","type":"function","z":"c887d9a.5ebdb28","name":"params","func":"msg.limit = msg.payload.per_page || 10;\nmsg.skip = ((msg.payload.page || 1) - 1) * (msg.payload.per_page || 1);\nmsg.payload = {}\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":340,"wires":[["d4b5a6a0.f502e8"]]},{"id":"45c7751.446168c","type":"http in","z":"c887d9a.5ebdb28","name":"","url":"/api/rh/ferias/item/:id","method":"get","swaggerDoc":"","x":150,"y":380,"wires":[["a2451a41.26dc48"]]},{"id":"d0de36ee.534b18","type":"http in","z":"c887d9a.5ebdb28","name":"","url":"/api/rh/ferias/item","method":"post","swaggerDoc":"","x":140,"y":420,"wires":[["d0a52f06.7e333","fd4822fd.66b88"]]},{"id":"fd4822fd.66b88","type":"http response","z":"c887d9a.5ebdb28","name":"","x":970,"y":420,"wires":[]},{"id":"16c9ccdb.4d01c3","type":"comment","z":"c887d9a.5ebdb28","name":"API usando MongoDB","info":"","x":140,"y":300,"wires":[]},{"id":"cd5913bb.ec7b2","type":"comment","z":"c887d9a.5ebdb28","name":"API usando SQL SERVER","info":"","x":150,"y":60,"wires":[]},{"id":"c28b2041.e5137","type":"mongodb out","z":"c887d9a.5ebdb28","service":"_ext_","mongodb":"258dcda0.cc5e32","name":"save","collection":"ferias","payonly":true,"upsert":true,"multi":false,"operation":"store","x":610,"y":460,"wires":[]},{"id":"28d70e61.478122","type":"comment","z":"c887d9a.5ebdb28","name":"Formulários de Férias","info":"","x":140,"y":880,"wires":[]},{"id":"a2451a41.26dc48","type":"function","z":"c887d9a.5ebdb28","name":"existe ?","func":"msg.payload = { pis: msg.req.params.id };\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":380,"wires":[["348f7714.12fbb8"]]},{"id":"348f7714.12fbb8","type":"mongodb in","z":"c887d9a.5ebdb28","service":"_ext_","mongodb":"258dcda0.cc5e32","name":"get","collection":"ferias","operation":"find","x":610,"y":380,"wires":[["113a1a9b.c25e05"]]},{"id":"2026e190.11283e","type":"http response","z":"c887d9a.5ebdb28","name":"","x":970,"y":380,"wires":[]},{"id":"113a1a9b.c25e05","type":"function","z":"c887d9a.5ebdb28","name":"split","func":"if (msg.payload.length > 1) {\n    node.error('Registros duplicado, deveria retornar apenas 1 registro, mas retornou ' + msg.payload.length + ' !');\n} else {\n    msg.payload = msg.payload[0];\n}\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":380,"wires":[["2026e190.11283e"]]},{"id":"383928be.1c6208","type":"e-mail","z":"c887d9a.5ebdb28","server":"smtp.gmail.com","port":"465","name":"silvia.toda@altamira.com.br","dname":"silvia","x":970,"y":1200,"wires":[]},{"id":"92d5c6f7.2b2898","type":"inject","z":"c887d9a.5ebdb28","name":"","topic":"Férias a vencer","payload":"Notificar venctos de férias","payloadType":"str","repeat":"","crontab":"","once":false,"x":110,"y":1220,"wires":[["67279632.816fb8"]]},{"id":"350665cd.524a2a","type":"comment","z":"c887d9a.5ebdb28","name":"Notificação por Email","info":"Notifica RH das férias a vencer\n\nUma notificação deve ser enviada no inicio de cada mês com a relação de todos os funcionários com férias a vencer e data limite no mês subsequente.","x":140,"y":1180,"wires":[]},{"id":"c92120b0.f4d39","type":"template","z":"c887d9a.5ebdb28","name":"body","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":" \n<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n  <link rel=\"stylesheet\" href=\"http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css\">  \n  <title>Funcionarios</title>\n</head>\n<body style=\"font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;\n  font-size: 14px;\n  line-height: 1.42857143;\n  color: #333333;\n  background-color: #ffffff;margin: 0;\">\n    <div>\n        <div class=\"row\">\n            <div class=\"col-sm-1\"></div>\n            <div class=\"col-sm-10\">\n                <h2 class=\"page-header\">Relatórios de Férias</h2>\n            </div>\n        </div>\n        <div class=\"row\">\n            <div class=\"col-sm-1\"></div>\n            <div class=\"col-sm-10\">\n                {{^ferias_vencer.length}}\n                <div class=\"bs-callout bs-callout-info\">\n                  <h3>Nenhum funcionário com FÉRIAS A VENCER no próximo mês.</h3>\n                </div>\n                {{/ferias_vencer.length}}\n                {{#ferias_vencer.length}}\n                <div class=\"bs-callout bs-callout-info\">\n                  <h3>Listagem de funcionários com FÉRIAS A VENCER no próximo mês.</h3>\n                </div>\n                <table class=\"table table-condensed table-bordered table-striped\" style=\"width:100%;max-width:100%;margin-bottom:20px;\">\n                    <thead>\n                        <tr>\n                            <th class=\"header\" style=\"vertical-align: bottom;border-bottom: 2px solid #dddddd;\">PIS</th>\n                            <th class=\"header\" style=\"vertical-align: bottom;border-bottom: 2px solid #dddddd;\">Empresa</th>\n                            <th class=\"header\" style=\"vertical-align: bottom;border-bottom: 2px solid #dddddd;\">Matricula</th>\n                            <th class=\"header\" style=\"vertical-align: bottom;border-bottom: 2px solid #dddddd;\">Nome</th>\n                            <th class=\"header\" style=\"vertical-align: bottom;border-bottom: 2px solid #dddddd;\">Data admissão</th>\n                            <th class=\"header\" style=\"vertical-align: bottom;border-bottom: 2px solid #dddddd;\">Período aquisitivo</th>\n                            <th class=\"header\" style=\"vertical-align: bottom;border-bottom: 2px solid #dddddd;\">Dias de direito</th>\n                            <th class=\"header\" style=\"vertical-align: bottom;border-bottom: 2px solid #dddddd;\">Dias descansado</th>\n                            <th class=\"header\" style=\"vertical-align: bottom;border-bottom: 2px solid #dddddd;\">Saldo</th>\n                            <th class=\"header\" style=\"vertical-align: bottom;border-bottom: 2px solid #dddddd;\">Data limite</th>\n                        </tr>\n                    </thead>\n                    {{/ferias_vencer.length}}\n                    {{#ferias_vencer}}\n                    <tr>\n                        <td style=\"text-align:center;vertical-align:top;margin-top:0px\">\n                            <a target=\"_blank\" href=\"http://sistema/rh/ferias/{{_id}}\">{{_id}}</a>\n                        </td>\n                        <td style=\"text-align:center;vertical-align:top;margin-top:0px\">{{empresa}}</td>\n                        <td style=\"text-align:center;vertical-align:top;margin-top:0px\">{{matricula}}</td>\n                        <td>\n                            <a target=\"_blank\" href=\"http://sistema/rh/ferias/{{_id}}\">\n                            <nobr> {{nome}}\n                            </nobr>\n                            </a>\n                        </td>\n                        <td style=\"text-align:center;vertical-align:top;margin-top:0px\">\n                            <nobr>{{data_admissao}}</nobr>\n                        </td>\n                        <td style=\"text-align:center;vertical-align:top;margin-top:0px\">\n                            <h4 style=\"color:red\"><b><nobr>{{ferias.aquisicao_inicial}} - {{ferias.aquisicao_final}}</nobr></b></h4>\n                        </td>\n                        <td style=\"text-align:center;vertical-align:top;margin-top:0px\">\n                            <nobr>{{ferias.dias_direito}}</nobr>\n                        </td>\n                        <td style=\"text-align:center;vertical-align:top;margin-top:0px\">\n                            <nobr>{{ferias.dias_adquirido_total}}</nobr>\n                        </td>\n                        <td style=\"text-align:center;vertical-align:top;margin-top:0px\">\n                            <nobr><b>{{ferias.dias_saldo}}</b></nobr>\n                        </td>\n                        <td style=\"text-align:center;vertical-align:top;margin-top:0px\">\n                            <nobr><b>{{ferias.data_limite}}</b></nobr>\n                        </td>\n                    </tr>\n                    {{/ferias_vencer}}\n                {{#ferias_vencer.length}}\n                </table>\n                {{/ferias_vencer.length}}\n            </div>\n            <div class=\"col-sm-1\"></div>\n        </div>\n        <div class=\"row\">\n            <br/><br/><br/>\n        </div>\n        <div class=\"row\">\n            <div class=\"col-sm-1\"></div>\n           <div class=\"col-sm-10\">\n                {{^ferias_vencidas.length}}\n                <div class=\"bs-callout bs-callout-info\">\n                  <h3>Nenhum funcionário com FÉRIAS VENCIDAS COM DATA LIMITE no próximo mês.</h3>\n                </div>\n                {{/ferias_vencidas.length}}\n                {{#ferias_vencidas.length}}\n                <div class=\"bs-callout bs-callout-info\">\n                  <h3>Listagem de funcionários com FÉRIAS VENCIDAS COM DATA LIMITE no próximo mês.</h3>\n                </div>\n                <table class=\"table table-condensed table-bordered table-striped\" style=\"width:100%;max-width:100%;margin-bottom:20px;\">\n                     <thead>\n                        <tr>\n                            <th class=\"header\" style=\"vertical-align: bottom;border-bottom: 2px solid #dddddd;\">PIS</th>\n                            <th class=\"header\" style=\"vertical-align: bottom;border-bottom: 2px solid #dddddd;\">Empresa</th>\n                            <th class=\"header\" style=\"vertical-align: bottom;border-bottom: 2px solid #dddddd;\">Matricula</th>\n                            <th class=\"header\" style=\"vertical-align: bottom;border-bottom: 2px solid #dddddd;\">Nome</th>\n                            <th class=\"header\" style=\"vertical-align: bottom;border-bottom: 2px solid #dddddd;\">Data admissão</th>\n                            <th class=\"header\" style=\"vertical-align: bottom;border-bottom: 2px solid #dddddd;\">Período aquisitivo</th>\n                            <th class=\"header\" style=\"vertical-align: bottom;border-bottom: 2px solid #dddddd;\">Dias de direito</th>\n                            <th class=\"header\" style=\"vertical-align: bottom;border-bottom: 2px solid #dddddd;\">Dias descansado</th>\n                            <th class=\"header\" style=\"vertical-align: bottom;border-bottom: 2px solid #dddddd;\">Saldo</th>\n                            <th class=\"header\" style=\"vertical-align: bottom;border-bottom: 2px solid #dddddd;\">Data limite</th>\n                        </tr>\n                    </thead>\n                    {{/ferias_vencidas.length}}\n                    {{#ferias_vencidas}}\n                    <tr>\n                        <td style=\"text-align:center;vertical-align:top\">\n                            <a target=\"_blank\" href=\"http://sistema/rh/ferias/{{_id}}\">{{_id}}</a>\n                        </td>\n                        <td style=\"text-align:center;vertical-align:top\">{{empresa}}</td>\n                        <td style=\"text-align:center;vertical-align:top\">{{matricula}}</td>\n                        <td>\n                            <a target=\"_blank\" href=\"http://sistema/rh/ferias/{{_id}}\">\n                            <nobr> {{nome}}\n                            </nobr>\n                            </a>\n                        </td>\n                        <td style=\"text-align:center;vertical-align:top\">\n                            <nobr>{{data_admissao}}</nobr>\n                        </td>\n                        <td style=\"text-align:center;vertical-align:top\">\n                            <nobr>{{ferias.aquisicao_inicial}} - {{ferias.aquisicao_final}}</b></nobr>\n                        </td>\n                        <td style=\"text-align:center;vertical-align:top\">\n                            <nobr>{{ferias.dias_direito}}</nobr>\n                        </td>\n                        <td style=\"text-align:center;vertical-align:top\">\n                            <nobr>{{ferias.dias_adquirido_total}}</nobr>\n                        </td>\n                        <td style=\"text-align:center;vertical-align:top\">\n                            <nobr><b>{{ferias.dias_saldo}}</b></nobr>\n                        </td>\n                        <td style=\"text-align:center;vertical-align:top\">\n                            <nobr><h4 style=\"color:red\"><b><b>{{ferias.data_limite}}</b></h4></nobr>\n                        </td>\n                    </tr>\n                    {{/ferias_vencidas}}\n                {{#ferias_vencidas.length}}\n                </table>\n                {{/ferias_vencidas.length}}\n            </div>\n            <div class=\"col-sm-1\"></div>\n        </div>\n    </div>\n\n</body>\n</html>\n","x":790,"y":1220,"wires":[["c0615e87.4ce2d","383928be.1c6208"]]},{"id":"67279632.816fb8","type":"mongodb in","z":"c887d9a.5ebdb28","service":"_ext_","mongodb":"258dcda0.cc5e32","name":"list","collection":"ferias","operation":"find","x":390,"y":1220,"wires":[["76c71a17.870474"]]},{"id":"76c71a17.870474","type":"function","z":"c887d9a.5ebdb28","name":"filtro","func":"var moment = global.get('moment');\n\nmoment.locale('pt-BR');\n\nfunction getEmpresa(id) {\n    switch(id) {\n    case 1:\n        return \"ALTAMIRA\";\n    case 2:\n        return \"TECNEQUIP\";\n    case 3:\n        return \"MAXMIRA\";\n    }\n}\n\nvar start_dead_line = moment().add('month', 1).startOf('month').hours(0).minutes(0).seconds(0).milliseconds(0);\nvar end_dead_line = moment().add('month', 1).endOf('month').hours(0).minutes(0).seconds(0).milliseconds(0);\n\nmsg.topic = \"Férias a vencer no mês de \" + start_dead_line.format('MMMM') + ' (' + start_dead_line.format('L') + ' a ' + end_dead_line.format('L') + ')';\nmsg.from = 'sistema@altamira.com.br';\n\nvar ferias_vencer = [];\n\nvar ferias_vencidas = [];\n\nfor(i = 0; i < msg.payload.length; i++) {\n    for (z = 0; z < msg.payload[i].ferias.length; z++) {\n        if (moment(msg.payload[i].ferias[z].aquisicao_inicial) >= start_dead_line &&\n            moment(msg.payload[i].ferias[z].aquisicao_inicial) <= end_dead_line) {\n            delete msg.payload[i].ferias[z].dias_adquiridos;\n            ferias_vencer.push({\n                _id: msg.payload[i]._id,\n                empresa: getEmpresa(msg.payload[i].empresa),\n                matricula: msg.payload[i].matricula,\n                pis: msg.payload[i].pis,\n                nome: msg.payload[i].nome,\n                data_admissao: moment(msg.payload[i].data_admissao).format('L'),\n                ferias: {\n                    aquisicao_inicial: moment(msg.payload[i].ferias[z].aquisicao_inicial).format('L'),\n                    aquisicao_final: moment(msg.payload[i].ferias[z].aquisicao_final).format('L'),\n                    data_limite: moment(msg.payload[i].ferias[z].data_limite).format('L'),\n                    dias_direito: msg.payload[i].ferias[z].dias_direito,\n                    dias_saldo: msg.payload[i].ferias[z].dias_saldo,\n                    dias_adquirido_total: msg.payload[i].ferias[z].dias_adquirido_total\n                }\n            });\n        }\n    }    \n}\n\nfor(i = 0; i < msg.payload.length; i++) {\n    for (z = 0; z < msg.payload[i].ferias.length; z++) {\n        if (moment(msg.payload[i].ferias[z].data_limite) >= start_dead_line && \n            moment(msg.payload[i].ferias[z].data_limite) <= end_dead_line) {\n            delete msg.payload[i].ferias[z].dias_adquiridos;\n            ferias_vencidas.push({\n                _id: msg.payload[i]._id,\n                empresa: getEmpresa(msg.payload[i].empresa),\n                matricula: msg.payload[i].matricula,\n                pis: msg.payload[i].pis,\n                nome: msg.payload[i].nome,\n                data_admissao: moment(msg.payload[i].data_admissao).format('L'),\n                ferias: {\n                    aquisicao_inicial: moment(msg.payload[i].ferias[z].aquisicao_inicial).format('L'),\n                    aquisicao_final: moment(msg.payload[i].ferias[z].aquisicao_final).format('L'),\n                    data_limite: moment(msg.payload[i].ferias[z].data_limite).format('L'),\n                    dias_direito: msg.payload[i].ferias[z].dias_direito,\n                    dias_saldo: msg.payload[i].ferias[z].dias_saldo,\n                    dias_adquirido_total: msg.payload[i].ferias[z].dias_adquirido_total\n                }\n            });\n        }\n    }    \n}\n\nmsg.ferias_vencer = ferias_vencer;\nmsg.ferias_vencidas = ferias_vencidas;\n\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":1220,"wires":[["c92120b0.f4d39"]]},{"id":"ed831528.e8fc88","type":"comment","z":"c887d9a.5ebdb28","name":"Calcula próximos venctos","info":"Calcula próximos venctos\n\nCalcula os próximos vencimentos de férias até a data presente.","x":150,"y":1300,"wires":[]},{"id":"a772b7ed.ad4d88","type":"inject","z":"c887d9a.5ebdb28","name":"","topic":"Férias a vencer","payload":"Notificar venctos de férias","payloadType":"str","repeat":"","crontab":"","once":false,"x":110,"y":1340,"wires":[["fa1113c9.4c5ba"]]},{"id":"f00253e2.b3bdf","type":"function","z":"c887d9a.5ebdb28","name":"calculo","func":"if (msg.payload.ferias &&  msg.payload.ferias.length > 0) {\n    for(i = 0; i < msg.payload.ferias.length; i++) {\n        msg.payload.ferias[i].dias_adquirido_total = msg.payload.ferias[i].dias_adquirido.length || 0;\n        msg.payload.ferias[i].dias_saldo = 30 - (msg.payload.ferias[i].dias_adquirido.length || 0);\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":460,"wires":[["c28b2041.e5137"]]},{"id":"c0615e87.4ce2d","type":"e-mail","z":"c887d9a.5ebdb28","server":"smtp.gmail.com","port":"465","name":"alessandro.holanda@altamira.com.br","dname":"admin","x":970,"y":1240,"wires":[]},{"id":"fded1e27.4a487","type":"http in","z":"c887d9a.5ebdb28","name":"","url":"/rh/ferias/antigo","method":"get","swaggerDoc":"","x":140,"y":1000,"wires":[["8b87d46b.b2b8a8"]]},{"id":"8b87d46b.b2b8a8","type":"template","z":"c887d9a.5ebdb28","name":"calendario","field":"payload","fieldType":"msg","format":"html","syntax":"plain","template":"\n<!DOCTYPE html>\n<html>\n    <head>\n        <meta charset=\"utf-8\">\n        <title>Controle de Férias</title>\n        \n        <link href='https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en' rel='stylesheet' type='text/css'>\n        <link href='/rh/ferias/css/style.css' rel='stylesheet' type='text/css'>\n    \n    </head>\n    <body>\n    \n        <div class=\"header\">\n          <!--<div><span>2016</span></div>\n          <div><span>12 de Julho</span></div>-->\n        </div>\n        <div id=\"container_left\" class=\"container\"></div>\n        <div id=\"container_right\" class=\"container\"></div>\n\n        <script type=\"text/javascript\" src=\"http://momentjs.com/downloads/moment-with-locales.js\"></script>\n        <script type=\"text/javascript\" src=\"/rh/ferias/js/script.js\"></script>\n    \n    </body>\n</html>\n","x":610,"y":1000,"wires":[["45ab5e8a.05d2c"]]},{"id":"45ab5e8a.05d2c","type":"http response","z":"c887d9a.5ebdb28","name":"","x":970,"y":1000,"wires":[]},{"id":"6b605ade.3845a4","type":"http in","z":"c887d9a.5ebdb28","name":"","url":"/rh/ferias/antigo/js/script.js","method":"get","swaggerDoc":"","x":170,"y":1040,"wires":[["e4da9cd.94f926"]]},{"id":"e4da9cd.94f926","type":"template","z":"c887d9a.5ebdb28","name":"script.js","field":"payload","fieldType":"msg","format":"html","syntax":"plain","template":"function get(year, month, day, callback) {\n    var xmlhttp = new XMLHttpRequest();\n\n    xmlhttp.onreadystatechange = function() {\n        if (xmlhttp.readyState == XMLHttpRequest.DONE ) {\n           if (xmlhttp.status == 200) {\n               callback(JSON.parse(xmlhttp.responseText));\n           }\n           else if (xmlhttp.status == 400) {\n              alert('There was an error 400');\n           }\n           else {\n               alert('something else other than 200 was returned');\n           }\n        }\n    };\n\n    xmlhttp.open(\"GET\", \"http://sistema/api/rh/ferias/list/\", true);\n    xmlhttp.send();\n}\n\nfunction list(calendar, year, month, day) {\n  //alert('Day click: ' + year + ',' + month + ',' + day + ',\\n' + element.innerHTML);\n  \n  var list = document.createDocumentFragment();\n  \n  var header = list.appendChild(document.createElement('div'));\n  header.classList.add('list');\n  \n  var close = header.appendChild(document.createElement('div'));\n  close.classList.add('close');\n  var label = document.createElement('p');\n  label.innerHTML = \"X\";\n  close.appendChild(label);\n  close.addEventListener(\"click\", function() { \n    calendar.classList.remove('hide');\n    this.parentElement.parentElement.removeChild(this.parentElement.parentElement.children[1]);\n  });\n  \n  var items = list.appendChild(document.createElement('ul'));\n  get(year, month, day, function(data) {\n    for (i = 0; i < data.length; i++) {\n      var item = items.appendChild(document.createElement('li'));  \n      item.innerHTML = data[i].nome;\n    }\n  });\n\n  calendar.parentElement.appendChild(list);\n  \n  calendar.classList.add('hide');\n  \n}\n\nfunction calendar(month) {\n\n  var container = document.createDocumentFragment();\n\n  var calendar = container.appendChild(document.createElement('div'));\n  calendar.classList.add('calendar');\n\n  /* calendar header */\n  var today = calendar.appendChild(document.createElement('div'));\n  today.classList.add('today');\n  today.innerHTML = month.format('MMMM YYYY');\n\n  /* calendar body */\n  var weekdays = calendar.appendChild(document.createElement('div'));\n  weekdays.classList.add('weekdays');\n\n  for (d = 0; d < 7; d++) {\n    weekdays.appendChild(document.createElement('div')).classList.add('gap');\n    var weekday = weekdays.appendChild(document.createElement('div'));\n    weekday.classList.add('weekday');\n    var label = document.createElement('p');\n    label.innerHTML = month.weekday(d).format('dd').substr(0, 1);\n    weekday.appendChild(document.createElement('div')).appendChild(label);\n  }\n  weekdays.appendChild(document.createElement('div')).classList.add('gap');\n\n  var body = calendar.appendChild(document.createElement('div'));\n  body.classList.add('body');\n\n  // set first day of month\n  month.date(1);\n  var firstDayOfMonth = month.weekday();\n\n  var days = body.appendChild(document.createElement('div'));\n  days.classList.add('days');\n\n  // calendar offset\n  for (i = 0; i < 7; i++) {\n\n    days.appendChild(document.createElement('div')).classList.add('gap');\n    var day = days.appendChild(document.createElement('div'));\n    day.classList.add('cell');\n\n    var label = document.createElement('p');\n    day.appendChild(document.createElement('div')).appendChild(label);\n\n    if (i == month.weekday()) {\n\n      label.innerHTML = month.date();\n\n      var now = moment();\n      if (month.year() == now.year() &&\n        month.month() == now.month() &&\n        month.date() == now.date()) {\n        day.classList.add('selected');\n      }\n      if (month.date() % 5 === 0) {\n        day.classList.add('warning');\n      }\n      if (month.date() % 9 === 0) {\n        day.classList.add('critical');\n      }\n      if (month.date() % 27 === 0) {\n        day.classList.add('deadline');\n      }\n\n      if (month.weekday() == 0 || month.weekday() == 6) {\n        day.classList.add('weekend');\n      } else {\n        day.classList.add('day');\n      }\n\n      month.add(1, 'day');\n    }\n  }\n\n  days.appendChild(document.createElement('div')).classList.add('gap');\n\n  var currentMonth = month.month();\n\n  for (r = 0; r < 5; r++) {\n\n    var days = body.appendChild(document.createElement('div'));\n    days.classList.add('days');\n\n    for (i = 0; i < 7; i++) {\n\n      days.appendChild(document.createElement('div')).classList.add('gap');\n      var day = days.appendChild(document.createElement('div'));\n      day.classList.add('cell');\n\n      if (month.month() == currentMonth) {\n        var label = document.createElement('p');\n        day.appendChild(document.createElement('div')).appendChild(label);\n\n        label.innerHTML = month.date();\n\n        var now = moment();\n        if (month.year() == now.year() &&\n          month.month() == now.month() &&\n          month.date() == now.date()) {\n          day.classList.add('selected');\n        }\n        if (month.date() % 5 === 0) {\n          day.classList.add('warning');\n        }\n        if (month.date() % 9 === 0) {\n          day.classList.add('critical');\n        }\n        if (month.date() % 27 === 0) {\n          day.classList.add('deadline');\n        }\n\n        if (month.weekday() == 0 || month.weekday() == 6) {\n          day.classList.add('weekend');\n        } else {\n          day.classList.add('day');\n        }\n\n        //day.addEventListener(\"click\", function(){ dayclick(this); });\n        day.addEventListener(\"click\", new Function( 'list(' + 'this.parentElement.parentElement.parentElement,' + month.year() + ',' + (month.month() + 1) + ',' + month.date() + ');' ));\n        \n        month.add(1, 'day');\n      }\n    }\n    days.appendChild(document.createElement('div')).classList.add('gap');\n  }\n\n  return calendar;\n}\n\n(function() {\n  moment.updateLocale((window.navigator.userLanguage || window.navigator.language).toLowerCase(), {\n    weekdaysMin: [\"D\", \"S\", \"T\", \"Q\", \"Q\", \"S\", \"S\"]\n  });\n  var c1 = moment();\n  moment.locale((window.navigator.userLanguage || window.navigator.language).toLowerCase());\n\n  var calendar1 = this.calendar(c1);\n  //document.body.appendChild(calendar);\n  document.getElementById('container_left').appendChild(calendar1);\n\n  var calendar2 = this.calendar(c1);\n  document.getElementById('container_right').appendChild(calendar2);\n})();","x":600,"y":1040,"wires":[["94cc6c58.89236"]]},{"id":"94cc6c58.89236","type":"http response","z":"c887d9a.5ebdb28","name":"","x":970,"y":1040,"wires":[]},{"id":"d3df4da8.71844","type":"http in","z":"c887d9a.5ebdb28","name":"","url":"/rh/ferias/antigo/css/style.css","method":"get","swaggerDoc":"","x":180,"y":1080,"wires":[["648dc6bd.3906e8"]]},{"id":"648dc6bd.3906e8","type":"template","z":"c887d9a.5ebdb28","name":"style.css","field":"payload","fieldType":"msg","format":"html","syntax":"plain","template":"/*\n*,\n*:before,\n*:after {\n  -webkit-box-sizing: border-box;\n  -moz-box-sizing: border-box;\n  box-sizing: border-box;\n}\n*/\n\nhtml {\n  padding-top: 0px;\n  padding-left: 20px;\n  padding-right: 20px;\n  padding-bottom: 0px;\n}\n\nbody {\n  font-family: \"Roboto\", \"Helvetica\", \"Arial\", sans-serif !important;\n  display: flex;\n  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);\n}\n\n.hide {\n  display: none;\n}\n\n/********************* common *********************/\n.header {\n  width: 10%;\n  background-color: #009688;\n  color: white;\n  font-size: 1.4em;\n  pading: 10px;\n  margin: 0;\n  display: block;\n}\n\n.header:after div {\n  content: \"\";\n  width: 100%;\n  background-color: #009688;\n  color: white;\n  font-size: 1.4em;\n  pading: 10px;\n  margin: 0;\n  display: block;\n  /* Rotate div */\n  -ms-transform: rotate(-90deg); /* IE 9 */\n  -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */\n  transform: rotate(-90deg);\n  align: right;\n}\n\n.container {\n  min-width: 400px;\n  width: 35%;\n  vertical-align: top;\n  display: inline-block;\n  margin: 5%;\n  min-height: 550px;\n}\n\n/********************* calendar *********************/\n.calendar {\n  min-width: 360px;  \n  /*border: 1px dashed red;*/\n}\n\n.today {  \n  text-align: center;\n  font-size: 2.3em;\n  font-weight: 400;\n  line-height: 20px; \n  /*border: 1px dashed red;*/\n}\n\n.weekdays {\n  margin-top: 40px;\n  display: flex;\n}\n\n.weekday {  \n  width: 100%;\n  padding: 2%;\n  margin-bottom: 0%;\n  /*border: 1px solid red;*/\n}\n\n.weekday div {\n  float: left;\n  width: 100%;\n  padding-top: 10%;\n  line-height: 0.8em;\n  margin-top: -2.7em;\n  text-align: center;\n  color: rgba(0, 0, 0, 0.87);\n  font-weight: bold;\n}\n\n.weekday p {\n  text-align: center;\n  font-size: 1.6em;\n}\n\n.days {\n  display: flex;\n  /*border: 1px solid blue;*/\n}\n\n.cell.day div {  \n  cursor: pointer;\n}\n\n.cell.weekend div {\n  color: gray;\n  cursor: pointer;\n}\n\n.gap {\n  width: 12.5%;\n}\n\n.cell {\n  width: 100%;\n  /*background-color: lightgray;*/\n}\n\n.cell:after {\n  content: \"\";\n  display: block;\n  width: 100%;\n  height: 0;\n  padding-bottom: 100%;  \n  -moz-border-radius: 50%;\n  -webkit-border-radius: 50%;\n  border-radius: 50%;\n  \n  /*border: 1px dashed gray;*/\n}\n\n.weekend:hover:after,\n.day:hover:after {\n  background-color: #009688;\n  /*border: 5px solid #009688;*/\n}\n\n.selected:after {\n  background-color: #009688;\n}\n\n.warning:after {\n  background-color: #FF9800;\n  /*border: 3px solid #FF9800;*/\n}\n\n.critical:after {\n  background-color: #D32F2F;\n}\n\n.deadline:after {\n  background-color: #727272;\n}\n\n.selected div p,\n.warning div p,\n.critical div p,\n.deadline div p {\n  color: white;\n}\n\n.weekend:hover div p,\n.day:hover div p {\n  color: white;\n}\n\n.cell div {\n  float: left;\n  width: 100%;\n  padding-top: 50%;\n  line-height: 1.8em;\n  margin-top: -2.6em;\n  text-align: center;\n  color: rgba(0, 0, 0, 0.87);\n  font-weight: bold;\n  /*border: 1px dashed blue;*/\n}\n\n.cell p {\n  text-align: center;\n  font-size: 1.8em;\n}\n\n/********************* list *********************/\n\n.list {\n  border: 1px solid #009688;\n  vertical-align: top;\n  min-width: 360px;  \n}\n\n.close {\n  cursor: pointer;\n  border-radius: 50%;\n  \n}\n\n.close:after {\n  content: \"\";\n  /*background-color: white;*/\n  border-radius: 50%;  \n}","x":600,"y":1080,"wires":[["254be691.a5490a"]]},{"id":"da2d7b6c.1505c8","type":"http response","z":"c887d9a.5ebdb28","name":"","x":970,"y":1080,"wires":[]},{"id":"254be691.a5490a","type":"function","z":"c887d9a.5ebdb28","name":"text/css","func":"msg.headers = { \"Content-type\" : \"text/css\" }\n         \nreturn msg;","outputs":1,"noerr":0,"x":800,"y":1060,"wires":[["da2d7b6c.1505c8"]]},{"id":"d9c2f38.665411","type":"debug","z":"c887d9a.5ebdb28","name":"vertex('rh.ferias') CRIADO","active":true,"console":"false","complete":"true","x":1900,"y":2200,"wires":[]},{"id":"fa1113c9.4c5ba","type":"function","z":"c887d9a.5ebdb28","name":"list","func":"var uuid = global.get('uuid');\nvar aws = global.get('aws');\n\naws.config.update({ \n    region: 'us-east-1',\n    accessKeyId: 'AKIAITORMWJYRXO2X6VQ', \n    secretAccessKey: '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' \n});\n\nvar dynamodb = new aws.DynamoDB.DocumentClient();\n\nvar params = {\n    TableName: \"nodes\",\n    ProjectionExpression: \"#id, pis, nome\",\n    FilterExpression: \"#yr = :id\",\n    ExpressionAttributeNames: {\n        \"#id\": \"id\",\n    },\n    ExpressionAttributeValues: {\n         \":id\": 1950\n    }\n};\n\nconsole.log(\"Scanning Movies table.\");\ndocClient.scan(params, onScan);\n\nfunction onScan(err, data) {\n    if (err) {\n        console.error(\"Unable to scan the table. Error JSON:\", JSON.stringify(err, null, 2));\n    } else {\n        // print all the movies\n        console.log(\"Scan succeeded.\");\n        data.Items.forEach(function(movie) {\n           console.log(\n                movie.year + \": \",\n                movie.title, \"- rating:\", movie.info.rating);\n        });\n\n        // continue scanning if we have more movies\n        if (typeof data.LastEvaluatedKey != \"undefined\") {\n            console.log(\"Scanning for more...\");\n            params.ExclusiveStartKey = data.LastEvaluatedKey;\n            docClient.scan(params, onScan);\n        }\n    }\n}","outputs":1,"noerr":0,"x":390,"y":1340,"wires":[[]]},{"id":"6452d37e.0960ac","type":"function","z":"c887d9a.5ebdb28","name":"list","func":"//var moment = global.get('moment');\n//var uuid = global.get('uuid');\nvar aws = global.get('aws');\n//var async = global.get('async');\n\naws.config.update(flow.get('config').credentials);\n\nvar dynamodb = new aws.DynamoDB.DocumentClient();\n\n/*var params = {\n    TableName : \"graphdb\",\n    IndexName: \"type-id-index\",\n    KeyConditionExpression: \"type = :v_type\",\n    ExpressionAttributeValues: {\n        \":v_type\": \"vertex:rh.funcionario\"\n    },\n    ProjectionExpression: \"id, type, pis, nome\",\n    ScanIndexForward: false\n};*/\n\nvar params = {\n    TableName: \"graphdb\",\n    IndexName: \"type-id-index\",\n    KeyConditions: {\n        type: {\n            AttributeValueList: {\n                S: \"vertex:rh.funcionario\"\n            },\n            ComparisonOperator: \"EQ\"\n        }\n\n    },\n    \"Limit\": msg.limit\n}\n\nvar result = function(err, data) {\n    if (err) {\n        node.error(\"Unable to query. Error:\", JSON.stringify(err, null, 2));\n    } else {\n        console.log(\"Query succeeded.\");\n        this.payload = data.Items;\n        this.count = data.Count;\n        node.send(this);\n    }\n}\n\ndynamodb.query(params, result.bind(msg));\n","outputs":1,"noerr":0,"x":690,"y":620,"wires":[["a28fbdde.8dd09"]]},{"id":"d4b5a6a0.f502e8","type":"mongodb in","z":"c887d9a.5ebdb28","service":"_ext_","mongodb":"258dcda0.cc5e32","name":"list","collection":"ferias","operation":"find","x":610,"y":340,"wires":[["17882311.03c5dd"]]},{"id":"46e3734d.d6ec9c","type":"http in","z":"c887d9a.5ebdb28","name":"","url":"/api/rh/old/funcionarios2","method":"get","swaggerDoc":"","x":160,"y":620,"wires":[["5aaaf5fb.a11c9c"]]},{"id":"a28fbdde.8dd09","type":"http response","z":"c887d9a.5ebdb28","name":"","x":970,"y":620,"wires":[]},{"id":"5aaaf5fb.a11c9c","type":"function","z":"c887d9a.5ebdb28","name":"params","func":"msg.limit = msg.payload.per_page || 10;\nmsg.skip = ((msg.payload.page || 1) - 1) * (msg.payload.per_page || 1);\nmsg.payload = {}\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":620,"wires":[["6452d37e.0960ac"]]},{"id":"cf0a9641.f8d7c8","type":"http in","z":"c887d9a.5ebdb28","name":"","url":"/api/rh/old/funcionario2/:id","method":"get","swaggerDoc":"","x":170,"y":660,"wires":[["d00f1c09.82203"]]},{"id":"f9f31f23.4afc2","type":"http in","z":"c887d9a.5ebdb28","name":"","url":"/api/rh/old/funcionario2","method":"post","swaggerDoc":"","x":160,"y":700,"wires":[["c83d0144.69353"]]},{"id":"7fc4176e.11a998","type":"http response","z":"c887d9a.5ebdb28","name":"","x":970,"y":700,"wires":[]},{"id":"944c5beb.d6b608","type":"comment","z":"c887d9a.5ebdb28","name":"API usando DynamoDB","info":"","x":140,"y":580,"wires":[]},{"id":"d00f1c09.82203","type":"function","z":"c887d9a.5ebdb28","name":"params","func":"msg.payload = msg.req.params.id;\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":660,"wires":[["423d2841.b03c38"]]},{"id":"522f43cf.441ecc","type":"http response","z":"c887d9a.5ebdb28","name":"","x":970,"y":660,"wires":[]},{"id":"423d2841.b03c38","type":"function","z":"c887d9a.5ebdb28","name":"find","func":"var aws = global.get('aws');\n\naws.config.update(flow.get('config').credentials);\n\nvar dynamodb = new aws.DynamoDB.DocumentClient();\n\n/*var params = {\n    TableName : \"graphdb\",\n    IndexName: \"type-id-index\",\n    KeyConditionExpression: \"type = :v_type\",\n    ExpressionAttributeValues: {\n        \":v_type\": \"vertex:rh.funcionario\"\n    },\n    ProjectionExpression: \"id, type, pis, nome\",\n    ScanIndexForward: false\n};*/\n\nvar params = {\n    TableName: 'graphdb',\n    Key:{\n        id: msg.payload.toString(),\n        type: \"vertex:rh.funcionario\"\n    }\n};\n\nvar result = function(err, data) {\n    if (err) {\n        node.error(\"Unable to query. Error:\", JSON.stringify(err, null, 2));\n    } else {\n        console.log(\"Query succeeded.\");\n        this.payload = data.Item;\n        this.count = data.Count;\n        node.send(this);\n    }\n}\n\ndynamodb.get(params, result.bind(msg));\n","outputs":1,"noerr":0,"x":690,"y":660,"wires":[["522f43cf.441ecc"]]},{"id":"c83d0144.69353","type":"function","z":"c887d9a.5ebdb28","name":"save","func":"var moment = global.get('moment');\nvar uuid = global.get('uuid');\nvar aws = global.get('aws');\n\naws.config.update(flow.get('config').credentials);\n\nvar dynamodb = new aws.DynamoDB.DocumentClient();\n\nmsg.payload.id = msg.payload.id ? msg.payload.id : uuid.v1();\nmsg.payload.type = 'vertex:rh.funcionario';\n\nmsg.payload.demissao = msg.payload.demissao == undefined || msg.payload.demissao.length === 0 ? null : msg.payload.demissao;\n\nvar params = {\n    TableName : 'graphdb',\n    Item: {\n        id: msg.payload.id.toString(),\n        type: msg.payload.type.toString(),\n        pis: msg.payload.pis.toString(),\n        matricula: msg.payload.matricula.toString(),\n        empresa: msg.payload.empresa.toString(),\n        nome: msg.payload.nome.toString(),\n        admissao: moment(msg.payload.admissao).utc().format(),\n        demissao: msg.payload.demissao === null ? null : moment(msg.payload.demissao).utc().format()\n    }\n}\n\nvar result = function(err, data) {\n    if (err) {\n        node.error(err);\n    } else {\n        node.send(this);\n    }\n}\n\ndynamodb.put(params, result.bind(msg));\n","outputs":1,"noerr":0,"x":690,"y":700,"wires":[["7fc4176e.11a998","dbb0a62f.86fb98"]]},{"id":"3bf8030e.5ba26c","type":"function","z":"c887d9a.5ebdb28","name":"calculo","func":"if (msg.payload.ferias &&  msg.payload.ferias.length > 0) {\n    for(i = 0; i < msg.payload.ferias.length; i++) {\n        msg.payload.ferias[i].dias_adquirido_total = msg.payload.ferias[i].dias_adquirido.length || 0;\n        msg.payload.ferias[i].dias_saldo = 30 - (msg.payload.ferias[i].dias_adquirido.length || 0);\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":760,"wires":[[]]},{"id":"dbb0a62f.86fb98","type":"debug","z":"c887d9a.5ebdb28","name":"","active":true,"console":"false","complete":"false","x":930,"y":740,"wires":[]},{"id":"4f49b959.5db548","type":"inject","z":"c887d9a.5ebdb28","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":110,"y":1620,"wires":[["c3cd063e.ef91d8"]]},{"id":"c3cd063e.ef91d8","type":"MSSQL","z":"c887d9a.5ebdb28","mssqlCN":"2461fe59.631282","name":"empresa","query":"SELECT DISTINCT \n\t[emp_codigo]\t\tAS 'id.cod.codigo'\n\t,[emp_cgc]\t\t\tAS 'id.gov.br.cnpj'\n\t,[emp_descricao]\tAS 'id.nom.nome'\n\t,[emp_endereco]\t\tAS 'loc.geo.br.endereco'\n\t,[emp_bairro]\t\tAS 'loc.geo.br.bairro'\n\t,[emp_cidade]\t\tAS 'loc.geo.br.cidade'\n\t,[emp_estado]\t\tAS 'loc.geo.br.estado'\n\t,[emp_cep]\t\t\tAS 'loc.geo.br.cep'\n\t,[emp_inscricao_estadual]\tAS 'id.gov.br.ie'\n\t,[emp_cei]\t\t\tAS 'id.gov.br.cei'\n\t,[emp_tipo_de_empresa]\tAS 'cla.tipo.empresa.porte'\n\t,[emp_atividade_economica]\tAS 'cla.gov.br.cnae'\nFROM [FLEXTIME].[dbo].[cademp]\n{{#payload}}\nWHERE [emp_codigo] = {{{payload}}}\n{{/payload}}","outField":"payload","x":140,"y":1680,"wires":[["a04b6298.431e6"]]},{"id":"a04b6298.431e6","type":"split","z":"c887d9a.5ebdb28","name":"","splt":"","x":290,"y":1680,"wires":[["c9f58488.aabaf8"]]},{"id":"fc225343.8a071","type":"function","z":"c887d9a.5ebdb28","name":"vertex('org.empresa').has('cnpj', payload.cnpj, FIND_FIRST)","func":"var uuid = global.get('uuid');\nvar aws = global.get('aws');\nvar async = global.get('async');\n\naws.config.update(flow.get('config').credentials);\n\nvar dynamodb = new aws.DynamoDB.DocumentClient();\n\nvar params = {\n    TableName: \"graphdb\",\n    IndexName: \"type-index\",\n    KeyConditionExpression: \"#t = :t\",   \n    ExpressionAttributeNames: {\n        \"#t\": \"type\",\n        \"#k_cnpj\": 'value'\n    },\n    ExpressionAttributeValues: { \n        \":t\": \"a:id.gov.br.cnpj:cnpj\",\n        \":v_cnpj\": msg.payload['id.gov.br.cnpj:cnpj'].value.toString()\n    },\n    FilterExpression: \"#k_cnpj = :v_cnpj\",\n    ExclusiveStartKey: msg.ExclusiveStartKey || null,\n    Limit: flow.get('config').limit || 1\n}\n\nvar result = function(err, data) {\n    console.log(data)\n    if (err) {\n        node.status({fill:\"red\",shape:\"ring\",text:\"query error\"});\n        node.error(\"Unable to query. Error:\", JSON.stringify(err, null, 2));\n    } else {\n        console.log(\"Query succeeded.\");\n        node.status({fill:\"green\",shape:\"dot\",text:\"Query succeeded. Loop: \" + (msg.loop || 0) + \", Count: \" + (msg.count || 0)});\n        \n        msg.count = msg.count + data.Count || data.Count\n        msg.ExclusiveStartKey = data.LastEvaluatedKey || null;\n        \n        node.send([\n            data.Count > 0 || (data.LastEvaluatedKey === undefined || data.LastEvaluatedKey === null) ? null : this, // FIND_FIRST\n            data.Count > 0 ? { payload: data.Items } : null, \n            (data.LastEvaluatedKey === undefined || data.LastEvaluatedKey === null) && msg.count === 0 ? this : null\n        ]);\n    }\n}\n\ndynamodb.query(params, result.bind(msg));\n","outputs":"3","noerr":0,"x":760,"y":1680,"wires":[["3e581686.2d844a","57a76d56.8b0b44"],["efd8d518.6c90d8"],["1d42e4f6.d544cb","363df001.5252a"]]},{"id":"363df001.5252a","type":"function","z":"c887d9a.5ebdb28","name":"vertex.add('org.empresa')","func":"var moment = global.get('moment');\nvar uuid = global.get('uuid');\nvar aws = global.get('aws');\nvar async = global.get('async');\n\naws.config.update(flow.get('config').credentials);\n\nvar dynamodb = new aws.DynamoDB.DocumentClient();\n\nvar result = function(err, data) {\n    if (err) {\n        node.error(err);\n    } else {\n        node.send(this);\n    }\n}\n\nvar empresa = {\n    id: uuid.v4(),\n    type: 'v:r.org.com.br.empresa'\n}\n\nvar params = {\n    TableName : 'graphdb',\n    Item: empresa\n}\n\ndynamodb.put(params, result.bind({payload: empresa}));\n\nObject.map = function(o, f, ctx) {\n    ctx = ctx || this;\n    var result = {};\n    Object.keys(o).forEach(function(k) {\n        result[k] = f.call(ctx, o[k], k, o); \n    });\n    return result;\n}\n\nr = Object.map(msg.payload, function(attr, k, o) {\n    \n    attr.id = empresa.id;\n    attr.type = 'a:' + k;\n    \n    var params = {\n        TableName : 'graphdb',\n        Item: attr\n    }\n    \n    dynamodb.put(params, result.bind({payload: attr}));\n     node.send({payload: attr})\n  });\n\n\n\n","outputs":1,"noerr":0,"x":1300,"y":1720,"wires":[["f2d9e3a.a98aa2"]]},{"id":"f2d9e3a.a98aa2","type":"debug","z":"c887d9a.5ebdb28","name":"vertex('org.empresa') CRIADO","active":true,"console":"false","complete":"payload","x":1630,"y":1720,"wires":[]},{"id":"6d0b2113.32e6d","type":"debug","z":"c887d9a.5ebdb28","name":"vertex('org.empresa') EXISTE","active":true,"console":"false","complete":"payload","x":1310,"y":1660,"wires":[]},{"id":"a2d65547.56cfb8","type":"function","z":"c887d9a.5ebdb28","name":"vertex('rh.funcionario').has('pis', payload.pis, FIND_FIRST)","func":"var uuid = global.get('uuid');\nvar aws = global.get('aws');\nvar async = global.get('async');\n\naws.config.update(flow.get('config').credentials);\n\nvar dynamodb = new aws.DynamoDB.DocumentClient();\n\nvar params = {\n    TableName: \"graphdb\",\n    IndexName: \"type-path-index\",\n    KeyConditionExpression: \"#t = :t\",   \n    ExpressionAttributeNames: {\n        \"#k_type\": \"type\",\n        \"#k_pis\": 'value'\n    },\n    ExpressionAttributeValues: { \n        \":v_type\": \"a:id.gov.br.pis:pis\",\n        \":v_pis\": msg.payload['id.gov.br.pis:pis'].value.toString()\n    },\n    ProjectionExpression: \"id\",\n    FilterExpression: \"#k_pis = :v_pis\",\n    ExclusiveStartKey: msg.ExclusiveStartKey || null,\n    Limit: flow.get('config').limit || 1\n}\n\nvar result = function(err, data) {\n    console.log(data)\n    if (err) {\n        node.status({fill:\"red\",shape:\"ring\",text:\"query error\"});\n        node.error(\"Unable to query. Error:\", JSON.stringify(err, null, 2));\n    } else {\n        console.log(\"Query succeeded.\");\n        node.status({fill:\"green\",shape:\"dot\",text:\"Query succeeded. Loop: \" + (msg.loop || 0) + \", Count: \" + (msg.count || 0)});\n        \n        msg.count = msg.count + data.Count || data.Count\n        msg.ExclusiveStartKey = data.LastEvaluatedKey || null;\n        \n        node.send([\n            data.Count > 0 || (data.LastEvaluatedKey === undefined || data.LastEvaluatedKey === null) ? null : this, // FIND_FIRST\n            data.Count > 0 ? { payload: data.Items } : null, \n            (data.LastEvaluatedKey === undefined || data.LastEvaluatedKey === null) && msg.count === 0 ? this : null\n        ]);\n    }\n}\n\ndynamodb.query(params, result.bind(msg));\n","outputs":"3","noerr":0,"x":760,"y":1900,"wires":[["9f01aaa3.65ea38"],["d69e0881.d1b8b8"],["72193445.7afcec","f92cdf0.3bb4d2"]]},{"id":"f5ce43c3.d4b7c","type":"debug","z":"c887d9a.5ebdb28","name":"vertex('rh.funcionario') EXISTE","active":true,"console":"false","complete":"true","x":1310,"y":1900,"wires":[]},{"id":"85d57e1d.4d164","type":"function","z":"c887d9a.5ebdb28","name":"delay","func":"setTimeout(function() {\n    node.send(msg);\n}, 150 * msg.payload.codigo);\n","outputs":1,"noerr":0,"x":1550,"y":1680,"wires":[[]]},{"id":"dd6c4322.fc643","type":"function","z":"c887d9a.5ebdb28","name":"edge.add('rh.funcionario')[]","func":"var moment = global.get('moment');\nvar uuid = global.get('uuid');\nvar aws = global.get('aws');\nvar async = global.get('async');\n\naws.config.update(flow.get('config').credentials);\n\nvar dynamodb = new aws.DynamoDB.DocumentClient();\n\nvar params = {\n    TableName : 'graphdb',\n    Item: {\n        id: msg.payload.id,\n        type: 'edge:rh.funcionario',\n        vertex: []\n    }\n}\n\nvar result = function(err, data) {\n    if (err) {\n        node.error(err);\n    } else {\n        node.send(this);\n    }\n}\n\nvar ret = dynamodb.put(params, result.bind(msg));\n","outputs":1,"noerr":0,"x":1940,"y":2060,"wires":[[]]},{"id":"45b453ef.8c339c","type":"function","z":"c887d9a.5ebdb28","name":"edge.add('rh.funcioario')","func":"var moment = global.get('moment');\nvar uuid = global.get('uuid');\nvar aws = global.get('aws');\nvar async = global.get('async');\n\naws.config.update(flow.get('config').credentials);\n\nvar dynamodb = new aws.DynamoDB.DocumentClient();\n\nvar params = {\n    TableName : 'graphdb',\n    Key: {\n        id:  msg.empresa.id.toString(),\n        type: \"edge:rh.funcionario\"\n    },\n    UpdateExpression : \"SET #attr = list_append(#attr, :val)\",\n    ExpressionAttributeNames : {\n      \"#attr\" : \"vertex\"\n    },\n    ExpressionAttributeValues : {\n      \":val\" : [ msg.payload.id.toString() ]\n    },\n    ReturnValues: 'ALL_NEW'\n}\n\nvar result = function(err, data) {\n    if (err) {\n        node.error(err);\n    } else {\n        node.send(this);\n    }\n}\n\nvar ret = dynamodb.update(params, result.bind(msg));\n","outputs":1,"noerr":0,"x":1390,"y":2160,"wires":[["b702768f.885a08","bb6e009.25ea5"]]},{"id":"72193445.7afcec","type":"debug","z":"c887d9a.5ebdb28","name":"vertex('rh.funcionario') NAO EXISTE, CRIAR","active":true,"console":"false","complete":"true","x":1350,"y":1980,"wires":[]},{"id":"7dba49c9.07a708","type":"function","z":"c887d9a.5ebdb28","name":"edge.add('org.empresa')","func":"var moment = global.get('moment');\nvar uuid = global.get('uuid');\nvar aws = global.get('aws');\n\naws.config.update(flow.get('config').credentials);\n\nvar dynamodb = new aws.DynamoDB.DocumentClient();\n\nvar params = {\n    TableName : 'graphdb',\n    Item: {\n        id: msg.payload.id,\n        type: 'edge:org.empresa',\n        vertex: [ msg.empresa.id ]\n    }\n}\n\nvar result = function(err, data) {\n    if (err) {\n        node.error(err);\n    } else {\n        node.send(this);\n    }\n}\n\nvar ret = dynamodb.put(params, result.bind(msg));\n","outputs":1,"noerr":0,"x":1290,"y":2100,"wires":[["45b453ef.8c339c","9c6088fb.59c368"]]},{"id":"bb6e009.25ea5","type":"function","z":"c887d9a.5ebdb28","name":"vertex.add('rh.ferias')","func":"var moment = global.get('moment');\nvar uuid = global.get('uuid');\nvar aws = global.get('aws');\nvar async = global.get('async');\n\naws.config.update(flow.get('config').credentials);\n\nvar dynamodb = new aws.DynamoDB.DocumentClient();\n\n/** inicializa estrutura de ferias **/ \nvar edges = {\n    id: msg.payload.id, \n    type: \"edge:rh.ferias\", \n    vertex: []\n};\n\nvar aquisicao_inicial = moment(msg.payload.admissao).hours(0).minutes(0).seconds(0).milliseconds(0);\n\nasync.whilst(\n    function() { return aquisicao_inicial < moment() }, \n    function(callback) {\n        var periodo_inicial = aquisicao_inicial.clone();\n        \n        async.waterfall([\n            function(wcallback) {\n                var ferias = {\n                    id: uuid.v1(),\n                    type: 'vertex:rh.ferias',\n                    inicio: periodo_inicial.utc().format(),\n                    termino: periodo_inicial.clone().subtract(1, 'day').add(1, 'years').utc().format(),\n                    limite: periodo_inicial.clone().subtract(1, 'day').add(1, 'years').subtract(1, 'months').format(),\n                    dias: 30,\n                    realizado: periodo_inicial.year() >= 2013 ? false : true\n                }\n                \n                edges.vertex.push(ferias.id);\n                \n                var params = {\n                    TableName : 'graphdb',\n                    Item: ferias\n                }\n                dynamodb.put(params, function(err) {\n                    if (err) {\n                        node.error(err);\n                        wcallback(err);\n                    } else {\n                        wcallback(null, msg, edges, ferias);\n                    }\n                });\n            },\n            function(msg, edges, ferias, wcallback) {\n                var params = {\n                    TableName : 'graphdb',\n                    Item: {\n                        id: ferias.id, \n                        type: 'edge:rh.funcionario', \n                        vertex: [msg.payload.id]\n                    }\n                }\n \n                dynamodb.put(params, function(err) {\n                    if (err) {\n                        node.error(err);\n                        wcallback(err);\n                    } else {\n                        wcallback(null, msg, edges, ferias);\n                    }\n                });\n            }\n        ], function (err, msg, edges, ferias) {\n            if (err) {\n                node.error(err);\n                callback(err);\n            }\n            aquisicao_inicial.add(1, 'years');\n            \n            callback(null, aquisicao_inicial, edges);\n        });\n    \n    },\n    function (err, aquisicao, edges) {\n        if (err) {\n            node.error(err);\n            return;\n        }\n        \n        var params = {\n            TableName : 'graphdb',\n            Item: edges\n        }\n\n        dynamodb.put(params, function(err, data) {\n            if (err) {\n                node.log(err);\n                node.error(err);\n            } else {\n                node.send({payload: 'vertex(\"rh.ferias\") CRIADO'});\n            }\n        });\n\n    }\n);\n\n","outputs":1,"noerr":0,"x":1640,"y":2200,"wires":[["d9c2f38.665411"]]},{"id":"9c6088fb.59c368","type":"debug","z":"c887d9a.5ebdb28","name":"edge('rh.funcionario').to('org.empresa') CRIADO","active":true,"console":"false","complete":"true","x":1630,"y":2100,"wires":[]},{"id":"1e661af4.7a3d65","type":"debug","z":"c887d9a.5ebdb28","name":"vertex('rh.funcionario') CRIADO","active":true,"console":"false","complete":"true","x":1630,"y":1940,"wires":[]},{"id":"b702768f.885a08","type":"debug","z":"c887d9a.5ebdb28","name":"edge('org.empresa').to('rh.funcionario') CRIADO","active":false,"console":"false","complete":"true","x":1730,"y":2160,"wires":[]},{"id":"cb874509.c1d848","type":"inject","z":"c887d9a.5ebdb28","name":"","topic":"","payload":"r.org.empresa","payloadType":"str","repeat":"","crontab":"","once":false,"x":130,"y":2300,"wires":[["e20386be.273df8"]]},{"id":"e20386be.273df8","type":"function","z":"c887d9a.5ebdb28","name":"vertex(payload)","func":"var uuid = global.get('uuid');\nvar aws = global.get('aws');\nvar async = global.get('async');\n\naws.config.update(flow.get('config').credentials);\n\nvar dynamodb = new aws.DynamoDB.DocumentClient();\n\nvar params = {\n    TableName: \"graphdb\",\n    IndexName: \"type-index\",\n    KeyConditionExpression: \"#t = :t\",   \n    ExpressionAttributeNames: {\n        \"#t\": \"type\"\n    },\n    ExpressionAttributeValues: { \n        \":t\": msg.payload\n    },\n    ExclusiveStartKey: msg.ExclusiveStartKey || null,\n    Limit: flow.get('config').limit || 1\n}\n\nvar result = function(err, data) {\n    console.log(data)\n    if (err) {\n        node.status({fill:\"red\",shape:\"ring\",text:\"query error\"});\n        node.error(\"Unable to query. Error:\", JSON.stringify(err, null, 2));\n    } else {\n        console.log(\"Query succeeded.\");\n        node.status({fill:\"green\",shape:\"dot\",text:\"Query succeeded.\"});\n        if (data.Count > 0) {\n            if (data.LastEvaluatedKey) {\n                msg.found = msg.found !== undefined ? msg.found + data.Count : data.Count;\n                msg.ExclusiveStartKey = data.LastEvaluatedKey;\n                node.send([this, { payload: data.Items }, null]);\n            } else {\n                node.send([null, { payload: data.Items }, null]);\n            }\n        } else {\n            node.log(JSON.stringify(data, null, 2));\n            if (data.LastEvaluatedKey) {\n                msg.ExclusiveStartKey = data.LastEvaluatedKey;\n                node.send([this, null, null]);\n            } else {\n                node.send([null, null, this]);\n            }\n        }\n    }\n}\n\ndynamodb.query(params, result.bind(msg));\n","outputs":"3","noerr":0,"x":520,"y":2400,"wires":[["baebe9b3.a8c878"],["55cd9481.96c57c"],["c30f245d.3545d8"]]},{"id":"55cd9481.96c57c","type":"split","z":"c887d9a.5ebdb28","name":"","splt":"","x":730,"y":2400,"wires":[["431a2256.c1b16c"]]},{"id":"c30f245d.3545d8","type":"debug","z":"c887d9a.5ebdb28","name":"vertex(payload) NAO EXISTE","active":true,"console":"false","complete":"payload","x":810,"y":2440,"wires":[]},{"id":"ec73f8fd.e79dd8","type":"debug","z":"c887d9a.5ebdb28","name":"vertex(payload) EXCLUIDO","active":true,"console":"false","complete":"payload","x":1180,"y":2400,"wires":[]},{"id":"431a2256.c1b16c","type":"function","z":"c887d9a.5ebdb28","name":"vertex.del(payload.id)","func":"var aws = global.get('aws');\n\naws.config.update(flow.get('config').credentials);\n\nvar dynamodb = new aws.DynamoDB();\n\nvar params = {\n    TableName : 'graphdb',\n    Key: {\n        id: { \"S\": msg.payload.id },\n        type: { \"S\": msg.payload.type }\n    },\n    ReturnValues: \"ALL_OLD\"\n}\n\nvar result = function(err, data) {\n    if (err) {\n        node.error(err);\n    } else {\n        node.send({payload: data});\n    }\n}\n\ndynamodb.deleteItem(params, result.bind(msg));\n","outputs":1,"noerr":0,"x":920,"y":2400,"wires":[["ec73f8fd.e79dd8"]]},{"id":"b1cabbd1.3bf248","type":"inject","z":"c887d9a.5ebdb28","name":"","topic":"","payload":"vertex:rh.ferias","payloadType":"str","repeat":"","crontab":"","once":false,"x":140,"y":2340,"wires":[["e20386be.273df8"]]},{"id":"93f9fc9b.56425","type":"inject","z":"c887d9a.5ebdb28","name":"","topic":"","payload":"r.hum.funcionario","payloadType":"str","repeat":"","crontab":"","once":false,"x":140,"y":2380,"wires":[["e20386be.273df8"]]},{"id":"7e638ac0.f6ead4","type":"inject","z":"c887d9a.5ebdb28","name":"","topic":"","payload":"edge:rh.funcionario","payloadType":"str","repeat":"","crontab":"","once":false,"x":150,"y":2460,"wires":[["e20386be.273df8"]]},{"id":"a0196899.a520b8","type":"inject","z":"c887d9a.5ebdb28","name":"","topic":"","payload":"edge:org.empresa","payloadType":"str","repeat":"","crontab":"","once":false,"x":150,"y":2420,"wires":[["e20386be.273df8"]]},{"id":"a37c36f3.c9d5f8","type":"inject","z":"c887d9a.5ebdb28","name":"","topic":"","payload":"edge:rh.ferias","payloadType":"str","repeat":"","crontab":"","once":false,"x":130,"y":2500,"wires":[["e20386be.273df8"]]},{"id":"888d0604.736e38","type":"comment","z":"c887d9a.5ebdb28","name":"Limpeza dos Dados","info":"","x":130,"y":2260,"wires":[]},{"id":"c6d38e63.19d12","type":"inject","z":"c887d9a.5ebdb28","name":"","topic":"","payload":"HELIO","payloadType":"str","repeat":"","crontab":"","once":false,"x":110,"y":2600,"wires":[["ac56db22.90f7a8"]]},{"id":"ac56db22.90f7a8","type":"function","z":"c887d9a.5ebdb28","name":"vertex('rh.funcionario').has('nome', payload, BEGIN_WITH | FIND_FIRST)","func":"var uuid = global.get('uuid');\nvar aws = global.get('aws');\nvar async = global.get('async');\n\naws.config.update(flow.get('config').credentials);\n\nvar dynamodb = new aws.DynamoDB.DocumentClient();\n\nvar params = {\n    TableName: \"graphdb\",\n    IndexName: \"type-index\",\n    KeyConditionExpression: \"#t = :t\",   \n    ExpressionAttributeNames: {\n        \"#t\": \"type\",\n        \"#n\": \"nome\"\n    },\n    ExpressionAttributeValues: { \n        \":t\": \"vertex:rh.funcionario\",\n        \":n\": msg.payload\n    },   \n    FilterExpression: \"begins_with(#n, :n)\",\n    ProjectionExpression: \"id, pis, nome\",\n    ExclusiveStartKey: msg.ExclusiveStartKey || null,\n    Limit: flow.get('config').limit || 1\n}\n\n/*    \n    FilterExpression: \"contains(#n, :n)\",\n    ExpressionAttributeNames: {\n        \"#k_vertex\": 'vertex',\n        \"#k_nome\": 'nome'\n    },\n    ExpressionAttributeValues: { \n        \":v_vertex\": 'vertex:rh.funcionario',\n        \":v_nome\": msg.payload.toString()\n    }, \n    FilterExpression: \"contains(#k_nome, :v_nome)\",    \n    ExpressionAttributeNames: {\n        \"#k_nome\": 'nome'\n    },\n\n    ExpressionAttributeValues: { \n        \":v_nome\": msg.payload.toString()\n    },   \n    FilterExpression: \"contains(nome, :v_nome)\",  \n    ProjectionExpression: \"id, pis, nome\",\n*/\n//HELIO HIROAKI TODA\n//begins_with(#k_nome, :v_nome)\n//#k_nome = :v_nome\n\nvar result = function(err, data) {\n    console.log(data)\n    if (err) {\n        node.status({fill:\"red\",shape:\"ring\",text:\"query error\"});\n        node.error(\"Unable to query. Error:\", JSON.stringify(err, null, 2));\n    } else {\n        console.log(\"Query succeeded.\");\n        node.status({fill:\"green\",shape:\"dot\",text:\"Query succeeded. Loop: \" + (msg.loop || 0) + \", Count: \" + (msg.count || 0)});\n        \n        msg.count = msg.count + data.Count || data.Count\n        msg.ExclusiveStartKey = data.LastEvaluatedKey || null;\n        \n        node.send([\n            data.Count > 0 || (data.LastEvaluatedKey === undefined || data.LastEvaluatedKey === null) ? null : this, // FIND_FIRST\n            data.Count > 0 ? { payload: data.Items } : null, \n            (data.LastEvaluatedKey === undefined || data.LastEvaluatedKey === null) && msg.count === 0 ? this : null\n        ]);\n    }\n}\n\ndynamodb.query(params, result.bind(msg));\n","outputs":"3","noerr":0,"x":650,"y":2600,"wires":[["7ad02abd.7d4364","f50e150d.59e158"],["a8fdf2c.2dade1"],["26f733ee.7207fc"]]},{"id":"26f733ee.7207fc","type":"debug","z":"c887d9a.5ebdb28","name":"NAO ENCONTRADO","active":true,"console":"false","complete":"payload","x":1240,"y":2640,"wires":[]},{"id":"a8fdf2c.2dade1","type":"debug","z":"c887d9a.5ebdb28","name":"ENCONTRADO","active":true,"console":"false","complete":"true","x":1220,"y":2600,"wires":[]},{"id":"7ad02abd.7d4364","type":"function","z":"c887d9a.5ebdb28","name":"forward","func":"\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":2560,"wires":[["ac56db22.90f7a8"]]},{"id":"f50e150d.59e158","type":"debug","z":"c887d9a.5ebdb28","name":"PROXIMO(S) REGISTRO(S)","active":true,"console":"false","complete":"true","x":1260,"y":2560,"wires":[]},{"id":"d63e9143.a54bb","type":"inject","z":"c887d9a.5ebdb28","name":"","topic":"","payload":"BRITO","payloadType":"str","repeat":"","crontab":"","once":false,"x":110,"y":2760,"wires":[["7f132127.1802"]]},{"id":"7f132127.1802","type":"function","z":"c887d9a.5ebdb28","name":"vertex('rh.funcionario').has('nome', payload, CONTAINS | FIND_FIRST)","func":"var uuid = global.get('uuid');\nvar aws = global.get('aws');\nvar async = global.get('async');\n\naws.config.update(flow.get('config').credentials);\n\nvar dynamodb = new aws.DynamoDB.DocumentClient();\n\nvar params = {\n    TableName: \"graphdb\",\n    IndexName: \"type-index\",\n    KeyConditionExpression: \"#t = :t\",   \n    ExpressionAttributeNames: {\n        \"#t\": \"type\",\n        \"#n\": \"nome\"\n    },\n    ExpressionAttributeValues: { \n        \":t\": \"vertex:rh.funcionario\",\n        \":n\": msg.payload\n    },   \n    FilterExpression: \"contains(#n, :n)\",\n    ProjectionExpression: \"id, pis, nome\",\n    ExclusiveStartKey: msg.ExclusiveStartKey || null,\n    Limit: flow.get('config').limit || 1\n}\n\n/*    \n    FilterExpression: \"contains(#n, :n)\",\n    ExpressionAttributeNames: {\n        \"#k_vertex\": 'vertex',\n        \"#k_nome\": 'nome'\n    },\n    ExpressionAttributeValues: { \n        \":v_vertex\": 'vertex:rh.funcionario',\n        \":v_nome\": msg.payload.toString()\n    }, \n    FilterExpression: \"contains(#k_nome, :v_nome)\",    \n    ExpressionAttributeNames: {\n        \"#k_nome\": 'nome'\n    },\n\n    ExpressionAttributeValues: { \n        \":v_nome\": msg.payload.toString()\n    },   \n    FilterExpression: \"contains(nome, :v_nome)\",  \n    ProjectionExpression: \"id, pis, nome\",\n*/\n//HELIO HIROAKI TODA\n//begins_with(#k_nome, :v_nome)\n//#k_nome = :v_nome\n\nvar result = function(err, data) {\n    console.log(data)\n    if (err) {\n        node.status({fill:\"red\",shape:\"ring\",text:\"query error\"});\n        node.error(\"Unable to query. Error:\", JSON.stringify(err, null, 2));\n    } else {\n        console.log(\"Query succeeded.\");\n        node.status({fill:\"green\",shape:\"dot\",text:\"Query succeeded. Loop: \" + (msg.loop || 0) + \", Count: \" + (msg.count || 0)});\n        \n        msg.count = msg.count + data.Count || data.Count\n        msg.ExclusiveStartKey = data.LastEvaluatedKey || null;\n        \n        node.send([\n            data.Count > 0 || (data.LastEvaluatedKey === undefined || data.LastEvaluatedKey === null) ? null : this, // FIND_FIRST\n            data.Count > 0 ? { payload: data.Items } : null, \n            (data.LastEvaluatedKey === undefined || data.LastEvaluatedKey === null) && msg.count === 0 ? this : null\n        ]);\n    }\n}\n\ndynamodb.query(params, result.bind(msg));\n","outputs":"3","noerr":0,"x":640,"y":2760,"wires":[["bd7f80b8.53b2d","8ab42a4c.96ce68"],["90ac3126.48b0c"],["a123c80d.3e0c78"]]},{"id":"a123c80d.3e0c78","type":"debug","z":"c887d9a.5ebdb28","name":"NAO ENCONTRADO","active":true,"console":"false","complete":"payload","x":1240,"y":2800,"wires":[]},{"id":"90ac3126.48b0c","type":"debug","z":"c887d9a.5ebdb28","name":"ENCONTRADO","active":true,"console":"false","complete":"true","x":1220,"y":2760,"wires":[]},{"id":"bd7f80b8.53b2d","type":"function","z":"c887d9a.5ebdb28","name":"forward","func":"\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":2720,"wires":[["7f132127.1802"]]},{"id":"8ab42a4c.96ce68","type":"debug","z":"c887d9a.5ebdb28","name":"PROXIMO(S) REGISTRO(S)","active":true,"console":"false","complete":"true","x":1260,"y":2720,"wires":[]},{"id":"ca96db47.3cbe18","type":"comment","z":"c887d9a.5ebdb28","name":"Exemplos de Consultas","info":"- vertices: (vertex) representa um registro no banco de dados\n- aresta: (edge) representa uma conexão/relação/link entre 2 ou mais vertices\n\ncaracterísticas dos vertices (vertex):\n\n- podem ter propriedades do tipo String, Numero, Boolean, List, Map e Object\n- nome de propriedade 'type' e 'id' são palavras reservadas\n- cada vertice tem uma 'etiqueta' [ vertex( <etiqueta> ) ] que identifica o tipo de conteúdo que armazena e serve para restringir a busca e agrupa-los de acordo informação que representam. Por exemplo: cada vertice com a etiqueta 'rh.funcionario' representa os dados de um funcionário, tais como nome, numero do pis, etc.\n\ncaracterística das arestas (edges):\n\n- tambem podem conter as mesmas propriedades que os vertices\n- nome de propriedade 'type' e 'id' são palavras reservadas\n- cada aresta esta associadas a pelo menos 2 vertice, 1 vertice de origem e 1 ou mais vertices de destino. Por exemplo um dado vertice do tipo 'rh.funcionario' pode estar relacionado a um outro vertice do tipo 'org.empresa' atraves de uma aresta que tenha como origem 'rh.funcionario' e destino 'org.empresa': vertex('rh.funcionario').edge('org.empresa')\n- uma aresta pode ter direção, IN | OUT, indicando a direção do relacionamento entre 2 vertices. Por exemplo: vertex('rh.funcionario').egde('org.empresa', OUT) ou vertex('org.empresa').edge('rh.funcionario', IN)\n- cada aresta tem uma 'etiqueta' [ edge( <etiqueta> ) ] que identifica o tipo de conteúdo que armazena e serve para restringir a busca e agrupa-los de acordo informação que representam. Por exemplo: a aresta 'rh.funcionario' associado a um vertice 'org.empresa' [ vertex('org.empresa').edge('rh.funcionario') ] retorna os vertices que representam todos os funcionários de uma determinada empresa.\n","x":140,"y":2540,"wires":[]},{"id":"7a3cb29e.beec1c","type":"comment","z":"c887d9a.5ebdb28","name":"Configuracoes","info":"","x":120,"y":1420,"wires":[]},{"id":"e895bf87.292d2","type":"inject","z":"c887d9a.5ebdb28","name":"init","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"x":110,"y":1480,"wires":[["9de3bfdf.bb37c"]]},{"id":"9de3bfdf.bb37c","type":"function","z":"c887d9a.5ebdb28","name":"setup","func":"flow.set('config', {\n    credentials: { \n        region: 'us-east-1',\n        apiVersion: '2012-08-10',\n        accessKeyId: 'AKIAITORMWJYRXO2X6VQ', \n        secretAccessKey: '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' \n    },\n    limit: 2\n});\n\nmsg.payload = flow.get('config');\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":1480,"wires":[["79344f62.1067c"]]},{"id":"79344f62.1067c","type":"debug","z":"c887d9a.5ebdb28","name":"CONFIGURACOES","active":true,"console":"false","complete":"payload","x":510,"y":1480,"wires":[]},{"id":"baebe9b3.a8c878","type":"function","z":"c887d9a.5ebdb28","name":"loop","func":"msg.loop = msg.loop !== undefined ? ++msg.loop : 1;\n\nreturn msg;","outputs":1,"noerr":0,"x":525,"y":2375,"wires":[["e20386be.273df8","ef73fad8.462298"]]},{"id":"9f01aaa3.65ea38","type":"function","z":"c887d9a.5ebdb28","name":"loop","func":"msg.loop = msg.loop !== undefined ? ++msg.loop : 1;\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":1840,"wires":[["a2d65547.56cfb8","b0e3b9d1.725fb8"]]},{"id":"57a76d56.8b0b44","type":"function","z":"c887d9a.5ebdb28","name":"loop","func":"msg.loop = msg.loop !== undefined ? ++msg.loop : 1;\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":1620,"wires":[["fc225343.8a071"]]},{"id":"ef73fad8.462298","type":"debug","z":"c887d9a.5ebdb28","name":"LOOP","active":true,"console":"false","complete":"true","x":730,"y":2360,"wires":[]},{"id":"efd8d518.6c90d8","type":"split","z":"c887d9a.5ebdb28","name":"","splt":"","x":1090,"y":1680,"wires":[["6d0b2113.32e6d","85d57e1d.4d164"]]},{"id":"1d42e4f6.d544cb","type":"debug","z":"c887d9a.5ebdb28","name":"vertex('org.empresa') NAO EXISTE, CRIAR","active":true,"console":"false","complete":"payload","x":1350,"y":1760,"wires":[]},{"id":"d69e0881.d1b8b8","type":"split","z":"c887d9a.5ebdb28","name":"","splt":"","x":1090,"y":1900,"wires":[["f5ce43c3.d4b7c"]]},{"id":"f8a46949.786bb8","type":"inject","z":"c887d9a.5ebdb28","name":"","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"x":110,"y":1840,"wires":[["c6d86b83.360a78"]]},{"id":"cf008379.b8f66","type":"inject","z":"c887d9a.5ebdb28","name":"todas","topic":"","payload":"","payloadType":"num","repeat":"","crontab":"","once":false,"x":110,"y":1740,"wires":[["c3cd063e.ef91d8"]]},{"id":"d3b465f8.3443d8","type":"inject","z":"c887d9a.5ebdb28","name":"todas","topic":"","payload":"","payloadType":"num","repeat":"","crontab":"","once":false,"x":110,"y":1960,"wires":[["c6d86b83.360a78"]]},{"id":"b0e3b9d1.725fb8","type":"debug","z":"c887d9a.5ebdb28","name":"LOOP","active":true,"console":"false","complete":"true","x":970,"y":1840,"wires":[]},{"id":"3e581686.2d844a","type":"debug","z":"c887d9a.5ebdb28","name":"LOOP","active":true,"console":"false","complete":"true","x":1010,"y":1620,"wires":[]},{"id":"101b16d4.859229","type":"inject","z":"c887d9a.5ebdb28","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":110,"y":3100,"wires":[["d558e72f.304e78"]]},{"id":"d558e72f.304e78","type":"MSSQL","z":"c887d9a.5ebdb28","mssqlCN":"2461fe59.631282","name":"empresa","query":"SELECT DISTINCT top 3\n\t[emp_codigo]\t\tAS codigo\n\t,[emp_cgc]\t\t\tAS cnpj\n\t,[emp_descricao]\tAS nome\n\t,[emp_endereco]\t\tAS endereco\n\t,[emp_bairro]\t\tAS bairro\n\t,[emp_cidade]\t\tAS cidade\n\t,[emp_estado]\t\tAS estado\n\t,[emp_cep]\t\t\tAS cep\n\t--,[emp_inscricao_estadual]\tAS inscricao_estadual\n\t--,[emp_cei]\t\t\tAS cei\n\t--,[emp_tipo_de_empresa]\tAS tipo_empresa\n\t--,[emp_atividade_economica]\tAS atividade\nFROM [FLEXTIME].[dbo].[cademp]\n{{#payload}}\nWHERE [emp_codigo] = {{{payload}}}\n{{/payload}}","outField":"payload","x":280,"y":3160,"wires":[["53e8fb27.e1ce14"]]},{"id":"53e8fb27.e1ce14","type":"split","z":"c887d9a.5ebdb28","name":"","splt":"","x":470,"y":3160,"wires":[["2c146b5c.e72034"]]},{"id":"d3e174b0.04a1f8","type":"inject","z":"c887d9a.5ebdb28","name":"todas","topic":"","payload":"","payloadType":"num","repeat":"","crontab":"","once":false,"x":110,"y":3220,"wires":[["d558e72f.304e78"]]},{"id":"2c146b5c.e72034","type":"http request","z":"c887d9a.5ebdb28","name":"","method":"POST","ret":"txt","url":"https://search-altamira-vsxf6dgsuddwa4wcebb45u5wge.us-east-1.es.amazonaws.com/altamira/org.empresa","tls":"","x":670,"y":3160,"wires":[["6ce7b392.8c685c"]]},{"id":"6ce7b392.8c685c","type":"debug","z":"c887d9a.5ebdb28","name":"","active":true,"console":"false","complete":"false","x":890,"y":3160,"wires":[]},{"id":"2ca5f5e6.589a4a","type":"inject","z":"c887d9a.5ebdb28","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":110,"y":3280,"wires":[["57a87fcf.740df"]]},{"id":"57a87fcf.740df","type":"MSSQL","z":"c887d9a.5ebdb28","mssqlCN":"2461fe59.631282","name":"funcionario","query":"select \tdistinct TOP 10\n\t\tcadfun.fun_empresa as empresa,\n\t\tcadfun.fun_pis_numero as pis,\n\t\tcadfun.fun_codigo as matricula,\n\t\tcadfun.fun_descricao as nome, \n\t\tcadfun.fun_data_de_admissao as admissao\nfrom cadfun\n{{#payload}}\nwhere cadfun.fun_empresa = {{payload}}\n--and cadfun.fun_descricao = 'IZAAC MARINHO DA SILVA'\n{{/payload}}","outField":"payload","x":290,"y":3340,"wires":[["aeb6c70b.6bc4e8"]]},{"id":"aeb6c70b.6bc4e8","type":"split","z":"c887d9a.5ebdb28","name":"","splt":"","x":470,"y":3340,"wires":[["b089218a.701aa"]]},{"id":"168f917d.5a4a2f","type":"inject","z":"c887d9a.5ebdb28","name":"todas","topic":"","payload":"","payloadType":"num","repeat":"","crontab":"","once":false,"x":110,"y":3400,"wires":[["57a87fcf.740df"]]},{"id":"b089218a.701aa","type":"http request","z":"c887d9a.5ebdb28","name":"","method":"POST","ret":"txt","url":"https://search-altamira-vsxf6dgsuddwa4wcebb45u5wge.us-east-1.es.amazonaws.com/altamira/rh.funcionario?pretty","tls":"","x":670,"y":3340,"wires":[["4c524257.ec53fc"]]},{"id":"4c524257.ec53fc","type":"debug","z":"c887d9a.5ebdb28","name":"","active":true,"console":"false","complete":"false","x":890,"y":3340,"wires":[]},{"id":"2fe74919.712b06","type":"function","z":"c887d9a.5ebdb28","name":"","func":"var elasticsearch = global.get('elasticsearch');\n\nvar client = new elasticsearch.Client({\n  host: 'search-altamira-vsxf6dgsuddwa4wcebb45u5wge.us-east-1.es.amazonaws.com',\n  log: 'trace'\n});\n\nclient.ping({\n  // ping usually has a 3000ms timeout \n  requestTimeout: Infinity,\n \n  // undocumented params are appended to the query string \n  hello: \"elasticsearch!\"\n}, function (error) {\n  if (error) {\n    console.trace('elasticsearch cluster is down!');\n    //node.send({payload:'elasticsearch cluster is down!'})\n  } else {\n    console.log('All is well');\n    //node.send({payload: 'All is well'})\n  }\n});\n\nclient.search({\n  index: 'altamira',\n  type: 'org.empresa',\n  body: {\n    query: {\n      match: {\n        codigo: msg.payload.codigo\n      }\n    }\n  }\n}).then(function (body) {\n  node.send({payload: body}, null)\n}, function (error) {\n  console.trace(error.message);\n  node.send(null, {payload: 'não encontrou'})\n});","outputs":"2","noerr":0,"x":510,"y":1760,"wires":[["47f22d5c.586db4"],["a966d728.64f8a8"]]},{"id":"47f22d5c.586db4","type":"debug","z":"c887d9a.5ebdb28","name":"ES ENCONTROU","active":false,"console":"false","complete":"payload.hits.hits[0][\"_source\"]","x":730,"y":1740,"wires":[]},{"id":"a966d728.64f8a8","type":"debug","z":"c887d9a.5ebdb28","name":"ES NAO ENCONTROU","active":false,"console":"false","complete":"payload","x":750,"y":1780,"wires":[]},{"id":"5537f7e.e483e08","type":"function","z":"c887d9a.5ebdb28","name":"vertex.add('org.empresa')","func":"var moment = global.get('moment');\nvar uuid = global.get('uuid');\nvar aws = global.get('aws');\nvar async = global.get('async');\n\naws.config.update(flow.get('config').credentials);\n\nvar dynamodb = new aws.DynamoDB.DocumentClient();\n\nObject.map = function(o, f, ctx) {\n    ctx = ctx || this;\n    var result = {};\n    Object.keys(o).forEach(function(k) {\n        result[k] = f.call(ctx, o[k], k, o); \n    });\n    return result;\n}\n\nr = Object.map(msg.payload, function(v, k, o) {\n     node.send({payload: {key: k, value: v}})\n  });","outputs":1,"noerr":0,"x":1300,"y":1820,"wires":[["f2d9e3a.a98aa2"]]},{"id":"c9f58488.aabaf8","type":"function","z":"c887d9a.5ebdb28","name":"transform","func":"var o = {\n    'id.cod.codigo:codigo': {value: msg.payload['id.cod.codigo'], loc: 'geo.la.brz', label: 'Código', mask:'000XX', lang: 'pt-BR', required: true},\n    'id.gov.br.cnpj:cnpj': {value: msg.payload['id.gov.br.cnpj'], loc: 'geo.la.brz', label: 'CNPJ', mask:'00.000.000/0000-00', lang: 'pt-BR', required: true},\n    'id.nom.nome:nome': {value: msg.payload['id.nom.nome'], loc: 'geo.la.brz', label: 'Nome', required: true},\n    'loc.geo.br.endereco:endereco': {value: msg.payload['loc.geo.br.endereco'], loc: 'geo.la.brz', label: 'Endereço'},\n    'loc.geo.br.bairro:bairro': {value: msg.payload['loc.geo.br.bairro'], loc: 'geo.la.brz', label: 'Bairro' },\n    'loc.geo.br.cidade:cidade': {value: msg.payload['loc.geo.br.cidade'], loc: 'geo.la.brz', label: 'Cidade' },\n    'loc.geo.br.estado:estado': {value: msg.payload['loc.geo.br.estado'], loc: 'geo.la.brz', label: 'Estado'},\n    'loc.geo.br.cep:cep': {value: msg.payload['loc.geo.br.cep'], loc: 'geo.la.brz', label: 'CEP', mask:'00000-000', lang: 'pt-BR', required: true},\n    'id.gov.br.ie:ie': {value: msg.payload['id.gov.br.ie'], loc: 'geo.la.brz', label: 'I.E.', mask:'000.000.000.000', lang: 'pt-BR', required: true},\n    'id.gov.br.cei:cei': {value: msg.payload['id.gov.br.cei'], loc: 'geo.la.brz', label: 'CEI', mask:'000.0000'},\n    'cla.tipo.empresa.porte:porte': {value: msg.payload['cla.tipo.empresa.porte'], loc: 'geo.la.brz', label: 'Porte da Empresa'},\n    'cla.gov.br.cnae:cnae': {value: msg.payload['cla.gov.br.cnae'], loc: 'geo.la.brz', label: 'Ramo de Atividade'}\n}\nmsg.payload = o;\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":1680,"wires":[["363df001.5252a"]]},{"id":"61f0f129.e6fa4","type":"function","z":"c887d9a.5ebdb28","name":"transform","func":"var moment = global.get('moment');\n\nvar o = { \n    'id.gov.br.pis:pis': {value: msg.payload['id.gov.br.pis'], loc: 'geo.la.brz', label: 'PIS', mask:'000.000.000.000', lang: 'pt-BR', required: true}, \n    'id.cod.matricula:matricula': {value: msg.payload['id.cod.matricula'], label: 'Matricula', mask:'00000', lang: 'pt-BR', required: true}, \n    \"id.nom.nome:nome\": {value: msg.payload['id.nom.nome'], label: 'Nome', lang: 'pt-BR', required: true}, \n    \"tm.dt.admissao:admissao\": {value: moment(msg.payload['tm.dt.admissao']).utc().format(), label: 'Data de admissão', lang: 'pt-BR', required: true}\n}\nmsg.payload = o;\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":1900,"wires":[["f92cdf0.3bb4d2"]]},{"id":"b47f4fe8.19c7d","type":"function","z":"c887d9a.5ebdb28","name":"vertex(payload)","func":"var uuid = global.get('uuid');\nvar aws = global.get('aws');\nvar async = global.get('async');\n\naws.config.update(flow.get('config').credentials);\n\nvar dynamodb = new aws.DynamoDB.DocumentClient();\n\nvar params = {\n    TableName: \"graphdb\",\n    ExclusiveStartKey: msg.ExclusiveStartKey || null,\n    Limit: flow.get('config').limit || 1\n}\n\nvar result = function(err, data) {\n    console.log(data)\n    if (err) {\n        node.status({fill:\"red\",shape:\"ring\",text:\"query error\"});\n        node.error(\"Unable to query. Error:\", JSON.stringify(err, null, 2));\n    } else {\n        console.log(\"Query succeeded.\");\n        node.status({fill:\"green\",shape:\"dot\",text:\"Query succeeded.\"});\n        if (data.Count > 0) {\n            if (data.LastEvaluatedKey) {\n                msg.found = msg.found !== undefined ? msg.found + data.Count : data.Count;\n                msg.ExclusiveStartKey = data.LastEvaluatedKey;\n                node.send([this, { payload: data.Items }, null]);\n            } else {\n                node.send([null, { payload: data.Items }, null]);\n            }\n        } else {\n            node.log(JSON.stringify(data, null, 2));\n            if (data.LastEvaluatedKey) {\n                msg.ExclusiveStartKey = data.LastEvaluatedKey;\n                node.send([this, null, null]);\n            } else {\n                node.send([null, null, this]);\n            }\n        }\n    }\n}\n\ndynamodb.scan(params, result.bind(msg));\n","outputs":"3","noerr":0,"x":520,"y":2980,"wires":[["6328831f.b25b1c"],["43d85011.caad1"],[]]},{"id":"43d85011.caad1","type":"split","z":"c887d9a.5ebdb28","name":"","splt":"","x":730,"y":2980,"wires":[["e6fcebbb.989728"]]},{"id":"7bb247ef.245018","type":"debug","z":"c887d9a.5ebdb28","name":"vertex(payload) EXCLUIDO","active":true,"console":"false","complete":"payload","x":1180,"y":2980,"wires":[]},{"id":"e6fcebbb.989728","type":"function","z":"c887d9a.5ebdb28","name":"vertex.del(payload.id)","func":"var aws = global.get('aws');\n\naws.config.update(flow.get('config').credentials);\n\nvar dynamodb = new aws.DynamoDB();\n\nvar params = {\n    TableName : 'graphdb',\n    Key: {\n        id: { \"S\": msg.payload.id },\n        type: { \"S\": msg.payload.type }\n    },\n    ReturnValues: \"ALL_OLD\"\n}\n\nvar result = function(err, data) {\n    if (err) {\n        node.error(err);\n    } else {\n        node.send({payload: data});\n    }\n}\n\ndynamodb.deleteItem(params, result.bind(msg));\n","outputs":1,"noerr":0,"x":920,"y":2980,"wires":[["7bb247ef.245018"]]},{"id":"6cf59cb2.55eca4","type":"inject","z":"c887d9a.5ebdb28","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":110,"y":2960,"wires":[["b47f4fe8.19c7d"]]},{"id":"8e5ab333.451a5","type":"comment","z":"c887d9a.5ebdb28","name":"Apaga TUDO","info":"","x":110,"y":2920,"wires":[]},{"id":"6328831f.b25b1c","type":"function","z":"c887d9a.5ebdb28","name":"loop","func":"msg.loop = msg.loop !== undefined ? ++msg.loop : 1;\n\nreturn msg;","outputs":1,"noerr":0,"x":525,"y":2955,"wires":[["b47f4fe8.19c7d","9b00a593.e63158"]]},{"id":"9b00a593.e63158","type":"debug","z":"c887d9a.5ebdb28","name":"LOOP","active":false,"console":"false","complete":"true","x":730,"y":2940,"wires":[]},{"id":"b73f1083.6e49a","type":"inject","z":"c887d9a.5ebdb28","name":"init","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"x":1070,"y":1480,"wires":[["d3481f66.4f819"]]},{"id":"d3481f66.4f819","type":"function","z":"c887d9a.5ebdb28","name":"uuid","func":"var uuid = global.get('uuid');\n\nmsg.payload = uuid.v4();\n\nreturn msg;","outputs":1,"noerr":0,"x":1250,"y":1480,"wires":[["82f35dba.6fcc"]]},{"id":"82f35dba.6fcc","type":"debug","z":"c887d9a.5ebdb28","name":"CONFIGURACOES","active":true,"console":"false","complete":"payload","x":1470,"y":1480,"wires":[]},{"id":"3a4fd41a.67850c","type":"inject","z":"c887d9a.5ebdb28","name":"","topic":"","payload":"{ \"id\": \"20773b29-d02c-4587-a225-94d5efa806fd\", \"type\": \"a:a.id\" }","payloadType":"json","repeat":"","crontab":"","once":false,"x":110,"y":3520,"wires":[["65dfe41.f92b31c","f370b7e8.0fe998"]]},{"id":"65dfe41.f92b31c","type":"function","z":"c887d9a.5ebdb28","name":"vertex('rh.funcionario').has('nome', payload, CONTAINS | FIND_FIRST)","func":"var uuid = global.get('uuid');\nvar aws = global.get('aws');\nvar async = global.get('async');\n\naws.config.update(flow.get('config').credentials);\n\nvar dynamodb = new aws.DynamoDB.DocumentClient();\n\nvar params = {\n    TableName: \"graphdb\",\n    KeyConditionExpression: \"#k_id = :v_id and begins_with(#k_type, :v_type)\",   \n    ExpressionAttributeNames: {\n        \"#k_id\": \"id\",\n        \"#k_type\": 'type'\n    },\n    ExpressionAttributeValues: { \n        \":v_id\": msg.payload.id.toString(),\n        \":v_type\": msg.payload.type.toString()\n    },\n    ExclusiveStartKey: msg.ExclusiveStartKey || null,\n    Limit: 2\n}\n\nvar result = function(err, data) {\n    console.log(data)\n    if (err) {\n        node.status({fill:\"red\",shape:\"ring\",text:\"query error\"});\n        node.error(\"Unable to query. Error:\", JSON.stringify(err, null, 2));\n    } else {\n        console.log(\"Query succeeded.\");\n        node.status({fill:\"green\",shape:\"dot\",text:\"Query succeeded. Loop: \" + (msg.loop || 0) + \", Count: \" + (msg.count || 0)});\n        \n        msg.count = msg.count + data.Count || data.Count\n        msg.ExclusiveStartKey = data.LastEvaluatedKey || null;\n        \n        console.log(JSON.stringify(data, null, 2));\n        \n        node.send([\n            data.LastEvaluatedKey === undefined || data.LastEvaluatedKey === null ? null : this, // FIND_FORWARD\n            data.Count > 0 ? { payload: data.Items } : null, \n            (data.LastEvaluatedKey === undefined || data.LastEvaluatedKey === null) && msg.count === 0 ? this : null\n        ]);\n    }\n}\n\ndynamodb.query(params, result.bind(msg));\n","outputs":"3","noerr":0,"x":640,"y":3520,"wires":[["37b21c7c.383db4","e1f9d439.ec3038"],["37cb27f8.9f2c48"],["3e660b15.f381f4"]]},{"id":"3e660b15.f381f4","type":"debug","z":"c887d9a.5ebdb28","name":"NAO ENCONTRADO","active":true,"console":"false","complete":"payload","x":1240,"y":3560,"wires":[]},{"id":"37cb27f8.9f2c48","type":"debug","z":"c887d9a.5ebdb28","name":"ENCONTRADO","active":true,"console":"false","complete":"payload","x":1220,"y":3520,"wires":[]},{"id":"37b21c7c.383db4","type":"function","z":"c887d9a.5ebdb28","name":"forward","func":"\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":3460,"wires":[["65dfe41.f92b31c"]]},{"id":"e1f9d439.ec3038","type":"debug","z":"c887d9a.5ebdb28","name":"PROXIMO(S) REGISTRO(S)","active":true,"console":"false","complete":"true","x":1260,"y":3480,"wires":[]},{"id":"f370b7e8.0fe998","type":"debug","z":"c887d9a.5ebdb28","name":"params","active":true,"console":"false","complete":"payload","x":400,"y":3620,"wires":[]},{"id":"d0a52f06.7e333","type":"debug","z":"c887d9a.5ebdb28","name":"","active":true,"console":"false","complete":"false","x":410,"y":500,"wires":[]},{"id":"6d3ada5e.04c574","type":"http in","z":"c887d9a.5ebdb28","name":"","url":"/rh/ferias","method":"get","swaggerDoc":"","x":1150,"y":920,"wires":[["473582a7.ea12bc"]]},{"id":"71910cf9.7d1ed4","type":"http response","z":"c887d9a.5ebdb28","name":"","x":1910,"y":920,"wires":[]},{"id":"406b6da5.466fd4","type":"comment","z":"c887d9a.5ebdb28","name":"Formulario de Férias","info":"Nova versão usando ReactJS e Material-UI","x":1181.499984741211,"y":873,"wires":[]},{"id":"16c46a73.45f5b6","type":"http in","z":"c887d9a.5ebdb28","name":"","url":"/rh/ferias/static/:folder/:file","method":"get","swaggerDoc":"","x":1210,"y":1000,"wires":[["1294de96.ec56b1","3e19ee49.0cd3b2"]]},{"id":"106ba1b8.0c47ae","type":"http response","z":"c887d9a.5ebdb28","name":"","x":1910,"y":1000,"wires":[]},{"id":"1294de96.ec56b1","type":"function","z":"c887d9a.5ebdb28","name":"","func":"msg.filename = 'C:\\\\inetpub\\\\wwwroot\\\\ferias\\\\static\\\\'  + msg.req.params.folder + '\\\\' + msg.req.params.file;\n\nreturn msg;","outputs":1,"noerr":0,"x":1430,"y":1000,"wires":[["b2b01d59.5e0c8","bf6f309b.7426d"]]},{"id":"b2b01d59.5e0c8","type":"debug","z":"c887d9a.5ebdb28","name":"","active":true,"console":"false","complete":"url","x":1568.2143020629883,"y":1077.571434020996,"wires":[]},{"id":"3e19ee49.0cd3b2","type":"debug","z":"c887d9a.5ebdb28","name":"","active":true,"console":"false","complete":"true","x":1323.9143142700195,"y":1096.7714462280273,"wires":[]},{"id":"473582a7.ea12bc","type":"file in","z":"c887d9a.5ebdb28","name":"","filename":"C:\\inetpub\\wwwroot\\ferias\\index.html","format":"utf8","x":1450,"y":920,"wires":[["71910cf9.7d1ed4"]]},{"id":"bf6f309b.7426d","type":"file in","z":"c887d9a.5ebdb28","name":"","filename":"","format":"","x":1590,"y":1000,"wires":[["618207d5.ebd9a8"]]},{"id":"618207d5.ebd9a8","type":"function","z":"c887d9a.5ebdb28","name":"text/css","func":"var ext = msg.filename.split('.').pop();\n\nswitch (ext) {\n    case 'css':\n        msg.headers = { \"Content-type\" : \"text/css\" }\n        break;\n    case 'ico':\n        msg.headers = { \"Content-type\" : \"image/x-icon; charset=utf-8\" }\n        break;\n    default:\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1760,"y":1000,"wires":[["106ba1b8.0c47ae"]]},{"id":"3ebce406.0b11fc","type":"http in","z":"c887d9a.5ebdb28","name":"[get] /api/v2/rh/funcionarios","url":"/api/v2/rh/funcionarios","method":"get","swaggerDoc":"","x":1180,"y":340,"wires":[["a84ee9f.1972218"]]},{"id":"76229073.f3e41","type":"http response","z":"c887d9a.5ebdb28","name":"","x":1990,"y":340,"wires":[]},{"id":"a84ee9f.1972218","type":"function","z":"c887d9a.5ebdb28","name":"params","func":"msg.limit = parseInt(msg.req.query.size) || 10;\nmsg.skip = ((parseInt(msg.req.query.page) || 1) - 1) * (parseInt(msg.req.query.page) || 1);\nreturn msg;","outputs":1,"noerr":0,"x":1420,"y":340,"wires":[["db9468b9.790ee8"]]},{"id":"857a0832.d6e398","type":"http in","z":"c887d9a.5ebdb28","name":"","url":"/api/v2/rh/funcionario/:id","method":"get","swaggerDoc":"","x":1180,"y":380,"wires":[["198c0634.c6eeca"]]},{"id":"f5faa72c.466508","type":"http in","z":"c887d9a.5ebdb28","name":"","url":"/api/v2/rh/funcionario","method":"post","swaggerDoc":"","x":1180,"y":420,"wires":[["b96eb18c.566c7","f55e6e7a.9849f"]]},{"id":"b96eb18c.566c7","type":"http response","z":"c887d9a.5ebdb28","name":"","x":1990,"y":420,"wires":[]},{"id":"f55e6e7a.9849f","type":"mongodb out","z":"c887d9a.5ebdb28","service":"_ext_","mongodb":"258dcda0.cc5e32","name":"save","collection":"funcionario","payonly":true,"upsert":true,"multi":false,"operation":"store","x":1630,"y":440,"wires":[]},{"id":"198c0634.c6eeca","type":"function","z":"c887d9a.5ebdb28","name":"existe ?","func":"msg.payload = { _id: msg.req.params.id };\nreturn msg;","outputs":1,"noerr":0,"x":1420,"y":380,"wires":[["4c12c14e.64005"]]},{"id":"4c12c14e.64005","type":"mongodb in","z":"c887d9a.5ebdb28","service":"_ext_","mongodb":"258dcda0.cc5e32","name":"find","collection":"funcionario","operation":"find","x":1630,"y":380,"wires":[["cdcc575d.b2dac8"]]},{"id":"4797b3f7.e1562c","type":"http response","z":"c887d9a.5ebdb28","name":"","x":1990,"y":380,"wires":[]},{"id":"cdcc575d.b2dac8","type":"function","z":"c887d9a.5ebdb28","name":"split","func":"if (msg.payload.length > 1) {\n    node.error('Registros duplicado, deveria retornar apenas 1 registro, mas retornou ' + msg.payload.length + ' !');\n} else {\n    msg.payload = msg.payload[0];\n}\nreturn msg;","outputs":1,"noerr":0,"x":1810,"y":380,"wires":[["4797b3f7.e1562c"]]},{"id":"db9468b9.790ee8","type":"mongodb in","z":"c887d9a.5ebdb28","service":"_ext_","mongodb":"258dcda0.cc5e32","name":"list","collection":"funcionario","operation":"find","x":1630,"y":340,"wires":[["76229073.f3e41"]]},{"id":"3a424547.e61afa","type":"http in","z":"c887d9a.5ebdb28","name":"","url":"/api/v2/rh/funcionarios","method":"get","swaggerDoc":"","x":1180,"y":160,"wires":[[]]},{"id":"554b172e.47c028","type":"http in","z":"c887d9a.5ebdb28","name":"","url":"/api/v2/rh/funcionario/:id","method":"delete","swaggerDoc":"","x":1190,"y":460,"wires":[["7b2a96ed.55abf8","42402a1d.0e6ac4"]]},{"id":"42402a1d.0e6ac4","type":"http response","z":"c887d9a.5ebdb28","name":"","x":1990,"y":460,"wires":[]},{"id":"3ae11d1.9f310e2","type":"mongodb out","z":"c887d9a.5ebdb28","service":"_ext_","mongodb":"258dcda0.cc5e32","name":"remove","collection":"funcionario","payonly":true,"upsert":true,"multi":false,"operation":"delete","x":1640,"y":480,"wires":[]},{"id":"7b2a96ed.55abf8","type":"function","z":"c887d9a.5ebdb28","name":"params","func":"msg.payload = { _id: msg.req.params.id };\nreturn msg;","outputs":1,"noerr":0,"x":1440,"y":480,"wires":[["3ae11d1.9f310e2"]]},{"id":"4a58bfe6.8b51e","type":"http in","z":"c887d9a.5ebdb28","name":"[post] /api/v2/rh/funcionarios","url":"/api/v2/rh/funcionarios","method":"post","swaggerDoc":"","x":1180,"y":520,"wires":[["ada74f23.330d4"]]},{"id":"8b15fb22.e62478","type":"http response","z":"c887d9a.5ebdb28","name":"","x":1990,"y":520,"wires":[]},{"id":"ada74f23.330d4","type":"function","z":"c887d9a.5ebdb28","name":"params","func":"msg.limit = parseInt(msg.req.query.size) || 10;\nmsg.skip = ((parseInt(msg.req.query.page) || 1) - 1) * (parseInt(msg.req.query.page) || 1);\nmsg.payload = {nome: {'$regex' : msg.payload.nome, '$options' : 'i'}}\nreturn msg;","outputs":1,"noerr":0,"x":1420,"y":520,"wires":[["a73f1b02.ddb568"]]},{"id":"a73f1b02.ddb568","type":"mongodb in","z":"c887d9a.5ebdb28","service":"_ext_","mongodb":"258dcda0.cc5e32","name":"list","collection":"funcionario","operation":"find","x":1630,"y":520,"wires":[["8b15fb22.e62478"]]},{"id":"a9854515.8f8778","type":"comment","z":"c887d9a.5ebdb28","name":"Consulta MongoDB por string","info":"$options => i for case insensitive search\n\nStart with string\n\ndb.collection.find({zip:{'$regex' : '^string', '$options' : 'i'}})\nEnd with string\n\ndb.collection.find({zip:{'$regex' : 'string$', '$options' : 'i'}})\nContains string\n\ndb.collection.find({zip:{'$regex' : 'string', '$options' : 'i'}})\nDoesn't Contains string\n\ndb.collection.find({zip:{'$regex' : '^((?!string).)*$', '$options' : 'i'}})\nKeep this as a bookmark, and a reference for any other alterations you may need. http://www.cheatography.com/davechild/cheat-sheets/regular-expressions/","x":1480,"y":560,"wires":[]},{"id":"e3461b66.143fa8","type":"http in","z":"c887d9a.5ebdb28","name":"","url":"/api/v2/rh/funcionario/historico/:id","method":"delete","swaggerDoc":"","x":1200,"y":600,"wires":[["312a9243.5ad04e","e93f4052.1ae0e"]]},{"id":"312a9243.5ad04e","type":"function","z":"c887d9a.5ebdb28","name":"params","func":"msg.payload = { 'historico[].id': msg.req.params.id };\nreturn msg;","outputs":1,"noerr":0,"x":1480,"y":620,"wires":[["36fda46a.4dc2cc"]]},{"id":"36fda46a.4dc2cc","type":"mongodb out","z":"c887d9a.5ebdb28","service":"_ext_","mongodb":"258dcda0.cc5e32","name":"remove","collection":"funcionario","payonly":true,"upsert":true,"multi":false,"operation":"delete","x":1680,"y":620,"wires":[]},{"id":"e93f4052.1ae0e","type":"http response","z":"c887d9a.5ebdb28","name":"","x":1970,"y":600,"wires":[]},{"id":"90e92bf1.ab0ff8","type":"http in","z":"c887d9a.5ebdb28","name":"","url":"/rh/ferias/favicon.ico","method":"get","swaggerDoc":"","x":1190,"y":960,"wires":[["4a517d4f.e67944"]]},{"id":"4a517d4f.e67944","type":"file in","z":"c887d9a.5ebdb28","name":"","filename":"C:\\inetpub\\wwwroot\\ferias\\favicon.ico","format":"utf8","x":1450,"y":960,"wires":[["18dc06cb.205479"]]},{"id":"19418eb8.61ca01","type":"http response","z":"c887d9a.5ebdb28","name":"","x":1910,"y":960,"wires":[]},{"id":"18dc06cb.205479","type":"function","z":"c887d9a.5ebdb28","name":"image/x-icon","func":"msg.headers = { \"Content-type\" : \"image/x-icon\" }\nreturn msg;","outputs":1,"noerr":0,"x":1770,"y":960,"wires":[["19418eb8.61ca01"]]},{"id":"2461fe59.631282","type":"MSSQL-CN","z":"","name":"flextime","server":"192.168.0.1","encyption":true,"database":"FLEXTIME"},{"id":"258dcda0.cc5e32","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"node-red","name":"mongodb"}]